<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <style>
                    #myTabedu1.tab-review-design li span {
                        padding: 7px 20px;
                        text-transform: capitalize;
                        position: relative;
                        transition: all .4s ease 0s;
                        font-weight: 600;
                        font-size: 18px;
                        color: #a2a2a2;
                    }
                </style>
                <div class="product-payment-inner-st">

                    {% if imageError %} <div class="alert alert-danger alert-mg-b">{{ imageError }}</div> {% endif %}
                    {% if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                    <ul id="myTabedu1" class="tab-review-design">                        
                        
                        <li class="active"><a href="#description">General</a></li>    
                        <li><span>Data</span></li>
                        <li><span>Links</span></li>
                        <li><span>Attribute</span></li>
                            {#<li><a href="#option">Option</a></li>#}
                        <li><span>Discount</span></li>
                        <li><span>Images</span></li>
                           
                    </ul>

<<<<<<< HEAD
                    <form method="post" enctype="multipart/form-data">
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div id="dropzone1" class="pro-ad">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                        <div class="devit-card-custom">
                                                            <div class="form-group-inner {% if form_error('name')!='' %} error-form {% endif%}">
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <label class="login2 pull-right pull-right-pro">Name</label>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                        <input type="text" name="name" id="name" {% if set_value('name') %} value="{{set_value('name')}}" {% else %} value="{{content.name}}" {% endif %}  class="form-control" placeholder="Name">
                                                                        {{form_error('name', '<div class="error">', '</div>')}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group-inner {% if form_error('description')!='' %} error-form {% endif%}">
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <label class="login2 pull-right pull-right-pro">Description </label>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                        <textarea name="description" id="description" class="form-control text-editor" placeholder="Description">{% if set_value('description') %}{{set_value('description')}}{% else %}{{content.description}}{% endif %}</textarea>
                                                                        {{form_error('description', '<div class="error">', '</div>')}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group-inner">
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <label class="login2 pull-right pull-right-pro">Meta Keyword </label>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                        <input name="metaKeyword" type="metaKeyword" {% if set_value('metaKeyword') %} value="{{set_value('metaKeyword')}}" {% else %} value="{{content.metaKeyword}}" {% endif %}  class="form-control" placeholder="Meta Keyword">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group-inner">
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <label class="login2 pull-right pull-right-pro">Meta Tag</label>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                        <input type="text" name="tag" id="tag" {% if set_value('tag') %} value="{{set_value('tag')}}" {% else %} value="{{content.tag}}" {% endif %} class="form-control" placeholder="Tag">
                                                                    </div>
                                                                </div>
                                                            </div>  
                                                            <div class="form-group-inner">
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <label class="login2 pull-right pull-right-pro">Meta Title</label>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                        <input type="text" name="metaTitle" id="metaTitle" {% if set_value('metaTitle') %} value="{{set_value('metaTitle')}}" {% else %} value="{{content.metaTitle}}" {% endif %} class="form-control" placeholder="Meta Title">
                                                                    </div>
                                                                </div>
                                                            </div>  
                                                            <div class="form-group-inner">
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <label class="login2 pull-right pull-right-pro">Highlights</label>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                        <input type="text" name="highlights" id="highlights" {% if set_value('highlights') %} value="{{set_value('highlights')}}" {% else %} value="{{content.highlights}}" {% endif %} class="form-control" placeholder="Highlights">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group-inner">
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <label class="login2 pull-right pull-right-pro">Meta Description </label>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                        <textarea name="metaDescription" id="metaDescription" class="form-control text-editor" placeholder="Meta Description">{% if set_value('metaDescription') %}{{set_value('metaDescription')}}{% else %}{{content.metaDescription}}{% endif %}</textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="product-tab-list tab-pane fade" id="reviews">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
=======
                    {#<form method="post" enctype="multipart/form-data">#}
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade {% if pdType == 'general' or pdType == 'start' %}active in {% endif %} " id="description">
                            <div class="row">
                                {{ form_open(general_tab)}}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div id="dropzone1" class="pro-ad">
>>>>>>> 33aeedcb6b1e80b8bbc02c75a79ae583b576b731
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="devit-card-custom">
                                                        <div class="form-group-inner {% if form_error('name')!='' %} error-form {% endif%}">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Name</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input type="text" name="name" id="name" {% if set_value('name') %} value="{{set_value('name')}}" {% else %} value="{{content.name}}" {% endif %}  class="form-control" placeholder="Name">
                                                                    {{form_error('name', '<div class="error">', '</div>')}}
                                                                    {#{% if validationErrors.name is defined %}{{validationErrors.name}}{% endif %}#}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner {% if form_error('description')!='' %} error-form {% endif%}">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Description </label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <textarea name="description" id="description" class="form-control text-editor" placeholder="Description">{% if set_value('description') %}{{set_value('description')}}{% else %}{{content.description}}{% endif %}</textarea>
                                                                    {{form_error('description', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Meta Title</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input type="text" name="metaTitle" id="metaTitle" {% if set_value('metaTitle') %} value="{{set_value('metaTitle')}}" {% else %} value="{{content.metaTitle}}" {% endif %} class="form-control" placeholder="Meta Title">
                                                                    {{form_error('metaTitle', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>         
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Meta Keyword </label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input name="metaKeyword" type="metaKeyword" {% if set_value('metaKeyword') %} value="{{set_value('metaKeyword')}}" {% else %} value="{{content.metaKeyword}}" {% endif %}  class="form-control" placeholder="Meta Keyword">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Meta Description </label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <textarea name="metaDescription" id="metaDescription" class="form-control" placeholder="Meta Description">{% if set_value('metaDescription') %}{{set_value('metaDescription')}}{% else %}{{content.metaDescription}}{% endif %}</textarea>
                                                                </div>
                                                            </div>
                                                        </div>        
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Tag</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input type="text" name="tag" id="tag" {% if set_value('tag') %} value="{{set_value('tag')}}" {% else %} value="{{content.tag}}" {% endif %} class="form-control" placeholder="Tag">
                                                                </div>
                                                            </div>
                                                        </div>   
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Highlights</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input type="text" name="highlights" id="highlights" {% if set_value('highlights') %} value="{{set_value('highlights')}}" {% else %} value="{{content.highlights}}" {% endif %} class="form-control" placeholder="Highlights">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="login-btn-inner">
                                                                <div class="row">
                                                                    <div class="col-lg-3"></div>
                                                                    <div class="col-lg-9">
                                                                        <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                            <a href="{{base_url()}}manage/product/" class="btn btn-secondary" type="submit">Cancel</a>
                                                                            <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Next</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{form_close()}}                                            
                            </div> 
                        </div>
                        <div class="product-tab-list tab-pane fade {% if pdType == 'data' %}active in {% endif %}" id="reviews">
                            
                        </div>
                        <div class="product-tab-list tab-pane fade {% if pdType == 'links' %}active in {% endif %}" id="links">
                            
                        </div>
                        <div class="product-tab-list tab-pane fade {% if pdType == 'attribute' %}active in {% endif %}" id="attribute">
                            
                        </div>

                        {#<div class="product-tab-list tab-pane fade" id="option">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<<<<<<< HEAD
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-left pull-right-left">
                                                </div>
                                                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                        {% if content.bannerImage %}
                                                            <img id="banner-product-image" src="{{base_url()}}uploads/product/banner/{{content.bannerImage}}" width="150" height="150"/>
                                                        {% else %}
                                                            <img id="banner-product-image" src="" width="150" height="150"/>    
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="form-group-inner">
                                            <table id="discount" class="table table-responsive table-striped table-bordered table-hover">
                                                <tbody id="appendAddImg">
                                                    <tr>
                                                        <td colspan="2"><label class="login2 pull-right pull-right-pro">  Additional Images </label></td>
                                                    </tr>
                                                    {% if content.addImage %}
                                                        {% for  key,addImage in content.addImage %}
                                                            <tr id="imgRowList0{{addImage.productImageID}}">
                                                                <td colspan="2">
                                                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                                                        <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                            <img src="{{base_url()}}uploads/product/{{addImage.image}}" width="150" height="150"/>
                                                                            <input type="hidden" name="additionalImageEdit[]" value="{{addImage.image}}"/>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <button type="button" data-toggle="tooltip" title="button_remove" class="btn btn-danger removeAdd" id=0{{addImage.productImageID}}><i class="fa fa-minus-circle"></i></button>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <tr>
                                            
                                                        <td width ="80%">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                    <div class="input append-small-btn">
                                                                        <div class="file-button">
                                                                            Browse
                                                                            <input type="file" name="file[]" class="addImagePrim" onchange="document.getElementById('addtional-btn-image0').value = this.value;">
                                                                        </div>
                                                                        <input type="text" id="addtional-btn-image0" placeholder="no file selected">
                                                                        <div class="error imageError" id="addImgSizeErr0"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group-inner">
                                                                <div class="login-btn-inner">
                                                                    <div class="row">
                                                                        <div class="col-lg-3"></div>
                                                                        <div class="col-lg-9">
                                                                            <img id="addImg0" alt="" width="100px"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td width ="20%"></td>

                                                    </tr>

                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="3" class="text-right">
                                                            <button type="button" data-toggle="tooltip" id="addAdditionalImage" class="btn btn-primary">
                                                                <i class="fa fa-plus-circle"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="form-group-inner">
                                        <div class="login-btn-inner">
                                            <div class="row">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-9">
                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                        <a href="{{base_url()}}manage/Product/" class="btn btn-secondary">Cancel</a>
                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
=======
                                                <div class="devit-card-custom">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Refer OpenCart">
>>>>>>> 33aeedcb6b1e80b8bbc02c75a79ae583b576b731
                                                    </div>
                                                    <a href="#!" class="btn btn-primary waves-effect waves-light">Submit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>#}

                        <div class="product-tab-list tab-pane fade {% if pdType == 'discount' %}active in {% endif %}" id="discount">
                            
                        </div>
                        <div class="product-tab-list tab-pane fade {% if pdType == 'images' %}active in {% endif %}" id="images">
                           
                        </div>
                        <!--END OF CONTENT AREA-->
                    </div>
                </div>
            </div>
        </div>
        <!-- dropzone CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/dropzone/dropzone.css">
        <!-- dropzone JS============================================ -->
        <script src="{{base_url()}}public/manage/js/dropzone/dropzone.js"></script>

        <link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
        <script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
        <script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>
        <script src="{{base_url()}}public/manage/js/datapicker/bootstrap-datepicker.js"></script>

        <script>

                                                                            var count = 2;
                                                                            $('#addAttribute').click(function () {
                                                                                var attrField = '<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" id="attrShow' + count + '"><div class="customer_records"><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <select class="chosen-select" tabindex="-1" name="attributeID[]"><option>Select</option>{% for attributes in attributesList %}<option value="{{attributes.attributeID}}" >{{attributes.name}}</option>{% endfor %}  </select></div><div class="col-lg-4 col-md-4 col-sm-6 col-xs-4"> <input class="form-control" name="attributeText[]" type="text" palceholder="Value"></div><div class="col-lg-4 col-md-4 col-sm-6 col-xs-4">  <button type="button" data-toggle="tooltip" title="button_remove" class="btn btn-danger attributeRemove" id="' + count + '"> <i class="fa fa-minus-circle"></i></button> </div> </div> </div>';
                                                                                $('#attributeAttach').append(attrField);
                                                                                $('.chosen-select').chosen({width: "100%"});
                                                                                $('.attributeRemove').click(function () {
                                                                                    $("#attrShow" + this.id).remove();
                                                                                });
                                                                                count++;
                                                                            });
                                                                            $('.attributeRemove').click(function () {
                                                                                $("#attrShow" + this.id).remove();
                                                                            });
                                                                            var countDis = 1;
                                                                            $('#addDiscound').click(function () {
                                                                                var attrField = '<tr id="discount-row' + countDis + '"><input type="hidden" name="customer_group_id[]" vlaue="1"/><td class="text-right"><input type="text" name="discountQuantity[]" placeholder="Quantity" class="form-control"/></td><td class="text-right"><input type="text" name="priority[]"  placeholder="Priority" class="form-control"/></td><td class="text-right"><select name="type[]" class="form-control"><option value="">Select</option><option value="fixed">Fixed</option><option value="percentage">Percentage</option></select></td><td class="text-right"><input type="text" name="discountPrice[]" placeholder="Price" class="form-control"/></td><td class="text-left" style="width: 20%;"><div class="input-group date"><input type="text" name="dateStart[]" placeholder="DD-MM-YYYY" data-date-format="YYYY-MM-DD" class="form-control datePicker"/><span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button></span></div></td><td class="text-left" style="width: 20%;"><div class="input-group date"><input type="text" name="dateEnd[]" placeholder="DD-MM-YYYY" data-date-format="YYYY-MM-DD" class="form-control datePicker"/><span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button></span></div></td><td class="text-left"><button type="button" data-toggle="tooltip" title="button_remove" class="btn btn-danger dangerRemove" id="' + countDis + '"><i class="fa fa-minus-circle"></i></button></td></tr>';
                                                                                $('#appendDiscound').append(attrField);
                                                                                $('.datePicker').datepicker({
                                                                                    format: 'yyyy-mm-dd',
                                                                                    prevText: '<i class="fa fa-chevron-left"></i>',
                                                                                    nextText: '<i class="fa fa-chevron-right"></i>'
                                                                                });
                                                                                $('.dangerRemove').click(function () {
                                                                                    $("#discount-row" + this.id).remove();
                                                                                });
                                                                                countDis++;
                                                                            });
                                                                            $('.dangerRemove').click(function () {
                                                                                $("#discount-row" + this.id).remove();
                                                                            });
                                                                            $('.datePicker').datepicker({
                                                                                format: 'yyyy-mm-dd',
                                                                                prevText: '<i class="fa fa-chevron-left"></i>',
                                                                                nextText: '<i class="fa fa-chevron-right"></i>'
                                                                            });
                                                                            $('#categoryID').change(function () {
                                                                            var categoryID = $("#categoryID").val();
                                                                                    $.ajax({
                                                                                    type: 'POST',
                                                                                            url: '{{base_url()}}manage/Product/ajaxLoadFilters',
                                                                                            data: 'categoryID=' + categoryID,
                                                                                            dataType: "html",
                                                                                            success: function (msg) {
                                                                                            $('#filterShow').html(msg);
                                                                                                    $('.chosen-select').chosen({width: "100%"});
                                                                                            }
                                                                                    });
                                                                            });
                                                                                    var maxSize = {{maxImageSizeJs}};
                                                                            var imageWidth ={{imageDimension[0]}}
                                                                                    var imageHeight ={{imageDimension[1]}}
                                                                                    var additionalCount = 1;
                                                                            $('#addAdditionalImage').click(function () {
                                                                                var fieldID = "'addtional-btn-image" + additionalCount + "'";
                                                                                var addField = '<tr id="imgRow' + additionalCount + '"><td><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="file-upload-inner file-upload-inner-right ts-forms"><div class="input append-small-btn">\n\<div class="file-button">Browse<input type="file" name="file[]" class="addImage" data-count="' + additionalCount + '" onchange="document.getElementById(' + fieldID + ').value = this.value;"> </div> <input type="text" id=' + fieldID + ' placeholder="no file selected"><div class="error imageError" id="addImgSizeErr' + additionalCount + '"></div></div></div></div><div class="form-group-inner"><div class="login-btn-inner"><div class="row"><div class="col-lg-3"></div><div class="col-lg-9"><img id="addImg' + additionalCount + '" alt="" width="100px"/></div></div></div></div></td><td><button type="button" data-toggle="tooltip" title="button_remove" class="btn btn-danger removeAdd" id=' + additionalCount + '><i class="fa fa-minus-circle"></i></button></td></tr>';
                                                                                $('#appendAddImg').append(addField);
                                                                                $('.removeAdd').click(function () {
                                                                                    $("#imgRow" + this.id).remove();
                                                                                });
                                                                                $(".addImage").change(function (e) {
                                                                                    var countVal = $(this).data('count');
                                                                                    showImage(this, maxSize, imageWidth, imageHeight, 'addImg' + countVal, 'addImgSizeErr' + countVal);
                                                                                });
                                                                                additionalCount++;
                                                                            });
                                                                            $('.removeAdd').click(function () {
                                                                                $("#imgRowList" + this.id).remove();
                                                                            });
                                                                            $(".addImagePrim").change(function (e) {
                                                                                showImage(this, maxSize, imageWidth, imageHeight, 'addImg0', 'addImgSizeErr0');
                                                                            });
                                                                            $(".upImage").change(function () {
                                                                                showImage(this, maxSize, imageWidth, imageHeight, 'product-img-tag', 'pdimgSizeErr');
                                                                            });
                                                                            var banImageWidth ={{imageDimension_banner[0]}}
                                                                                    var banImageheight ={{imageDimension_banner[1]}}
                                                                                    $("#bannerImage").change(function () {
                                                                                showImage(this, maxSize, banImageWidth, banImageheight, 'banner-product-image', 'bnimgSizeErr');
                                                                            });
        </script>
