<select name="filterID[]" id="filterID" data-placeholder="Choose filters" class="chosen-select" multiple="" tabindex="-1">
    {% for filters in filterList %}
        <option value="{{filters.filterID}}">{{filters.name}}</option>
    {% endfor %}    
</select>
{{form_error('filterID[]', '<div class="error">', '</div>')}}