<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    {# <h4>All Categorys</h4>#}
                    {% set attributes = {'class':'col-md-10'}%}
                   {{ form_open('',attributes) }}
 
                        Product Name    : <input type="text" name="name" placeholder="Product Name">
                   
                        <input type="submit" value="Search" name="searchButton" class="btn btn-primary">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Advanced Search</button>
                        </form>
                  {{ form_close() }}
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        {{ form_open('') }}
                                <div class="modal-content ">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLongTitle">Advanced Search</h3>
                                    </div>
                                    <div class="modal-body row"  style="margin: 5px">
                                        <div  class="col-md-4" style="padding: 10px">
                                            <label>Product</label><br>
                                            <input type="text" name="name" id="name" placeholder="Product Name">
                                        </div>
                                        <div  class="col-md-4" style="padding: 10px">
                                            <label>Type</label><br>
                                            <select class="chosen-select" tabindex="-1" name="type" id="type">
                                                <option value="Product">Product</option>
                                                 <option value="Bundle">Bundle</option> 
                                            </select>
                                        </div>
                                        <div  class="col-md-4" style="padding: 10px">
                                            <label>Brand</label><br>
                                            <select class="chosen-select" tabindex="-1" name="manufacturer" id="manufacturer">
                                                <option value="">Select</option>
                                                {% for manufactures in manufacturesList %}
                                                    <option value="{{manufactures.manufacturerID}}" {% if set_value('manufacturerID') == manufactures.manufacturerID %} selected {% elseif manufactures.manufacturerID in content.manufacturerID %} selected {% endif %}>{{manufactures.manufactureName}}</option>
                                                {% endfor %}   
                                            </select>
                                        </div>
                                        <div  class="col-md-4" style="padding: 10px">
                                            <label>Category</label><br>
                                            <select name="category" id="category"  class="chosen-select" tabindex="-1">
                                                <option value="">Select</option>
                                                {% for category in mainCategory %}
                                                    <option value="{{category.categoryID}}" {% if set_value('categoryID') == category.categoryID %} selected {% elseif category.categoryID in content.categoryData %} selected {% endif %}> {% if category.parentID %} {{category.parentName}} &#62; {% endif %} {{category.name}}  </option>
                                                {% endfor %}    
                                            </select>
                                        </div>
                                        
                                        <div  class="col-md-4" style="padding: 10px">
                                            <label>Added On</label><br>
                                             <input type="text" name="dateAdded" placeholder="DD-MM-YYYY" data-date-format="YYYY-MM-DD" class="form-control datePicker"/>
                                        </div>
                                        
                                        <div  class="col-md-4" style="padding: 10px">
                                            <label>Price From</label><br>
                                             <input type="text" name="fromPrice" class="form-control"/>
                                        </div>
                                        
                                        <div  class="col-md-4" style="padding: 10px">
                                            <label>Price To</label><br>
                                             <input type="text" name="toPrice" class="form-control"/>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <input type="submit" name="searchButton" class="btn btn-primary" value="Search">
                                    </div>
                                </div>
                            {{ form_close() }}
                        </div>
                    </div>




                    </form>
                    <div class="add-product col-md-2">

                        <a href="{{base_url()}}manage/Product/add">Add Product</a>
                    </div>
                    <div class="asset-inner">
                        {% if success %} <div class="alert alert-success">{{ success }} </div> {% endif %}
                        {% if failed %} <div class="alert alert-danger alert-mg-b">{{ failed }}</div>{% endif %}
                        <form method='post' name='multiChange' id='multiChange'>
                            {% if result|length > 0 %}
                                <table>
                                    <tr>
                                        <th><input type="checkbox" id="checkAll"></th>
                                        <th>No</th>
                                        <th>Product Name</th>
                                        <th>Image</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Category</th>
                                        <th>Brand</th>
                                        <th>Date Added</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    {% set myVal = currentPage %}
                                    {% for data in result  %}
                                        <tr>
                                            <th><input type="checkbox" name="multyCheck[]" class='multyCheck' value="{{data.productID|e}}"></th>
                                            <td>{{ myVal }}</td>
                                            <td>{{data.name|e}}</td>
                                            {% if data.image !='' %}
                                                <td><img src="{{base_url()}}uploads/product/{{data.image}}" alt=""></td>
                                                {% else %}
                                                <td><img src="{{base_url()}}uploads/product/1b01cd7e0092ff7b86c79063878db2ae.png" alt=""></td>
                                                {% endif %}
                                            <td>{{data.quantity|e}}</td>
                                            <td>{{data.price|e}}</td>
                                            <td>{{data.catName|e}}</td>
                                            <td>{{data.manName|e}}</td>
                                            <td>{{data.dateAdded|e|date("d-M-Y")}}</td>
                                            <td>
                                                <div class="toggle-btn btn-group btn-group-toggle" data-toggle="buttons">
                                                    <label class="btn btn-secondary {% if data.status == 'Active' %} active {% endif %}">
                                                        <input type="radio" name="status{{data.productID|e}}" id="{{data.productID|e}}" value="Active" class="changeStatus" value="" {% if data.status == 'Active' %} checked {% endif %}> Active
                                                    </label>
                                                    <label class="btn btn-secondary {% if data.status == 'Inactive' %} active {% endif %}">
                                                        <input type="radio" name="status{{data.productID|e}}" id="{{data.productID|e}}" value="Inactive" class="changeStatus" {% if data.status == 'Inactive' %} checked {% endif %}> Inactive
                                                    </label>
                                                </div> 
                                            </td>

                                            <td>
                                                <a href="{{base_url()}}manage/Product/edit/{{data.productID|e}}/general">
                                                    <button type='button' data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </button>
                                                </a>
                                                {#<button title="Trash" data-toggle="modal" data-target="#WarningModalalert" class="pd-setting-ed">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>#}
                                                <button type='button' title="Trash" class="pd-setting-ed deleteElement" alt="{{data.productID|e}}">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </td>

                                        </tr>
                                        {% set myVal = myVal + 1 %}
                                    {% endfor %} 
                                </table>
                                <select name='action' id="action">
                                    <option value=''>Select</option>
                                    <option value='Active'>Active</option>
                                    <option value='Inactive'>Inactive</option>
                                    <option value='Deleted'>Deleted</option>
                                </select>
                               <div class="error" id="multyCheckErr"></div> 
                            </form>

                        {% else %}
                            <div class="alert alert-danger" role="alert">
                                No data found!
                            </div>
                        {% endif %}
                    </div>

                    <div class="text-center">
                        {% if links %}<p class="pagination">{{links | raw }}</p> {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--INCLUDE MODALS-->
<div id="WarningModalalert" class="modal modal-edu-general Customwidth-popup-WarningModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <span class="educate-icon educate-warning modal-check-pro information-icon-pro"></span>
                <h2>Alert!</h2>
                <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="modal-footer warning-md">
                <a data-dismiss="modal" href="#">Cancel</a>
                <a href="javascript:void(0)" id="confirmOk">Sure</a>
            </div>
        </div>
    </div>
</div>
<script src="{{base_url()}}public/manage/js/datapicker/bootstrap-datepicker.js"></script>
<script>
    $('.changeStatus').change(function () {
        window.location = "{{base_url()}}manage/Product/changeStatus/" + this.id + "/" + this.value;
    });

    $('.deleteElement').click(function () {
        $('#WarningModalalert').modal('show');
        var id = $(this).attr("alt");
        $('#confirmOk').click(function () {
            window.location = "{{base_url()}}manage/Product/changeStatus/" + id + "/Deleted"
        });
    });

    $('#checkAll').click(function () {
        $('.multyCheck').not(this).prop('checked', this.checked);
    });

   $("#action").change(function () {
        var action = $('#action').val();
        var checkedNum = $('input[name="multyCheck[]"]:checked').length;
        if(checkedNum>0){
            if (action == 'Deleted') {
                $('#WarningModalalert').modal('show');
                $('#confirmOk').click(function () {
                    $("#multiChange").submit();
                });
            } else {
                $("#multiChange").submit();
            }
        }else{
            $("#multyCheckErr").html("Please Select Any One From The List");
        }
    });
    
    $('.datePicker').datepicker({
        format: 'yyyy-mm-dd',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>'
    });

</script>