<input type="hidden" name="productID" value="{{productOptionsSaved.productID}}"/>
<input type="hidden" name="productOptionID" value="{{productOptionsSaved.productOptionID}}"/>
{% if optionValue %}
                                    {% for optionValueFirst in optionValue  %}
                                        {% set parentLoop = loop.index0 %}
<input type="hidden" name="productOptionValueID[]" value="{{productOptionValuesSaved[parentLoop]['productOptionValueID']}}">
  {% endfor %} 
                                {% endif %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-content-section">
                                <div class="devit-card-custom">
                                    <div class="form-group">
                                        <div class="col-md-12" id="optionDisply">
                                            <div class="devit-card-custom">
                                                <div class="form-group">
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <label class="login2 pull-left">Option</label>
                                                        <select class="chosen-select optionGroup" id="optionGroup-0" tabindex="-1" name="combinationOptionID">
                                                            <option>Select</option>
                                                            {% for options in optionsList %}
                                                                <option value="{{options.combinationID}}" {% if options.combinationID == productOptionsSaved.combinationOptionID %} selected {% endif %}>{{options.optionName}} </option>
                                                            {% endfor %}
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="optionAppend">
                                {% if optionValue %}
                                    {% for optionValueFirst in optionValue  %}
                                        {% set parentLoop = loop.index0 %}
                                        <input type="hidden" name="optionID[]" value="{{optionValueFirst.optionID}}">
                                        <input type="hidden" name="optionName[]" value="{{optionValueFirst.optionName}}">
                                        
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="devit-card-custom">
                                                    <div class="form-group">
                                                        <div class="col-md-12" id="optionDisply">
                                                            <div class="devit-card-custom">
                                                                <div class="form-group">
                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                        <label class="login2 pull-left">{{optionValueFirst.optionName}}</label>
                                                                        <select class="chosen-select" tabindex="-1" name="optionValue[]">
                                                                            <option value="">Select</option>
                                                                            {% for options in optionValueFirst.optionValue %}
                                                                                <option value="{{options.optionValueID}}" {% if productOptionValuesSaved[parentLoop]['optionValueID'] == options.optionValueID%} selected {% endif %}>{{options.name}} </option>
                                                                            {% endfor %}
                                                                        </select>

                                                                    </div>
                                                                </div>
                                                            </div>         
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %} 
                                {% endif %}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-content-section">
                                <div class="devit-card-custom">
                                    <div class="form-group">
                                        <div class="col-md-12" id="optionDisply">
                                            <div class="devit-card-custom">
                                                <div class="form-group">
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <label class="login2 pull-left">Required</label>
                                                        <select class="chosen-select" id="required" tabindex="-1" name="required">
                                                            <option value="">Select</option>
                                                            <option value="Yes" {% if productOptionsSaved.required == 'Yes'%} selected {% endif %}>Yes</option>
                                                            <option value="No" {% if productOptionsSaved.required == 'No'%} selected {% endif %}>No</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-content-section">
                                <div class="devit-card-custom">
                                    <div class="form-group">
                                        <div class="col-md-12" id="optionDisply">
                                            <div class="devit-card-custom">
                                                <div class="form-group">
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <label class="login2 pull-left">Price Type</label>
                                                        <select class="chosen-select" id="priceType" tabindex="-1" name="priceType">
                                                            <option value="">Select</option>
                                                            <option value="Increment" {% if productOptionValuesSaved.0.priceType == 'Increment'%} selected {% endif %}>Increment</option>
                                                            <option value="Decrement" {% if productOptionValuesSaved.0.priceType == 'Decrement'%} selected {% endif %}>Decrement</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-content-section">
                                <div class="devit-card-custom">
                                    <div class="form-group">
                                        <div class="col-md-12" id="optionDisply">
                                            <div class="devit-card-custom">
                                                <div class="form-group">
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <label class="login2 pull-left">Price</label>
                                                       <input type="text" name="price" id="price"  value="{{productOptionValuesSaved.0.price*1}}" class="form-control" placeholder="Price">
                                                    </div>
                                                </div>
                                            </div>         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-content-section">
                                <div class="devit-card-custom">
                                    <div class="form-group">
                                        <div class="col-md-12" id="optionDisply">
                                            <div class="devit-card-custom">
                                                <div class="form-group">
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <label class="login2 pull-left">Quantity</label>
                                                       <input type="text" name="quantity" id="quantity"  value="{{productOptionValuesSaved.0.quantity}}" class="form-control" placeholder="Quantity">
                                                    </div>
                                                </div>
                                            </div>         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>