{% if optionValue %}
    {% for optionValueFirst in optionValue  %}
        <input type="hidden" name="optionID[]" value="{{optionValueFirst.optionID}}">
        <input type="hidden" name="optionName[]" value="{{optionValueFirst.optionName}}">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="review-content-section">
                <div class="devit-card-custom">
                    <div class="form-group">
                        <div class="col-md-12" id="optionDisply">
                            <div class="devit-card-custom">
                                <div class="form-group">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <label class="login2 pull-left">{{optionValueFirst.optionName}}</label>
                                        <select id="optionValues" class="chosen-select oValues optionValues" onchange="changeOptionVal(this,'{{optionValueFirst.optionName}}')" tabindex="-1" name="optionValue[]">
                                            <option value="">Select</option>
                                            {% for options in optionValueFirst.optionValue %}
                                                <option value="{{options.optionValueID}}">{{options.name}} </option>
                                            {% endfor %}
                                        </select>
<div class="oerror{{optionValueFirst.optionName}} popError"></div>
                                    </div>
                                </div>
                            </div>         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} 
{% endif %}
