<!-- Modal -->
  <div class="modal fade" id="optionValueModal" role="dialog">
    <div class="modal-dialog">
{#        <pre>{{dump(optionValues)}}</pre>#}
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Option Value</h4>
        </div>
        <div class="modal-body">
            <div class="review-content-section">
                <div class="alert alert-success" style="display:none" id="optionValueSuccess">
                    Option added successfully
                </div>
                <div class="alert alert-danger" style="display:none" id="optionValueFail">
                    something went wrong please try again
                  </div>
                <form method="post" id="optionValueSave" >
                    <input type="hidden" name="productID" value="{{productID}}"/>
                    <input type="hidden" name="combinationOptionID" value="{{combinationID}}"/>
                    <div class="row">
                        {% if optionValues is not empty %}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="review-content-section">
                                    <div class="devit-card-custom">
                                        <div class="form-group">
                                            {% for optionValuesData in optionValues %}
                                               
                                                <div class="col-md-12" id="optionDisply">
                                                    <div class="devit-card-custom">
                                                        <div class="form-group" id="optionContent">
                                                            <div class="col-md-12 col-md-12 col-sm-9 col-xs-12">
                                                                <div class="col-md-3">
                                                                    <label class="login2 pull-left pt-5">{{optionValuesData.optionName}}</label>
                                                                   <input type="hidden" name="optionID[]" value="{{optionValuesData.optionID}}"/>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <select class="chosen-select" id="optionGroup-0" tabindex="-1" name="optionValueID[]">
                                                                        <option value="">Select</option>
                                                                        {% for optionValue in optionValuesData.values %}
                                                                            <option value="{{optionValue.optionValueID}}">{{optionValue.name}} </option>
                                                                        {% endfor %}
                                                                    </select>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>         
                                                </div>
                                            {% endfor %}
                                            <div class="optionValueIDErr popError" style="margin: 0px 0px 0px 176px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                         {#<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-content-section">
                                <div class="devit-card-custom">
                                    <div class="form-group">
                                        <div class="col-md-12" id="optionDisply">
                                            <div class="devit-card-custom">
                                                <div class="form-group">
                                                    <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                                    <div class="col-md-3">
                                                    <label class="login2 pull-left pt-5">Price Type</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                        <select class="chosen-select" id="priceType" tabindex="-1" name="priceType">
                                                            <option value="">Select</option>
                                                            <option value="Increment">Increment</option>
                                                            <option value="Decrement">Decrement</option>
                                                        </select>
                                                        <div class="priceTypeErr popError"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>#}
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-content-section">
                                <div class="devit-card-custom">
                                    <div class="form-group">
                                        <div class="col-md-12" id="optionDisply">
                                            <div class="devit-card-custom">
                                                <div class="form-group">
                                                    <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                                    <div class="col-md-3">
                                                        <label class="login2 pull-left pt-5">Price</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                       <input type="text" name="price" id="price"  value="" class="form-control priceOption" placeholder="Price">
                                                       <div class="priceErr popError"></div>
                                                       </div>
                                                    </div>
                                                </div>
                                            </div>         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-content-section">
                                <div class="devit-card-custom">
                                    <div class="form-group">
                                        <div class="col-md-12" id="optionDisply">
                                            <div class="devit-card-custom">
                                                <div class="form-group">
                                                    <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                                    <div class="col-md-3">
                                                        <label class="login2 pull-left pt-5">Quantity</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                       <input type="text" name="quantity" id="quantity"  value="" class="form-control quantityOption" placeholder="Quantity">
                                                       <div class="quantityErr popError"></div>
                                                       </div>
                                                    </div>
                                                </div>
                                            </div>         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-toggle="tooltip" onclick="saveOptionValue()" class="btn btn-primary" data-original-title="" title="">Save <i class="fa fa-floppy-o"></i></button>
          <button type="button" class="btn btn-default modalClose" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
                                                            
                         <script>
                                                                
                                                                var option_value_post_url = "{{base_url()}}manage/Product/saveProductOptionValue";
                                                                function saveOptionValue(){
                                                                   $.ajax({
                                                                        type: "POST",
                                                                        url: option_value_post_url,
                                                                        data : $('#optionValueSave').serializeArray(),
                                                                        dataType: "json",
                                                                        success: function (data) {
                                                                            if($.trim(data.error)=='true'){
                                                                                $('.optionValueIDErr').html(data.optionValueID);
                                                                                $('.priceTypeErr').html(data.priceType);
                                                                                $('.priceErr').html(data.price);
                                                                                $('.quantityErr').html(data.quantity);
                                                                            } 
                                                                            else if($.trim(data.error)=='false'){
                                                                                if($.trim(data.action)=='success'){
                                                                                    $('#optionValueSuccess').show();
                                                                                    setTimeout(function () {
                                                                                        location.reload(true);
                                                                                      }, 1000);
                                                                                }else{
                                                                                    $('#optionValueFail').show();
                                                                                }
                                                                            }
                                                                        }
                                                                    });
                                                                }
                                                                           
                                                            $('#optionValueModal').on('hidden.bs.modal', function () {
                                                                location.reload();
                                                            })
                                                            </script>