<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Option Combination</h4>
        </div>
        <div class="modal-body">
            <div class="review-content-section">
                <div class="alert alert-success" style="display:none" id="optionSuccess">
                    Option added successfully
                </div>
                <div class="alert alert-danger" style="display:none" id="optionFail">
                    something went wrong please try again
                  </div>
                <form method="post" id="optionCombinationSave" >
                    <input type="hidden" name="productID" value="{{productID}}"/>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-content-section">
                                <div class="devit-card-custom">
                                    <div class="form-group">
                                        <div class="col-md-12" id="optionDisply">
                                            <div class="devit-card-custom">
                                                <div class="form-group" id="optionContent">
                                                    <div class="col-md-12 col-md-12 col-sm-9 col-xs-12">
                                                        <div class="col-md-3">
                                                            <label class="login2 pull-left pt-5">Option</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <select class="chosen-select" id="optionGroup-0" tabindex="-1" name="optionID[]">
                                                                <option value="">Select</option>
                                                                {% for options in optionsList %}
                                                                    <option value="{{options.optionID}}">{{options.name}} </option>
                                                                {% endfor %}
                                                            </select>
                                                            
                                                        </div>
                                                        {#<div class="col-md-3">
                                                            <button type="button" data-toggle="tooltip" class="btn btn-primary" data-original-title="" title="" data-count="0" id="addMoreOption"><i class="fa fa-plus-circle"></i></button>
                                                        </div>#}
                                                            <br><br>
                                                    </div>
                                                </div>
                                            </div>         
                                        </div>
                                        <div class="optionValue popError" style="margin: 0px 0px 0px 176px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-content-section">
                                <div class="devit-card-custom">
                                    <div class="form-group">
                                        <div class="col-md-12" id="optionDisply">
                                            <div class="devit-card-custom">
                                                <div class="form-group">
                                                    <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                                    <div class="col-md-3">
                                                        <label class="login2 pull-left pt-5">Required</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                        <select class="chosen-select" id="required" tabindex="-1" name="required">
                                                            <option value="">Select</option>
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                        </select>
                                                        <div class="required popError"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-toggle="tooltip" onclick="saveOptionCombination()" class="btn btn-primary" data-original-title="" title="">Save <i class="fa fa-floppy-o"></i></button>
          <button type="button" class="btn btn-default modalClose" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
                                                            
                                                            <script>
                                                                $('#addMoreOption').click(function(e){
                                                                  var count = $(this).attr("data-count");
                                                                  count++; 
                                                                  
                                                                    optionField ='<div class="col-md-12 col-md-12 col-sm-9 col-xs-12" id="optionDiv-'+count+'">';
                                                                    optionField +='<div class="col-md-3">';
                                                                    optionField +='<label class="login2 pull-left pt-5"></label>';
                                                                    optionField +='</div>';
                                                                    optionField +='<div class="col-md-6">';
                                                                    optionField +='<select class="chosen-select" id="optionGroup-0" tabindex="-1" name="optionID[]">';
                                                                    optionField +='<option value="">Select</option>';
                                                                    optionField +='{% for options in optionsList %}';
                                                                    optionField +='<option value="{{options.optionID}}">{{options.name}} </option>';
                                                                    optionField +='{% endfor %}';
                                                                    optionField +='</select>';
                                                                    optionField +='</div>';
                                                                    optionField +='<div class="col-md-3">';
                                                                    optionField +='<button type="button" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="button_remove" onclick=removeOptionDiv("'+count+'")>';
                                                                    optionField +='<i class="fa fa-minus-circle"></i>';
                                                                    optionField +='</button>';
                                                                    optionField +='</div>';
                                                                    optionField +='<br><br></div> ';
                                                                    $("#optionContent").append(optionField);
                                                                  $(this).attr("data-count", count);
                                                                  $('.chosen-select').chosen({width: "100%"});
                                                                });
                                                                
                                                                function removeOptionDiv(id){
                                                                    $("#optionDiv-"+id).remove();
                                                                }
                                                                
                                                                var option_combination_post_url = "{{base_url()}}manage/Product/saveProductOptionCombination";
                                                                function saveOptionCombination(){
                                                                   $.ajax({
                                                                        type: "POST",
                                                                        url: option_combination_post_url,
                                                                        data : $('#optionCombinationSave').serializeArray(),
                                                                        dataType: "json",
                                                                        success: function (data) {
                                                                            if($.trim(data.error)=='true'){
                                                                                $('.optionValue').html(data.optionValue);
                                                                                $('.required').html(data.required);
                                                                            } 
                                                                            else if($.trim(data.error)=='false'){
                                                                                if($.trim(data.action)=='success'){
                                                                                    $('#optionSuccess').show();
                                                                                    setTimeout(function () {
                                                                                        location.reload(true);
                                                                                      }, 1000);
                                                                                }else{
                                                                                    $('#optionFail').show();
                                                                                }
                                                                            }
                                                                        }
                                                                    });
                                                                }
                                                                           
                                                            $('#myModal').on('hidden.bs.modal', function () {
                                                                location.reload();
                                                            })
                                                            </script>