<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon============================================ -->
        <link rel="shortcut icon" type="image/png" href="{{favIcon}}">
        <!-- Google Fonts  ============================================ -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
        <!-- Bootstrap CSS ============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/bootstrap.min.css">
        <!-- Bootstrap CSS ============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/font-awesome.min.css">
        <!-- animate CSS  ============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/animate.css">
        <!-- normalize CSS ============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/meanmenu.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/main.css">
        <!-- educate icon CSS ============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/educate-custon-icon.css">
        <!-- morrisjs CSS ============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/scrollbar/jquery.mCustomScrollbar.min.css">
        <!-- calendar CSS ============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/calendar/fullcalendar.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/calendar/fullcalendar.print.min.css">
        <!-- x-editor CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/editor/select2.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/editor/datetimepicker.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/editor/bootstrap-editable.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/editor/x-editor-style.css">
        <!-- normalize CSS ============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/data-table/bootstrap-table.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/data-table/bootstrap-editable.css">
        <!-- forms CSS ============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/form/all-type-forms.css">
        <!-- style CSS ============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/style.css">
        <!-- responsive CSS ============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/responsive.css">
        <!-- style for modal ============================================= -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/modals.css">
        <!-- modernizr JS============================================ -->
        {#<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/{{base_url()}}public/manage/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/{{base_url()}}public/manage/js/bootstrap-toggle.min.js"></script>#}
        {#<script src="{{base_url()}}public/manage/js/vendor/modernizr-2.8.3.min.js"></script>#}
        <script src="{{base_url()}}public/manage/js/jquery-1.12.4.min.js"></script>
        
        
    </head>
    <body>
        <div class="all-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="logo-pro">
                            {#<a href="{{base_url()}}"><img class="main-logo" alt="logo" src="{{logo}}" alt="" /></a>#}
                        </div>
                    </div>
                </div>
            </div>
            <!--Header menu include Start-->
            {% include 'manage/HeaderMenu.twig' %}
            <!--Header menu include End-->
