<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title ? title : 'Welcome to mowneh' }}</title>
        <meta name="title" content="{{metaTitle}}">
        <meta name="description" content="{{metaDescription}}">
        <meta name="keywords" content="{{metaKeyword}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="{{favicon}}">

        <!-- all css here -->
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/bootstrap.min.css">
        {#        <link rel="stylesheet" href="{{base_url()}}public/assets/css/megamenu/megamenu.min.css">#}
        {#        <link rel="stylesheet" href="{{base_url()}}public/assets/css/megamenu/animate.min.css">#}
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/animate.css">
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/jquery-ui.css">
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/chosen.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/ionicons.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/bundle.css">
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/style.css">
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/responsive.css">
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/jquery-confirm.min.css">
        <!-- Custom style -->
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/ali-custom-style.css">  
        {% if currentLanguage.name == 'arabic' %}
            <link rel="stylesheet" href="{{base_url()}}public/assets/css/arabic-style.css">   
        {% endif %}
        <link rel="stylesheet" href="{{base_url()}}public/assets/css/toastr/toastr.css"> 
        <!-- custom style end -->
        <script src="{{base_url()}}public/assets/js/modernizr-2.8.3.min.js"></script>
        <script src="{{base_url()}}public/assets/js/jquery-1.12.0.min.js"></script>
        {#	<script src="js/modernizr.js"></script> <!-- Modernizr -->#}
        <script>
            var baseURL = '{{baseURL}}';
        </script>
        <style>
            .lang-flag{
                width: 16px;
                margin-right: 5px;
            } 
            @media only screen and (max-width:400px)
            {
                 .navbar-expand-md
                 {
                     display:none;
                 }
            }
            @media only screen and (min-width:401px)
            {
                 .mobnav
                 {
                     display:none;
                 }
            }
        </style> 
    </head>
    <body class="product_list">
        <!-- Add your site or application content here -->

        <!-- Header start -->         
        <div class="header_top_bar top_bar_two">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header_top_inner">
                            <ul>
                                <li class="hide-on-mobile"> <a href="{{base_url()}}information/privacy-policy">{{lang('privacy_policy')}}</a> </li>
                            </ul>
                            <div class="header_top_right">
                                <ul class="header_top_right_inner">
                                    <li class="language_wrapper"> <a href="javascript:void(0);">{{currentLanguage.name|capitalize}} <i class="fa fa-angle-down"></i> </a>
                                        <ul class="language__name">

                                             {%for lang in otherLanguages%}
                                                <li >
                                                    <a href="javascript:void(0);" onclick="switchLanguage('{{lang.name}}')"><img class="lang-flag" src="{{ base_url('uploads/')~lang.image }}" width="16"/><span>{{lang.name|capitalize}}</span></a>
                                                </li>
                                                {# <li >
                                                    <a href="{{base_url('/home/comingSoon')}}"><img class="lang-flag" src="{{ base_url('uploads/')~lang.image }}" width="16"/><span>{{lang.name|capitalize}}</span></a>
                                            </li>#}
                                            {%endfor%}
                                        </ul>
                                    </li>
                                    <li class="language_wrapper_two"> 
                                        {% if customerID > 0 %}
                                            <a href="javascript:void(0)">{{lang('my_account')}}<i class="fa fa-angle-down"></i> </a>
                                        {% else %}
                                            <a href="javascript:void(0)">{{lang('register')}} / {{lang('Login')}} <i class="fa fa-angle-down"></i> </a>
                                        {% endif%}
                                        <ul class="account__name">
                                            {% if customerID > 0 %}
                                                <li><a href="{{base_url('/myaccount')}}">{{lang('my_account')}}</a></li>
                                                <li><a href="{{base_url('/myaccount/wishlist')}}">{{lang('wishlist')}}</a></li>
                                                <li><a href="{{base_url('/myaccount/changePassword')}}">{{lang('change_Password')}}</a></li>
                                                <li><a href="{{base_url('/myaccount/logout')}}">{{lang('signout')}}</a></li>
                                                {% else %}
                                                <li><a href="{{base_url('/login')}}">{{lang('Login')}}</a></li>
                                                <li><a href="{{base_url('/register')}}">{{lang('register')}}</a></li>
                                                {% endif%}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                        
        <div class="header_middle middle-two">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header_middle_wrapper">
                            <div class="header_middle_inner middel_two">
                            <div class="mobnav">

<style>
@media (max-width: 767px)
{
    @keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
#overlay-button {
    position: absolute;
    margin-top: -0.5em;
    left: 0.2em;
    padding: 11px;
  z-index: 9999;
  cursor: pointer;
  user-select: none;
}
#overlay-button span {
  height: 4px;
  width: 25px;
  border-radius: 2px;
  background-color: #c4c4c4;
  position: relative;
  display: block;
  transition: all .2s ease-in-out;
}
#overlay-button span:before {
  top: -10px;
  visibility: visible;
}
#overlay-button span:after {
  top: 10px;
}
#overlay-button span:before, #overlay-button span:after {
  height: 4px;
  width: 25px;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  content: "";
  transition: all .2s ease-in-out;
  background:#c4c4c4;
}
#overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
  background: #c4c4c4;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ #overlay-button { 
   position:fixed; 
}
input[type=checkbox]:checked ~ body
{
    display:none !important;
}
input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
   overflow-y:hidden !important;
}

input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
  background: transparent;
}
input[type=checkbox]:checked ~ #overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}
input[type=checkbox]:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}

#overlay {
    top:0;
    left:0;
  height: 100vh;
  width: 100vw;
  background: #F06C00;
  z-index: 999;
  visibility: hidden;
  position: fixed;
}
#overlay.active {
  visibility: visible;
}
#overlay ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  height: 100vh;
  padding-left: 0;
  list-style-type: none;
}
#overlay ul li {
  padding: 2em;
}
#overlay ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
#overlay ul li a:hover {
  color: #c4c4c4;
}
    input[type=checkbox]:checked ~ body
    {
    overflow-y:hidden !important;
    }
.mini_cart_inner.minicart_inner_two 
  {
    margin-top: 15px;
    margin-right:0px !important;
}
#cart-subtotal
{
    display:none;
}
.middle-nav-right
{
  margin-right: 20px;  
} 
.search_box
{
    margin-top:0px;
    }
}
</style>

<input type="checkbox" id="overlay-input" />
<label for="overlay-input" id="overlay-button"><span></span></label>

                                           



  <div id="overlay">
    <ul>
      <li><a href="{{base_url()}}">{{lang('home')}}</a></li>
       <li><a href="{{base_url('product')}}">{{lang('Products')}}</a></li>
       <li><a href="{{base_url('product/categories')}}">{{lang('categories')}}</a></li> 
       <li><a href="{{base_url('information/about-us')}}">{{lang('about_us')}}</a></li>
       <li><a href="{{base_url('contact/')}}">{{lang('contact')}}</a></li>
    </ul>
  </div>

</div>
                                <div class="logo logo_two">
                                    <a href="{{base_url('home')}}"><img src="{{logo}}" alt="{{metaTitle}}"></a>
                                </div>
                                <div class=" text-center">
                                  <a href="https://apps.apple.com/us/app/id1536025333" target="_blank"><img src="https://www.whtestserver.com/mowneh/image/appstore.png" alt="Download from AppStore"></a>
                                  <a href="https://play.google.com/store/apps/details?id=com.wildherbs.mowneh" target="_blank"><img src="https://www.whtestserver.com/mowneh/image/playstore.png" alt="Download from PlayStore"></a>
                                </div>
                                <div class="middle-nav-right">
                                    <div class="mini__cart minicart_two">
                                        <div class="mini_cart_inner minicart_inner_two">
                                            <div class="cart_icon">
                                                <a href="#">
                                                    <span class="cart_icon_inner">
                                                        <i class="ion-android-cart"></i>
                                                        <span id="cart-count" class="cart_count">{{cartItemCount}}</span>                                                                
                                                    </span>
                                                    <span id="cart-subtotal" class="item_total">{{total}}</span>
                                                </a>
                                            </div>
                                            <div id="dynamic-cart" class="mini_cart_box cart_box_two mini_cart_two">
                                                {{ cartView|raw }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header class="header header_bottm bottom_two sticky-header pos-rel">
            <div class="container ">
                <div class="row">
                    <div class="col-12 col-lg-9 text-left" style="position: unset;">
                        {#NAVBAR#}
                        <div class=" navbar navbar-expand-md" style="position: unset;">
                            <div class="row">
                                <div class="container">
                                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
                                    <div class="navbar-collapse collapse">
                                        {#<ul class="nav navbar-nav">
                                            <li class="nav-item"><a href="#" class="nav-link">Home</a>
                                            </li>
                                            <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Categories </a>
                                                <ul class="dropdown-menu megamenu">
                                                    <div class="row">
                                                        <li class="col-md-3 dropdown-item">
                                                            <ul>
                                                                <li><a href="#">Available glyphs</a>
                                                                </li>
                                                                {%for cat in nav_category%}
                                                                    <li><a href="#">{{cat.name}}</a></li>
                                                                    {%endfor%}
                                                            </ul>
                                                        </li>
                                                    </div>
                                                </ul>
                                            </li>
                                            <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Products</a>
                                                <ul class="dropdown-menu megamenu">
                                                    <li class="dropdown-item">
                                                        <div class="row">
                                                            {%for pro in nav_products%}
                                                                <div class="col-md-6 col-lg-3 text-center">
                                                                    <div class="card">
                                                                        <a href="#" class="thumbnail">
                                                                            <img src="{{pro.image}}">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            {%endfor%}
    
    
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" href="#" >About </a></li>
                                            <li class="nav-item"><a class="nav-link" href="#" >Contact </a></li>
                                        </ul>#}
                                        <style>
                                            /* page style */	
                                            .brand { padding: 10px 40px !important; }
                                            /* MEGA MENU STYLE
                                            ********************************/ 
                                            .mega-menu {
                                                padding: 0px 0px ! important;
                                                width: 100%;
                                                border-radius: 0;
                                                margin-top: 0px;
                                                z-index: 999;
                                                top:100%;
                                                background: transparent;
                                            }
                                            .mega-menu .nav-header {
                                                padding: 0 !important;
                                                margin-bottom: 10px;
                                                display: inline-block;
                                                width: 100%;
                                                border-bottom: 1px solid #ddd;
                                            }
                                            .mega-menu img { padding-bottom: 10px;}
                                            .dropdown, .dropup {position: unset;}
                                            
                                            /* Hover style
                                            ********************************/ 
                                            .navbar .nav > li > a, .mega-menu a
                                            { 
                                                -webkit-transition: all 200ms ease;
                                                -moz-transition: all 200ms ease;
                                                -ms-transition: all 200ms ease;
                                                -o-transition: all 200ms ease;
                                                transition: all 200ms ease; 

                                                /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/ 
                                                -webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */
                                                -webkit-transform: translateZ(0);
                                            }	
                                            @media only screen and (min-width: 768px)  {
                                                .navbar{
                                                    padding: 0; 
                                                }
                                            }
                                            .navbar .nav > li > a{
                                                padding: 1rem 1rem;
                                                font-size: 16px;
                                                display: block;
                                            }
                                            .navbar .nav > li:first-child a{
                                                padding-left: 0;
                                            }
                                            .pos-rel{
                                                position: relative;
                                            }
                                            .menu_wrap{
                                                background: #fff;
                                                padding: 10px 0;
                                                -webkit-box-shadow: -1px 3px 6px -2px rgba(0,0,0,0.75);
                                                -moz-box-shadow: -1px 3px 6px -2px rgba(0,0,0,0.75);
                                                box-shadow: -1px 3px 6px -2px rgba(0,0,0,0.75);
                                            }
                                            .menu_wrap ul li a{
                                                color: #333;
                                                display: block;
                                                font-family: MaryAnn,Arial,sans-serif;
                                                font-size: .83em;
                                                line-height: 1.5;
                                                padding: 9px 20px 9px;
                                                position: relative;
                                                text-decoration: none;
                                            }
                                            .menu_wrap ul li a:active, .menu_wrap ul li a.active, .menu_wrap ul li a:focus, .menu_wrap ul li a:hover {
                                                background: #eaeaea;
                                                box-sizing: border-box;
                                                font-weight: 800;
                                                text-decoration: underline;
                                                border-radius: 0!important;
                                            }
                                            .megaNavLevelOne {
                                                display: inline-block;
                                            }
                                            .megaNavList {
                                                border-right: 2px solid #eaeaea;
                                                box-sizing: border-box;
                                                height: 100%;
                                                padding: 0;
                                                vertical-align: top;
                                                width: 225px;
                                            }
                                            @media (min-width: 768px){
                                                .megaNavList {
                                                    width: 25%;
                                                }
                                            }
                                            @media (min-width: 1024px){
                                                .megaNavList {
                                                    width: 225px;
                                                }
                                            }
                                            .showListContainer {
                                                transition: opacity .5s ease;
                                                opacity: 1;
                                                display: inline-block;
                                            }
                                            .megaNavListEspotContainer {
                                                border-right: 0;
                                            }
                                            .megaNavLevelFour {
                                                border-right: 0;
                                            }
                                            .menu_wrap ul li a i{
                                                float: right;
                                                font-size: 1.4em;
                                                line-height: 1.1;
                                            }
                                        </style>
                                        <ul class="nav">
                                            <li><a href="{{base_url()}}">{{lang('home')}}</a></li>
                                            <li><a href="{{base_url('product')}}">{{lang('Products')}}</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{lang('categories')}} <b class="caret"></b></a>                      
                                                <ul class="dropdown-menu mega-menu">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-sm-12" style="padding:0">
                                                                <div class="menu_wrap">
                                                                    <ul class="megaNavList megaNavLevelOne">
                                                                        {% for mainCategory in categoryTree %}
                                                                            <li>
                                                                                <a href="{{base_url('product/')}}{{mainCategory.pageKey}}" data-itemid="{{mainCategory.categoryID}}" data-level="{{mainCategory.levelNumber}}">
                                                                                    {{mainCategory.name}}
                                                                                    {% if mainCategory.child is defined %}
                                                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                                                    {% endif %}
                                                                                </a>
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                    <ul class="megaNavList megaNavLevelTwo showListContainer">

                                                                    </ul>
                                                                    <ul class="megaNavList megaNavLevelThree megaNavListEspotContainer showListContainer">

                                                                    </ul>
                                                                    <ul class="megaNavList megaNavLevelFour showListContainer">

                                                                    </ul>
                                                                   
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ul><!-- dropdown-menu -->
                                            </li><!-- /.dropdown -->
                                            <li><a href="{{base_url('information/about-us')}}">{{lang('about_us')}}</a></li>
                                            <li><a href="{{base_url('contact/')}}">{{lang('contact')}}</a></li>                         
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-12 col-lg-3 search_box search_box_two" style="padding: 10px 15px;">
                        <div class="search_inner search_two">
                            <form action="{{base_url('search')}}" method="post">
                                <input type="text" placeholder="{{lang('serach_our_catalog')}}" name="search" required>
                                <button type="submit"><i class="ion-ios-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <script>
            // Dropdown Menu Fade    
            var menuTree = {{categoryTree|json_encode|raw}};
                    //menuTree = JSON.parse(menuTree);
                    //JSON.parse(menuTree)
                    jQuery(document).ready(function () {
                $(".dropdown").hover(
                        function () {
                            $('.dropdown-menu', this).fadeIn("fast");
                        },
                        function () {
                            $('.dropdown-menu', this).fadeOut("fast");
                        }
                );

                $(document).on('mouseover', '.menu_wrap li a', function (e) {
                    //$(".menu_wrap li a").on({mouseover:function () {
                    var itemID = $(this).data('itemid');
                    var level = $(this).data('level');
                    console.log(level);
                    if (level == 0) {
                        $('.megaNavLevelOne li a').removeClass('active');
                        $(this).addClass('active');
                        var categoryInfo = menuTree[itemID];
                        if ('child' in categoryInfo) {
                            var categoryChild = categoryInfo.child;
                            var html = '';
                            $.each(categoryChild, function (key, value) {
                                var href = baseURL + 'product/' + value.pageKey;
                                if ('child' in value) {
                                    html += '<li><a href="'+href+'" data-itemid="' + value.categoryID + '" data-level="' + value.levelNumber + '" data-levellist="' + value.levelList + '">' + value.name + '<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>';
                                } else {
                                    html += '<li><a href="'+href+'" data-itemid="' + value.categoryID + '" data-level="' + value.levelNumber + '" data-levellist="' + value.levelList + '">' + value.name + '</a></li>';
                                }
                            });
                        } else {
                            html = '';
                        }
                        $('.megaNavLevelTwo').html(html);
                        $('.megaNavLevelThree').html('');
                    } else if (level == 1) {
                        $('.megaNavLevelTwo li a').removeClass('active');
                        $(this).addClass('active');
                        var levelList = $(this).data('levellist');
                        var parentList = levelList.split(",");
                        var categoryInfo = menuTree[parentList[0]]['child'][itemID];
                        if ('child' in categoryInfo) {
                            var categoryChild = categoryInfo.child;
                            var html = '';
                            $.each(categoryChild, function (key, value) {
                                var href = baseURL + 'product/' + value.pageKey;
                                html += '<li><a href="'+href+'" data-itemid="' + value.categoryID + '" data-level="' + value.levelNumber + '" data-levellist="' + value.levelList + '">' + value.name + '</a></li>';
                            });
                        } else {
                            html = '';
                        }
                        $('.megaNavLevelThree').html(html);
                    }
                });
            });
        </script>
