<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon============================================ -->
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        <!-- Google Fonts============================================ -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
        <!-- Bootstrap CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/bootstrap.min.css">
        <!-- Bootstrap CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/font-awesome.min.css">
        <!-- owl.carousel CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/owl.carousel.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/owl.theme.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/owl.transitions.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/summernote/summernote.css">
        <!-- animate CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/animate.css">
        <!-- normalize CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/normalize.css">
        <!-- meanmenu icon CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/meanmenu.min.css">
        <!-- main CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/main.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/dropzone/dropzone.css">
        <!-- educate icon CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/{{base_url()}}public/manage/css/educate-custon-icon.css">
        <!-- morrisjs CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/morris{{base_url()}}public/manage/js/morris.css">
        <!-- mCustomScrollbar CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/scrollbar/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
        <!-- metisMenu CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/metisMenu/metisMenu.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/metisMenu/metisMenu-vertical.css">
        <!-- calendar CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/calendar/fullcalendar.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/calendar/fullcalendar.print.min.css">
        <!-- forms CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/form/all-type-forms.css">
        <!-- style CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/style.css">
        <!-- responsive CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/responsive.css">
        <!-- modernizr JS ============================================ -->
        <script src="{{base_url()}}public/manage/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="bg-gradient">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
       <![endif]-->
        <div class="error-pagewrap">
            <div class="error-page-int">
                <div class="text-center m-b-md custom-login">
                    <h3>Reset Password</h3>
                </div>
            

                <div class="content-error">
                    <div class="hpanel">
                        <div class="panel-body">
                            <h3>Reset Password</h3>
                            {{ message }}
                            {{ errors | raw }}

                            <form id="loginform"  method="post">
                                <div class="form-group">
                                    <label class="control-label" for="username">Otp</label>
                                    <input type="text" placeholder="Please enter your email" name="userName" id="userName" class="form-control">

                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="password">Password</label>
                                    <input type="password" title="Please enter your password" placeholder="Please enter you password" name="password" id="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="password">Confirm Password</label>
                                    <input type="password" title="Please reenter your password" placeholder="Please enter you password" name="password" id="conPassword" class="form-control">
                                </div>
                                <!-- Google reCAPTCHA box -->
                                <div class="g-recaptcha" data-sitekey="Your_reCAPTCHA_Site_Key"></div>
                                <!-- reCAPTCHA end -->

                                <button class="btn btn-success btn-block loginbtn">Login</button>

                            </form>
                            {{ otpMessage }}
                        </div>
                    </div>
                </div>
            </div>   
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>                   
        <script>
                                        function checkEmail() {
                                            $.ajax({
                                                type: "POST",
                                                url: 'checkemail',
                                                data: {data: 'test'},
                                                success: function (response)
                                                {
                                                    alert(response);
                                                }
                                            });
                                        }

        </script>  
        <!-- jquery============================================ -->
        <script src="{{base_url()}}public/manage/js/vendor/jquery-1.12.4.min.js"></script>
        <!-- bootstrap JS============================================ -->
        <script src="{{base_url()}}public/manage/js/bootstrap.min.js"></script>
        <!-- wow JS============================================ -->
        <script src="{{base_url()}}public/manage/js/wow.min.js"></script>
        <!-- price-slider JS ============================================ -->
        <script src="{{base_url()}}public/manage/js/jquery-price-slider.js"></script>
        <!-- meanmenu JS============================================ -->
        <script src="{{base_url()}}public/manage/js/jquery.meanmenu.js"></script>
        <!-- owl.carousel JS============================================ -->
        <script src="{{base_url()}}public/manage/js/owl.carousel.min.js"></script>
        <!-- sticky JS============================================ -->
        <script src="{{base_url()}}public/manage/js/jquery.sticky.js"></script>
        <!-- scrollUp JS ============================================ -->
        <script src="{{base_url()}}public/manage/js/jquery.scrollUp.min.js"></script>
        <!-- mCustomScrollbar JS============================================ -->
        <script src="{{base_url()}}public/manage/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="{{base_url()}}public/manage/js/scrollbar/mCustomScrollbar-active.js"></script>
        <!-- metisMenu JS============================================ -->
        <script src="{{base_url()}}public/manage/js/metisMenu/metisMenu.min.js"></script>
        <script src="{{base_url()}}public/manage/js/metisMenu/metisMenu-active.js"></script>
        <!-- morrisjs JS============================================ -->
        <script src="{{base_url()}}public/manage/js/sparkline/jquery.sparkline.min.js"></script>
        <script src="{{base_url()}}public/manage/js/sparkline/jquery.charts-sparkline.js"></script>
        <!-- calendar JS============================================ -->
        <script src="{{base_url()}}public/manage/js/calendar/moment.min.js"></script>
        <script src="{{base_url()}}public/manage/js/calendar/fullcalendar.min.js"></script>
        <script src="{{base_url()}}public/manage/js/calendar/fullcalendar-active.js"></script>
        <!-- form validate JS ============================================ -->
        <script src="{{base_url()}}public/manage/js/form-validation/jquery.form.min.js"></script>
        <script src="{{base_url()}}public/manage/js/form-validation/jquery.validate.min.js"></script>
        <script src="{{base_url()}}public/manage/js/form-validation/form-active.js"></script>
        <!-- tab JS ============================================ -->
        <script src="{{base_url()}}public/manage/js/tab.js"></script>
        <!-- plugins JS ============================================ -->
        <script src="{{base_url()}}public/manage/js/plugins.js"></script>
        <!-- main JS ============================================ -->
        <script src="{{base_url()}}public/manage/js/main.js"></script>
    </body>
</html>