 <div class="product-status mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!--CONTENT AREA-->
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="sparkline12-list">
                                        <div class="sparkline12-hd">
                                            <div class="main-sparkline12-hd">
                                                {#<h1>Add New Warehouse</h1>#}
                                                {% if success %} <div class="alert alert-success">{{ success }} </div> {% endif %}
                                                {% if failMessage %} <div class="alert alert-danger alert-mg-b">{{ failMessage }}</div>{% endif %}
                                            </div>
                                        </div>
                                        <div class="sparkline12-graph">
                                            <div class="basic-login-form-ad">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="all-form-element-inner"> 
                                                            {% if message %} <div class="alert alert-success">{{ message }}</div> {% endif %}
                                                            {% if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                                                            <form id="warehouseAdd"  method="post" enctype="multipart/form-data">
                                                                <input type="hidden" name="warehouseID" value="{{ content.warehouseID }}"/>
                                                                <div class="form-group-inner{% if form_error('name')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Name</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" name="name" id="name" {% if set_value('name') %} value="{{set_value('name')}}" {% else %} value="{{content.name}}" {% endif %}  class="form-control">
                                                                            {{form_error('name', '<div class="error">', '</div>')}}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!--Address Line -1-->     
                                                                <div class="form-group-inner{% if form_error('addressLine1')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Address Line 1</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" name="addressLine1" id="addressLine1" {% if set_value('addressLine1') %} value="{{set_value('addressLine1')}}" {% else %} value="{{content.addressLine1}}" {% endif %}  class="form-control">
                                                                            {{form_error('addressLine1', '<div class="error">', '</div>')}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--Address Line -2-->     
                                                                <div class="form-group-inner{% if form_error('addressLine2')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Address Line 2</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" name="addressLine2" id="addressLine2" {% if set_value('addressLine2') %} value="{{set_value('addressLine2')}}" {% else %} value="{{content.addressLine2}}" {% endif %}  class="form-control">
                                                                            {{form_error('addressLine2', '<div class="error">', '</div>')}}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!--city-->     
                                                                <div class="form-group-inner{% if form_error('city')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">City</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                            <div class="form-select-list"> 
                                                                                <select  name="stateID" id="stateID" data-placeholder="Choose filters" class="form-control custom-select-value" tabindex="-1">
                                                                                    <option value="">Select</option>
                                                                                    {% for state in stateList %}
                                                                                        <option value="{{state.stateID}}" {% if set_value('stateID') == state.stateID %} selected {% elseif content.stateID == state.stateID %} selected {% endif %}>{{state.name}}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                                {{form_error('stateID', '<div class="error">', '</div>')}}

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--Country-->     
                                                                <div class="form-group-inner{% if form_error('country')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Country</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                                            <div class="form-select-list"> 
                                                                                <select  name="countryID" id="countryID" data-placeholder="Choose filters" class="form-control custom-select-value" tabindex="-1">
                                                                                    <option value="">Select</option>
                                                                                    {% for country in countryList %}
                                                                                        <option value="{{country.countryID}}" {% if set_value('countryID') == country.countryID %} selected {% elseif content.countryID == country.countryID %} selected {% endif %}>{{country.name}}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                                {{form_error('stateID', '<div class="error">', '</div>')}}

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!--postCode-->     
                                                                <div class="form-group-inner{% if form_error('postCode')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Post Code</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" name="postCode" id="postCode" {% if set_value('postCode') %} value="{{set_value('postCode')}}" {% else %} value="{{content.postCode}}" {% endif %}  class="form-control">
                                                                            {{form_error('postCode', '<div class="error">', '</div>')}}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!--longitude-->     
                                                                <div class="form-group-inner{% if form_error('longitude')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Longitude</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" name="longitude" id="longitude" {% if set_value('longitude') %} value="{{set_value('longitude')}}" {% else %} value="{{content.longitude}}" {% endif %}  class="form-control">
                                                                            {{form_error('longitude', '<div class="error">', '</div>')}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--	latitude-->     
                                                                <div class="form-group-inner{% if form_error('latitude')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Latitude</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" name="latitude" id="latitude" {% if set_value('longitude') %} value="{{set_value('latitude')}}" {% else %} value="{{content.latitude}}" {% endif %}  class="form-control">
                                                                            {{form_error('latitude', '<div class="error">', '</div>')}}
                                                                        </div>
                                                                    </div>
                                                                </div> 


                                                                <!--status-->
                                                                <div class="form-group-inner">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Status</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                                            <div class="form-select-list">
                                                                                <select class="form-control custom-select-value" name="status" id="status">
                                                                                    <option value="Active" {% if set_value('status') == 'Active' %} selected {% elseif content.status == 'Active' %} selected {% endif %}>Active</option>
                                                                                    <option value="Inactive" {% if set_value('status') == 'Inactive' %} selected {% elseif content.status == 'Inactive' %} selected {% endif %}>Inactive</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group-inner">
                                                                    <div class="login-btn-inner">
                                                                        <div class="row">
                                                                            <div class="col-lg-3"></div>
                                                                            <div class="col-lg-9">
                                                                                <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                                    <a href="{{base_url()}}manage/Warehouse/" class="btn btn-white" >Cancel</a>
                                                                                    <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--END OF CONTENT AREA-->
                        </div>
                    </div>
                </div>
            </div>
           