<!--breadcrumb area start-->
<style> 

.right { 
  position: absolute;
    right: 0;
}
.list-group-item
{
    padding: 1rem 0;
}
</style>
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="#">Home</a> ></li> 
                        <li>Categories</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->

<!--contact area css satrt-->
<div class="main-content-area " style="padding:20px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mob-cat">
              {# <ul class="list-group list-group-flush pmd-card-list ">
	<li class="list-group-item">Category 1<i class="fa fa-angle-right right"></i></li>
    <li class="list-group-item">Category 1<i class="fa fa-angle-right right"></i></li>
    <li class="list-group-item">Category 1<i class="fa fa-angle-right right"></i></li>
    <li class="list-group-item">Category 1<i class="fa fa-angle-right right"></i></li>
    <li class="list-group-item">Category 1<i class="fa fa-angle-right right"></i></li> 
</ul> #}
           {#   <pre>{{dump(categoryTree)}}</pre>#}
                                                                    <ul class="list-group list-group-flush pmd-card-list ">
                                                                        {% for mainCategory in categoryTree %}
                                                                            
                                                                            <li class="list-group-item">
                                                                                <a href="{{base_url('product/')}}{{mainCategory.pageKey}}" data-itemid="{{mainCategory.categoryID}}" data-level="{{mainCategory.levelNumber}}">
                                                                                    {{mainCategory.name}}
                                                                                    {% if mainCategory.child is defined %}
                                                                                        <a href="{{base_url('product/categories/')}}{{mainCategory.pageKey}}" data-itemid="{{mainCategory.categoryID}}" data-level="{{mainCategory.levelNumber}}">
                                                                                            <i class="fa fa-angle-right right"></i></a>
                                                                                        </a>
                                                                                    {% endif %}
                                                                                
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
        </div>    
    </div>   
</div> 

