<div class="col-md-12">
    <div class="shop_sidebar">
        <div class="search_filters_wrapper">
            <div class="price_filter widget">
                <div class="widget_title">
                    <h3>{{lang('filter_by_price')}}</h3>
                </div>
                <div class="search_filters widget">
                    <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 15%; width: 45%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 15%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 60%;"></span></div>
                    <input type="text" name="text" id="amount">    
                </div>
            </div>
            
            <div class="size_clearfix widget  mb-30">
                <div class="widget_title">
                    <h3>{{lang('options')}}</h3>
                </div>
                <ul>
                    <li>
                        <input id="facet_size" type="checkbox">
                        <label for="facet_size">{{lang('favourites')}}</label>
                    </li>

                    <li>
                         <input id="facet_size_one" type="checkbox">
                        <label for="facet_size_one">{{lang('new')}}</label>
                    </li>
                    <li>
                        <input id="facet_size_two" type="checkbox">
                        <label for="facet_size_two">{{lang('offers')}}</label>
                    </li>
                </ul>    
            </div>
            <div class="color_clearfix widget mb-30">
                <div class="widget_title">
                    <h3>Brands</h3>
                </div>
                <ul>
                     <li>
                        <input id="balck" checked="checked" class="input_color" name="color1" type="radio"> 
                        <label for="balck" class="color_btns"></label> 
                        <a href="#"> Beige(5)</a>
                    </li>
                    <li>
                        <input id="White" checked="checked" class="input_color" name="color1" type="radio"> 
                        <label for="White" class="color_btns1"></label> 
                        <a href="#"> White(7)</a>
                    </li>

                   <li>
                        <input id="Red" checked="checked" class="input_color" name="color1" type="radio"> 
                        <label for="Red" class="color_btns2"></label> 
                        <a href="#"> Red(6)</a>
                    </li>
                    <li>
                        <input id="gray" checked="checked" class="input_color" name="color1" type="radio"> 
                        <label for="gray" class="color_btns3"></label> 
                        <a href="#"> gray(4)</a>
                    </li>
                   <li>
                        <input id="Orange" checked="checked" class="input_color" name="color1" type="radio"> 
                        <label for="Orange" class="color_btns4"></label> 
                        <a href="#">Orange(3)</a>
                    </li>
                   <li>
                        <input id="Blue" checked="checked" class="input_color" name="color1" type="radio"> 
                        <label for="Blue" class="color_btns6"></label> 
                        <a href="#"> Blue(8)</a>
                    </li>
                    <li>
                        <input id="yellow" checked="checked" class="input_color" name="color1" type="radio"> 
                        <label for="yellow" class="color_btns7"></label> 
                        <a href="#"> yellow(2)</a>
                    </li>
                </ul>    
            </div> 
            <div class="Compositions widget mb-30">
                <div class="widget_title">
                    <h3>Type</h3>
                </div>
                <ul>
                   <li>
                        <input type="checkbox" id="com1"> 
                        <label for="com1">Cotton(6)</label>
                   </li>
                    <li>
                        <input type="checkbox" id="com2"> 
                        <label for="com2">Polyester(4)</label>
                   </li>
                    <li>
                        <input type="checkbox" id="com3"> 
                        <label for="com3">Viscose(4)</label>
                   </li>
                </ul>

            </div>
            <div class="Compositions widget mb-30">
               <div class="widget_title">
                    <h3>Size</h3>
                </div>
               <ul>
                    <li>
                        <input type="checkbox" id="st1"> 
                        <label for="st1">Casual(6)</label>
                   </li>
                    <li>
                        <input type="checkbox" id="st2"> 
                        <label for="st2">Dressy(2)</label>
                   </li>
                    <li>
                        <input type="checkbox" id="st3"> 
                        <label for="st3">Girly(4)</label>
                   </li>

               </ul>

            </div>
            <div class="Compositions widget mb-30">
                <div class="widget_title">
                    <h3>Properties</h3>
                </div>
                <ul>
                   <li>
                        <input type="checkbox" id="pro1"> 
                        <label for="pro1"> Colorful Dress(6)</label>
                   </li>
                    <li>
                        <input type="checkbox" id="pro2"> 
                        <label for="pro2"> Maxi Dress(2)</label>
                   </li>
                    <li>
                        <input type="checkbox" id="pro3"> 
                        <label for="pro3">Midi Dress(4)</label>
                   </li>
                    <li>
                        <input type="checkbox" id="pro4"> 
                        <label for="pro4">Short Dress(7)</label>
                   </li>
                    <li>
                        <input type="checkbox" id="pro5"> 
                        <label for="pro5">Short Sleeve(4)</label>
                   </li>

                </ul>

            </div>      
        </div>
    </div>
</div>
<div class="col-md-12 responsive-filter">
    <form action="#">
        <input class="filter-apply" type="submit" value="Apply">
        <input class="filter-cancel" type="submit" value="Cancel">
    </form>
</div>