 <div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li>
                            <a href="{{base_url()}}home/">{{ lang('home') }} ></a>
                        </li>
                        {% if categortDetail.parentID > 0%}
                            <li>
                                <a href="{{base_url()}}product/{{ categortDetail.parentPageKey }}">{{ categortDetail.parentName }} ></a>
                            </li>
                        {% endif %}
                        <li>{{categortDetail.name}}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<div class="organic_food_wrapper">        
    <!--- shop_wrapper area  -->
    <div class="shop_wrapper ptb-90">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-8 col-12 shop-list-filter">
                    <div class="shop_sidebar">
                        {#<div class="block_categories">
                            <div class="category_top_menu widget">
                                <div class="widget_title">
                                    <h3>categories</h3>
                                </div>
                                <ul class="shop_toggle">
                                    {% for mainCategory in sidebarCategory %}
                                        <li>
                                            <a href="{{base_url('product/')}}{{mainCategory.pageKey}}">{{mainCategory.categoryName}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>   
                            </div>
                        </div>#}
                        <h3>{{lang('Filter_Your_Items')}}</h3>
                        <div class="search_filters_wrapper">
                            <div class="price_filter widget">
                                <div class="widget_title">
                                    <h3>{{lang('Price')}} ( in QAR)</h3>
                                </div>
                                <style>
                                    .widget select{
                                        height: 35px;
                                        background: #fff;
                                        border: 2px solid #c7c7c7;
                                    }
                                    .shop_sidebar .widget_title > h3{
                                        margin-bottom: 5px;
                                    }
                                    .ranger{
                                        width: 100%;
                                        height: 10px;
                                        border:1px #ccc solid;
                                        background: #fff;
                                        position: relative;
                                        margin-bottom: 10px;
                                    }
                                    .inside-ranger{
                                        height: 8px;
                                        position: absolute;
                                        top: 0;
                                        background: #F06C01;
                                    }
                                </style>
                                <div class="search_filters widget">
                                    <div class="ranger" id="ranger">
                                        <div class="inside-ranger" style="width:{{rangeWidth}}%;left:{{rangeLeft}}%"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6" style="padding-right:5px;">
                                            <select name="minPrice" id="minPrice" class="range">
                                                <option value="">0</option>
                                                {% for val in priceVal %}
                                                    <option value="{{val}}" {% if startPrice == val%} selected{% endif %}>{{val}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-6" style="padding-left:5px;" >
                                            <select name="maxPrice" id="maxPrice" class="range">
                                                <option value="">500+</option>
                                                {% for val in priceVal %}
                                                    <option value="{{val}}" {% if endPrice == val%} selected{% endif %}>{{val}}{% if priceVal|last == val%}+{% endif %}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    {#<div id="slider-range"></div>
                                    <input type="text" name="text" id="amount" value="{{currency}}"/> #}   
                                </div>
                            </div>

                            <div class="size_clearfix widget  mb-30" id="filterList">
                                <input type="hidden" id="filterVal" value="{{selectedFilter}}"/>
                                {% for key, data in filterArry %}
                                    {% set counter = ( counter | default(0) ) + 1 %}
                                    </br>
                                    <div class="widget_title">
                                        <h3>{{key}}</h3>
                                    </div> 
                                    <span id="filterLess_{{counter}}">
                                        <ul>

                                            {% for filterValue in data|slice(0, 3)%}
                                                <li>
                                                    <input type="checkbox" name="filter" value="{{filterValue.filterID}}" class="filterClick" {% if filterValue.filterID in selectedFilterArray %} checked {% endif %}>
                                                    <label for="filter">{{filterValue.filterName}}</label>
                                                </li>  
                                            {% endfor %}
                                        </ul> 
                                        {% if data|length > 3 %}
                                            <a href="javascript:void(0)" class="moreLess" onclick="showMoreFilter('filterLess_{{counter}}','filterMore_{{counter}}')">More>></a>
                                        {% endif %}
                                        
                                    </span>
                                    <span id="filterMore_{{counter}}" style="display:none">
                                        <ul>

                                            {% for filterValue in data%}
                                                <li>
                                                    <input type="checkbox" name="filter" value="{{filterValue.filterID}}" class="filterClick" {% if filterValue.filterID in selectedFilterArray %} checked {% endif %}>
                                                    <label for="filter">{{filterValue.filterName}}</label>
                                                </li>  
                                            {% endfor %}
                                        </ul> 
                                            <a href="javascript:void(0)" class="moreLess" onclick="showLessFilter('filterLess_{{counter}}','filterMore_{{counter}}')">Less>></a>
                                    </span>
                                        
                                {% endfor %}
                            </div>
                          {#  <div class="size_clearfix widget mb-30" id="brandList">
                                <div class="widget_title">
                                    <h3>{{lang('Brands')}}</h3>
                                </div>
                                <span id="brandLess">
                                    <ul>
                                        {% for data in manufacturerList|slice(0, 3)  %}
                                            <li>
                                                <input type="checkbox" name="manufacturerID" value="{{data.manufacturerID}}" class="filterClick" {% if data.manufacturerID in selectedManufacturerArry %} checked {% endif %}> 
                                                <label for="com1">{{data.manName}}</label>
                                            </li>
                                        {% endfor %} 
                                    </ul>
                                    {% if manufacturerList|length > 3 %}
                                        <a href="javascript:void(0)" class="moreLess" onclick="showMoreFilter('brandLess','brandMore')">More>></a>
                                    {% endif %}
                                </span>
                                <span id="brandMore" style="display:none">
                                    <ul>
                                        {% for data in manufacturerList %}
                                            <li>
                                                <input type="checkbox" name="manufacturerID" value="{{data.manufacturerID}}" class="filterClick" {% if data.manufacturerID in selectedManufacturerArry %} checked {% endif %}> 
                                                <label for="com1">{{data.manName}}</label>
                                            </li>
                                        {% endfor %} 
                                    </ul>
                                    <a href="javascript:void(0)" class="moreLess" onclick="showLessFilter('brandLess','brandMore')">Less>></a>
                                </span>
                            </div>#}
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-12">
                    {% if categortDetail %}
                        <div class="categories_banner">
                            <div class="categories_banner_inner">
                                <img src="{{categortDetail.banner}}" alt=""> 
                                <span class="catTitle"><h3>{{categortDetail.name}}</h3></span>
                            </div>
                            <p>
                                {{categortDetail.description}}
                            </p>
                        </div>
                    {% endif %}
                    <div class="tav_menu_wrapper">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-7 col-sm-6">
                                <div class="tab_menu shop_menu">
                                    <div class="tab_menu_inner">
                                        <ul class="nav" role="tablist">
                                            <li><a  class="active" data-toggle="tab" href="#shop_active" role="tab" aria-controls="shop_active" aria-selected="true"><i class="fa fa-th" aria-hidden="true"></i></a></li>

                                            <li><a data-toggle="tab" href="#featured_active" role="tab" aria-controls="featured_active" aria-selected="false"><i class="fa fa-list" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="tab_menu_right">    
                                        <p>{{ lang('There_Are') }} {{totalProduct}}  {{ lang('Products') }}.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-5 col-sm-6">
                                <div class="Relevance">
                                    <span>{{lang('Sort_By')}}:</span>
                                    <div class="dropdown dropdown-shop">
                                        <select name="drop" id="sortOrder">

                                            {{order}}

                                            <option value="name~ASC" {% if order=='name~ASC' %} selected {% endif %}>{{ lang('Name_A_Z') }}</option>
                                            <option value="name~DESC" {% if order=='name~DESC' %} selected {% endif %}>{{ lang('Name_Z_A') }}</option>
                                            <option value="price~ASC" {% if order=='price~ASC' %} selected {% endif %}>{{ lang('Price_Low_High') }}</option>
                                            <option value="price~DESC" {% if order=='price~DESC' %} selected {% endif %}>{{ lang('Price_High_Low') }}</option>
                                        </select>
                                    </div>
                                    <div class="list-filter">
                                        <a href="{{base_url()}}product/filterProduct/"><b>{{ lang('Filter') }}</b></a>
                                    </div>

                                </div>    
                            </div>    
                        </div>
                    </div>
                                    <div class="shop_pagination">
                                    <div class="row align-items-center">   
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="total_item_shop">
                                                {% if productList|length > 0 %}
                                                    {{ lang('Showing') }}  {{productList|length}} item(s)
                                                    {% else %}
                                                        {{ lang('There_Are_No_Product') }} 
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-6 offset-lg-2 col-md-6 col-sm-6">
                                            <div class="page_list_clearfix text-center">
{#                                                {{links}}#}
                                                {% if links %}<p class="pagination">{{links | raw }}</p> {% endif %}
                                                {#<ul>
                                                    <li class="prev"><a href="#"><i class="zmdi zmdi-chevron-left"></i> Previous</a></li>
                                                    <li><a href="#">1</a></li>
                                                    <li class="current_page"><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li class="next"><a href="#"> Next <i class="zmdi zmdi-chevron-right"></i></a></li>
                                                </ul> #}
                                            </div>         
                                        </div>
                                    </div>          
                                </div>
                                    
                    <div class="tab_product_wrapper">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="shop_active" >
                                <div class="row">
                                    {% for data in productList  %}
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                            {% if data.quantity <= 0%}
                                                <span class="out-of-stock">
                                                    <p>{{lang('outstock')}}</p>
                                                </span>{%endif%}
                                                <div class="single__product">
                                                    <div class="single_product__inner">
                                                        {% if data.new %} <span class="new_badge">{{ lang('new') }}</span> {% endif %}
                                                        {% if data.offPersentage %} <span class="discount_price">{{data.offPersentage|round(2, 'floor')}}%</span>   {% endif %}
                                                        <div class="product_img">
                                                            <a href="{{base_url()}}Product/detail/{{data.pageKey}}">
                                                                <img {% if data.quantity <= 0%} class="out-of-stock-img" {%endif%} src="{{data.image}}" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="product__content text-center">
                                                            <div class="produc_desc_info">
                                                                <div class="product_title">
                                                                    <h4><a href="{{base_url()}}Product/detail/{{data.pageKey}}">{{data.name}}</a></h4>
                                                                </div>
                                                                <div class="product_price">


                                                                    {% if data.productDiscount|length > 0 %}
                                                                        <p><strike>{{data.price}}</strike>  {{data.discountPrice}}</p>   
                                                                        {% else %}
                                                                        <p>{{data.price}}</p>   
                                                                    {% endif %}

                                                                </div>
                                                            </div>
                                                            {#<div class="product-availability">
                                                                <span id="availability">
                                                                    {% if data.quantity > 0%}
                                                                        <i class="zmdi zmdi-check"></i>
                                                                        {{ lang('instock') }}
                                                                    {% else %}
                                                                        <i class="zmdi zmdi-close" style="color:#ff0000;"></i>
                                                                        {{ lang('outstock') }}
                                                                    {% endif %}
                                                                </span>    
                                                            </div> #}
                                                            <div class="product__hover"> 
                                                                <ul>
                                                                    {% if data.quantity > 0%}<li><a href="javascript:void(0);" onclick="cart.add('{{ data.productID }}', '1');"><i class="ion-android-cart"></i></a></li>{%endif%}

                                                                    <li><a {%if data.wishList=='YES' %} class="wishlist-item addtowishlist" {%else%} class="addtowishlist" {%endif%} id="addtowishlist" href="javascript:void(0);" onclick="addWishList({{data.productID}}, this)"><i class="ion-heart"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                            {% endfor %} 

                                            </div>
                                        </div>
                                        {#<pre>{{dump(productList)}}</pre>#}
                                        <div class="tab-pane fade" id="featured_active" role="tabpanel">
                                            {% for data in productList  %}

                                                <div class="tab_product_bottom_wrapper">    
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-5">
                                                            <div class="single_product__inner inner_shop">
                                                                {% if data.new %} <span class="new_badge">{{ lang('new') }}</span> {% endif %}
                                                                {% if data.offPersentage %} <span class="discount_price">{{data.offPersentage|round(2, 'floor')}}%</span>   {% endif %}
                                                                <div class="product_img">
                                                                    {% if data.quantity <= 0%}
                                                                        <span class="out-of-stock">
                                                                            <p>{{lang('outstock')}}</p>
                                                                        </span>
                                                                    {%endif%}
                                                                    <a href="{{base_url()}}Product/detail/{{data.pageKey}}">
                                                                        <ul>
                                                                            <li><a {%if data.wishList=='YES' %} class="wishlist-item addtowishlist" {%else%} class="addtowishlist" {%endif%} id="addtowishlist" href="javascript:void(0);" onclick="addWishList({{data.productID}}, this)"><i class="ion-heart"></i></a></li>
                                                                        </ul>
                                                                        <img {% if data.quantity <= 0%} class="out-of-stock-img" {%endif%} src="{{data.image}}" alt="">
                                                                    </a>
                                                                </div>

                                                            </div> 
                                                        </div> 

                                                        <div class="col-md-9 col-sm-7">
                                                            <div class="product__content text-left">
                                                                <div class="produc_desc_info">
                                                                    <div class="product_title title_shop">
                                                                        <h4><a href="{{base_url()}}Product/detail/{{data.pageKey}}">{{data.name}}</a></h4>
                                                                    </div>
                                                                    <div class="product_price price_shop">

                                                                        {% if data.productDiscount|length > 0 %}
                                                                            <p><strike>{{data.price}}</strike>  {{data.discountPrice}}</p>   
                                                                            {% else %}
                                                                            <p>{{data.price}}</p>   
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="product_content_shop">
                                                                        {{data.description | raw}}
                                                                    </div>
                                                                </div>
                                                                <div class="product-availability">
                                                                    <span id="availability">
                                                                        {% if data.quantity > 0%}
                                                                            <i class="zmdi zmdi-check"></i>
                                                                            {{ lang('instock') }}
                                                                        {% else %}
                                                                            <i class="zmdi zmdi-close" style="color:#ff0000;"></i>
                                                                            {{ lang('outstock') }}
                                                                        {% endif %}
                                                                    </span>    
                                                                </div>
                                                                <div class="product__hover hover_shop">
                                                                    <div class="product_addto_cart">
                                                                        <button type="button" onclick="cart.add('{{ data.productID }}', '1');">{{ lang('AddToCart') }}</button> 
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}   
                                        </div>
                                    </div>  



                                </div>
                                <div class="shop_pagination">
                                    <div class="row align-items-center">   
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="total_item_shop">
                                                {% if productList|length > 0 %}
                                                    {{ lang('Showing') }}  {{productList|length}} item(s)
                                                    {% else %}
                                                        {{ lang('There_Are_No_Product') }} 
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-6 offset-lg-2 col-md-6 col-sm-6">
                                            <div class="page_list_clearfix text-center">
{#                                                {{links}}#}
                                                {% if links %}<p class="pagination">{{links | raw }}</p> {% endif %}
                                                {#<ul>
                                                    <li class="prev"><a href="#"><i class="zmdi zmdi-chevron-left"></i> Previous</a></li>
                                                    <li><a href="#">1</a></li>
                                                    <li class="current_page"><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li class="next"><a href="#"> Next <i class="zmdi zmdi-chevron-right"></i></a></li>
                                                </ul> #}
                                            </div>         
                                        </div>
                                    </div>          
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>   
                <!--- shop_wrapper area end  -->


                <script>
                    function showMoreFilter(showless,showMore){
                        $('#'+showless).hide();
                        $('#'+showMore).show();
                    }
                    function showLessFilter(showless,showMore){
                        $('#'+showless).show();
                        $('#'+showMore).hide();
                    }
                    
                    $("input:checkbox[name=filter]").click(function(e){
                        var filterVal   =   $('#filterVal').val();
                        if($(this).prop("checked") == true){
                            $('#filterVal').val(filterVal+"~"+this.value);
                        }else if($(this).prop("checked") == false){
                            var filterVal   =    filterVal.replace('~'+this.value,'');
                            $('#filterVal').val(filterVal);
                        }
                    });

                                var redirectURL = '{{redirectUrl}}';
                                var baseUrl = '{{base_url()}}';
                                $('.filterClick').click(function () {
                                filterAction();
                                });
                                $('.range').change(function () {
                                filterAction();
                                });
                                function filterAction() {
                                //var idsArr = [];
                                var urlStructure = "";
                                var filterUrl = "";
                                //$('#filterList').find('input[type=checkbox]:checked').each(function (e) {
                                {#$('#filterList').find('input[type=checkbox]:checked').each(function (e) {
                                    if($(this).prop("checked") == true){
                                        alert("checked");
                                    }
                                if (e == 0) {
                                filterUrl += this.name + "=" + this.value;
                                } else {
                                filterUrl += "~" + this.value;
                                }
                                });#}
                                        {#$("input:checkbox[name=filter]:checked").each(function(e){
                                            if (e == 0) {
                                                                       filterUrl += this.name + "=" + this.value;
                                                                       } else {
                                                                       filterUrl += "~" + this.value;
                                                                       }
                                       })#}
                                      var filterVal = $('#filterVal').val();
                                      if(filterVal){
                                          filterUrl =  "filter="+filterVal; 
                                      }
                                var brandUrl = "";
                                $('#brandList').find('input[type=checkbox]:checked').each(function (e) {
                                if (e == 0) {
                                if (filterUrl == '') {
                                brandUrl += this.name + "=" + this.value;
                                } else {
                                brandUrl += "&" + this.name + "=" + this.value;
                                }
                                } else {
                                brandUrl += "~" + this.value;
                                }
                                });
                                var minPrice = $('#minPrice').val();
                                var maxPrice = $('#maxPrice').val();
                                var price = '';
                                if (minPrice != '' || maxPrice != '') {
                                if (minPrice == '') {
                                lowPrice = 0;
                                } else {
                                lowPrice = minPrice;
                                }
                                if (maxPrice == '') {
                                highPrice = 500;
                                } else {
                                highPrice = maxPrice;
                                }
                    {#$.ajax({
                        dataType: 'json',
                        type: "POST",
                        url: '{{base_url()}}Product/priceRange',
                        data: 'minPrice=' + lowPrice + '&maxPrice=' + highPrice ,
                        success: function (data) {
                            $('#ranger').html('<div class="inside-ranger" style="width:'+data["width"]+'%;left:'+data["left"]+'%;"></div>')
                        }
                    });#}
                                    if (filterUrl == '' && brandUrl == '') {
                                    price = 'price=' + lowPrice + '~' + highPrice;
                                    } else {
                                    price = '&price=' + lowPrice + '~' + highPrice;
                                    }
                                    }

                                    urlStructure = redirectURL + '?' + filterUrl + brandUrl + price;
                                    //console.log(urlStructure);
                                    window.location.href = urlStructure;
                                    }

                                    $('#sortOrder').change(function () {

                                    var sortOrder = "";
                                    var order = $('#sortOrder').val();
                                    var pageURL = $(location).attr("href");
                                    var urlStructure = "";
                                    if (window.location.href.indexOf("order") > - 1) {

                                    var params = {}, queries, temp, i, l;
                                    if (window.location.href.indexOf("&") > - 1) {
                                    var queries = pageURL.split("&");
                                    // Convert the array of strings into an object
                                    for (i = 0, l = queries.length; i < l; i++) {
                                    temp = queries[i].split('=');
                                    // params[temp[0]] = temp[1];

                                    if (temp[0] == 'order') {
                                    queries[i] = "order=" + order;
                                    }
                                    }
                                    urlStructure = queries.join("&");
                                    } else {
                                    var queries = pageURL.split("?");
                                    // Convert the array of strings into an object
                                    for (i = 0, l = queries.length; i < l; i++) {
                                    temp = queries[i].split('=');
                                    // params[temp[0]] = temp[1];

                                    if (temp[0] == 'order') {
                                    queries[i] = "order=" + order;
                                    }
                                    }
                                    urlStructure = queries.join("?");
                                    }

                                    } else {
                                    if (window.location.href.indexOf("?") > - 1) {
                                    urlStructure = pageURL + "&order=" + order;
                                    } else {
                                    urlStructure = pageURL + "?order=" + order;
                                    }
                                    }
                                    window.location.href = urlStructure;
                                    });
                                    //wishlist add



                                    //wishlist add End

                </script>

                <script type="text/javascript">

                    {#$('.wishlist-item').click(function{
                        alert('sadasd');
                    });#}
                        var Added_To_Your_Wishlist                  =   "{{ lang('Added_To_Your_Wishlist')}}";
                        var Wishlist_Added                          =   "{{ lang('Wishlist_Added')}}"; 
                        var Removed_From_Your_Wishlist              =   "{{ lang('Removed_From_Your_Wishlist')}}";
                        var Wishlist_Removed                        =   "{{ lang('Wishlist_Removed')}}";
                        function addWishList(proID, e) {
                        $.ajax({
                        dataType: 'json',
                                type: "POST",
                                url: '{{base_url()}}Product/addtowishlist',
                                data: ({productID: proID}),
                                success: function (data) {
                                console.log(data)
                                        if (data['info'] === 'login') {
                                window.location.href = '{{base_url()}}login';
                                } else if (data['info'] === "inserted") {
                                // SUCCESS MESSAGE FOR INSERTED
                                $(e).addClass('wishlist-item');
                                toastr.success(Added_To_Your_Wishlist, Wishlist_Added);
                                } else {
                                // SUCCESS MESSAGE FOR REMOVED
                                $(e).removeClass('wishlist-item');
                                toastr.warning(Removed_From_Your_Wishlist, Wishlist_Removed);
                                }
                                }
                        });
                        }
                </script>
