
<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li>
                            <a href="{{base_url()}}home">{{ lang('home') }} ></a>
                        </li>
                        <li>{{productDetail.name}}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->
{#<pre>{{dump(productDetail)}}</pre>#}
<!-- primary block area -->
<div class="table_primary_block pt-100">
    <div class="container">   
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
            <input type="hidden" value="{{productDetail.productDiscountQty}}" id="productDiscountQty">
            <input type="hidden" value="{{productDetail.price}}" id="productPrice">
             <input type="hidden" value="{{productDiscount|length}}" id="productDiscountLength">
            <input type="hidden" value="{{productDetail.discountPrice}}" id="discountPrice">
             {% if optionPrice >0 %}
             <input type="hidden" id="optionVal" value="1">
              <input type="hidden" id="optionPrice" value="{{optionPrice}}">
            {% if productDiscount|length > 0 %}
                                
                                <input type="hidden" id="optionDisCountVal" value="{{productDetail.offPersentage}}">
                                  
                            {% else %}
                                <input type="hidden" id="optionDisCountVal" value="0">
                                
                            {% endif %}
                            {% else %}
                                <input type="hidden" id="optionVal" value="0">
                                
                            {% endif %}
                <div class="product-flags">  
                    <div class="tab-content" style="margin-bottom:15px;">
                        <div class="tab-pane fade show active" id="tabone" role="tabpanel" >
                            <div class="product_tab_img">
                                <a href="#">
                                    <ul><li><a class="addtowishlist" id="addtowishlist" href="javascript:void(0);" onclick="addWishList({{productDetail.productID}}, this)"><i class="ion-heart"></i></a></li>
                                    </ul>
                                    <img src="{{productDetail.image.popup}}" alt=""></a>  
                            </div>
                        </div>
                        {% for key,additionalImg in productDetail.additionalImage  %}
                            <div class="tab-pane fade" id="tab{{key}}" role="tabpanel">
                                <div class="product_tab_img">
                                    <a href="#">
                                        <ul><li><a class="addtowishlist" id="addtowishlist" href="javascript:void(0);" onclick="addWishList({{productDetail.productID}}, this)"><i class="ion-heart"></i></a></li></ul>
                                        <img src="{{additionalImg.popup}}" alt=""></a>    
                                </div>
                            </div>
                        {% endfor %} 
                    </div>
                    <div class="products_tab_button">    
                        <ul class="nav product_navactive" role="tablist">
                            <li  class="product_button_one">
                                <a class="nav-link active"  data-toggle="tab" href="#tabone" role="tab" aria-controls="imgeone" aria-selected="false"><img src="{{productDetail.image.thumb}}"  alt=""></a>
                            </li>
                            {% for key,additionalImg in productDetail.additionalImage  %}
                                <li>
                                    <a class="nav-link" data-toggle="tab" href="#tab{{key}}" role="tab" aria-controls="imgethree" aria-selected="false"><img src="{{additionalImg.thumb}}"  alt=""></a>
                                </li>
                            {% endfor %} 
                        </ul>
                    </div>    
                </div>  
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="product__details_content">
                    <div class="demo_product">
                        <h2>{{productDetail.name}}</h2> 
                        <p><strong>{{ lang('item-code') }}</strong> : {{productDetail.model}}</p> 
                    </div>

                    <div class="current_price">
                        {% if optionPrice >0 %}
                            {% if productDiscount|length > 0 %}
                                <input type="hidden" id="optionDisCount" value="{{productDetail.offPersentage}}">
                                <span class="optionPrice"><strike>{{optionPrice}}</strike>  {{productDetail.discountPrice}}</span>  
                                </br><small>*Discount available for {{availableDiscount}} quantity</small> 
                            {% else %}
                                <input type="hidden" id="optionDisCount" value="0">
                                <span class="optionPrice">{{optionPrice}}  </span>
                            {% endif %}
                        {% else %}
                            {% if productDiscount|length > 0 %}
                                <span><strike>{{productDetail.price}}</strike>  {{productDetail.discountPrice}}</span>   
                                </br><small>*Discount available for {{availableDiscount}} quantity</small>
                                    {% else %}
                                <span>{{productDetail.price}}  </span>   
                            {% endif %}
                        {% endif %}

                    </div>
                    <div class="product_information">
                        <div id="product_description_short">
                            <p>{{productDetail.highlights}} </p>    
                        </div>
                        {% if bundleProducts|length > 0 %}
                        <div>
                           
                            <ul class="nav product_navactive more_prdcts" role="tablist">
                           
                            {% for key,bundleProduct in bundleProducts  %}
                                <li>
                                    <a href="{{base_url()}}Product/detail/{{bundleProduct.pageKey}}">
                                    <img src="{{bundleProduct.image}}"  alt=""></br>
                                    {{bundleProduct.name}}  ({{bundleProduct.quantity}})
                                    </a>
                                </li>
                            {% endfor %} 
                            </ul>
                            <style>
                            .more_prdcts li
                            {
                            max-width: 150px;
                            padding: 0px 10px 20px;
                            }
                            </style>
                        </div>
                            {% endif %}
                    
                        {% if productOption|length > 0 %}
                        {% if productOptionDetail|length > 0 %}
                            <div class="product_variants"><div class="demo_product">
                                <h2>Available Options</h2> 
                                <div class="optionError" style="color:red;"></div>
                                </br>
                            </div>
                            {% for quantity in productOptionQuantity%}
                                <input type="hidden" class="optionQuantity" value="{{quantity.quantity}}">
                            {% endfor %}
                            <form id="optionValues" method="post">
                        

                        {% for option in productOption%}
                        <div class="product_variant_list">
                            {% if option.type == 'Select' %}
                                <div class="product_variants_item variants_product">

                                    {% if productOptionDetail|length > 0 %}
                                    <span class="control_label">{{option.name}} {% if option.required == 'Yes' %}*{% endif %}</span>
                                   
                                    {% for detail in productOptionDetail%}
                                    {% if detail.optionID == option.optionID %}
                                    

                                    

                                                  <div class="hiddenValSelect{{option.optionID}}">
                                                        <input type="hidden" id="optionVal{{detail.optionValueID}}" value="{{option.optionID}}">
                                                        <input type="hidden" id="optionValId{{detail.optionValueID}}" value="{{detail.optionValueID}}">
                                                        <input type="hidden" id="productOptionID{{detail.optionValueID}}" {% if detail.optionValueID in productOptionDetailById %}value="{{productOptionId}}{%else%}value="{{detail.productOptionID}}{% endif %}">
                                                        
                                                        </div>
                                                        
                                                         {% endif %}
                                    {% endfor %}
                                    <input type="hidden" id="selectproduct{{option.optionID}}" value="{{option.productID}}">
                                    <select name="{{option.name}}" id="{{option.optionID}}" type="select" class="selctOptionVal hideValSelect{{option.optionID}} {% if option.required == 'Yes' %}optionrequired selectedOption{% else %}optionsValues selctOption{% endif %} selectoption">

                                        {% for detail in productOptionDetail%}
                                        {% if detail.optionID == option.optionID %}
                                            <option {% if detail.quantity == 0 %} disabled {% endif %}  value="{{detail.optionValueID}}">{{detail.name}}</option>
                                            {% endif %}
                                         {% endfor %}
                                    </select> 
                                     {% endif %}   
                                </div>  
                            {% elseif option.type == 'Checkbox' %}  
                                <div class="product_variants_item">
                                {% if productOptionDetail|length > 0 %}
                                    <span class="control_label">{{option.name}} {% if option.required == 'Yes' %}*{% endif %}</span>
                                   {% endif %}
                                    {% if option.showAs == 'Text' %}
                                        <div class="checkboxes">
                                            {% if productOptionDetail|length > 0 %}
                                                {% for detail in productOptionDetail%} 
                                                    {% if detail.optionID == option.optionID %}
                                                    <input type="hidden" id="optionVal{{detail.optionValueID}}" value="{{option.optionID}}">
                                                        <input type="hidden" id="optionValId{{detail.optionValueID}}" value="{{detail.optionValueID}}">
                                                        <input type="hidden" id="productOptionID{{detail.optionValueID}}" value="{{detail.productOptionID}}">

                                                        <label for="{{detail.name}}"><input class="inputcheck {% if option.required == 'Yes' %}optionrequired checkOption{% else %}optionsValues{% endif %} " checked="" type="checkbox" id="{{detail.name}}" /> <span class="" >{{detail.name}}</span></label>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        
                                    {% elseif option.showAs == 'Image' %}
                                        <ul>
                                            {% for detail in productOptionDetail%} 
                                                {% if detail.optionID == option.optionID %}
                                                <li>
                                                    <input type="hidden" id="optionVal{{detail.optionValueID}}" value="{{option.optionID}}">
                                                        <input type="hidden" id="optionValId{{detail.optionValueID}}" value="{{detail.optionValueID}}">
                                                        <input type="hidden" id="productOptionID{{detail.optionValueID}}" value="{{detail.productOptionID}}">
                                                    <input id="{{detail.name}}" {% if detail.quantity == 0 %}disabled {% endif %} class=" {% if detail.quantity == 0 %} disableOption {% endif %} input_color  {% if option.required == 'Yes' %}optionrequired checkOption{% else %}optionsValues{% endif %}" name="color1"  type="checkbox">  
                                                    <label for="{{detail.name}}" class="colo_btn"><img class="" src="{{base_url()}}uploads/options/{{detail.image}}"></label>
                                                </li>

                                                {% endif %}
                                            {% endfor %}
                                            <input type="hidden" id="selectproduct{{option.optionID}}" value="{{option.productID}}">
                                            <select name="{{option.name}}" id="{{option.optionID}}" type="select" class="selctOptionVal hideValSelect{{option.optionID}} {% if option.required == 'Yes' %}optionrequired selectedOption{% else %}optionsValues selctOption{% endif %} selectoption">
                                                {% for detail in productOptionDetail%}
                                                    {% if detail.optionID == option.optionID %}
                                                        <option {% if detail.quantity == 0 %} disabled {% endif %}  value="{{detail.optionValueID}}">{{detail.name}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select> 
                                        {% endif %}   
                                    </div>  
                                    {% elseif option.type == 'Checkbox' %}  
                                        <div class="product_variants_item">
                                            {% if productOptionDetail|length > 0 %}
                                                <span class="control_label">{{option.name}} {% if option.required == 'Yes' %}*{% endif %}</span>
                                            {% endif %}
                                            {% if option.showAs == 'Text' %}
                                                <div class="checkboxes">
                                                    {% if productOptionDetail|length > 0 %}
                                                        {% for detail in productOptionDetail%} 
                                                            {% if detail.optionID == option.optionID %}
                                                            <input type="hidden" id="optionVal{{detail.optionValueID}}" value="{{option.optionID}}">
                                                                <input type="hidden" id="optionValId{{detail.optionValueID}}" value="{{detail.optionValueID}}">
                                                                <input type="hidden" id="productOptionID{{detail.optionValueID}}" value="{{detail.productOptionID}}">

                                                                <label for="{{detail.name}}"><input class="inputcheck {% if option.required == 'Yes' %}optionrequired checkOption{% else %}optionsValues{% endif %} " checked="" type="checkbox" id="{{detail.name}}" /> <span class="" >{{detail.name}}</span></label>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            {% elseif option.showAs == 'Image' %}
                                                <ul>
                                                    {% for detail in productOptionDetail%} 
                                                        {% if detail.optionID == option.optionID %}
                                                        <li>
                                                            <input type="hidden" id="optionVal{{detail.optionValueID}}" value="{{option.optionID}}">
                                                                <input type="hidden" id="optionValId{{detail.optionValueID}}" value="{{detail.optionValueID}}">
                                                                <input type="hidden" id="productOptionID{{detail.optionValueID}}" value="{{detail.productOptionID}}">
                                                            <input id="{{detail.name}}" {% if detail.quantity == 0 %}disabled {% endif %} class=" {% if detail.quantity == 0 %} disableOption {% endif %} input_color  {% if option.required == 'Yes' %}optionrequired checkOption{% else %}optionsValues{% endif %}" name="color1"  type="checkbox">  
                                                            <label for="{{detail.name}}" class="colo_btn"><img class="" src="{{base_url()}}uploads/options/{{detail.image}}"></label>
                                                        </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    {% elseif option.type == 'Radio' %}
                                        <div class="product_variants_item">
                                            {% if productOptionDetail|length > 0 %}
                                                <span class="control_label">{{option.name}} {% if option.required == 'Yes' %}*{% endif %}</span>
                                            {% endif %}
                                            {% if option.showAs == 'Text' %}
                                                <div class="checkboxes radio{{option.optionID}}">
                                                    {% if productOptionDetail|length > 0 %}
                                                    {% set i=0 %}
                                                        {% for detail in productOptionDetail%} 
                                                            {% if detail.optionID == option.optionID %}
                                                                <input type="hidden" id="optionVal{{detail.optionValueID}}" value="{{option.optionID}}">
                                                                <input type="hidden" id="optionValId{{detail.optionValueID}}" value="{{detail.optionValueID}}">
                                                                <input type="hidden" id="productOptionID{{detail.optionValueID}}" {% if detail.optionValueID in productOptionDetailById %}value="{{productOptionId}}{%else%}value="{{detail.productOptionID}}{% endif %}">
                                                                <label for="{{detail.optionValueID}}"><input onclick="optionRadio({{detail.productOptionID}})" {% if detail.quantity == 0 %}disabled{% endif %}  name="{{option.name}}" class="{% if detail.quantity == 0 %} disableOption {% endif %} inputcheck  checkRadio optionRadio{{detail.optionValueID}} {% if option.required == 'Yes' %}optionrequired radioOption{% else %}optionsValues radOption{% endif %}" type="radio" id="{{detail.optionValueID}}"   {% if i==0 %}checked{% endif %}/> <span class="{% if detail.quantity == 0 %} disableOption {% endif %}" >{{detail.name}}</span></label>
                                                                {% set i = i + 1 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            {% elseif option.showAs == 'Image' %}
                                                <style>
                                                    .product_variants_item:last-child {
                                                        margin-left: 0px !important;
                                                        margin-right: 0px !important;
                                                        margin-bottom: 20px !important;
                                                    }
                                                    /* HIDE RADIO FOR IMG */
                                                    .radio-img {
                                                        position: absolute;
                                                        opacity: 0;
                                                        width: 0;
                                                        height: 0;
                                                    }

                                                    /* IMAGE STYLES */
                                                    [type="radio"] + img {
                                                        cursor: pointer;
                                                        max-width: 60px;
                                                    }

                                                    /* RADIO TEXT */
                                                    .radio-text {
                                                        position: relative;
                                                        opacity: 1;
                                                        width: 10px;
                                                        height: 10px;
                                                    }

                                                    /* CHECKED STYLES */
                                                    [type="radio"]:checked + img {
                                                        outline: 2px solid #f06c00;
                                                    }
                                                </style>
                                                <div class="imageradio{{option.optionID}}">
                                                    {% set i=0 %}
                                                    {% for detail in productOptionDetail%} 
                                                        {% if detail.optionID == option.optionID %}
                                                            <label>
                                                            <input type="hidden" id="optionVal{{detail.optionValueID}}" value="{{option.optionID}}">
                                                                <input type="hidden" id="optionValId{{detail.optionValueID}}" value="{{detail.optionValueID}}">
                                                                <input type="hidden" id="productOptionID{{detail.optionValueID}}" value="{{detail.productOptionID}}">
                                                                <input {% if detail.quantity == 0 %}disabled{% endif %} id="{{detail.optionValueID}}" type="radio" name="{{option.name}}" value="small" {% if option.required == 'Yes' %}{% if(i==0) %}checked=""{% endif %}{% endif %} class="radio-img checkRadio input_color optionRadio{{detail.optionValueID}} {% if option.required == 'Yes' %}optionrequired radioOption{% else %}optionsValues radOption{% endif %}" onclick="optionRadio(this,{{option.optionID}},{{detail.optionValueID}},{{option.productID}})"/>
                                                                <img src="{{base_url()}}uploads/options/{{detail.image}}" class="{% if detail.quantity == 0 %} disableOption {% endif %}" />
                                                            </label>
                                                            {% set i = i + 1 %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            </form>
                        {% else %}
                            <input type="hidden" id="noOption" value="1">
                                {% endif %}  
                        {% endif %}  
                           
                              
                            <div class="quickview_plus_minus">
                                {#<span class="control_label">{{productDetail.quantity}}</span>#}
                                <div class="quickview_plus_minus_inner">
                                    <div class="cart-plus-minus">
                                        <input type="text" value="{{productDetail.minimum}}" id="quantityVal" name="qtybutton" class="cart-plus-minus-box">
                                    </div>
                                    <div class="add_button">
                                        {% if productDetail.quantity > 0%}
                                            <button type="button" class="addToCart" onclick="addToCart({{productDetail.productID}})">{{ lang('AddToCart') }}</button>
                                    {%else%}
                                        <button class="btn btn-secondary" style="background: #a2a2a2">{{lang('outstock')}}</button>
                                    {%endif%}
                                    </div>
                                </div>    
                            </div> 
                            {#<div class="product-availability">
                                <span id="availability">
                                    {% if productDetail.quantity > 0%}
                                        <i class="zmdi zmdi-check"></i>
                                        {{ lang('instock') }}
                                    {% else %}
                                        <i class="zmdi zmdi-close" style="color:#ff0000;"></i>
                                        {{ lang('outstock') }}
                                    {% endif %}
                                </span>    
                            </div> #}
                            {#<div class="social-sharing">
                                <span>Share</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                </ul>    
                            </div> #}
                            <style>
                                .block-reassurance ul li{
                                    padding: 10px 30px;
                                    margin-bottom: 0;
                                    width: 50%;
                                    float: left;
                                    position: relative;
                                }
                                .block-reassurance ul li:after{
                                    content: '\f26b';
                                    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
                                    font-size: 20px;
                                    position: absolute;
                                    left: 0;
                                }
                            </style>
                            {% if productDetail.tag!='' %}
                                {% set tags = productDetail.tag|split(',') %}
                                <div class="block-reassurance" style="margin-top:25px;position: relative;">
                                    <h5 style="border-bottom: 1px #ddd solid;padding-bottom: 10px;">{{ lang('Product_Tags') }}</h5>
                                    <ul>
                                        {% for tag in tags %}
                                            <li>
                                                <span>{{tag}}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>    
                                </div>
                            {% endif %}
                        </div>
                    </div>   
                </div>
            </div>   
        </div>
    </div>       
</div>
<!-- primary block end -->

<!-- product page tab -->

<div class="product_page_tab ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_tab_button">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li>
                            <a class=" tav_past active" id="home-tab" data-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">{{ lang('description') }}</a>
                        </li>
                        <li>
                            <a class=" tav_past"  id="profile-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">{{ lang('attribute') }} </a>
                        </li>
                        {#<li>
                             <a class=" tav_past"  id="contact-tab" data-toggle="tab" href="#Reviews" role="tab" aria-controls="Reviews" aria-selected="false">{{ lang('Reviews') }}</a>
                        </li> #}
                    </ul>
                </div>    
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Description" role="tabpanel" >
                        <div class="product-description">
                            {{productDetail.description|raw}}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="details" role="tabpanel">
                        <div class="product-details">
                            {% if productAttribute %}
                                <div class="product-out-of-stock">
                                    {% for key, data in productAttribute %}
                                        <section class="product-features">
                                            <h3>{{key}}</h3>
                                            <dl class="data-sheet">
                                                {% for attributeValue in data%}
                                                    <dt class="name">{{attributeValue.attribute}}</dt>    
                                                    <dd class="value">{{attributeValue.value}}</dd>
                                                {% endfor %}   
                                            </dl>
                                        </section>  
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                     <div class="tab-pane fade" id="Reviews" role="tabpanel">
                         <h3>{{ lang('Account_Det') }}</h3><br>
                         <div class="login">
                                <div class="login-form-container">
                                    <div class="account-login-form">
                                        {% if success %} <div class="alert alert-success">{{ success }}</div> {% endif %}
                                        {% if failed %} <div class="alert alert-danger alert-mg-b">{{ failed }}</div> {% endif %}
                                        <form id="bannerAdd"  method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="customerID" value="{{ content.main.customerID }}"/>
                                        <label>{{ lang('FirstName') }} <span>*</span></label>
                                        <input type="text" name="firstname" id="firstname" {% if set_value('firstname') %} value="{{set_value('firstname')}}" {% else %} value="{{content.main.firstname}}" {% endif %} class="form-control">
                                        {{form_error('firstname', '<div class="error">', '</div>')}}
                                        <label>{{ lang('LastName') }} <span>*</span></label>
                                        <input type="text" name="lastname" id="lastname" {% if set_value('lastname') %} value="{{set_value('lastname')}}" {% else %} value="{{content.main.lastname}}" {% endif %} class="form-control">
                                        {{form_error('lastname', '<div class="error">', '</div>')}}
                                        <label>{{ lang('EmailAddress') }} <span>*</span></label>
                                        {%if content.main.customerID!=''%}
                                        <input type="text" name="email" id="email" {% if set_value('email') %} value="{{set_value('email')}}" {% else %} value="{{content.main.email}}" readonly{% endif %}  class="form-control" >
                                        {%else%}
                                         <input type="text" name="email" id="email" {% if set_value('email') %} value="{{set_value('email')}}" {% else %} value="{{content.main.email}}" {% endif %}  class="form-control" >   
                                         {%endif%}
                                        {{form_error('email', '<div class="error">', '</div>')}}

                                        <label>{{ lang('Phone') }} <span>*</span></label>
                                        <div class="row">
                                            <div class="col-lg-2 col-sm-4 col-md-3">
                                                <input type="text" id="telephone" value="+974" readonly>
                                            </div>
                                            <div class="col-lg-10 col-sm-8 col-md-9">
                                                {%if content.main.customerID!=''%}
                                                <input type="text" name="telephone" id="telephone" {% if set_value('telephone') %} value="{{set_value('telephone')}}" {% else %} value="{{content.main.telephone}}" readonly{% endif %} class="form-control">
                                                {%else%}
                                                    <input type="text" name="telephone" id="telephone" {% if set_value('telephone') %} value="{{set_value('telephone')}}" {% else %} value="{{content.main.telephone}}" {% endif %} class="form-control">
                                                    {%endif%}
                                            </div>
                                        </div>
                                        {{form_error('telephone', '<div class="error">', '</div>')}}
                                        <label>Comments <span>*</span></label>
                                       
                                        <textarea name="comments" id="comments" class="form-control text-editor"> {% if set_value('comments') %}{{set_value('comments')}}{% else %}{{content.detail.comments}}{% endif %}</textarea>
                                        {{form_error('comments', '<div class="error">', '</div>')}}
                                        {#<label>Address <span>*</span></label>
                                        <input placeholder="Street address" type="text">#}<br><br>
                                        <div class="confirm-btn">
                                            <button class="btn btn-sm btn-primary login-submit-cs" type="submit">{{ lang('Save_Change') }}</button> 
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                         {#<div class="product_comments_block_tab">
                             <div class="comment_clearfix">
                                 <div class="comment_author">
                                     <span>Grade </span> 
                                     <div class="star_content clearfix">
                                         <ul>
                                             <li><i class="fa fa-star"></i></li>
                                             <li><i class="fa fa-star"></i></li>
                                             <li><i class="fa fa-star"></i></li>
                                             <li><i class="fa fa-star"></i></li>
                                             <li><i class="fa fa-star"></i></li>
                                         </ul>    
                                     </div> 
 
                                 </div> 
                                 <div class="comment_author_infos">
                                     <strong>posthemes </strong>
                                     <br>
                                     <em>05/08/2018</em>    
                                 </div>
                                 <div class="comment_details">
                                     <h4>Demo</h4>
                                     <p>themes</p>    
                                 </div>
                                 <div class="review">
                                     <p><a href="#">Write your review !</a></p>   
                                 </div>    
                             </div>    
                         </div>#}  
                     </div>
                </div>
            </div>    
        </div>    
    </div>        
</div>
<!-- product page tab end -->

<!--Features product area-->
<div class="features_product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title text-left">
                    <h3> {{ lang('Related_Product') }}</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="related_product_active owl-carousel">
                {% for reletedData in relatedProduct  %}
                    <div class="col-lg-2">
                        <div class="single__product">
                            <div class="single_product__inner">
                                <span class="new_badge">{{ lang('New') }}</span>
                                <div class="product_img">
                                    <a href="{{base_url()}}Product/detail/{{reletedData.pageKey}}">
                                        <img src="{{reletedData.image}}" alt="">
                                    </a>
                                </div>
                                    {% if reletedData.offPersentage %} <span class="discount_price">{{reletedData.offPersentage|round(2, 'floor')}}%</span>   {% endif %}
                                <div class="product__content text-center">
                                    <div class="produc_desc_info">
                                        <div class="product_title">
                                            <h4><a href="{{base_url()}}Product/detail/{{reletedData.pageKey}}">{{reletedData.name}}</a></h4>
                                        </div>
                                        <div class="product_price">
                                            {% if reletedData.productDiscount|length > 0 %}
                                                                        <p><strike>{{reletedData.price}}</strike>  {{reletedData.discountPrice}}</p>   
                                                                        {% else %}
                                                                        <p>{{reletedData.price}}</p>   
                                                                    {% endif %}
                                        </div>
                                    </div>
                                    <div class="product__hover">
                                        <ul>
                                            <li><a href="#" onclick="addToCart({{reletedData.productID}})"><i class="ion-android-cart"></i></a></li>
                                            <li><a class="cart-fore" href="{{base_url()}}Product/detail/{{reletedData.productID}}" title="Quick View" ><i class="ion-android-open"></i></a></li>
                                            <li><a {%if reletedData.wishList=='YES' %} class="wishlist-item addtowishlist" {%else%} class="addtowishlist" {%endif%} id="addtowishlist" href="javascript:void(0);" onclick="addWishList({{reletedData.productID}},this)"><i class="ion-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %} 

            </div>
        </div>
    </div>
</div>
<!--Features product end-->
<style>
.checkboxes label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}
.inputcheck{
    /*height: 0px !important; */
    width:10px !important;
}
.disableOption{
   opacity: .2;
}
</style>
<script>
    function addToCart(productID) {
        var quantity = $('#quantityVal').val();
        $flag=0;$flags=0;$flag2=0;
        var arr = []; var price = [];
        if($('.optionrequired').length != 0){ 
            $('.optionrequired').each(function(ev) {  
                $radioLength = $('.radioOption').length;
               
             if($radioLength != 0){
              if($(this).attr("type") == 'radio'){

                if ($(this).is(":checked")) {
                    $id = $(this).attr('id');
                    arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                    $flag=1;
                }
               
              }
              }else{
              $flag=1;
              }
              $checkLength = $('.checkOption').length;
                  if($checkLength !=0){
              if($(this).attr("type") == 'checkbox'){
              
                if ($(this).is(":checked")) {
                    $id = $(this).attr('id');
                    arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                    $flags=1;
                }
               
              }
              }else{
              $flags=1;
              }
              
              if($('.selectedOption').length !=0){
              if($(this).attr("type") == 'select'){ 
                if ($(this).val() !='') {
                $id = $(this).val();
                   arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                    $flag2=1;
                }
              }
              }else{
              $flag2=1;
              }
              
            });
        }else if($('.optionsValues').length != 0){ 
            $('.optionsValues').each(function(ev) {  
            
                   $radioLength = $('.radOption').length;
                   if($radioLength !=0){
                  if($(this).attr("type") == 'radio'){

                    if ($(this).is(":checked")) {  
                        $id = $(this).attr('id');
                        arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                    }
                    $flag=1;
                  }
                  }else{
                   $flag=1;
                  }
                  
                  $checkLength = $('input:checkbox[class=optionsValues]').length;
                  if($checkLength !=0){
                  if($(this).attr("type") == 'checkbox'){
                  
                    if ($(this).is(":checked")) {
                        $id = $(this).attr('id');
                        price.push($('#price'+$id).val());
                       arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                        
                    }
                    $flags=1;
                  }}
                  else{
                  $flags=1;
                  }
                  
                  if($('.selctOption').length !=0){
                  if($(this).attr("type") == 'select'){ 
                    if ($(this).val() !='') {
                    $id = $(this).val();
                        arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                        
                    }
                    $flag2=1;
                  }
                  }
                  else{
                  $flag2=1;
                  }
                
                  
            });
        }else{
            $flag=1;$flags=1;$flag2=1;
        }
      //alert($flag2);
         //alert(arr);

        if($flag ==1 && $flags == 1 && $flag2 == 1){
              $quantity= $('#quantityVal').val();  $qflag=0;
            $.ajax({
                dataType: 'json',
                type: "POST",
                url: '{{base_url()}}Product/checkQunatity',
                data: ({option: arr,product:productID}),
                success: function (data) {  
                    if(data != 0){
                        if(parseFloat($quantity) <= parseFloat(data)){ 
                                $qflag=1;
                               
                            }
                    }else{
                        $qflag=1;
                    }
                    
                    if($qflag==1){
                        $('.optionError').html('');
                        cart.add(productID, quantity,arr);
                    }else{ 
                        $('.optionError').html('Out of stock!');
                    }
                }

            });

            //
        }else if($('#noOption').val() == 1){
           // cart.add(productID, quantity);
        }else{ 
            $('.optionError').html('Please select mandatory options');
        }
        
    }
    var CartPlusMinus = $('.cart-plus-minus');
    CartPlusMinus.prepend('<div class="dec qtybutton">-</div>');
    CartPlusMinus.append('<div class="inc qtybutton">+</div>');
    $('.qtybutton').on('click', function () {
        var $button = $(this);
        var oldValue = $('#quantityVal').val();
        if ($button.text() === "+") { 
            if(oldValue != ''){
                var newVal = parseFloat(oldValue) + 1;
            }else{
                var newVal = 1;
            }
            
            $flag1=0;$flag2=0;$flag3=0;var arr = [];
            if($('.optionrequired').length != 0){ 
                $('.optionrequired').each(function(ev) {  
                    if($(this).attr("type") == 'radio'){
                        if ($(this).is(":checked")) {
                         $id = $(this).attr('id');
                        arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                            $flag1=1;
                        }
                    }
                    if($(this).attr("type") == 'checkbox'){
                        if ($(this).is(":checked")) {
                         $id = $(this).attr('id');
                        arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                            $flag2=1;
                        }
                    }
                    if($(this).attr("type") == 'select'){ 
                        if ($(this).val() !='') {
                         $id = $(this).val(); 
                        arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                            $flag3=1;
                        }
                    }
                });
                $html = '';
                $quantity= $('#quantityVal').val();
                $discountQty = $('#productDiscountQty').val(); 
                if($discountQty < (parseFloat($quantity)+1)){ 
                    if($('#optionVal').val() >0){
                           
                           
                                $html = '<input type="hidden" id="optionDisCount" value="0"><span class="optionPrice">'+$('#optionPrice').val()+' </span>';
                            
                          
                    }else{ 
                           
                                $html = '<span>'+$('#productPrice').val()+'  </span>';   
                            
                   }
                   $('.current_price').html($html);
                }
            }else if($('.optionsValues').length != 0){ 
                $('.optionsValues').each(function(ev) {  
                    if($(this).attr("type") == 'radio'){
                        if ($(this).is(":checked")) {
                        $id = $(this).attr('id');
                        arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                            $flag1=1;
                        }
                    }
                    if($(this).attr("type") == 'checkbox'){
                        if ($(this).is(":checked")) {
                        $id = $(this).attr('id');
                        arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                            $flag2=1;
                        }
                    }
                    if($(this).attr("type") == 'select'){ 
                        if ($(this).val() !='') {
                        $id = $(this).val(); 
                        arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                            $flag3=1;
                        }
                    }
                });
                $html = '';
                $quantity= $('#quantityVal').val();
                $discountQty = $('#productDiscountQty').val();
                
                if(parseFloat($discountQty) < parseFloat((parseFloat($quantity)+1))){ 
                    if($('#optionVal').val() >0){
                           
                           
                                $html = '<input type="hidden" id="optionDisCount" value="0"><span class="optionPrice">'+$('#optionPrice').val()+' </span>';
                            
                          
                    }else{ 
                           
                                $html = '<span>'+$('#productPrice').val()+'  </span>';   
                            
                   }
                   $('.current_price').html($html);
                }
            }else{
            $html = '';
                $quantity= $('#quantityVal').val();
                $discountQty = $('#productDiscountQty').val();
                if($discountQty < (parseFloat($quantity)+1)){ 
                    if($('#optionVal').val() >0){
                           
                           
                                $html = '<input type="hidden" id="optionDisCount" value="0"><span class="optionPrice">'+$('#optionPrice').val()+' </span>';
                            
                          
                    }else{ 
                           
                                $html = '<span>'+$('#productPrice').val()+'  </span>';   
                            
                   }
                   $('.current_price').html($html);
                }
                 
                
            }
            
            if($flag1==1 || $flag2==1 || $flag3==1){
                $flag=0;
                $.ajax({
                dataType: 'json',
                type: "POST",
                url: '{{base_url()}}Product/checkQunatity',
                data: ({option: arr}),
                success: function (data) { 
                if(data != 0){ 
                    if(newVal > data){
                            $flag=1;
                           
                        }
                }else{
                        $flag=0;
                        }
                if($flag==1){
                    $('.addToCart').prop('disabled', true);
                    $('.optionError').html('Out of stock!');
                }
                }
                
                });
                 
                
            }
        } else {
            // Don't allow decrementing below zero
            if (oldValue > 0) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 1;
            }
            $flag1=0;$flag2=0;$flag3=0;arr = [];
            if($('.optionrequired').length != 0){ 
                $('.optionrequired').each(function(ev) {  
                    if($(this).attr("type") == 'radio'){
                        if ($(this).is(":checked")) {
                        $id = $(this).attr('id');
                        arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                            $flag1=1;
                        }
                    }
                    if($(this).attr("type") == 'checkbox'){
                        if ($(this).is(":checked")) {
                        $id = $(this).attr('id');
                        arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                            $flag2=1;
                        }
                    }
                    if($(this).attr("type") == 'select'){ 
                        if ($(this).val() !='') {
                        $id = $(this).val(); 
                        arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                            $flag3=1;
                        }
                    }
                });
                   $html = '';
                $quantity= $('#quantityVal').val();
                $discountQty = $('#productDiscountQty').val(); 
                if($discountQty >= (parseFloat($quantity)-1)){ 
                    if($('#optionVal').val() >0){
                            
                                $html = '<input type="hidden" id="optionDisCount" value="'+$('#optionDisCountVal').val()+'"><span class="optionPrice"><strike>'+$('#optionPrice').val()+'</strike> '+$('#discountPrice').val()+'</span>';
                            
                          
                    }else{ 
                            
                                $html = '<span><strike>'+$('#productPrice').val()+'</strike>  '+$('#discountPrice').val()+'</span>';   
                                 
                   }
                   $('.current_price').html($html);
                }
            }else if($('.optionsValues').length != 0){ 
                $('.optionsValues').each(function(ev) {  
                    if($(this).attr("type") == 'radio'){
                        if ($(this).is(":checked")) {
                        $id = $(this).attr('id');
                        arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                            $flag1=1;
                        }
                    }
                    if($(this).attr("type") == 'checkbox'){
                        if ($(this).is(":checked")) {
                        $id = $(this).attr('id');
                        arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                            $flag2=1;
                        }
                    }
                    if($(this).attr("type") == 'select'){ 
                        if ($(this).val() !='') {
                        $id = $(this).val(); 
                        arr.push({
                    'optionId' : $('#optionVal'+$id).val(),
                    'optionValueId' : $('#optionValId'+$id).val(),
                    'productOptionID' : $('#productOptionID'+$id).val()
                    });
                            $flag3=1;
                        }
                    }
                });
                   $html = '';
                $quantity= $('#quantityVal').val();
                $discountQty = $('#productDiscountQty').val(); 
                
                if($discountQty >= (parseFloat($quantity)-1)){ 
                    if($('#optionVal').val() >0){
                            
                                $html = '<input type="hidden" id="optionDisCount" value="'+$('#optionDisCountVal').val()+'"><span class="optionPrice"><strike>'+$('#optionPrice').val()+'</strike> '+$('#discountPrice').val()+'</span>';
                            
                          
                    }else{ 
                            
                                $html = '<span><strike>'+$('#productPrice').val()+'</strike>  '+$('#discountPrice').val()+'</span>';   
                                 
                   }
                   $('.current_price').html($html);
                }
            }else{ 
                 $html = '';
                $quantity= $('#quantityVal').val();
                $discountQty = $('#productDiscountQty').val();
                if($discountQty != '' ){  
                    if($discountQty >= (parseFloat($quantity)-1)){ 
                        if($('#optionVal').val() >0){
                                
                                    $html = '<input type="hidden" id="optionDisCount" value="'+$('#optionDisCountVal').val()+'"><span class="optionPrice"><strike>'+$('#optionPrice').val()+'</strike> '+$('#discountPrice').val()+'</span>';
                                
                              
                        }else{ 
                        
                                
                                    $html = '<span><strike>'+$('#productPrice').val()+'</strike>  '+$('#discountPrice').val()+'</span>';   
                                     
                       }
                       $('.current_price').html($html);
                    }
                }
            }
            //alert($flag1);
            if($flag1==1 || $flag2==1 || $flag3==1){
                $flag=0;
                
                $.ajax({
                dataType: 'json',
                type: "POST",
                url: '{{base_url()}}Product/checkQunatity',
                data: ({option: arr}),
                success: function (data) {  
                if(data != 0){
                    if(newVal <= data){
                            $flag=1;
                           
                        }
                }else{
                        $flag=0;
                    }
                if($flag==1){
                $('.addToCart').prop('disabled', false);
                    $('.optionError').html('');
                }
                }
                });
                //alert($flag);
                
            }
        }
        if (newVal < 1) {
            newVal = 1;
        }
        $('#quantityVal').val(newVal);
    });
</script>
<script type="text/javascript">
        
    {#$('.wishlist-item').click(function{
        alert('sadasd');
    });#}
      function addWishList(proID,e) {
            $.ajax({
                dataType: 'json',
                type: "POST",
                url: '{{base_url()}}Product/addtowishlist',
                data: ({productID: proID}),
                success: function (data) {
                    console.log(data)
                    if(data['info'] === 'login'){
                        window.location.href = '{{base_url()}}login';
                    }
                    else if(data['info'] === "inserted"){
                        // SUCCESS MESSAGE FOR INSERTED
                        $(e).addClass('wishlist-item');
                        alert(data['msg']);
                            
                    } else {
                        // SUCCESS MESSAGE FOR REMOVED
                        $( e ).removeClass( 'wishlist-item' );
                        alert(data['msg']);
                    }
                }
            });
        }
        function optionRadio(productOptionId) {
       
                $.ajax({
                dataType: 'json',
                type: "POST",
                url: '{{base_url()}}Product/getProductOptionPrice',
                data: ({productOptionId: productOptionId}),
                success: function (data) { 
                    /*$radiohtml ='';$hiddenValSelect='';$selecthtml ='';$radioImage='';$radioIhtml=''; $optionArr=[];
                    $.each(data, function(k, v) { 
                        $disabled="";
                        $disableClass = "";
                        if(v.quantity == 0){
                        $disabled="disabled";
                        $disableClass = "disableOption";
                        }
                        if(v.type=='Radio'){
                        if(v.required == 'Yes'){
                        $class="optionrequired radioOption "+$disableClass;
                        }else{
                        $class="optionsValues radOption"+$disableClass;
                        }
                        $checked='';
                        if(v.optionValueID==optionVal){
                        $checked="checked";

                        } 
                        if(v.optype == 'no'){
                        $disabled="disabled";
                        $disableClass = "disableOption";
                        }else if(v.optype == 'yes'){
                        if(jQuery.inArray(v.optionValueID, $check) != -1) {
                        $checked="checked";
                        } 
                        }
                        if(v.showAs == 'Text'){

                        $radiohtml ='<input type="hidden" id="optionVal'+v.optionValueID+'" value="'+v.optionID+'"><input  type="hidden" id="optionValId'+v.optionValueID+'" value="'+v.optionValueID+'"><input type="hidden" id="productOptionID'+v.optionValueID+'" value="'+v.productOptionID+'"><label for="'+v.optionValueID+'"><input '+$checked+' onclick="optionRadio(this,'+v.optionID+','+v.optionValueID+','+v.productID+')"  '+$disabled+' name="'+v.optionName+'" class="inputcheck checkRadio optionRadio'+v.optionValueID+' '+$class+'" type="radio" id="'+v.optionValueID+'" /> <span class="'+$disableClass+'" >'+v.name+'</span></label>';
                        }else if(v.showAs == 'Image'){
                        $radioIhtml ='<label><input type="hidden" id="optionVal'+v.optionValueID+'" value="'+v.optionID+'"><input type="hidden" id="optionValId'+v.optionValueID+'" value="{{detail.optionValueID}}"><input  type="hidden" id="productOptionID'+v.optionValueID+'" value="'+v.productOptionID+'"><input '+$disabled+' id="'+v.optionValueID+'" '+$checked+' onclick="optionRadio(this,'+v.optionID+','+v.optionValueID+','+v.productID+')"  class="radio-img input_color checkRadio optionRadio'+v.optionValueID+' '+$class+'"  name="'+v.optionName+'" type="radio"><img class="'+$disableClass+'"  src="{{base_url()}}uploads/options/'+v.image+'"></label>  ';

                        }
                        }


                        if(jQuery.inArray(v.optionID, $optionArr) != -1) {
                        $('.imageradio'+v.optionID).append($radioIhtml);
                        $('.radio'+v.optionID).append($radiohtml);
                        } else {
                        $('.imageradio'+v.optionID).html($radioIhtml);
                        $('.radio'+v.optionID).html($radiohtml);
                        }

                        if(v.type=='Select'){
                        $disabled="";$selected="";
                        if(v.quantity == 0){
                        $disabled="disabled";

                        }
                        $selected='';
                        if(v.optionValueID==optionVal){
                        $selected="selected";

                        } 
                        if(jQuery.inArray(v.optionValueID, $check) != -1) {
                        $selected="selected";
                        } 

                        $hiddenValSelect ='<input type="hidden" id="optionVal'+v.optionValueID+'" value="'+v.optionID+'"><input type="hidden" id="optionValId'+v.optionValueID+'" value="'+v.optionValueID+'"><input type="hidden" id="productOptionID'+v.optionValueID+'" value="'+v.productOptionID+'">';
                        $selecthtml ='<option '+$disabled+' '+$selected+' value="'+v.optionValueID+'">'+v.name+'</option>';
                        }

                        if(jQuery.inArray(v.optionID, $optionArr) != -1) {
                        $('.hiddenValSelect'+v.optionID).append($hiddenValSelect);
                        $('.hideValSelect'+v.optionID).append($selecthtml);
                        } else {
                        $('.hiddenValSelect'+v.optionID).html($hiddenValSelect);
                        $('.hideValSelect'+v.optionID).html($selecthtml);
                        }

                        $optionArr.push(v.optionID);
                    });*/
                    var discountVal = $('#optionDisCount').val();
                        if(discountVal !=0 ){
                           var val = data.split(' ');

                        
                        var res = val[0].replace(",", "");
                        
                        $discount = (parseFloat(res)*parseFloat(discountVal))/100; 
                        $discountPrice = parseFloat(res)-parseFloat($discount);
                        $('.optionPrice').html('<strike>'+data+'</strike> '+$discountPrice.toFixed(2)+' QAR');
                    }else{
                        $('.optionPrice').html(data);
                    }

                }
            });
        }
        $( ".selectoption" ).change(function() { 
            /*$check=[];
            $('.checkRadio').each(function(ev) {  

            if ($(this).is(":checked")) { 
            $check.push($(this).attr("id"));

            }
            });

            $('.selctOptionVal').each(function(ev) {  

            if ($(this).val() !== '') { 
            $check.push($(this).val());

            }
            });*/
                        //productOptionID4
              $optionId= $(this).attr('id');
              $productId =$('#selectproduct'+$optionId).val();
              $optionValId=$(this).val(); 
              var productOptionId = $('#productOptionID'+$optionValId).val();
              $.ajax({
                dataType: 'json',
                type: "POST",
                url: '{{base_url()}}Product/getProductOptionPrice',
                data: ({productOptionId: productOptionId}),
                success: function (data) {
                $radiohtml ='';$hiddenValSelect='';$selecthtml ='';$radioImage='';$radioIhtml=''; $optionArr=[];
                    /*$.each(data, function(k, v) { 

                        $disabled="";
                        $disableClass = "";
                        if(v.quantity == 0){
                        $disabled="disabled";
                        $disableClass = "disableOption";
                        }
                        if(v.type=='Radio'){
                        if(v.required == 'Yes'){
                        $class="optionrequired radioOption "+$disableClass;
                        }else{
                        $class="optionsValues radOption"+$disableClass;
                        }
                        $checked='';
                        if(v.optionValueID==$optionValId){
                        $checked="checked";

                        } if(v.optype == 'no'){
                        $disabled="disabled";
                        $disableClass = "disableOption";
                        }else if(v.optype == 'yes'){

                        if(jQuery.inArray(v.optionValueID, $check) != -1) {
                        $checked="checked";
                        } 
                        }
                        if(v.showAs == 'Text'){
                        $radiohtml ='<input type="hidden" id="optionVal'+v.optionValueID+'" value="'+v.optionID+'"><input '+$disabled+' type="hidden" id="optionValId'+v.optionValueID+'" value="'+v.optionValueID+'"><input type="hidden" id="productOptionID'+v.optionValueID+'" value="'+v.productOptionID+'"><label for="'+v.optionValueID+'"><input '+$checked+' onclick="optionRadio(this,'+v.optionID+','+v.optionValueID+','+v.productID+')" name="'+v.optionName+'" class="inputcheck checkRadio optionRadio'+v.optionValueID+' '+$class+'" type="radio" id="'+v.optionValueID+'" /> <span class="'+$disableClass+'" >'+v.name+'</span></label>';
                        }else if(v.showAs == 'Image'){
                        $radioIhtml ='<label><input type="hidden" id="optionVal'+v.optionValueID+'" value="'+v.optionID+'"><input type="hidden" id="optionValId'+v.optionValueID+'" value="{{detail.optionValueID}}"><input  type="hidden" id="productOptionID'+v.optionValueID+'" value="'+v.productOptionID+'"><input '+$disabled+' id="'+v.optionValueID+'" '+$checked+' onclick="optionRadio(this,'+v.optionID+','+v.optionValueID+','+v.productID+')"  class="radio-img input_color checkRadio optionRadio'+v.optionValueID+' '+$class+'"  name="'+v.optionName+'" type="radio"><img class="'+$disableClass+'"  src="{{base_url()}}uploads/options/'+v.image+'"></label>  ';

                        }

                        }

                        if(jQuery.inArray(v.optionID, $optionArr) != -1) {
                        $('.imageradio'+v.optionID).append($radioIhtml);
                        $('.radio'+v.optionID).append($radiohtml);
                        } else {
                        $('.imageradio'+v.optionID).html($radioIhtml);
                        $('.radio'+v.optionID).html($radiohtml);
                        }


                        if(v.type=='Select'){
                        if(v.required == 'Yes'){
                        $class="optionrequired radioOption";
                        }else{
                        $class="optionsValues radOption";
                        }
                        $selected='';
                        if(v.optionValueID==$optionValId){
                        $selected="selected";

                        } 
                        if(jQuery.inArray(v.optionValueID, $check) != -1) {
                        $selected="selected";
                        } 

                        $hiddenValSelect='<input type="hidden" id="optionVal'+v.optionValueID+'" value="'+v.optionID+'"><input type="hidden" id="optionValId'+v.optionValueID+'" value="'+v.optionValueID+'"><input type="hidden" id="productOptionID'+v.optionValueID+'" value="'+v.productOptionID+'">';
                        $selecthtml='<option '+$disabled+' '+$selected+' value="'+v.optionValueID+'">'+v.name+'</option>';
                        }

                        if(jQuery.inArray(v.optionID, $optionArr) != -1) {
                        $('.hiddenValSelect'+v.optionID).append($hiddenValSelect);
                        $('.hideValSelect'+v.optionID).append($selecthtml);
                        } else {
                        $('.hiddenValSelect'+v.optionID).html($hiddenValSelect);
                        $('.hideValSelect'+v.optionID).html($selecthtml);
                        }

                        $optionArr.push(v.optionID);
                    });*/
                    var discountVal = $('#optionDisCount').val();
                        if(discountVal !=0 ){
                           var val = data.split(' ');

                        
                        var res = val[0].replace(",", "");
                        
                        $discount = (parseFloat(res)*parseFloat(discountVal))/100; 
                        $discountPrice = parseFloat(res)-parseFloat($discount);
                        $('.optionPrice').html('<strike>'+data+'</strike> '+$discountPrice.toFixed(2)+' QAR');
                    }else{
                        $('.optionPrice').html(data);
                    }
                    
                    
                }
            });
        });
</script>

