<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li>
                            <a href="{{base_url()}}home/">{{lang('home')}} ></a>
                        </li>
                        <li>{{lang('search_result')}}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<style>
    .tab_menu{
        flex-direction: column;
    } 
    .tab_menu input,.tab_menu select{
        background: #fff;
        border:1px #e0e0e0 solid;
        padding-right: 10px;
        width: 100%;
    }
    .tab_menu button{
        width: 100%;
        height: 45px;
        background: #fff;
        border: 1px #e0e0e0 solid;  
    }
    .error-form input{
        border: 1px #ff0000 solid;
    }
</style>                        
<div class="organic_food_wrapper">        
    <!--- shop_wrapper area  -->
    <div class="shop_wrapper ptb-50">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <h3 style="margin-bottom:15px;">Search Result {% if set_value('search')!='' %} of keyword <i style="font-style: italic;">" {{set_value('search')}}  "</i> {% endif %}</h3>
                    <div class="tav_menu_wrapper">
                        {{ form_open(action) }}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="tab_menu shop_menu {% if form_error('search')!='' %} error-form {% endif%}">
                                    <input type="text" name="search" value="{{set_value('search')}}" placeholder="Search keyword" />
                                    {{form_error('search', '<div class="error">', '</div>')}}
                                </div>
                            </div> 
                            <style>
                                .firstSub{
                                    padding-left: 15px;
                                }
                                .secondSub{
                                    padding-left: 30px;
                                }
                            </style>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="row align-items-center">
                                    <div class ="col-sm-9">
                                        <div class="tab_menu shop_menu">
                                            <select name="category">
                                                <option value="">{{lang('choose_category')}}</option>
                                                {% for categoryItem in categoryTree%}
                                                    <option value="{{categoryItem.categoryID}}" {% if categoryItem.categoryID == set_value('category')%} selected {% endif %} >{{categoryItem.name}}</option>
                                                    {% if categoryItem.child is defined%}
                                                        {% for firstSub in categoryItem.child %}
                                                            <option value="{{firstSub.categoryID}}" class ="firstSub" {% if firstSub.categoryID == set_value('category')%} selected {% endif %}>&nbsp;&nbsp;&nbsp;- {{firstSub.name}}</option>
                                                            {% if firstSub.child is defined%}
                                                                {% for secondSub in firstSub.child %}
                                                                    <option value="{{secondSub.categoryID}}" class ="secondSub" {% if secondSub.categoryID == set_value('category')%} selected {% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{secondSub.name}}</option>
                                                                {%endfor%}    
                                                            {% endif %}
                                                        {%endfor%}
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class ="col-sm-3">
                                        <div class="tab_menu shop_menu">
                                            <button type="submit" class="btn">{{lang('search')}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        {{ form_close()}}                    
                    </div>
                    {% if productList %}
                        {#<div class="tav_menu_wrapper">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-7 col-sm-6">
                                    <div class="tab_menu shop_menu">
                                        <div class="tab_menu_inner">
                                            <ul class="nav" role="tablist">
                                                <li><a  class="active" data-toggle="tab" href="#shop_active" role="tab" aria-controls="shop_active" aria-selected="true"><i class="fa fa-th" aria-hidden="true"></i></a></li>
                                                <li><a data-toggle="tab" href="#featured_active" role="tab" aria-controls="featured_active" aria-selected="false"><i class="fa fa-list" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="tab_menu_right">    
                                            <p>There are {{productList|length}} products.</p>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>#} 
                        <div class="tab_product_wrapper">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="shop_active" >
                                    <div class="row">
                                        {% for data in productList  %}
                                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                                <div class="single__product">
                                                    <div class="single_product__inner">
                                                        {% if data.new %} <span class="new_badge">{{ lang('new') }}</span> {% endif %}
                                                        {% if data.offPersentage %} <span class="discount_price">{{data.offPersentage|round(2, 'floor')}}%</span>   {% endif %}
                                                        <div class="product_img">
                                                            <a href="{{base_url()}}Product/detail/{{data.pageKey}}">
                                                                <img src="{{data.image}}" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="product__content text-center">
                                                            <div class="produc_desc_info">
                                                                <div class="product_title">
                                                                    <h4><a href="{{base_url()}}Product/detail/{{data.pageKey}}">{{data.name}}</a></h4>
                                                                </div>
                                                                <div class="product_price">


                                                                    {% if data.productDiscount|length > 0 %}
                                                                        <p><strike>{{data.price}}</strike>  {{data.discountPrice}}</p>   
                                                                        {% else %}
                                                                        <p>{{data.price}}</p>   
                                                                    {% endif %}

                                                                </div>
                                                            </div>
                                                            {#<div class="product-availability">
                                                                <span id="availability">
                                                                    {% if data.quantity > 0%}
                                                                        <i class="zmdi zmdi-check"></i>
                                                                        {{ lang('instock') }}
                                                                    {% else %}
                                                                        <i class="zmdi zmdi-close" style="color:#ff0000;"></i>
                                                                        {{ lang('outstock') }}
                                                                    {% endif %}
                                                                </span>    
                                                            </div> #}
                                                            <div class="product__hover"> 
                                                                <ul>
                                                                    {% if data.quantity > 0%}<li><a href="javascript:void(0);" onclick="cart.add('{{ data.productID }}', '1');"><i class="ion-android-cart"></i></a></li>{%else%}<li><button class="btn btn-secondary">{{lang('outstock')}}</button></li>{%endif%}

                                                                    <li><a {%if data.wishList=='YES' %} class="wishlist-item addtowishlist" {%else%} class="addtowishlist" {%endif%} id="addtowishlist" href="javascript:void(0);" onclick="addWishList({{data.productID}}, this)"><i class="ion-heart"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        {% endfor %} 

                                    </div>
                                </div>
                                {#<pre>{{dump(productList)}}</pre>#}
                                <div class="tab-pane fade" id="featured_active" role="tabpanel">
                                    {% for data in productList  %}
                                        <div class="tab_product_bottom_wrapper">    
                                            <div class="row">
                                                <div class="col-lg-4 col-md-5 col-sm-5">
                                                    <div class="single_product__inner inner_shop">
                                                        {% if data.new %} <span class="new_badge">{{ lang('new') }}</span> {% endif %}
                                                        {% if data.offPersentage %} <span class="discount_price">{{data.offPersentage|round(2, 'floor')}}%</span>   {% endif %}
                                                        <div class="product_img">
                                                            <a href="{{base_url()}}Product/detail/{{data.pageKey}}">
                                                                <ul>
                                                                    <li><a {%if data.wishList=='YES' %} class="wishlist-item addtowishlist" {%else%} class="addtowishlist" {%endif%} id="addtowishlist" href="javascript:void(0);" onclick="addWishList({{data.productID}}, this)"><i class="ion-heart"></i></a></li>
                                                                </ul>
                                                                <img src="{{data.image}}" alt="">
                                                            </a>
                                                        </div>

                                                    </div> 
                                                </div> 

                                                <div class="col-lg-8 col-md-7 col-sm-7">
                                                    <div class="product__content text-left">
                                                        <div class="produc_desc_info">
                                                            <div class="product_title title_shop">
                                                                <h4><a href="{{base_url()}}Product/detail/{{data.pageKey}}">{{data.name}}</a></h4>
                                                            </div>
                                                            <div class="product_price price_shop">

                                                                {% if data.productDiscount|length > 0 %}
                                                                    <p><strike>{{data.price}}</strike>  {{data.discountPrice}}</p>   
                                                                    {% else %}
                                                                    <p>{{data.price}}</p>   
                                                                {% endif %}
                                                            </div>
                                                            <div class="product_content_shop">
                                                                {{data.description | raw}}
                                                            </div>
                                                        </div>
                                                        <div class="product-availability">
                                                            <span id="availability">
                                                                {% if data.quantity > 0%}
                                                                    <i class="zmdi zmdi-check"></i>
                                                                    {{ lang('instock') }}
                                                                {% else %}
                                                                    <i class="zmdi zmdi-close" style="color:#ff0000;"></i>
                                                                    {{ lang('outstock') }}
                                                                {% endif %}
                                                            </span>    
                                                        </div>
                                                        <div class="product__hover hover_shop">
                                                            <div class="product_addto_cart">
                                                                <button type="button" onclick="cart.add('{{ data.productID }}', '1');">{{ lang('ADDTOCART') }}Add To Cart</button> 
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}   
                                </div>
                            </div>  
                        </div>
                        {#<div class="shop_pagination">
                            <div class="row align-items-center">   
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="total_item_shop">
                                        Showing 13-14 of 14 item(s) 
                                    </div>
                                </div>
                                <div class="col-lg-6 offset-lg-2 col-md-6 col-sm-6">
                                    <div class="page_list_clearfix text-center">
                                        {% if links %}<p class="pagination">{{links | raw }}</p> {% endif %}
                                    </div>         
                                </div>
                            </div>          
                        </div>#}
                    {% else %}
                    <h4>{{lang('empty_search_result_msg')}}</h4>
                    {% endif %}    
                </div> 
            </div>
        </div>
    </div>   
    <!--- shop_wrapper area end  -->


    <script>
        var redirectURL = '{{redirectUrl}}';
        var baseUrl = '{{base_url()}}';
        $('.filterClick').click(function () {
        filterAction();
        });
        $('.range').change(function () {
        filterAction();
        });
        function filterAction() {
        //var idsArr = [];
        var urlStructure = "";
        var filterUrl = "";
        $('#filterList').find('input[type=checkbox]:checked').each(function (e) {
        if (e == 0) {
        filterUrl += this.name + "=" + this.value;
        } else {
        filterUrl += "~" + this.value;
        }
        });
        var brandUrl = "";
        $('#brandList').find('input[type=checkbox]:checked').each(function (e) {
        if (e == 0) {
        if (filterUrl == '') {
        brandUrl += this.name + "=" + this.value;
        } else {
        brandUrl += "&" + this.name + "=" + this.value;
        }
        } else {
        brandUrl += "~" + this.value;
        }
        });
        var minPrice = $('#minPrice').val();
        var maxPrice = $('#maxPrice').val();
        var price = '';
        if (minPrice != '' || maxPrice != '') {
        if (minPrice == '') {
        lowPrice = 0;
        } else {
        lowPrice = minPrice;
        }
        if (maxPrice == '') {
        highPrice = 500;
        } else {
        highPrice = maxPrice;
        }
        {#$.ajax({
            dataType: 'json',
            type: "POST",
            url: '{{base_url()}}Product/priceRange',
            data: 'minPrice=' + lowPrice + '&maxPrice=' + highPrice ,
            success: function (data) {
                $('#ranger').html('<div class="inside-ranger" style="width:'+data["width"]+'%;left:'+data["left"]+'%;"></div>')
            }
        });#}
            if (filterUrl == '' && brandUrl == '') {
            price = 'price=' + lowPrice + '~' + highPrice;
            } else {
            price = '&price=' + lowPrice + '~' + highPrice;
            }
            }

            urlStructure = redirectURL + '?' + filterUrl + brandUrl + price;
            //console.log(urlStructure);
            window.location.href = urlStructure;
            }

            $('#sortOrder').change(function () {

            var sortOrder = "";
            var order = $('#sortOrder').val();
            var pageURL = $(location).attr("href");
            var urlStructure = "";
            if (window.location.href.indexOf("order") > - 1) {

            var params = {}, queries, temp, i, l;
            if (window.location.href.indexOf("&") > - 1) {
            var queries = pageURL.split("&");
            // Convert the array of strings into an object
            for (i = 0, l = queries.length; i < l; i++) {
            temp = queries[i].split('=');
            // params[temp[0]] = temp[1];

            if (temp[0] == 'order') {
            queries[i] = "order=" + order;
            }
            }
            urlStructure = queries.join("&");
            } else {
            var queries = pageURL.split("?");
            // Convert the array of strings into an object
            for (i = 0, l = queries.length; i < l; i++) {
            temp = queries[i].split('=');
            // params[temp[0]] = temp[1];

            if (temp[0] == 'order') {
            queries[i] = "order=" + order;
            }
            }
            urlStructure = queries.join("?");
            }

            } else {
            if (window.location.href.indexOf("?") > - 1) {
            urlStructure = pageURL + "&order=" + order;
            } else {
            urlStructure = pageURL + "?order=" + order;
            }
            }
            window.location.href = urlStructure;
            });
            //wishlist add



            //wishlist add End

    </script>

    <script type="text/javascript">

        {#$('.wishlist-item').click(function{
            alert('sadasd');
        });#}
            function addWishList(proID, e) {
            $.ajax({
            dataType: 'json',
                    type: "POST",
                    url: '{{base_url()}}Product/addtowishlist',
                    data: ({productID: proID}),
                    success: function (data) {
                    console.log(data)
                            if (data['info'] === 'login') {
                    window.location.href = '{{base_url()}}login';
                    } else if (data['info'] === "inserted") {
                    // SUCCESS MESSAGE FOR INSERTED
                    $(e).addClass('wishlist-item');
                    toastr.success('Added to your Wishlist', 'Wishlist Added');
                    } else {
                    // SUCCESS MESSAGE FOR REMOVED
                    $(e).removeClass('wishlist-item');
                    toastr.warning('Removed from your Wishlist', 'Wishlist Removed');
                    }
                    }
            });
            }
    </script>
