
<div class="container">
    <h2>Modal Example</h2>
    <!-- Modal -->


    <p>{{lang('newsletter_now_description')}}</p>
                        <div class="newsletter_form">
                            <form>
                                <div class="input_text {% if form_error('email')!='' %} error-form {% endif%}">
                                <input type="email" id="yurEmail" name="email" required="" placeholder="{{lang('email_address_placeholder')}}">
                                
                                {{form_error('email', '<div class="error">', '</div>')}}
                                </div>
                                <input type="submit" id="newsletter" class="btn btn-primary subscribed" value="{{lang('subscribe')}}">
                            </form>
{#<button id="newsletter" type="submit" class="btn btn-primary subscribed">Subscribe</button>#}
                        </div>

 {#   <div class="modal " id="modal-content" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="yurEmail" class="control-label">Recipient:</label>
                            <input placeholder="example@email.com" class="form-control" id="yurEmail" name="email" type="email" value="">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close2" data-dismiss="modal">Close</button>
                    <button id="newsletter" type="submit" class="btn btn-primary subscribed">Subscribe Button</button>
                </div>

            </div>
        </div>
    </div>
#}
<script>
   

/// ajax post request
    $(document).ready(function () {

        $("#newsletter").submit(function(e) {
            e.preventDefault();
            var email = $("#yurEmail").val();
            var post_url = '{{base_url()}}Newsletter/add_new/';
            $.ajax({
                type: "POST",
                url: post_url,
                data : {"email" : email},
                dataType: "json",
                success: function (data) {
                    console.log(data);
                }
            });

        });

    });

</script>
</div>
