<div class="product-status mg-b-15">

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    {# <h4>All Brands</h4>#}
                    {% if success %} <div class="alert alert-success">{{ success }} </div> {% endif %}
                    {% if failMessage %} <div class="alert alert-danger alert-mg-b">{{ failMessage }}</div>{% endif %}
                    <form method="get" class="col-md-10">
                        Brand: <input type="text" name="name">
                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Search</button>
                    </form>
                    <div class="add-product col-md-2">
                        <a href="{{base_url()}}manage/Manufactures/add">Add Brand</a>
                    </div>
                    <div class="asset-inner">
                        <form method='post' name='multiChange' id='multiChange'>
                            {% if result|length > 0 %}
                                <table>
                                    <tr>
                                        <th><input type="checkbox" id="checkAll"></th>
                                        <th>No</th>
                                        <th>Brand Name</th>
                                       {# <th>Image</th>#}
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    {% set myVal = currentPage %}
                                    {% for data in result  %}
                                        <tr>
                                            <th><input type="checkbox" name="multyCheck[]" class='multyCheck' value="{{data.manufacturerID|e}}"></th>
                                            <td>{{ myVal }}</td>
                                            <td>{{data.name|e}}</td>
                                           {# <td><img src="{{base_url()}}uploads/manufactures/{{data.image}}" alt="" /></td>#}

                                            <td>
                                                <div class="toggle-btn btn-group btn-group-toggle" data-toggle="buttons">
                                                    <label class="btn btn-secondary {% if data.status == 'Active' %} active {% endif %}">
                                                        <input type="radio" name="status" id="{{data.manufacturerID|e}}" value="Active" class="changeStatus" value="" {% if data.status == 'Active' %} checked {% endif %}> Active
                                                    </label>
                                                    <label class="btn btn-secondary {% if data.status == 'Inactive' %} active {% endif %}">
                                                        <input type="radio" name="status" id="{{data.manufacturerID|e}}" value="Inactive" class="changeStatus" {% if data.status == 'Inactive' %} checked {% endif %}> Inactive
                                                    </label>
                                                </div> 
                                            </td>

                                            <td>
                                                <a href="{{base_url()}}manage/Manufactures/edit/{{data.manufacturerID|e}}">
                                                    <button type='button' data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </button>
                                                </a>
                                                {#<button title="Trash" data-toggle="modal" data-target="#WarningModalalert" class="pd-setting-ed">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>#}
                                                <button type='button' title="Trash" class="pd-setting-ed {%if data.manufacturerID not in usedBrands%}deleteElement{% elseif data.manufacturerID in usedBrands%}showMessage{%endif%}" alt="{{data.manufacturerID|e}}">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </td>

                                        </tr>
                                        {% set myVal = myVal + 1 %}

                                        
                    {% endfor %} 
                        </table>
                        <select name='action' id="action">
                            <option value=''>Select</option>
                            <option value='Active'>Active</option>
                            <option value='Inactive'>Inactive</option>
                            <option value='Deleted'>Deleted</option>
                        </select>
                        <div class="error" id="multyCheckErr"></div> 
                        </form>

                        {% else %}
                            <div class="alert alert-danger" role="alert">
                                No data found!
                            </div>
                            {% endif %}
                            </div>

                            {% if links %}<p class="pagination">{{links | raw }}</p> {% endif %}
                            {#<div class="custom-pagination">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--INCLUDE MODALS-->
<div id="WarningModalalert" class="modal modal-edu-general Customwidth-popup-WarningModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <span class="educate-icon educate-warning modal-check-pro information-icon-pro"></span>
                <h2>Alert!</h2>
                <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="modal-footer warning-md">
                <a data-dismiss="modal" href="#">Cancel</a>
                <a href="javascript:void(0)" id="confirmOk">Sure</a>
            </div>
        </div>
    </div>
</div>
<div id="WarningModalShow" class="modal modal-edu-general Customwidth-popup-WarningModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <span class="educate-icon educate-warning modal-check-pro information-icon-pro"></span>
                <h2>Alert!</h2>
                <p>Can't able to delete, Some Products are using this brand.</p>
            </div>
            
        </div>
    </div>
</div>
<script>
    $('input[type=radio][name=status]').change(function () {
        window.location = "{{base_url()}}manage/Manufactures/changeStatus/" + this.id + "/" + this.value;
    });

    $('.deleteElement').click(function () {
        $('#WarningModalalert').modal('show');
        var id = $(this).attr("alt");
        $('#confirmOk').click(function () {
            window.location = "{{base_url()}}manage/Manufactures/changeStatus/" + id + "/Deleted"
        });
    });

    $('#checkAll').click(function () {
        $('.multyCheck').not(this).prop('checked', this.checked);
    });
$('.showMessage').click(function () { 
        $('#WarningModalShow').modal('show');
       
    });
    $("#action").change(function () {
        var action = $('#action').val();
        var checkedNum = $('input[name="multyCheck[]"]:checked').length;
        if(checkedNum>0){
            if (action == 'Deleted') {
                $('#WarningModalalert').modal('show');
                $('#confirmOk').click(function () {
                    $("#multiChange").submit();
                });
            } else {
                $("#multiChange").submit();
            }
        }else{
            $("#multyCheckErr").html("Please Select Any One From The List");
        }
    });

</script>
