<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    {#<h1>Add New Home Page Slider</h1>#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner"> 
                                                {# % if message %} <div class="alert alert-success">{{ message }}</div> {% endif % #}
                                                {# % if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif % #}
                                                <form id="bannerAdd"  method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="widgetID" value="{{ content.widgetID }}"/>
                                                    <div class="form-group-inner{% if form_error('widgetName')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Widget Title *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="widgetName" id="widgetName" {% if set_value('widgetName') %} value="{{set_value('widgetName')}}" {% else %} value="{{content.widgetName}}" {% endif %}  class="form-control">
                                                                
                                                                {{form_error('widgetName', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group-inner{% if form_error('typeID')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Widget Type *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                 <select name="typeID" id="typeID"  class="chosen-select" tabindex="-1">
                                                                    <option value="">Select</option>
                                                                    {% for type in widgetType %}
                                                                        <option value="{{type.typeID}}" {% if set_value('typeID') == type.typeID %} selected {% elseif content.typeID == type.typeID %} selected  {% endif %}>{{type.typeName}}</option>
                                                                    {% endfor %}    
                                                                </select>
                                                                <input type="hidden" name="customProductCheck" id="customProductCheck" {% if set_value('customProductCheck') %} value="{{set_value('customProductCheck')}}" {% else %} value="{{content.customProduct}}" {% endif %}/>
                                                                <input type="hidden" name="customCategory" id="customCategory" {% if set_value('customCategory') %} value="{{set_value('customCategory')}}" {% else %} value="{{content.typeKey}}" {% endif %}/>
                                                                {{form_error('typeID', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                            
                                                    <div class="form-group-inner{% if form_error('imageDimension')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Image Dimension *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="imageDimension" id="imageDimension" {% if set_value('imageDimension') %} value="{{set_value('imageDimension')}}" {% else %} value="{{content.imageDimension}}" {% endif %}  class="form-control">
                                                                *Note :Please add dimension as width x height
                                                                {{form_error('imageDimension', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                        
                                                    <div id="productShow" {% if content.customProduct == 'YES' %} style="display:show" {% else %} style="display:none" {% endif %} class="form-group-inner{% if form_error('widgetProduct')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Product</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <select name="widgetProduct[]" id="widgetProduct" data-placeholder="Choose Product" class="chosen-select" multiple="" tabindex="-1">
                                                                    <option value="">Select</option>
                                                                    {% for products in productList %}
                                                                        <option value="{{products.productID}}" {% if set_value('productID') == products.productID %} selected {% elseif products.productID in content.widgetProduct %} selected {% endif %}>{{products.productName}}</option>
                                                                    {% endfor %}    
                                                                </select>
                                                                  {{form_error('widgetProduct[]', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div id="categoryShow" {% if content.typeKey == 'category' %} style="display:show" {% else %} style="display:none" {% endif %} class="form-group-inner{% if form_error('categoryID')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Category</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <select name="categoryID[]" id="widgetProduct" data-placeholder="Choose Category" class="chosen-select" multiple="" tabindex="-1">
                                                                    <option value="">Select</option>
                                                                    {% for category in categoryList %}
                                                                        <option value="{{category.categoryID}}" {% if set_value('categoryID') == category.categoryID %} selected {% elseif category.categoryID in content.widgetCategory %} selected {% endif %}>{{category.name}}</option>
                                                                    {% endfor %}    
                                                                </select>
                                                                {{form_error('categoryID[]', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div id="categoryProductShow" {% if content.typeKey == 'category_product' %} style="display:show" {% else %} style="display:none" {% endif %} class="form-group-inner{% if form_error('proCategoryID')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Category</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <select name="proCategoryID" id="proCategoryID" data-placeholder="Choose Category" class="chosen-select" tabindex="-1">
                                                                    <option value="">Select</option>
                                                                    {% for category in categoryList %}
                                                                        <option value="{{category.categoryID}}" {% if set_value('categoryID') == category.categoryID %} selected {% elseif category.categoryID in content.widgetCategory %} selected {% endif %}>{{category.name}}</option>
                                                                    {% endfor %}    
                                                                </select>
                                                                {{form_error('proCategoryID', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                                
                                                    <div id="dateShow" {% if content.customProduct == 'YES' %} style="display:show" {% elseif content.typeKey == 'category' %} style="display:show" {% else %} style="display:none" {% endif %} class="form-group-inner{% if form_error('sortOrder')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                <label class="login2 pull-right pull-right-pro">Start Date</label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                <input type="text" name="startDate" id="startDate" {% if set_value('startDate') %} value="{{set_value('startDate')}}" {% else %} value="{{content.startDate}}" {% endif %} placeholder="DD-MM-YYYY" data-date-format="YYYY-MM-DD" class="form-control datePicker"/>
                                                                {{form_error('sortOrder', '<div class="error">', '</div>')}}
                                                            </div>

                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-left pull-left-pro">
                                                                <label class="login2 pull-right pull-right-pro">End Date</label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-left pull-left-pro">
                                                                <input type="text" name="endDate" id="endDate" {% if set_value('endDate') %} value="{{set_value('endDate')}}" {% else %} value="{{content.endDate}}" {% endif %} placeholder="DD-MM-YYYY" data-date-format="YYYY-MM-DD" class="form-control datePicker"/>
                                                                {{form_error('sortOrder', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                            
                                                    <div class="form-group-inner{% if form_error('sortOrder')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Sort Order</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="sortOrder" id="sortOrder" {% if set_value('sortOrder') %} value="{{set_value('sortOrder')}}" {% else %} value="{{content.sortOrder}}" {% endif %}  class="form-control">
                                                                {{form_error('sortOrder', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                            
                                                    <!--status-->
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Status</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                                <div class="form-select-list">
                                                                    <select class="form-control custom-select-value" name="status" id="status">
                                                                        <option value="Active" {% if set_value('status') == 'Active' %} selected {% elseif content.status == 'Active' %} selected {% endif %}>Active</option>
                                                                        <option value="Inactive" {% if set_value('status') == 'Inactive' %} selected {% elseif content.status == 'Inactive' %} selected {% endif %}>Inactive</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                                    
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <a href="{{base_url()}}manage/widget/" class="btn btn-white" >Cancel</a>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>
<!-- select2 JS============================================ -->
<link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
<link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
<script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
<script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>   
<script src="{{base_url()}}public/manage/js/datapicker/bootstrap-datepicker.js"></script>
<script>
    $('.datePicker').datepicker({
        format: 'yyyy-mm-dd',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>'
    });
    
     $('#typeID').change(function () {
            var typeID = $("#typeID").val();
            $.ajax({
            type: 'POST',
                    url: '{{base_url()}}manage/Widget/ajaxCustomProductCheck',
                    data: 'typeID=' + typeID,
                    dataType: "html",
                    success: function (msg) {
                        var custom = msg.split("~");
                         $("#customProductCheck").val($.trim(custom['0']));
                         $("#customCategory").val($.trim(custom['1']));
                        if($.trim(custom['1'])!='category' && custom['1']!='category_product'){
                            if($.trim(custom['0'])=='YES'){
                                $('#startDate').val('');  
                                $('#endDate').val(''); 
                                $('#productShow').show();
                                $('#dateShow').show();
                                $('#categoryProductShow').hide();

                            }
                            else if($.trim(custom['0'])=='NO'){
                                $('#startDate').val('');  
                                $('#endDate').val(''); 
                                $('#productShow').hide();
                                $('#dateShow').hide();
                                $('#categoryShow').hide();
                                $('#categoryProductShow').hide();
                            }
                        }
                        else if(custom['1']=='category_product'){
                            $('#categoryProductShow').show();
                            $('#startDate').val('');  
                                $('#endDate').val(''); 
                                $('#productShow').hide();
                                $('#dateShow').hide();
                                 $('#categoryShow').hide();
                        }
                        else{
                            $('#categoryShow').show();
                            $('#dateShow').show();
                            $('#productShow').hide();
                            $('#categoryProductShow').hide();
                        }
                    }
            });
        });
</script>
