
             
            <!--breadcrumb area start-->
            <div class="breadcrumb_container">
                <div class="container">
                    <div class="row">
                        <div class="col-12">     
                            <nav>
                        <ul>
                            <li><a href="#">Home</a> ></li>
                            <li>My account</li>
                        </ul>
                    </nav>
                        </div>
                    </div> 
                </div>        
            </div>
             <!--breadcrumb area end-->
            
			<!-- Start Maincontent  -->
            <section class="main-content-area my-account ptb-100">
				<div class="container">
	                <div class="account-dashboard">
	                    <div class="row">
	                        <div class="col-sm-12 col-md-3 col-lg-3">
	                            <!-- Nav tabs -->
	                            <ul role="tablist" class="nav flex-column dashboard-list">
	                                <li><a href="account-details.html" class="nav-link">Account details</a></li>
	                                <li> <a href="orders.html" class="nav-link">Orders</a></li>
	                                <li><a href="wishlist.html" class="nav-link">Wishlist</a></li>
	                                <li><a href="address.html" class="nav-link active">Address</a></li>
	                                <li><a href="password.html" class="nav-link">Password</a></li>
	                                <li><a href="login.html" class="nav-link">logout</a></li>
	                            </ul>
	                        </div>
	                        <div class="col-sm-12 col-md-9 col-lg-9">
	                            <!-- Tab panes -->
	                            <div class="tab-content dashboard-content"> 
	                                    <div class="tab-pane fade show active" id="address">
                                        <h3>Address </h3>
                                        <div class="address-list">
                                        <form action="#">
                                            <div class="pb-10" style="padding: 5px;">
                                            <div class="form-check">
                                            <label class="form-check-label" for="radio1">
                                                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>
                                                <div class="">
                                                <h5><b>Address 01</b></h5>
                                                <p>Badruddeen el Meskin <br>
                                                Gate 149 Street 50 Industrial Area <br>
                                                Doha, P.O.Box 23952<br>
                                                Phone : (00974) 44504052</p>
                                                </div>
                                            </label> 
                                        </div>
                                        <a class="white-btn btn" href="#">Edit</a>
                                        <a class="white-btn btn" href="#">Delete</a>
                                        </div>
                                            <hr>
                                            <div class="pb-10" style="padding: 5px;">
                                            <div class="form-check">
                                            <label class="form-check-label" for="radio1">
                                                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>
                                                <div class="">
                                                <h5><b>Address 01</b></h5>
                                                <p>Badruddeen el Meskin <br>
                                                Gate 149 Street 50 Industrial Area <br>
                                                Doha, P.O.Box 23952<br>
                                                Phone : (00974) 44504052</p>
                                                </div>
                                            </label> 
                                        </div>
                                        <a class="white-btn btn" href="#">Edit</a>
                                        <a class="white-btn btn" href="#">Delete</a>
                                        </div>
                                        </form>
                                        </div> 
                                            <hr>
                                        <a class="orange-btn btn" href="add-address.html">Add New Address</a>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>       	
            </section>			
			<!-- End Maincontent  -->
           
            