<!doctype html>
<html class="no-js" lang="zxx">
    
<!-- Mirrored from preview.hasthemes.com/organicfood-v1/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 Dec 2019 10:49:50 GMT -->
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cart - eCommerce Bootstrap4 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
		
		<!-- all css here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/animate.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/chosen.min.css">
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="assets/css/bundle.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <!-- Custom style -->
        <link rel="stylesheet" href="assets/css/ali-custom-style.css"> 
        <!-- <link rel="stylesheet" href="assets/css/arabic-style.css"> -->

        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="cart-list">
        <!-- Header start -->
        <div class="custom-header">
            <div class="header_top_bar top_bar_two">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header_top_inner">
                                <ul>
                                    <li> <a href="">Help centre</a> </li>
                                </ul>
                                <div class="header_top_right">
                                    <ul class="header_top_right_inner">
                                        <li class="language_wrapper"> <a href="#">English <i class="fa fa-angle-down"></i> </a>
                                            <ul class="language__name">
                                                <li>
                                                    <a href="#"><img src="assets/img/1.jpg" alt=""><span>English</span></a>
                                                </li>
                                                <li>
                                                    <a href="#"><img src="assets/img/banner/frances2.jpg" alt=""><span></span>Arabic</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="language_wrapper_two"> <a href="#">My Account <i class="fa fa-angle-down"></i> </a>
                                            <ul class="account__name">
                                                <li><a href="my-account.html">My account</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="login.html">Sign in</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_middle middle-two">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header_middle_wrapper">
                                <div class="header_middle_inner middel_two">
                                    <div class="logo logo_two">
                                        <a href="index.html"><img src="assets/img/logo/logo.svg" alt=""></a>
                                    </div>
                                    <div class="middle-nav-right">
                                        <ul>
                                            <li> <a href="" style="padding:0px 50px;text-decoration: underline;">Multi product search</a></li>
                                        </ul>
                                        <div class="mini__cart minicart_two">
                                            <div class="mini_cart_inner minicart_inner_two">
                                                <div class="cart_icon"><a href="#"><span class="cart_icon_inner"><i class="ion-android-cart"></i><span class="cart_count">2</span></span><span class="phone_item_total item_total">$65.00</span></a></div>
                                                <div class="mini_cart_box cart_box_two mini_cart_two">
                                                    <div class="mini_cart_item">
                                                        <div class="mini_cart_img">
                                                            <a href="#"><img src="assets/img/cart/1.jpg" alt=""><span class="cart_count">1x</span></a>
                                                        </div>
                                                        <div class="cart_info cart_info_two">
                                                            <h5><a href="product-details.html">Mushroom Burger</a></h5><span class="cart_price">$75.99</span></div>
                                                        <div class="cart_remove"><a href="#"><i class="zmdi zmdi-delete"></i></a></div>
                                                    </div>
                                                    <div class="mini_cart_item">
                                                        <div class="mini_cart_img">
                                                            <a href="#"><img src="assets/img/cart/2.jpg" alt=""><span class="cart_count">1x</span></a>
                                                        </div>
                                                        <div class="cart_info cart_info_two">
                                                            <h5><a href="#">Country Burger</a></h5><span class="cart_price">$60.99</span></div>
                                                        <div class="cart_remove"><a href="#"><i class="zmdi zmdi-delete"></i></a></div>
                                                    </div>
                                                    <div class="price_content">
                                                        <div class="cart_subtotals cart_subtotals_two">
                                                            <div class="price_inline tow"><span class="label">Subtotal </span><span class="value">$143.49 </span></div>
                                                            <div class="price_inline price_inline_tow"><span class="label">Shipping </span><span class="value">$7.00</span></div>
                                                            <div class="price_inline price_inline_tow"><span class="label">Taxes </span><span class="value">$0.00</span></div>
                                                        </div>
                                                        <div class="cart-total-price cart-total-price_two"><span class="label">Total </span><span class="value">$85.99</span></div>
                                                    </div>
                                                    <div class="min_cart_checkout checkoyt_two"><a href="checkout.html">Checkout</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <header class="header header_bottm bottom_two sticky-header">
                <div class="container ">
                    <div class="row">
                        <div class="col-8 text-left">
                            <div class="main_menu_inner">
                                <div class="menu menu_two">
                                    <nav>
                                        <ul>
                                            <li class="active"><a href="index.html">Categories <i class="fa fa-angle-down"></i></a>
                                                <ul class="sub_menu">
                                                    <li><a href="index.html">Home Version 1</a></li>
                                                    <li><a href="index-2.html">Home Version 2</a></li>
                                                    <li><a href="index-3.html">Home Version 3</a></li>
                                                    <li><a href="index-4.html">Home Version 4</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about.html">Groceries </a> </li>
                                            <li><a href="shop.html">Favourites </a> </li>
                                            <li><a href="blog.html">Offers </a>
                                                <li><a href="about-us.html">About </a>
                                                    <li><a href="contact-us.html">Contact us </a> </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="mobile-menu mobile_two d-lg-none">
                                    <nav>
                                        <ul>
                                            <li class="active"><a href="index.html">Home</a>
                                                <ul>
                                                    <li><a href="index.html">Home Version 1</a></li>
                                                    <li><a href="index-2.html">Home Version 2</a></li>
                                                    <li><a href="index-3.html">Home Version 3</a></li>
                                                    <li><a href="index-4.html">Home Version 4</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about.html">about us </a></li>
                                            <li><a href="shop.html">shop</a> </li>
                                            <li><a href="blog.html">Blog </a></li>
                                            <li><a href="#">Pages</a>
                                                <ul>
                                                    <li> <a href="#">Column 1</a>
                                                        <ul>
                                                            <li><a href="shop.html">Shop page</a></li>
                                                            <li><a href="shop-right-sidebar.html">Shop Right sidebar</a></li>
                                                            <li><a href="shop.html">shop Left Sidebar</a></li>
                                                            <li><a href="product-details.html">product Details</a></li>
                                                            <li><a href="my-account.html">My account</a></li>
                                                        </ul>
                                                    </li>
                                                    <li> <a href="#">Column 2</a>
                                                        <ul>
                                                            <li><a href="wishlist.html">Wishlist</a></li>
                                                            <li><a href="cart.html">Cart</a></li>
                                                            <li><a href="checkout.html">Checkout</a></li>
                                                            <li><a href="login.html">login</a></li>
                                                            <li><a href="register.html">Register</a></li>
                                                        </ul>
                                                    </li>
                                                    <li> <a href="#">Column 3</a>
                                                        <ul>
                                                            <li><a href="about.html">About us</a></li>
                                                            <li><a href="contact.html">Contact Us</a></li>
                                                            <li><a href="blog.html">blog Page</a></li>
                                                            <li><a href="blog-details.html">blog Details</a></li>
                                                            <li><a href="404.html">Error pages</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">vegetable</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 search_box search_box_two" style="padding: 10px 15px;">
                            <div class="search_inner search_two">
                                <form action="#">
                                    <input type="text" placeholder="Search our catalog">
                                    <button type="submit"><i class="ion-ios-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- Header end -->
             
            <!--breadcrumb area start-->
            <div class="breadcrumb_container">
                <div class="container">
                    <div class="row">
                        <div class="col-12">     
                            <nav>
                        <ul>
                            <li><a href="index.html">Home ></a></li>
                            <li>Cart</li>
                        </ul>
                    </nav>
                        </div>
                    </div> 
                </div>        
            </div>
             <!--breadcrumb area end-->
            <div class="cart_main_area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form action="#">  
                                <div class="table-content table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="img-thumbnail product-name" colspan="2">Product</th>
                                                <th class="product-price">Price</th>
                                                <th class="product-quantity">Quantity</th>
                                                <th class="product-subtotal">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="product-thumbnail"><img src="assets/img/product/1.jpg" alt="" > </td>
                                                <td  class="product-name" style="text-align: left;"><a href="#">Vestibulum suscipit</a></td>
                                                <td class="product-price"><span class="amount">QAR 65.00</span></td>
                                                <td class="product-quantity">
                                                    <div class="quickview_plus_minus quick_cart">
                                                        <div class="quickview_plus_minus_inner">
                                                            <div class="cart-plus-minus cart_page">
                                                                <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                                            </div>
                                                        </div>    
                                                    </div> 
                                                </td>
                                                <td class="product-subtotal">QAR 65.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" style="background-color: #ebebeb; height: 40px;">
                                                <div class="remove-item"> <a id="myBtn" data-toggle="modal" data-target="#myModal"><img src="assets/img/remove-from-cart.png"> Remove Item</a></div>
                                                <!-- The Modal -->
                                                <div class="modal fade" id="myModal" role="dialog">
                                                    <div class="modal-dialog" class="modal col-sm-12">

                                                   <!-- Modal content -->
                                                   <div class="modal-content">
                                                    <!-- <span class="close">&times;</span> -->
                                                    <p>Are you sure to remove "Vestibulum suscipit"?</p>
                                                    <button class="submitbtn" type="submit">Yes</button>
                                                    <span><button class="canceltbtn" data-dismiss="modal">No</button></span>
                                                </div>
                                                </div>
                                                </div>

                                            </td>
                                            </tr>
                                        </tbody>      
                                        
                                        <tbody>
                                            <tr>
                                                <td class="product-thumbnail"><img src="assets/img/product/4.jpg" alt=""></td>
                                                <td class="product-name" style="text-align: left;"><a href="#">Vestibulum dictum magna</a></td>
                                                <td class="product-price"><span class="amount">QAR 65.00</span></td>
                                                <td class="product-quantity">
                                                    <div class="quickview_plus_minus quick_cart">
                                                        <div class="quickview_plus_minus_inner">
                                                            <div class="cart-plus-minus cart_page">
                                                                <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                                            </div>
                                                        </div>    
                                                    </div> 
                                                </td>
                                                <td class="product-subtotal">QAR 65.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" style="background-color: #ebebeb; height: 40px;">
                                                    <div class="remove-item"> <a id="myBtn" data-toggle="modal" data-target="#myModal1"><img src="assets/img/remove-from-cart.png">  Remove Item</a></div>
                                                    <!-- The Modal -->
                                                <div class="modal fade" id="myModal1" role="dialog">
                                                    <div class="modal-dialog" class="modal col-sm-12">

                                                   <!-- Modal content -->
                                                   <div class="modal-content">
                                                    <!-- <span class="close">&times;</span> -->
                                                    <p>Are you sure to remove "Vestibulum dictum magna"?</p>
                                                    <button class="submitbtn" type="submit">Yes</button>
                                                    <span><button class="canceltbtn" data-dismiss="modal">No</button></span>
                                                </div>
                                                </div>
                                                </div>
                                            </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row table-responsive_bottom">
                                    <div class="col-lg-7 col-sm-7 col-md-7">
                                       <div class="buttons-carts">
                                            <a href="#">Continue Shopping</a>   
                                        </div> 
                                        <div class="buttons-carts coupon">
                                            <h3><b>Coupon</b></h3>
                                            <p>Enter your coupon code if you have one.</p>
                                            <input placeholder="Coupon code" type="text"> 
                                            <input value="Apply Coupon" type="submit">     
                                        </div>
                                    </div> 
                                    <div class="col-lg-5 col-sm-5 col-md-5">
                                         <div class="cart_totals  text-right">
                                            <h2><b>Cart Totals</b></h2>
                                            <div class="cart-subtotal">
                                                <span>Subtotal</span>    
                                                <span>QAR 65.00</span>    
                                            </div>
                                            <div class="order-total">
                                                <span><strong>Total</strong> </span>          
                                                <span><strong>QAR 65.00 </strong> </span>
                                            </div>
                                            <div class="wc-proceed-to-checkout">
                                                <a href="#">Proceed to Checkout</a>
                                            </div>
                                         </div>    
                                    </div>    
                                </div>
                            </form>         
                        </div>    
                    </div>    
                </div>   
            </div>
        
            <!--organicfood wrapper start--> 
            <div class="footer_food_wrapper">         
                <!-- footer start -->
                <footer class="footer pt-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="single_footer widget">
                                    <div class="single_footer_widget_inner">
                                        <div class="footer_logo">
                                            <a href="#"><img src="assets/img/logo/logo.svg" alt=""></a>
                                        </div>
                                        <div class="footer_content">
                                            <p>Address: Al Riyan Street, P.O.Box 90205</p>
                                            <p>Phone: +974 44583616</p>
                                            <p>Email: info@enaabi.com</p>
                                        </div>
                                        <div class="footer_social">
                                            <h4>Get in Touch:</h4>
                                            <div class="footer_social_icon"> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-youtube"></i></a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="footer_menu_list d-flex justify-content-between">
                                    <div class="single_footer widget">
                                        <div class="single_footer_widget_inner">
                                            <div class="footer_title">
                                                <h2>Categories</h2>
                                            </div>
                                            <div class="footer_menu">
                                                <ul>
                                                    <li><a href="#">Grocery</a></li>
                                                    <li><a href="#">Cereal</a></li>
                                                    <li><a href="#">Coffee</a></li>
                                                    <li><a href="#">Confectionery</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_footer widget">
                                        <div class="single_footer_widget_inner">
                                            <div class="footer_title">
                                                <h2>Login</h2>
                                            </div>
                                            <div class="footer_menu">
                                                <ul>
                                                    <li><a href="#">Sitemap</a></li>
                                                    <li><a href="#"> Stores</a></li>
                                                    <li><a href="#"> Login</a></li>
                                                    <li><a href="#"> Contact us</a></li>
                                                    <li><a href="#"> My account</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_footer widget">
                                        <div class="single_footer_widget_inner">
                                            <div class="footer_title">
                                                <h2> Your account </h2>
                                            </div>
                                            <div class="footer_menu">
                                                <ul>
                                                    <li><a href="#">Personal info</a></li>
                                                    <li><a href="#"> Orders</a></li>
                                                    <li><a href="#"> Login</a></li>
                                                    <li><a href="#"> Credit slips</a></li>
                                                    <li><a href="#"> Addresses</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="footer_title">
                                    <h2> Join Our Newsletter Now </h2>
                                </div>
                                <div class="footer_news_letter">
                                    <p>Get E-mail updates about our latest shop and special offers.</p>
                                    <div class="newsletter_form">
                                        <form action="#">
                                            <input type="email" required="" placeholder="Your Email Address">
                                            <input type="submit" value="Subscribe"> </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright copyrigt_four">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="copyright_text copyright_four">
                                        <p>Copyright 2020 <a href="#">Mooneh</a>. All Rights Reserved</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="footer_mastercard text-right">
                                        <p>Powered by <a href="#">Wildherbs Technologies</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                
                <!-- footer end -->
                
                
                
            </div>
           
           
           
           
           
           
           <!--organicfood wrapper end--> 
            
    
            
  
		
		
        <!-- all js here -->
        
        <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/ajax-mail.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
    </body>

<!-- Mirrored from preview.hasthemes.com/organicfood-v1/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 Dec 2019 10:49:50 GMT -->
</html>
