

<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="#">Home</a> ></li>
                        <li>My account</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->

<!-- Start Maincontent  -->
<section class="main-content-area my-account ptb-100">
    <div class="container">
        <div class="account-dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li><a href="account-details.html" class="nav-link">Account details</a></li>
                        <li> <a href="orders" class="nav-link active">Orders</a></li>
                        <li><a href="wishlist.html" class="nav-link">Wishlist</a></li>
                        <li><a href="address.html" class="nav-link">Address</a></li>
                        <li><a href="password.html" class="nav-link">Password</a></li>
                        <li><a href="login.html" class="nav-link">logout</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard-content">
                        <div class="tab-pane fade show active" id="orders">
                            <h3>Orders</h3>
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="img-thumbnail product-id" colspan="4">
                                                Order id : ORDER012345 
                                                <a style="float: right; padding: 0px 50px" href="{{base_url()}}orders/orderDetails">View details</a>
                                            </th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="border-bottom: 1px solid #dedede;">
                                            <td class="product-thumbnail"><img src="{{base_url()}}/public/assets/img/product/1.jpg" alt=""> </td>
                                            <td class="product-name" style="text-align: left;"><a href="#">Vestibulum suscipit</a><span><br>Qty : 02<br>ITEM012345</span></td>
                                            <td class="product-subtotal">QAR 65.00</td>
                                            <td class="order-view">
                                                <ul role="tablist" class="nav flex-column dashboard-list">
                                                    <li><a href="#order-details-01" data-toggle="tab" class="nav-link">View details</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>      

                                    <tbody>
                                        <tr style="border-bottom: 1px solid #dedede;">
                                            <td class="product-thumbnail"><img src="{{base_url()}}/public/assets/img/product/4.jpg" alt=""></td>
                                            <td class="product-name" style="text-align: left;"><a href="#">Vestibulum dictum magna</a><span><br>Qty : 02<br>ITEM012345</span></td>
                                            <td class="product-subtotal">QAR 65.00</td>
                                            <td class="order-view">
                                                <ul role="tablist" class="nav flex-column dashboard-list">
                                                    <li><a href="#order-details-02" data-toggle="tab" class="nav-link">View details</a></li>
                                                </ul>
                                            </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="order-details-01">
                            <h3>Order Details</h3>
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="img-thumbnail product-id" colspan="4" style="padding: 15px 0;">Order id : ORDER012345<br>
                                                <span style="font-family: Arial;font-weight: normal;">Ordered on Monday, Dec 2</span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="border-bottom: 1px solid #dedede;">
                                            <td class="product-thumbnail"><img src="{{base_url()}}/public/assets/img/product/1.jpg" alt=""> </td>
                                            <td class="product-name" style="text-align: left;"><a href="#">Vestibulum suscipit</a><span><br>Qty : 02<br>ITEM012345</span></td>
                                            <td class="product-subtotal">QAR 65.00</td>
                                            <td class="cancel-order">
                                                <a class="white-btn btn" data-toggle="modal" data-target="#item1">Cancel</a>

                                                <!-- The Modal -->
                                                <div class="modal fade" id="item1" role="dialog">
                                                    <div class="modal-dialog" class="modal col-sm-12">

                                                        <!-- Modal content -->
                                                        <div class="modal-content text-left">
                                                            <!-- <span class="close">&times;</span> -->
                                                            <h4 >Cancel Order</h4>
                                                            <div class="">
                                                                <label>Reason for cancelling <span>*</span></label><br>
                                                                <select class="col-12" id="cancel-reason">
                                                                    <option>select reason</option>    
                                                                    <option value="Ordered by mistake">Ordered by mistake</option>    
                                                                    <option value="Expected delivery date has changed and the product is arriving at a later date.">Expected delivery date has changed and the product is arriving at a later date.</option>    
                                                                </select>
                                                                <label>Other comments </label><br>
                                                                <textarea></textarea>
                                                                <button class="submitbtn" type="submit">Yes</button>
                                                                <button class="canceltbtn" data-dismiss="modal" type="submit">No</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>      

                                    <tbody>
                                        <tr style="border-bottom: 1px solid #dedede;">
                                            <td class="product-thumbnail"><img src="{{base_url()}}/public/assets/img/product/4.jpg" alt=""></td>
                                            <td class="product-name" style="text-align: left;"><a href="#">Vestibulum dictum magna</a><span><br>Qty : 02<br>ITEM012345</span></td>
                                            <td class="product-subtotal">QAR 65.00</td>
                                            <td class="cancel-order">
                                                <a class="white-btn btn" data-toggle="modal" data-target="#item2">Cancel</a>

                                                <!-- The Modal -->
                                                <div class="modal fade" id="item2" role="dialog">
                                                    <div class="modal-dialog" class="modal col-sm-12">

                                                        <!-- Modal content -->
                                                        <div class="modal-content text-left">
                                                            <!-- <span class="close">&times;</span> -->
                                                            <h4 >Cancel Order</h4>
                                                            <div class="">
                                                                <label>Reason for cancelling <span>*</span></label><br>
                                                                <select class="col-12" id="cancel-reason">
                                                                    <option>select reason</option>    
                                                                    <option value="Ordered by mistake">Ordered by mistake</option>    
                                                                    <option value="Expected delivery date has changed and the product is arriving at a later date.">Expected delivery date has changed and the product is arriving at a later date.</option>    
                                                                </select>
                                                                <label>Other comments </label><br>
                                                                <textarea></textarea>
                                                                <button class="submitbtn" type="submit">Yes</button>
                                                                <button class="canceltbtn" data-dismiss="modal" type="submit">No</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td></tr>
                                    </tbody>
                                </table>
                                <div class="accordion" id="accordionExample" style="margin-right: 1px;border-bottom: 1px solid #dedede;">
                                    <div class="card no-border-radius" style="border-top: none !important;">
                                        <div class="card-header card-padding" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Billing Address
                                                </button>
                                            </h2>
                                        </div>

                                        <div id="collapseOne" class="collapse  " aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body" style=" padding: 15px 50px;"> 
                                                Badruddeen el Meskin<br>
                                                Gate 149 Street 50 Industrial Area <br>
                                                Doha, P.O.Box 23952<br>
                                                Phone : (00974) 44504052
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card no-border-radius">
                                        <div class="card-header card-padding" id="headingTwo">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Shipping Address
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body" style=" padding: 15px 50px;">
                                                Badruddeen el Meskin<br>
                                                Gate 149 Street 50 Industrial Area <br>
                                                Doha, P.O.Box 23952<br>
                                                Phone : (00974) 44504052
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card no-border-radius">
                                        <div class="card-header card-padding" id="headingThree">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                                    Price Details
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <table class="card-body">
                                                <tr style=" padding: 15px 50px;">
                                                <tbody">
                                                <td class="text-left" style="padding: 0px 50px;">Steak & Ale Puff Pastry Pie 550g</td>
                                                <td>QAR43</td>
                                                </tbody>
                                                <tbody>
                                                <td class="text-left" style="padding: 0px 50px;">Doubly Delicious Senior Cat Food Meat 12 X 100g</td>
                                                <td>QAR43</td>
                                                </tbody>    
                                                <tbody style="font-weight: 700; font-family: Mary ann;">
                                                <td class="text-left" style="padding: 0px 50px;">Total Amount</td>
                                                <td>QAR86</td>
                                                </tbody> 
                                                </tr>
                                            </table>
                                        </div>
                                    </div>  
                                </div> 
                            </div>
                        </div>

                        <div class="tab-pane fade" id="order-details-02">
                            <h3>Order Details</h3>
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="img-thumbnail product-id" colspan="4" style="padding: 15px 0;">Order id : ORDER012345<br>
                                                <span style="font-family: Arial;font-weight: normal;">Ordered on Monday, Dec 2</span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="border-bottom: 1px solid #dedede;">
                                            <td class="product-thumbnail"><img src="{{base_url()}}/public/assets/img/product/1.jpg" alt=""> </td>
                                            <td class="product-name" style="text-align: left;"><a href="#">Vestibulum suscipit</a><span><br>Qty : 02<br>ITEM012345</span></td>
                                            <td class="product-subtotal">QAR 65.00</td>
                                            <td class="cancel-order">
                                                <a class="white-btn btn" data-toggle="modal" data-target="#item1">Cancel</a>

                                                <!-- The Modal -->
                                                <div class="modal fade" id="item1" role="dialog">
                                                    <div class="modal-dialog" class="modal col-sm-12">

                                                        <!-- Modal content -->
                                                        <div class="modal-content text-left">
                                                            <!-- <span class="close">&times;</span> -->
                                                            <h4 >Cancel Order</h4>
                                                            <div class="">
                                                                <label>Reason for cancelling <span>*</span></label><br>
                                                                <select class="col-12" id="cancel-reason">
                                                                    <option>select reason</option>    
                                                                    <option value="Ordered by mistake">Ordered by mistake</option>    
                                                                    <option value="Expected delivery date has changed and the product is arriving at a later date.">Expected delivery date has changed and the product is arriving at a later date.</option>    
                                                                </select>
                                                                <label>Other comments </label><br>
                                                                <textarea></textarea>
                                                                <button class="submitbtn" type="submit">Yes</button>
                                                                <button class="canceltbtn" data-dismiss="modal" type="submit">No</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>      

                                    <tbody>
                                        <tr style="border-bottom: 1px solid #dedede;">
                                            <td class="product-thumbnail"><img src="{{base_url()}}/public/assets/img/product/4.jpg" alt=""></td>
                                            <td class="product-name" style="text-align: left;"><a href="#">Vestibulum dictum magna</a><span><br>Qty : 02<br>ITEM012345</span></td>
                                            <td class="product-subtotal">QAR 65.00</td>
                                            <td class="cancel-order">
                                                <a class="white-btn btn" data-toggle="modal" data-target="#item2">Cancel</a>

                                                <!-- The Modal -->
                                                <div class="modal fade" id="item2" role="dialog">
                                                    <div class="modal-dialog" class="modal col-sm-12">

                                                        <!-- Modal content -->
                                                        <div class="modal-content text-left">
                                                            <!-- <span class="close">&times;</span> -->
                                                            <h4 >Cancel Order</h4>
                                                            <div class="">
                                                                <label>Reason for cancelling <span>*</span></label><br>
                                                                <select class="col-12" id="cancel-reason">
                                                                    <option>select reason</option>    
                                                                    <option value="Ordered by mistake">Ordered by mistake</option>    
                                                                    <option value="Expected delivery date has changed and the product is arriving at a later date.">Expected delivery date has changed and the product is arriving at a later date.</option>    
                                                                </select>
                                                                <label>Other comments </label><br>
                                                                <textarea></textarea>
                                                                <button class="submitbtn" type="submit">Yes</button>
                                                                <button class="canceltbtn" data-dismiss="modal" type="submit">No</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="accordion" id="accordionExample" style="margin-right: 1px;border-bottom: 1px solid #dedede;">
                                    <div class="card no-border-radius" style="border-top: none !important;">
                                        <div class="card-header card-padding" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Billing Address
                                                </button>
                                            </h2>
                                        </div>

                                        <div id="collapseOne" class="collapse  " aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body" style=" padding: 15px 50px;"> 
                                                Badruddeen el Meskin<br>
                                                Gate 149 Street 50 Industrial Area <br>
                                                Doha, P.O.Box 23952<br>
                                                Phone : (00974) 44504052
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card no-border-radius">
                                        <div class="card-header card-padding" id="headingTwo">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Shipping Address
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body" style=" padding: 15px 50px;">
                                                Badruddeen el Meskin<br>
                                                Gate 149 Street 50 Industrial Area <br>
                                                Doha, P.O.Box 23952<br>
                                                Phone : (00974) 44504052
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card no-border-radius">
                                        <div class="card-header card-padding" id="headingThree">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                                    Price Details
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <table class="card-body">
                                                <tr style=" padding: 15px 50px;">
                                                <tbody">
                                                <td class="text-left" style="padding: 0px 50px;">Steak & Ale Puff Pastry Pie 550g</td>
                                                <td>QAR43</td>
                                                </tbody>
                                                <tbody>
                                                <td class="text-left" style="padding: 0px 50px;">Doubly Delicious Senior Cat Food Meat 12 X 100g</td>
                                                <td>QAR43</td>
                                                </tbody>    
                                                <tbody style="font-weight: 700; font-family: Mary ann;">
                                                <td class="text-left" style="padding: 0px 50px;">Total Amount</td>
                                                <td>QAR86</td>
                                                </tbody> 
                                                </tr>
                                            </table>
                                        </div>
                                    </div>  
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>       	
</section>			
<!-- End Maincontent  -->


