<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    {#<h1>Add New Home Page Slider</h1>#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner"> 
                                                {# % if message %} <div class="alert alert-success">{{ message }}</div> {% endif % #}
                                                {# % if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif % #}
                                                <form id="bannerAdd"  method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="specialPriceID" value="{{ content.main.specialPriceID }}"/>
                                                    <div class="form-group-inner {% if form_error('productID')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Product</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">   
                                                                <select name="productID" id="productID"  class="chosen-select" tabindex="-1">
                                                                    <option>Select</option>

                                                                    {% for category in parentCategory %}
                                                                        <option value="{{category.productID}}" {% if set_value('productID') == category.productID %} selected {% elseif content.main.productID == category.productID %} selected {% endif %}>{{category.name}}</option>
                                                                    {% endfor %}    
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('customerGroupID')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Customer Group</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <select class="form-control custom-select-value" name="customerGroupID" id="customerGroupID">
                                                                    <option value="">Select</option>

                                                                    <option value="0" {% if set_value('customerGroupID') == '0' %} selected {% elseif content.main.customerGroupID == '0' %} selected {% endif %}>All Customers</option>
                                                                    {#<option value="1" {% if set_value('customerGroupID') == '1' %} selected {% elseif content.main.customerGroupID == '1' %} selected {% endif %}>Selected</option>#}


                                                                </select>
                                                                {{form_error('customerGroupID', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('priority')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Priority</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <select class="form-control custom-select-value" name="priority" id="priority">
                                                                    <option value="">Select</option>

                                                                    <option value="1" {% if set_value('priority') == '1' %} selected {% elseif content.main.priority == '1' %} selected {% endif %}>Low</option>
                                                                    <option value="2" {% if set_value('priority') == '2' %} selected {% elseif content.main.priority == '2' %} selected {% endif %}>Medium</option>
                                                                    <option value="3" {% if set_value('priority') == '3' %} selected {% elseif content.main.priority == '3' %} selected {% endif %}>High</option>
                                                                    <option value="4" {% if set_value('priority') == '4' %} selected {% elseif content.main.priority == '4' %} selected {% endif %}>Very High</option>


                                                                </select>
                                                                {{form_error('priority', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('price')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"> Price</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="price" id="price" {% if set_value('price') %} value="{{set_value('price')}}" {% else %} value="{{content.main.price}}" {% endif %}  class="form-control">
                                                                {{form_error('price', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('dateStart')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Date Start</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="dateStart" id="dateStart" {% if set_value('dateStart') %} value="{{set_value('dateStart')}}" {% else %} value="{{content.main.dateStart}}" {% endif %} placeholder="DD-MM-YYYY" data-date-format="YYYY-MM-DD" class="form-control datePicker"/>
                                                                {{form_error('dateStart', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('dateEnd')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Date End</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="dateEnd" id="dateEnd" {% if set_value('dateEnd') %} value="{{set_value('dateEnd')}}" {% else %} value="{{content.main.dateEnd}}" {% endif %} placeholder="DD-MM-YYYY" data-date-format="YYYY-MM-DD" class="form-control datePicker"/>
                                                                {{form_error('dateEnd', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <!--status-->
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Status</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                                <div class="form-select-list">
                                                                    <select class="form-control custom-select-value" name="status" id="status">
                                                                        <option value="Active" {% if set_value('status') == 'Active' %} selected {% elseif content.main.status == 'Active' %} selected {% endif %}>Active</option>
                                                                        <option value="Inactive" {% if set_value('status') == 'Inactive' %} selected {% elseif content.main.status == 'Inactive' %} selected {% endif %}>Inactive</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <a href="{{base_url()}}manage/Banner/" class="btn btn-white" >Cancel</a>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>
<!-- select2 JS============================================ -->
<link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
<link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
<script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
<script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>   
<script src="{{base_url()}}public/manage/js/datapicker/bootstrap-datepicker.js"></script>
<script>
    $('.datePicker').datepicker({
    format: 'yyyy-mm-dd',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>'
    });</script>
<script type="text/javascript">
    $("#image").change(function (e) {
    var maxSize = {{maxImageSizeJs}};
    var imageWidth ={{imageDimension[0]}}
            var imageHeight ={{imageDimension[1]}}
            showImage(this, maxSize, imageWidth, imageHeight, 'profile-img-tag', 'imgSizeErr');
    });
</script>                                                                                  
