<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    {#<h1>Add New Home Page Slider</h1>#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner"> 
                                                {# % if message %} <div class="alert alert-success">{{ message }}</div> {% endif % #}
                                                {# % if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif % #}
                                                <form id="bannerAdd"  method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="couponID" value="{{ content.main.couponID }}"/>
                                                    <div class="form-group-inner{% if form_error('name')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Coupon Title *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="name" id="name" {% if set_value('name') %} value="{{set_value('name')}}" {% else %} value="{{content.main.name}}" {% endif %}  class="form-control">
                                                                {{form_error('name', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="form-group-inner{% if form_error('code')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Coupon Code *</label> <label class="login2 pull-right pull-right-pro">(Must be at least 5 characters in length </label>
                                                                <label class="login2 pull-right pull-right-pro">, max 8 characters)</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="code" id="code" {% if set_value('code') %} value="{{set_value('code')}}" {% else %} value="{{content.main.code}}" {% endif %}  class="form-control">
                                                                {{form_error('code', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('type')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Coupon Type *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                               <select class="form-control couponType custom-select-value" name="type" id="type">
                                                                        <option value="">Select</option>   
                                                                        <option value="Percentage" {% if set_value('type') == 'Percentage' %} selected {% elseif content.main.type == 'Percentage' %} selected {% endif %}>Percentage</option>
                                                                        <option value="Fixed" {% if set_value('type') == 'Fixed' %} selected {% elseif content.main.type == 'Fixed' %} selected {% endif %}>Fixed</option>
                                                                    </select>
                                                                {{form_error('type', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                            
                                                    <div class="form-group-inner{% if form_error('type')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Apply For *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                               <select class="form-control custom-select-value" name="applayFor" id="applayFor">
                                                                        <option value="">Select</option>
                                                                        <option value="cart" {% if set_value('applayFor') == 'cart' %} selected {% elseif content.main.applayFor == 'cart' %} selected {% endif %}>Cart</option>
                                                                        <option value="delivery" {% if set_value('applayFor') == 'delivery' %} selected {% elseif content.main.applayFor == 'delivery' %} selected {% endif %}>Delivery</option>
                                                                        <option value="firstPurchase" {% if set_value('applayFor') == 'firstPurchase' %} selected {% elseif content.main.applayFor == 'firstPurchase' %} selected {% endif %}>First Purchase</option>
                                                                        <option value="user" {% if set_value('applayFor') == 'user' %} selected {% elseif content.main.applayFor == 'user' %} selected {% endif %}>User</option>
                                                                    </select>
                                                                {{form_error('applayFor', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                     <div {% if content.main.applayFor =='user' %} {%else%}style="display:none" {% endif%} id="userDiv" class="form-group-inner{% if form_error('utype')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">User</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                               <input type="text" name="utype" id="tags" {% if set_value('utype') %} value="{{set_value('utype')}}" {% else %} value="{{content.main.applayForUser}}" {% endif %}  class="form-control">
                                                                {{form_error('utype', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                        </div>


                                                    <div class="form-group-inner{% if form_error('discount')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Discount *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="discount" id="discount" {% if set_value('discount') %} value="{{set_value('discount')}}" {% else %} value="{{content.main.discount}}" {% endif %}  class="form-control">
                                                                {{form_error('discount', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                     <div class="form-group-inner{% if form_error('minimum_amount_purchase')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Minimum Amount Purchase *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="minimum_amount_purchase" id="minimum_amount_purchase" {% if set_value('minimum_amount_purchase') %} value="{{set_value('minimum_amount_purchase')}}"  {% elseif content.main.minimum_amount_purchase == 0 %} value="0" {% else %} value="{{content.main.minimum_amount_purchase}}" {% endif %}  class="form-control">
                                                                {{form_error('minimum_amount_purchase', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {#<div class="form-group-inner{% if form_error('maximum_amount_purchase')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Maximum Amount Purchase</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="maximum_amount_purchase" id="maximum_amount_purchase" {% if content.main.minimum_amount_purchase == 0 %} value="0" {% elseif set_value('maximum_amount_purchase') %} value="{{set_value('maximum_amount_purchase')}}" {% else %} value="{{content.main.maximum_amount_purchase}}" {% endif %}  class="form-control">
                                                                {{form_error('maximum_amount_purchase', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>#}
                                                     <div {% if content.main.type == 'Fixed' %}style="display:none;"{% endif %} class="discount form-group-inner{% if form_error('max_discount')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Max Amount(Discount)</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="max_discount" id="max_discount" {% if set_value('max_discount') %} value="{{set_value('max_discount')}}" {% else %} value="{{content.main.max_discount}}" {% endif %}  class="form-control">
                                                                {{form_error('max_discount', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('dateStart')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Date Start *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="dateStart" id="dateStart" {% if set_value('dateStart') %} value="{{set_value('dateStart')}}" {% else %} value="{{content.main.dateStart}}" {% endif %} placeholder="DD-MM-YYYY" data-date-format="YYYY-MM-DD" class="form-control datePicker" autocomplete="off"/>
                                                                {{form_error('dateStart', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('dateEnd')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Date End *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="dateEnd" id="dateEnd" {% if set_value('dateEnd') %} value="{{set_value('dateEnd')}}" {% else %} value="{{content.main.dateEnd}}" {% endif %} placeholder="DD-MM-YYYY" data-date-format="YYYY-MM-DD" class="form-control datePicker" autocomplete="off"/>
                                                                {{form_error('dateEnd', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Comment</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                               <textarea name="comment" id="comment" class="form-control" placeholder="Comment">{% if set_value('comment') %}{{set_value('comment')}}{% else %}{{content.main.comment}}{% endif %}</textarea>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                   {#<div class="form-group-inner{% if form_error('logged')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Logged  </label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                          <input type="checkbox"  id="logged" name="logged" {% if content.main.logged=='1' %} checked {% endif %}>
                                                                {{form_error('logged', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('shipping')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Shipping  </label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                          <input type="checkbox"  id="shipping" name="shipping" {% if content.main.shipping=='1' %} checked {% endif %}>
                                                                {{form_error('shipping', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>        
                                                     
                                                     <div class="form-group-inner{% if form_error('total')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Total</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="total" id="total" {% if set_value('total') %} value="{{set_value('total')}}" {% else %} value="{{content.main.total}}" {% endif %}  class="form-control">
                                                                {{form_error('total', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                     <div class="form-group-inner{% if form_error('usesTotal')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Uses Total</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="usesTotal" id="usesTotal" {% if set_value('usesTotal') %} value="{{set_value('usesTotal')}}" {% else %} value="{{content.main.usesTotal}}" {% endif %}  class="form-control">
                                                                {{form_error('usesTotal', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                     <div class="form-group-inner{% if form_error('usesCustomer')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Uses Customer</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="usesCustomer" id="usesCustomer" {% if set_value('usesCustomer') %} value="{{set_value('usesCustomer')}}" {% else %} value="{{content.main.usesCustomer}}" {% endif %}  class="form-control">
                                                                {{form_error('usesCustomer', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>#}
                                                    <!--IMAGE-->
                                                    {#<div class="form-group-inner{% if form_error('name')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Image</label><br>
                                                                <label class="login2 pull-right pull-right-pro">( width x height:{{imageSet}} , MaxSize : {{maxSize}}MB )</label>
                                                                <label class="login2 pull-right pull-right-pro">( Allowed Type : {{allowedType}} )</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6">
                                                                <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                    <div class="input append-small-btn">
                                                                        <div class="file-button">
                                                                            Browse
                                                                            <input type="file" name="image" id="image" {% if set_value('image') %} value="{{set_value('image')}}" {% else %} value="{{content.main.image}}" {% endif %} onchange="document.getElementById('append-small-btn').value = this.value;">
                                                                        </div>
                                                                        <input type="text" id="append-small-btn" {% if set_value('image') %} value="{{set_value('image')}}" {% else %} value="{{content.main.image}}" {% endif %} placeholder="no file selected">
                                                                        {{form_error('image', '<div class="error">', '</div>')}}
                                                                        {% if imgErr %} <div class="error imageError">{{ imgErr|raw  }}</div> {% endif %}
                                                                        <div class="error imageError" id="imgSizeErr"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <img id="profile-img-tag" src="{{base_url()}}uploads/banner/{{content.main.image}}" alt="" width="100px"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>#}
                                                    <!--status-->
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Status</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                                <div class="form-select-list">
                                                                    <select class="form-control custom-select-value" name="status" id="status">
                                                                        <option value="Active" {% if set_value('status') == 'Active' %} selected {% elseif content.main.status == 'Active' %} selected {% endif %}>Active</option>
                                                                        <option value="Inactive" {% if set_value('status') == 'Inactive' %} selected {% elseif content.main.status == 'Inactive' %} selected {% endif %}>Inactive</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <a href="{{base_url()}}manage/Coupon/" class="btn btn-white" >Cancel</a>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>
<style>
.ui-menu {
width: 926px;
background: #c6c6c6;
padding-left: 10px;
}
</style>

<link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
<link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
<script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
<script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>   
<script src="{{base_url()}}public/manage/css/autocomplete/jquery-ui.min.css"></script>
<script src="{{base_url()}}public/manage/js/autocomplete/jquery-ui.min.js"></script>
<script src="{{base_url()}}public/manage/js/datapicker/bootstrap-datepicker.js"></script>
 
  <script>
   $("#applayFor").change(function (e) {
         var type   =   $("#applayFor").val();
        if(type=='user'){
            $("#userDiv").show();
            
        }else{
            $("#userDiv").hide();
            
        }
    });
    $(".couponType").change(function (e) {
    //alert($(this).val());
    if($(this).val() == 'Fixed'){
    	$('.discount').css('display','none');
    }else{
    $('.discount').css('display','block');
	}
    });
    
  $( function() {
    
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#tags" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
        var arrayuser = [];
        $.ajax({

                    type:"GET",

                    url: '{{base_url()}}manage/Coupon/getActiveUser',

                    data: { query: $("#txtState").val() },

                    dataType:"json",

                    contentType:"application/json; charset=utf-8",

                    success:function(data) { 
                    for (i=0; i < data.length; i++){
                    arrayuser.push(data[i].email);
    
}

response( $.ui.autocomplete.filter(
            arrayuser, extractLast( request.term ) ) );
                        //response(data);

                    },

                    error:function(data) {

                        //alert("error found");

                    }
                    });
          // delegate back to autocomplete, but extract the last term
          
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  } );
  </script>
<script>
     $('.datePicker').datepicker({
                                                                                format: 'yyyy-mm-dd',
                                                                                prevText: '<i class="fa fa-chevron-left"></i>',
                                                                                nextText: '<i class="fa fa-chevron-right"></i>',
                                                                                startDate:'-1y'
                                                                                
                                                                            });
</script>  

{#<script type="text/javascript">
    $("#image").change(function (e) {
        var maxSize= {{maxImageSizeJs}};
        var imageWidth = {{imageDimension[0]}}
        var imageHeight = {{imageDimension[1]}}
        showImage(this,maxSize,imageWidth,imageHeight,'profile-img-tag','imgSizeErr');
    });
</script> #}                                                                                 
