 <div class="product-status mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!--CONTENT AREA-->
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="sparkline12-list">
                                        <div class="sparkline12-hd">
                                            <div class="main-sparkline12-hd">
                                                {#<h1>Add New Warehouse</h1>#}
                                                {% if success %} <div class="alert alert-success">{{ success }} </div> {% endif %}
                                                {% if failMessage %} <div class="alert alert-danger alert-mg-b">{{ failMessage }}</div>{% endif %}
                                            </div>
                                        </div>
                                        <div class="sparkline12-graph">
                                            <div class="basic-login-form-ad">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="all-form-element-inner"> 
                                                            {% if message %} <div class="alert alert-success">{{ message }}</div> {% endif %}
                                                            {% if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                                                            <form id="warehouseAdd"  method="post" enctype="multipart/form-data">
                                                                <input type="hidden" name="warehouseID" value="{{ content.slotID }}"/>
                                                                <div class="form-group-inner{% if form_error('fromTime')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">From Time *</label>
                                                                        </div>
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <input type="text" name="fromTime" id="fromTime" {% if set_value('fromTime') %} value="{{set_value('fromTime')}}" {% else %} value="{{content.fromTime}}" {% endif %}  class="form-control clockPicker" onkeypress="return false;" autocomplete="off">
                                                                            {{form_error('fromTime', '<div class="error">', '</div>')}}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group-inner{% if form_error('toTime')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">To Time *</label>
                                                                        </div>
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <input type="text" name="toTime" id="toTime" {% if set_value('toTime') %} value="{{set_value('toTime')}}" {% else %} value="{{content.toTime}}" {% endif %}  class="form-control clockPicker" onkeypress="return false;" autocomplete="off">
                                                                            {{form_error('toTime', '<div class="error">', '</div>')}}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                               
                                                                <!--status-->
                                                                <div class="form-group-inner">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Status</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                                            <div class="form-select-list">
                                                                                <select class="form-control custom-select-value" name="status" id="status">
                                                                                    <option value="Active" {% if set_value('status') == 'Active' %} selected {% elseif content.status == 'Active' %} selected {% endif %}>Active</option>
                                                                                    <option value="Inactive" {% if set_value('status') == 'Inactive' %} selected {% elseif content.status == 'Inactive' %} selected {% endif %}>Inactive</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group-inner">
                                                                    <div class="login-btn-inner">
                                                                        <div class="row">
                                                                            <div class="col-lg-3"></div>
                                                                            <div class="col-lg-9">
                                                                                <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                                    <a href="{{base_url()}}manage/TimeSlote/" class="btn btn-white" >Cancel</a>
                                                                                    <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--END OF CONTENT AREA-->
                        </div>
                    </div>
                </div>
            </div>
           
