<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    {#<h1>Add New Home Page Slider</h1>#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner"> 
                                                {# % if message %} <div class="alert alert-success">{{ message }}</div> {% endif % #}
                                                {# % if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif % #}
                                                <form id="bannerAdd"  method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="id" value="{{ content.main.id }}"/>
                                                    <div class="form-group-inner{% if form_error('permissionID')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Class name</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="permissionID" id="permissionID" {% if set_value('permissionID') %} value="{{set_value('permissionID')}}" {% else %} value="{{content.main.permissionID}}" {% endif %}  class="form-control">
                                                                {{form_error('permissionID', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('groupID')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Group ID</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="groupID" id="permissionID" {% if set_value('groupID') %} value="{{set_value('groupID')}}" {% else %} value="{{content.main.groupID}}" {% endif %}  class="form-control">
                                                                {{form_error('groupID', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% if content.main.value == '7'%}
                                                        <div class="form-group-inner{% if form_error('value')!='' %} error-form {% endif%}">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Permission</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input class="my-activity" type="checkbox" name="value['write']" value="1" checked> Write (1)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['edit']" value="2" checked> Edit (2)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['delete']" value="4" checked> Delete (4)<br/> <br/> 
                                                                    <p>
                                                                        {#    <strong>Value </strong>: <input type="text" name="value" id="value" />#}
                                                                        <input type="text" name="value" id="value" {% if set_value('value') %} value="{{set_value('value')}}" {% else %} value="{{content.main.value}}" {% endif %}  class="form-control">
                                                                    </p>
                                                                    {{form_error('value', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>

                                                    {% elseif content.main.value == '3' %}
                                                        <div class="form-group-inner{% if form_error('value')!='' %} error-form {% endif%}">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Permission</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input class="my-activity" type="checkbox" name="value['write']" value="1" checked> Write (1)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['edit']" value="2" checked> Edit (2)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['delete']" value="4"> Delete (4)<br/> <br/> 
                                                                    <p>
                                                                        {#    <strong>Value </strong>: <input type="text" name="value" id="value" />#}
                                                                        <input type="text" name="value" id="value" {% if set_value('value') %} value="{{set_value('value')}}" {% else %} value="{{content.main.value}}" {% endif %}  class="form-control">
                                                                    </p>
                                                                    {{form_error('value', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% elseif content.main.value == '0'%}
                                                        <div class="form-group-inner{% if form_error('value')!='' %} error-form {% endif%}">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Permission</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input class="my-activity" type="checkbox" name="value['write']" value="1" > Write (1)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['edit']" value="2" > Edit (2)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['delete']" value="4"> Delete (4)<br/> <br/> 
                                                                    <p>
                                                                        {#    <strong>Value </strong>: <input type="text" name="value" id="value" />#}
                                                                        <input type="text" name="value" id="value" {% if set_value('value') %} value="{{set_value('value')}}" {% else %} value="{{content.main.value}}" {% endif %}  class="form-control">
                                                                    </p>
                                                                    {{form_error('value', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% elseif content.main.value == ''%}
                                                        <div class="form-group-inner{% if form_error('value')!='' %} error-form {% endif%}">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Permission</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input class="my-activity" type="checkbox" name="value['write']" value="1" > Write (1)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['edit']" value="2" > Edit (2)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['delete']" value="4"> Delete (4)<br/> <br/> 
                                                                    <p>
                                                                        {#    <strong>Value </strong>: <input type="text" name="value" id="value" />#}
                                                                        <input type="text" name="value" id="value" {% if set_value('value') %} value="{{set_value('value')}}" {% else %} value="{{content.main.value}}" {% endif %}  class="form-control">
                                                                    </p>
                                                                    {{form_error('value', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% elseif content.main.value == '1'%}
                                                        <div class="form-group-inner{% if form_error('value')!='' %} error-form {% endif%}">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Permission</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input class="my-activity" type="checkbox" name="value['write']" value="1" checked> Write (1)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['edit']" value="2" > Edit (2)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['delete']" value="4"> Delete (4)<br/> <br/> 
                                                                    <p>
                                                                        {#    <strong>Value </strong>: <input type="text" name="value" id="value" />#}
                                                                        <input type="text" name="value" id="value" {% if set_value('value') %} value="{{set_value('value')}}" {% else %} value="{{content.main.value}}" {% endif %}  class="form-control">
                                                                    </p>
                                                                    {{form_error('value', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% elseif content.main.value == '6'%}
                                                        <div class="form-group-inner{% if form_error('value')!='' %} error-form {% endif%}">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Permission</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input class="my-activity" type="checkbox" name="value['write']" value="1" > Write (1)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['edit']" value="2" checked> Edit (2)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['delete']" value="4" checked> Delete (4)<br/> <br/> 
                                                                    <p>
                                                                        {#    <strong>Value </strong>: <input type="text" name="value" id="value" />#}
                                                                        <input type="text" name="value" id="value" {% if set_value('value') %} value="{{set_value('value')}}" {% else %} value="{{content.main.value}}" {% endif %}  class="form-control">
                                                                    </p>
                                                                    {{form_error('value', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% elseif content.main.value == '2'%}
                                                        <div class="form-group-inner{% if form_error('value')!='' %} error-form {% endif%}">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Permission</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input class="my-activity" type="checkbox" name="value['write']" value="1" > Write (1)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['edit']" value="2" checked> Edit (2)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['delete']" value="4" > Delete (4)<br/> <br/> 
                                                                    <p>
                                                                        {#    <strong>Value </strong>: <input type="text" name="value" id="value" />#}
                                                                        <input type="text" name="value" id="value" {% if set_value('value') %} value="{{set_value('value')}}" {% else %} value="{{content.main.value}}" {% endif %}  class="form-control">
                                                                    </p>
                                                                    {{form_error('value', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>

                                                    {% elseif content.main.value == '5'%}
                                                        <div class="form-group-inner{% if form_error('value')!='' %} error-form {% endif%}">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Permission</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input class="my-activity" type="checkbox" name="value['write']" value="1" checked> Write (1)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['edit']" value="2" > Edit (2)<br/>
                                                                    <input class="my-activity" type="checkbox" name="value['delete']" value="4" checked> Delete (4)<br/> <br/> 
                                                                    <p>
                                                                        {#    <strong>Value </strong>: <input type="text" name="value" id="value" />#}
                                                                        <input type="text" name="value" id="value" {% if set_value('value') %} value="{{set_value('value')}}" {% else %} value="{{content.main.value}}" {% endif %}  class="form-control">
                                                                    </p>
                                                                    {{form_error('value', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {# <!--status-->
                                                     <div class="form-group-inner">
                                                         <div class="row">
                                                             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                 <label class="login2 pull-right pull-right-pro">Status</label>
                                                             </div>
                                                             <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
 
                                                                 <div class="form-select-list">
                                                                     <select class="form-control custom-select-value" name="status" id="status">
                                                                         <option value="enable" {% if set_value('status') == 'enable' %} selected {% elseif content.main.status == 'enable' %} selected {% endif %}>enable</option>
                                                                         <option value="disable" {% if set_value('status') == 'disable' %} selected {% elseif content.main.status == 'disable' %} selected {% endif %}>disable</option>
                                                                     </select>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>#}
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <a href="{{base_url()}}manage/Userrole/" class="btn btn-white" >Cancel</a>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".my-activity").click(function (event) {
            var total = 0;
            $(".my-activity:checked").each(function () {
                total += parseInt($(this).val());
            });

            if (total == 0) {
                $('#value').val('');
            } else {
                $('#value').val(total);
            }
        });
    });
</script>
