.x-editor-custom .popover{
	border-radius: 0px;
	border: 1px solid #F06C00; 
	padding:0px;
}
.x-editor-custom .input-sm{
	font-size:13px;
	border-radius: 0px;
}
.x-editor-custom .form-control:focus{
	font-size:13px;
	border-radius: 0px;
	box-shadow: none; 
	border-color: #F06C00;
}
.x-editor-custom .form-control{
	border-radius: 0px;
}
.x-editor-custom .btn-primary{
	background-color: #F06C00;
    border-color: #F06C00;
}
.x-editor-custom .btn-default{
	background-color: #303030;
    border-color: #303030;
	color:#fff;
}
.x-editor-custom .btn-primary:hover, .x-editor-custom .btn-primary:focus{
	background-color: #303030;
    border-color: #303030;
}
.x-editor-custom .btn-default:hover, .x-editor-custom .btn-default:focus{
	background-color: #F06C00;
    border-color: #F06C00;
}
.x-editor-custom .popover-title{
	background:#F06C00;
	color:#fff;
	border-radius: 0px;
	padding:10px 15px;
}
.x-editor-custom .datepicker table tr td.active, .x-editor-custom .datetimepicker table tr td.active{
	background-color: #F06C00;
    background-image: -moz-linear-gradient(top, #F06C00, #F06C00);
    background-image: -ms-linear-gradient(top, #F06C00, #F06C00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F06C00), to(#F06C00));
    background-image: -webkit-linear-gradient(top, #0088cc, #F06C00);
    background-image: -o-linear-gradient(top, #0088cc, #F06C00);
    background-image: linear-gradient(top, #0088cc, #F06C00);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#F06C00', GradientType=0);
    border-color: #F06C00 #F06C00 #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.x-editor-custom .select2-container .select2-choice{
	border: 0px solid #aaa;
	color: #fff;
	border-radius: 0px;
	background-color: #F06C00;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F06C00), color-stop(0.5, #F06C00));
    background-image: -webkit-linear-gradient(center bottom, #F06C00 0%, #F06C00 50%);
    background-image: -moz-linear-gradient(center bottom, #F06C00 0%, #F06C00 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#F06C00', endColorstr = '#F06C00', GradientType = 0);
    background-image: linear-gradient(top, #F06C00 0%, #F06C00 50%);
}
.x-editor-custom .select2-container .select2-choice .select2-arrow{
	border-left: 0px solid #aaa;
	border-radius: 0;
	    background: #303030;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #303030), color-stop(0.6, #303030));
    background-image: -webkit-linear-gradient(center bottom, #303030 0%, #303030 60%);
    background-image: -moz-linear-gradient(center bottom, #303030 0%, #303030 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#303030', endColorstr = '#303030', GradientType = 0);
    background-image: linear-gradient(303030);
}
.x-editor-custom .select2-container-multi .select2-choices{
	border: 1px solid #F06C00;
}
.x-editor-custom .select2-container-multi .select2-choices .select2-search-choice{
    color: #fff;
    border: 1px solid #F06C00;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 2px #F06C00 inset, 0 1px 0 #F06C00;
    box-shadow: 0 0 2px #F06C00 inset, 0 1px 0 #F06C00;
    background-color: #F06C00;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F06C00', endColorstr='#F06C00', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #F06C00), color-stop(50%, #F06C00), color-stop(52%, #F06C00), color-stop(100%, #F06C00));
    background-image: -webkit-linear-gradient(top, #F06C00 20%, #F06C00 50%, #F06C00 52%, #F06C00 100%);
    background-image: -moz-linear-gradient(top, #F06C00 20%, #F06C00 50%, #F06C00 52%, #F06C00 100%);
    background-image: linear-gradient(top, #F06C00 20%, #F06C00 50%, #F06C00 52%, #F06C00 100%);
}
.x-editor-custom .datetimepicker table tr td span.active{
	    background-color: #F06C00;
    background-image: -moz-linear-gradient(top, #F06C00, #F06C00);
    background-image: -ms-linear-gradient(top, #F06C00, #F06C00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(006DF0), to(#F06C00));
    background-image: -webkit-linear-gradient(top, #F06C00, #F06C00);
    background-image: -o-linear-gradient(top, #F06C00, #F06C00);
    background-image: linear-gradient(top, #F06C00, #F06C00);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F06C00', endColorstr='#F06C00', GradientType=0);
    border-color: #F06C00 #F06C00 #F06C00;
}