
             
            <!--breadcrumb area start-->
            <div class="breadcrumb_container">
                <div class="container">
                    <div class="row">
                        <div class="col-12">     
                            <nav>
                        <ul>
                            <a href="{{base_url()}}home/">{{ lang('home') }} ></a>
                            <li>{{blogDeta.0.title}}</li>
                        </ul>
                    </nav>
                        </div>
                    </div> 
                </div>        
            </div>
             <!--breadcrumb area end-->
            
			<!--blog area css satrt-->
            <div class="blog_details_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-8">
                            <div class="blog_details_left">
                                {#<div class="blog_left_sidebar mb-50">
                                    <h3>Categories</h3> 
                                    <div class="blog_sidebar_categories">
                                        <ul>
                                            <li><a href="#">Accessories <span>4</span></a></li>
                                            <li><a href="#">Book <span>6</span></a></li>
                                            <li><a href="#">Clothing <span>9</span></a></li>
                                            <li><a href="#">Homelife <span>3</span></a></li>
                                            <li><a href="#">Kids &amp; body <span>8</span></a></li>
                                        </ul>  
                                    </div>   
                                </div> #}
                                <div class="blog_left_sidebar mb-50">
                                    <h3>Recent Posts</h3>
                                    {% for data in blogList  %}
                                        {% if data.blogID != blogIDs %}
                                    <div class="recent_post mb-30">
                                        <div class="recent_post_title">
                                            <a href="{{base_url()}}Blog/blogDetail/{{data.blogID}}"><img src="{{data.image}}" alt=""></a>    
                                        </div>
                                        <div class="recent_post_content">
                                            <h4><a href="{{base_url()}}Blog/blogDetail/{{data.blogID}}">{{data.title}}</a></h4>
                                            <span class="post_date">{{data.dateAdded |date("d-M-Y")}}</span>   
                                        </div>   
                                    </div>
                                        {% endif %}
                                    {% endfor %} 
                                    
                                  
                                </div>    
                            </div>    
                        </div>
                                    
                          {% for data in blogDeta  %}     
                        <div class="col-lg-9 col-md-12">
                            <div class="blog_details_info">
                                <div class="blog_meta">
                                    <ul>
                                        <li>{{data.author}}</li>
                                        <li>{{data.dateAdded |date("d-M-Y")}}</li>
                                    </ul>   
                                </div>
                                <h3>{{data.title}} </h3> 
                                <div class="blog_details_img">
                                    <img src="{{data.image}}" alt="">    
                                </div>   
                                <div class="post_excerpt">
				<p>{{data.description | raw}}</p>
									
                                </div> 
                            </div>
                               
                        </div> 
                                 {% endfor %} 
                             
                    </div>    
                </div>    
            </div>
            <!--blog area css end-->
           
           