<!--breadcrumb area start-->
            <div class="breadcrumb_container">
                <div class="container">
                    <div class="row">
                        <div class="col-12">     
                            <nav>
                        <ul>
                             <a href="{{base_url()}}home/">{{ lang('home') }} ></a>
                            <li>{{ lang('Blog_list') }}</li>
                        </ul>
                    </nav>
                        </div>
                    </div> 
                </div>        
            </div>
             <!--breadcrumb area end-->
            
			<!--blog area css satrt-->
            <div class="blog_list_area">
                <div class="container">
                    <div class="row">
                        {% for data in blogList  %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="single_blog_list">
                                <div class="blog__thumb">
                                    <a href="{{base_url()}}Blog/blogDetail/{{data.blogID}}"><img src="{{data.image}}" alt=""></a>    
                                </div>
                                <div class="post__content">
                                    <h3><a href="{{base_url()}}Blog/blogDetail/{{data.blogID}}">{{data.title}}</a></h3>
                                    <ul>
                                        <li><a href="{{base_url()}}Blog/blogDetail/{{data.blogID}}">Read More</a></li>
                                        <li class="post_date">{{data.dateAdded |date("d-M-Y")}}</li>
                                    </ul>    
                                </div>
                            </div>    
                        </div> 
                        {% endfor %} 
                     
                     {#
                        <div class="col-12">
                            <div class="pagination_content">
                               
                                <ul class="pagination">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li class="pagination_three"><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                </ul>
                               
                            </div>      
                        </div>  #}                      
                    </div>    
                </div>   
           </div>
            <!--blog area css end-->
           
          