<html lang="en">
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    <form method="post" class="form-inline form-horizontal " style=" position: fixed;left: 50%;top:40%;transform: translate(-50%, 0);">
        <h3 style="text-align: center; padding: 20px;">Enter password!</h3>
        <div class="form-group mx-sm-3 mb-2" style="margin:0px auto;">
          <label for="inputPassword2" class="sr-only">Password</label>
          <input type="password" name="password" class="form-control" id="inputPassword2" placeholder="Password">
          
        </div>
        <button type="submit" class="btn btn-primary mb-2">Confirm</button>
      </form>
    </body>
</html>