<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline12-list">
                        <div class="sparkline12-hd">
                            <div class="main-sparkline12-hd">
                                {#<h1>Option Group</h1>#}
                            </div>
                        </div>
                        <div class="sparkline12-graph">
                            <div class="basic-login-form-ad">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="all-form-element-inner">
                                            {% if message %} <div class="alert alert-success">{{ message }}</div> {% endif %}
                                            {% if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                                            <form id="optionAdd" method="post" enctype="multipart/form-data">
                                                <div id="optionMore"> 
                                                    {% if content %} 
                                                        {% for data in content.optionID %}
                                                          
                                                        <div class="form-group-inner" id ="optionCount{{loop.index}}">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">{% if loop.index==1 %} Option* {% endif %}</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-9 col-sm-9 col-xs-12">
                                                                    <select class="chosen-select optionGroup" id="optionGroup-0" tabindex="-1" name="optionGroup[]">
                                                                        <option value="">Select</option>
                                                                        {% for options in optionsList %}
                                                                            <option value="{{options.optionID}}" {% if options.optionID==data %} selected {% endif %}>{{options.name}} </option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    {{form_error('optionGroup[]', '<div class="error">', '</div>')}}
                                                                </div>
                                                                 <div class="col-lg-3 col-md-9 col-sm-9 col-xs-12">
                                                                     {% if loop.index==1 %}
                                                                    <button type="button" id="add_button" onclick="addOptionRow();" data-count = {{content.optionID|length}} data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Add Option"><i class="fa fa-plus-circle"></i></button>
                                                                    {% else %}
                                                                    <button type="button" onclick="remove('{{loop.index}}')" data-toggle="tooltip" title="Remove" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
                                                                    {% endif %}
                                                                     </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %} 
                                                    {% else %}
                                                         <div class="form-group-inner" {% if myVal > 0 %} id ="optionCount{{myVal}}"  {% else %} id ="optionCount0" {% endif %}>
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Option*</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-9 col-sm-9 col-xs-12">
                                                                    <select class="chosen-select optionGroup" id="optionGroup-0" tabindex="-1" name="optionGroup[]">
                                                                        <option value="">Select</option>
                                                                        {% for options in optionsList %}
                                                                            <option value="{{options.optionID}}">{{options.name}} </option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    {{form_error('optionGroup[]', '<div class="error">', '</div>')}}
                                                                </div>
                                                                 <div class="col-lg-3 col-md-9 col-sm-9 col-xs-12">
                                                                    <button type="button" id="add_button" onclick="addOptionRow();" {% if myVal > 0 %} data-count = {{myVal}} {% else %} data-count=0 {% endif %} data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Add Option"><i class="fa fa-plus-circle"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div> </br>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                            <label class="login2 pull-right pull-right-pro">Sort Order</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-9 col-sm-9 col-xs-12">
                                                            <input type="text" name="sortOrder" id="sortOrder" {% if set_value('sortOrder') %} value="{{set_value('sortOrder')}}" {% else %} value="{{content.sortOrder}}" {% endif %} class="form-control">
                                                            {{form_error('sortOrder', '<div class="error">', '</div>')}}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group-inner">
                                                    <div class="login-btn-inner">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 text-center">
                                                                <a href="{{base_url()}}manage/OptionCombination/" class="btn btn-secondary" >Cancel</a>
                                                                <button class="btn btn-sm subbtn btn-primary login-submit-cs" type="submit" >Save Change</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>
  <!-- dropzone CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/dropzone/dropzone.css">
        <!-- dropzone JS============================================ -->
        <script src="{{base_url()}}public/manage/js/dropzone/dropzone.js"></script>

        <link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
        <script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
        <script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>
<script type="text/javascript">

    var option_row = $('#add_button').data('count');
    function addOptionRow() {
        option_row++;
        html = '<div class="form-group-inner" id="optionCount'+option_row+'">';
        html += '<div class="row">';
        html += '<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">';
        html += '<label class="login2 pull-right pull-right-pro"></label>';
        html += '</div>';
        html += '<div class="col-lg-6 col-md-9 col-sm-9 col-xs-12">';
        html += '<select class="chosen-select optionGroup" id="optionGroup-0" tabindex="-1" name="optionGroup[]">';
        html += '<option value="">Select</option>';
        html += '{% for options in optionsList %}';
        html += '<option value="{{options.optionID}}">{{options.name}} </option>';
        html += '{% endfor %}';
        html += '</select>';
        html += '{{form_error('optionGroup[]', '<div class="error">', '</div>')}}';
        html += '</div>';
        html += '<div class="col-lg-3 col-md-9 col-sm-9 col-xs-12">';
        html += '<button type="button" onclick="remove('+option_row+')" data-toggle="tooltip" title="Remove" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
        $('#optionMore').append(html);
       
        $('.chosen-select').chosen({width: "100%"});
    }
    
    function remove(idVal){
        $('#optionCount'+idVal).remove();
    }

</script>

