<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    {#<h1>Add New Home Page Slider</h1>#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner"> 
                                                {# % if message %} <div class="alert alert-success">{{ message }}</div> {% endif % #}
                                                {# % if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif % #}
                                                <form id="bannerAdd"  method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="menuOfferId" value="{{ content.main.menuOfferId }}"/>
                                                    <div class="form-group-inner{% if form_error('name')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Menu Offer Name</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="name" id="name" {% if set_value('name') %} value="{{set_value('name')}}" {% else %} value="{{content.detail.name}}" {% endif %}  class="form-control">
                                                                {{form_error('name', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('description')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Description</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <textarea name="description" id="description" class="form-control text-editor"> {% if set_value('description') %}{{set_value('description')}}{% else %}{{content.detail.description}}{% endif %}</textarea>
                                                                {{form_error('description', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('url')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"> Link</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="url" id="url" {% if set_value('url') %} value="{{set_value('url')}}" {% else %} value="{{content.main.url}}" {% endif %}  class="form-control">
                                                                {{form_error('link', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                       <div class="form-group-inner {% if form_error('parentID')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Parent</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">   
                                                                <select name="parentID" id="parentID"  class="chosen-select" tabindex="-1">
                                                                    <option>Select</option>
                                                                    
                                                                    {% for category in parentCategory %}
                                                                    <option value="{{category.categoryID}}" {% if set_value('parentID') == category.categoryID %} selected {% elseif content.main.parentID == category.categoryID %} selected {% endif %}>{{category.name}}</option>
                                                                    {% endfor %}    
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--IMAGE-->
                                                    <div class="form-group-inner{% if form_error('title')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Image</label><br>
                                                                <label class="login2 pull-right pull-right-pro">( width x height:{{imageSet}} , MaxSize : {{maxSize}}MB )</label>
                                                                <label class="login2 pull-right pull-right-pro">( Allowed Type : {{allowedType}} )</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6">
                                                                <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                    <div class="input append-small-btn">
                                                                        <div class="file-button">
                                                                            Browse
                                                                            <input type="file" name="image" id="image" {% if set_value('image') %} value="{{set_value('image')}}" {% else %} value="{{content.main.image}}" {% endif %} onchange="document.getElementById('append-small-btn').value = this.value;">
                                                                        </div>
                                                                        <input type="text" id="append-small-btn" {% if set_value('image') %} value="{{set_value('image')}}" {% else %} value="{{content.main.image}}" {% endif %} placeholder="no file selected">
                                                                        {{form_error('image', '<div class="error">', '</div>')}}
                                                                        {% if imgErr %} <div class="error imageError">{{ imgErr|raw  }}</div> {% endif %}
                                                                        <div class="error imageError" id="imgSizeErr"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <img id="profile-img-tag" src="{{base_url()}}uploads/menuOffer/{{content.main.image}}" alt="" width="100px"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--status-->
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Status</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                                <div class="form-select-list">
                                                                    <select class="form-control custom-select-value" name="status" id="status">
                                                                        <option value="Active" {% if set_value('status') == 'Active' %} selected {% elseif content.main.status == 'Active' %} selected {% endif %}>Active</option>
                                                                        <option value="Inactive" {% if set_value('status') == 'Inactive' %} selected {% elseif content.main.status == 'Inactive' %} selected {% endif %}>Inactive</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <a href="{{base_url()}}manage/Banner/" class="btn btn-white" >Cancel</a>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>
<!-- select2 JS============================================ -->
<link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
<link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
<script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
<script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>
<script type="text/javascript">
    $("#image").change(function (e) {
        var maxSize= {{maxImageSizeJs}};
        var imageWidth = {{imageDimension[0]}}
        var imageHeight = {{imageDimension[1]}}
        showImage(this,maxSize,imageWidth,imageHeight,'profile-img-tag','imgSizeErr');
    });
</script>                                                                                  
