<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                {#Add Category#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
                                                {% if message %} <div class="alert alert-success">{{ message }}</div> {% endif %}
                                                {% if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                                                <form method="post" enctype="multipart/form-data">
                                                    <!--Name-->
                                                    <div class="form-group-inner {% if form_error('exportPage')!='' %} error-form {% endif%}" >
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Page</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                               <select name="exportPage" id="exportPage"  class="chosen-select" tabindex="-1">
                                                                    <option value="">Select</option> 
                                                                    <option value="product" {% if exportPage == 'product' %} selected {% endif %}>Product</option>
                                                                    <option value="order" {% if exportPage == 'order' %} selected {% endif %}>Order</option>
                                                                    <option value="customer" {% if exportPage == 'customer' %} selected {% endif %}>Customer</option>
                                                                    
                                                               </select>
                                                                {{form_error('exportPage', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group-inner" >
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Page</label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                               <input type="text" name="page" id="page" class="form-control">
                                                                
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Limit</label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                               <input type="text" name="limit" id="limit" class="form-control">
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                     {% for key,value in filter %}       
                                                    <div class="form-group-inner {% if form_error('field[]')!='' %} error-form {% endif%}" >
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">{{value.label}}</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                             {{value.field | raw }}
                                                                   
                                                               
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{form_error('field[]', '<div class="error">', '</div>')}}       
                                                     {% endfor %} 
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        {#<a href="{{base_url()}}manage/Category/" class="btn btn-secondary" type="submit">Cancel</a>#}
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Report</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <!--END OF CONTENT AREA-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                                    <div class="asset-inner">
                                       {% if data|length > 0 %}
                                           <a href="{{base_url('manage/Report/index/exportVal')}}" class="btn btn-sm btn-primary login-submit-cs pull-right">Export Data</a>
                                            <table>
                                                <tr>
                                                    {% if header|length > 0 %}
                                                        {% for data in header  %}
                                                            <th>{{data}}</th>
                                                        {% endfor %} 

                                                    {% endif %}

                                                </tr>
                                                {% for key,result in data  %}
                                                    <tr>
                                                    {% for innerKey,innerResult in result  %}
                                                        <td>{{ innerResult}}</td>

                                                    {% endfor %}
                                                    </tr>
                                                {% endfor %}    
                                            </table>
                                        {% endif %}
                                    </div>

                                    <div class="text-center">
                                        {% if links %}<p class="pagination">{{links | raw }}</p> {% endif %}
                                    </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- select2 JS============================================ -->
<link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
<link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
<script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
<script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>
<script src="{{base_url()}}public/manage/js/datapicker/bootstrap-datepicker.js"></script>
<script>
    $('#exportPage').change(function(){
        var exportPage  =   $('#exportPage').val();
        if(exportPage){
             url = window.location.origin + window.location.pathname;

             window.location.replace(url+'?exportPage='+exportPage);
        }
    });
    
    $('.datePicker').datepicker({
        format: 'yyyy-mm-dd',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        startDate:'-1y'
    });
</script>