<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    {#                                    <h1>Add Attribute Group</h1>#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
                                                {% if message %} <div class="alert alert-success">{{ message }}</div> {% endif %}
                                                {% if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                                                <form id="attributeGroupAdd" method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="filterID" value="{{ content.ID }}"/>
                                                    <input type="hidden" name="languageID" value="{{ content.langID }}"/>
                                                    <!--Name-->
                                                    <div class="form-group-inner {% if form_error('attributeGroupName')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Attribute Group Name *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="attributeGroupName" id="attributeGroupName" {% if set_value('attributeGroupName') %} value="{{set_value('attributeGroupName')}}" {% else %} value="{{content.name}}" {% endif %} class="form-control">
                                                                {{form_error('attributeGroupName', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Sort Order</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="groupOrder" id="groupOrder" {% if set_value('groupOrder') %} value="{{set_value('groupOrder')}}" {% else %} value="{{content.sortOrder}}" {% endif %} class="form-control">
                                                                {{form_error('groupOrder', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--status-->
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Status</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                                <div class="form-select-list">
                                                                    <select class="form-control custom-select-value" name="status" id="status">
                                                                        <option value="Active" {% if set_value('status') == 'Active' %} selected {% elseif content.status == 'Active' %} selected {% endif %}>Active</option>
                                                                        <option value="Inactive" {% if set_value('status') == 'Inactive' %} selected {% elseif content.status == 'Inactive' %} selected {% endif %}>Inactive</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <a href="{{base_url()}}manage/AttributeGroups" class="btn btn-secondary" >Cancel</a>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {%if filterDataCount > 0%}
                                        <div class="form-group-inner">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label class="login2 pull-right pull-right-pro">Attributes List</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <table width="100%" class="table table-responsive table-bordered table-striped">

                                                        <tbody>
                                                            <tr>
                                                                <th>No.</th>
                                                                <th>Attribute</th>
                                                                <th>Sort order</th>
                                                                <th>Status</th>
                                                                <th>Option</th>
                                                            </tr>
                                                            {%set k = 1%}
                                                            {%for attribute in attributes%}
                                                                <tr>
                                                                    <td>{{k}}</td>
                                                                    <td>{{attribute.name}}</td>
                                                                    <td>{{attribute.sortOrder}}</td>
                                                                    <td>{{attribute.status}}</td>
                                                                    <td>
                                                                        <a href="{{base_url()}}manage/Attribute/edit/{{attribute.attributeID|e}}">
                                                                            <button type='button' data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                            </button>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                {%set k = k+1%}
                                                            {%endfor%}
                                                        </tbody>

                                                    </table>

                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>