<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">     
                <nav>
                    <ul>
                        <li><a href="#">{{lang('home')}}</a> ></li>
                        <li>{{content.title}}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->
<!-- Start Maincontent  -->
<section class="main-content-area my-account ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>{{content.title}}</h3>
                <p>{{content.content|raw}}</p>
            </div>
            {#<div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                {{lang('promotions')}}
            </div>#}
        </div>
    </div>
</section>			
<!-- End Maincontent  -->

