<style>
    table{
        width: 340px;
    }
    table tr td:first-child{
        width:130px;
        text-align: right!important;
    }
    table tr td:last-child{
        width:210px;
        padding-left: 8px;
        text-align: left!important;
    }
</style><div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            {#<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    
                </div>
            </div>#}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <style>
                    #myTabedu1.tab-review-design li span {
                        padding: 7px 20px;
                        text-transform: capitalize;
                        position: relative;
                        transition: all .4s ease 0s;
                        font-weight: 600;
                        font-size: 18px;
                        color: #a2a2a2;
                    }
                </style>
                <div class="product-payment-inner-st">

                    {% if imageError %} <div class="alert alert-danger alert-mg-b">{{ imageError }}</div> {% endif %}
                    {% if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                    <ul id="myTabedu1" class="tab-review-design">                        

                        <li class="active"><a href="#details">Details</a></li>    
                        <li><a href="#customer">Customer</a></li>
                        <li><a href="#products">product</a></li>
                        <li><a href="#status">Status</a></li>
                    </ul>

                    {#<form method="post" enctype="multipart/form-data">#}
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="details">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 about-sparkline">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>OrderID:</p>
                                                    </td>
                                                    <td>
                                                        <p><b>{{content.orderID}}</b></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Invoice:</p>
                                                    </td>
                                                    <td>
                                                        <p><b>{{content.invoicePrefix}}{{content.invoiceNo}}</b></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Total:</p>
                                                    </td>
                                                    <td>
                                                        <p><b>{{content.total}}</b></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Order Status:</p>
                                                    </td>
                                                    <td>
                                                        <p><b>{{content.orderStatus}}</b></p>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="product-tab-list tab-pane fade {% if pdType == 'data' %}active in {% endif %}" id="customer">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 about-sparkline">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>CustomerID:</p>
                                                    </td>
                                                    <td>
                                                        <p><b>{{content.customerID}}</b></p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <p>Customer Name:</p>
                                                    </td>
                                                    <td>
                                                        <p><b>{{content.fName}} {{content.lName}}</b></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Customer Group:</p>
                                                    </td>
                                                    <td>
                                                        <p><b>{{content.gName}}</b></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Email:</p>
                                                    </td>
                                                    <td>
                                                        <p><b>{{content.email}}</b></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Phone Number:</p>
                                                    </td>
                                                    <td>
                                                        <p><b>{{content.telephone}}</b></p>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="product-tab-list tab-pane fade {% if pdType == 'links' %}active in {% endif %}" id="products">
                            <div class="container-fluid">
                                <div class="col-md-12">
                                    <div class="card-group m-t-xl" style="display: flex;">
                                        {%for product in content.products %}
                                            <div class="card" style="margin-right:8px;width:18rem;border: 1px solid #b2b2b2;">
                                                <img class="card-img-top" src="{{base_url('uploads/product/')}}{{product.image}}" alt="No Image">
                                                <div class="card-body" style="padding: 8px;">
                                                    <h6 class="card-title">{{product.name}}</h6>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">Model : {{product.model}}</li>
                                                        <li class="list-group-item">ProducID : {{product.productID}}</li>
                                                        <li class="list-group-item">Quantity :{{product.quantity}}</li>
                                                        <li class="list-group-item">Unit Price : {{product.price}}</li>
                                                        <li class="list-group-item">Total : {{product.total}}</li>
                                                        <li class="list-group-item">Status : <b>{{product.status}}</b></li>
                                                    </ul>
                                                    {#<a href="#" class="card-link">View Product</a>#}
                                                </div>
                                            </div>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-tab-list tab-pane fade {% if pdType == 'attribute' %}active in {% endif %}" id="status">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 about-sparkline">
                                        <form  method="post" enctype="multipart/form-data">

                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">Order Status</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <select class="form-control" name="orderStatus" id="orderStatus">
                                                            <option value="">Select</option>
                                                            
                                                            {%for stat in content.status %}
                                                                <option value="{{stat.orderStatusID}}" {% if set_value('orderStatus') == stat.orderStatusID %} selected {% elseif content.orderStatusID == stat.orderStatusID %} selected {% endif %} >{{stat.name}}</option>
                                                            {%endfor%}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="login-btn-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3"></div>
                                                        <div class="col-lg-9">
                                                            <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                <a href="{{base_url()}}manage/Order/" class="btn btn-secondary" >Cancel</a>
                                                                <button class="btn btn-sm btn-primary login-submit-cs" id="orderStatusUpdate" type="submit">Change Status</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                        {#<div class="product-tab-list tab-pane fade" id="option">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="devit-card-custom">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Refer OpenCart">
                                                    </div>
                                                    <a href="#!" class="btn btn-primary waves-effect waves-light">Submit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>#}

                        <div class="product-tab-list tab-pane fade {% if pdType == 'discount' %}active in {% endif %}" id="discount">

                        </div>
                        <div class="product-tab-list tab-pane fade {% if pdType == 'images' %}active in {% endif %}" id="images">

                        </div>
                        <!--END OF CONTENT AREA-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--INCLUDE MODALS-->
<div id="WarningModalalert" class="modal modal-edu-general Customwidth-popup-WarningModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <span class="educate-icon educate-warning modal-check-pro information-icon-pro"></span>
                <h2>Alert!</h2>
                <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="modal-footer warning-md">
                <a data-dismiss="modal" href="#">Cancel</a>
                <a href="javascript:void(0)" id="confirmOk">Sure</a>
            </div>
        </div>
    </div>
</div>
<script>
    $("#orderStatusUpdate").click(function(e){
        e.preventDefault();
        opt    = $('#orderStatus').val();
        console.log("OPTION : "+ opt);
        $.ajax({
            url:"{{base_url('ManageOrder/changeStatus')}}",
            type:"POST",
            dataType:"JSON",
            data:({orderStatusID: opt}),
            
        })
    });
</script>