<link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
<link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            {#<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    
                </div>
            </div>#}
            <form method="get" class="col-md-10" style="visibility:hidden">
                                    <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Search</button>
                                 </form>
                                <div class="add-product col-md-2">
                                  <a href="javascript:void(0)" onclick="printData('printData')"><i class="fa fa-print" aria-hidden="true"> Print</i></a>
                                </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <style>

                    table>tbody>tr>td{
                        text-align: left!important;
                    }
                    p{
                        margin: 0;
                    }
                    #myTabedu1.tab-review-design li span {
                        padding: 7px 20px;
                        text-transform: capitalize;
                        position: relative;
                        transition: all .4s ease 0s;
                        font-weight: 600;
                        font-size: 18px;
                        color: #a2a2a2;
                    }
                </style>
                
                
                <div class="product-payment-inner-st">

                    {% if success %} <div class="alert alert-success alert-mg-b">{{ success }}</div> {% endif %}
                    {% if failMessage %} <div class="alert alert-danger alert-mg-b">{{ failMessage }}</div> {% endif %}
                    <ul id="myTabedu1" class="tab-review-design">                        

                        <li class="active"><a href="#details">Details</a></li>    
                        <li><a href="#customer">Customer</a></li>
                        <li><a href="#products">product</a></li>
                        <li><a href="#status">Status</a></li>
                        {%if content.orderStatusID >= 4%}
                            <li><a href="#driver">Driver</a></li>
                        {%endif%}
                            {%if content.orderStatusID >= 4%}
                           {# <li><a href="#delivery">Delivery</a></li>#}
                            {%endif%}

                    </ul>

                    {#<form method="post" enctype="multipart/form-data">#}
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="details">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 about-sparkline">
                                        <div class="table table-responsive">
                                            <table class="left table table-bordered table-striped" >
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <p>OrderID</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.orderID}}</b></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Invoice</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.invoicePrefix}}{{content.invoiceNo}}</b></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Total</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.total}}</b></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Order Status</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.orderStatus}}</b></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Order Date</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.dateAdded|date('d-M-Y')}}</b></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Payment Method</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{%if content.paymentMethod == 3%}Online Payment{%elseif content.paymentMethod == 2%}Cash On Delivery {%elseif content.paymentMethod == 1%} Free Checkout {%endif%}</b></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Payment Address</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.paymentFirstname}} {{content.paymentLastname}}<br/>
                                                                    {#                                                                {{content.paymentCompany}}</br>#}
                                                                    {{content.paymentAddress1}}, {{content.paymentAddress2}}</br>
                                                                    {{content.paymentCity}}, {{content.paymentZone}}</br>
                                                                    {{content.paymentCountry}}</br>


                                                                </b>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Shipping Address</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.shippingFirstname}} {{content.shippingLastname}}<br/>
                                                                    {#                                                                {{content.shippingCompany}}</br>#}
                                                                    {{content.shippingAddress1}}, {{content.shippingAddress2}}</br>
                                                                    {{content.shippingCity}}, {{content.shippingZone}}</br>
                                                                    {{content.shipping_additional_direction}}</br>
                                                                    {{content.shippingCountry}}</br>


                                                                </b>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Delivery Date</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.deliveryDate|date('d-M-Y')}} </b></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Time Slot</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.fromTime|date("h a")}} - {{content.toTime|date("h a")}}</b></p>
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <td>
                                                            <p>Delivery Type</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.orderDeliveryType}}</b></p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="product-tab-list tab-pane fade" id="customer">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 about-sparkline">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <tbody>

                                                    <tr>
                                                        <td>
                                                            <p>Customer First Name</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.fName}}</b></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Customer Last Name</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.lName}}</b></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Customer Group</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.gName}}</b></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Email</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.email}}</b></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Phone Number</p>
                                                        </td>
                                                        <td>
                                                            <p><b>{{content.telephone}}</b></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Default Address</p>
                                                        </td>
                                                        <td>{% if content.defAddress %}<p><b>{{content.defAddress.firstname}} {{content.defAddress.lastname}}</br>
                                                                    {{content.defAddress.address1}}, {{content.defAddress.address2}}</br>
                                                                    {{content.defAddress.zone}}</br>
                                                                    {{content.defAddress.city}}</br>
                                                                    {{content.defAddress.country}}

                                                                </b></p>{%else%}<i>-- No default Address --</i>{%endif%}

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="product-tab-list tab-pane fade" id="products">
                            <div class="container-fluid">
                                <div class="col-md-12 about-sparkline">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped">

                                            <tbody>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Image</th>
                                                    <th>Model</th>
                                                    <th>Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Total</th>
                                                </tr>
                                                
                                                {%for product in content.products %}
                                                    <tr>
                                                        <td>{{product.name}}
                                                        {% if content.option|length > 0 %}
                                                        {% for opt in content.option %}
                                                        {% if product.orderProductID == opt.productOrderID %} 
                                                        <span><br>{{opt.name}} : {{opt.value}}</span>
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endif %}
                                                        </td>
                                                        <td><img style="margin:auto;max-width:100px" src="{{base_url('uploads/product/')}}{{product.image}}" alt="No Image"></td>
                                                        <td>{{product.model}}</td>
                                                        <td>{{product.quantity}}</td>
                                                        <td>{{product.price}}</td>
                                                        <td>{{product.total}}</td>
                                                    </tr>
                                                    
                                                    {% if product.bundleProducts %}
                                                        {%for bundleProduct in product.bundleProducts %}
                                                            <tr>
                                                                <td>{{bundleProduct.name}}</td>
                                                                <td><img style="margin:auto;max-width:100px" src="{{base_url('uploads/product/')}}{{bundleProduct.image}}" alt="No Image"></td>
                                                                <td>{{bundleProduct.model}}</td>
                                                                <td>{{bundleProduct.quantity}}</td>
                                                                <td>Bundle Product</td>
                                                                <td>Bundle Product</td>
                                                            </tr>
                                                        {%endfor%}
                                                    {%endif%}
                                                {%endfor%}
                                            </tbody>
                                            <tfoot>
                                                {%for total in content.orderTotal %}
                                                    <tr><td colspan="5">{{total.title}}</td> <td><b>{{total.value}}</b></td></tr>
                                                {%endfor%}
                                               {# <tr><td colspan="5">Subtotal</td> <td><b>{{content.orderTotal.subTotal}}</b></td></tr>
                                                <tr><td colspan="5">Discount</td> <td><b>{{content.orderTotal.discounts}}</b></td></tr>
                                                <tr><td colspan="5">Grand Total</td> <td><b>{{content.orderTotal.total}}</b></td></tr>#}
                                            </tfoot>
                                        </table>
                                    </div>
                                    {#<div class="card-group m-t-xl" style="display: flex;">
                                        {%for product in content.products %}
                                            <div class="card" style="margin-right:8px;width:18rem;border: 1px solid #b2b2b2;">
                                                <img class="card-img-top" src="{{base_url('uploads/product/')}}{{product.image}}" alt="No Image">
                                                <div class="card-body" style="padding: 8px;">
                                                    <h6 class="card-title">{{product.name}}</h6>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">Model : {{product.model}}</li>
                                                        <li class="list-group-item">ProducID : {{product.productID}}</li>
                                                        <li class="list-group-item">Quantity :{{product.quantity}}</li>
                                                        <li class="list-group-item">Unit Price : {{product.price}}</li>
                                                        <li class="list-group-item">Total : {{product.total}}</li>
                                                        <li class="list-group-item">Status : <b>{{product.status}}</b></li>
                                                    </ul>
                                                    <a href="#" class="card-link">View Product</a>
                                                </div>
                                            </div>
                                        {%endfor%}
                                    </div>#}
                                </div>
                            </div>
                        </div>
                        <div class="product-tab-list tab-pane fade" id="status">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 about-sparkline">
                                        <form  method="post" enctype="multipart/form-data">
                                            <span id="statusmessage"></span>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">Order Status</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <select class="form-control" name="orderStatus" id="orderStatus">
                                                            <option value="">Select</option>

                                                            {%for stat in content.status %}
                                                                <option value="{{stat.orderStatusID}}" {% if set_value('orderStatus') == stat.orderStatusID %} selected {% elseif content.orderStatusID == stat.orderStatusID %} selected {% endif %} >{{stat.name}}</option>
                                                            {%endfor%}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="login-btn-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3"></div>
                                                        <div class="col-lg-9">
                                                            <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                <a href="{{base_url()}}manage/Order/" class="btn btn-secondary" >Cancel</a>
                                                                <button class="btn btn-sm btn-primary login-submit-cs" id="orderStatusUpdate" type="submit">Change Status</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-tab-list tab-pane fade" id="driver">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 about-sparkline">
                                        {% if success %} <div class="alert alert-success alert-mg-b">{{ success }}</div> {% endif %}
                                        {% if failMessage %} <div class="alert alert-danger alert-mg-b">{{ failMessage }}</div> {% endif %}
                                        <form id='driverUpdateForm' method="post" enctype="multipart/form-data">

                                            <div id="choose-product" class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">Choose Driver</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 chosen-select-single">
                                                        <select data-placeholder="Driver" class="chosen-select" name="driverID" tabindex="-1">
                                                            <option value="">Select</option>
                                                            {%for driver in content.driverList %}
                                                                <option value="{{driver.userID}}" {% if content.driverID == driver.userID %} selected {% endif %}>{{driver.firstname}} {{driver.lastname}}</option>
                                                            {%endfor%}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            <input type="hidden" name="orderID" value="{{content.orderID}}"/>
                                            <div class="form-group-inner">
                                                <div class="login-btn-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3"></div>
                                                        <div class="col-lg-9">
                                                            <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                <a href="{{base_url()}}manage/Order/" class="btn btn-secondary" >Cancel</a>
                                                                <button class="btn btn-sm btn-primary login-submit-cs" id="deliveryStatusUpdate" type="submit">Update</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-tab-list tab-pane fade" id="delivery">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 about-sparkline">
                                        <form id='deliveryStatusUpdateForm' method="post" enctype="multipart/form-data">
                                            {#Order/Product#}
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <label class="login2 pull-right pull-right-pro">Update</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label" style="margin-right:15px">
                                                                <input type="radio" value="order" class="form-check-input update"  checked name="update"/> Order
                                                            </label>
                                                        </div>
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label">
                                                                <input type="radio" value="product" class="form-check-input update" name="update"/> Product 
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {# CHOOSE PRODUCT #}

                                            <div id="choose-product" style="display:none;" class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">Choose Product</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 chosen-select-single">
                                                        <select data-placeholder="Products" class="chosen-select" name="productID[]" multiple="" tabindex="-1">
                                                            {%for product in content.products %}
                                                                <option value="{{product.productID}}">{{product.name}}</option>
                                                            {%endfor%}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            {#Delivery Status#}
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">Delivery Status</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <select class="form-control" name="deliveryStatus" id="deliveryStatus">
                                                            <option value="">Select</option>

                                                            {%for stat in content.deliver %}
                                                                <option value="{{stat.deliveryStatusID}}" {% if set_value('deliveryStatus') == stat.deliveryStatusID %} selected {% elseif content.deliveryStatusID == stat.deliveryStatusID %} selected {% endif %} >{{stat.name}}</option>
                                                            {%endfor%}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            {#COMMENT#}
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">Comment</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <textarea rows="5" type="text" name="comment" id="statusName" class="form-control">{%if set_value('comment')%}{{set_value('comment')}}{%else%}{{content.deliveryStstus.comment}}{%endif%}</textarea>
                                                        {{form_error('comment', '<div class="error">', '</div>')}}
                                                    </div>
                                                </div>
                                            </div>
                                            {#DATE#}
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">Date</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <div class="input-group date">
                                                            <input id="pickDate" autocomplete="off" type="text" name="pickDate" placeholder="DD-MM-YY" class="form-control datePicker"/>
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                            </span>
                                                        </div>
                                                        {{form_error('pickDate', '<div class="error">', '</div>')}}
                                                    </div>
                                                </div>
                                            </div>
                                            {#TIME#}
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">Time(24Hrs)</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <div class="input-mark-inner">
                                                            <input type="text" name="pickTime" placeholder="HH:MM" data-mask="99:99" class="form-control"/>
                                                        </div>
                                                        {{form_error('pickTime', '<div class="error">', '</div>')}}
                                                    </div>
                                                </div>
                                            </div>
                                            {#LOCATION#}
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">Location</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" name="location" id="location" {% if set_value('statusName') %} value="{{set_value('statusName')}}" {% else %} value="{{content.name}}" {% endif %} class="form-control">
                                                        {{form_error('location', '<div class="error">', '</div>')}}
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="orderID" value="{{content.orderID}}"/>
                                            <div class="form-group-inner">
                                                <div class="login-btn-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3"></div>
                                                        <div class="col-lg-9">
                                                            <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                <a href="{{base_url()}}manage/Order/" class="btn btn-secondary" >Cancel</a>
                                                                <button class="btn btn-sm btn-primary login-submit-cs" id="deliveryStatusUpdate" type="submit">Update</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {#<div class="product-tab-list tab-pane fade" id="option">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="devit-card-custom">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Refer OpenCart">
                                                    </div>
                                                    <a href="#!" class="btn btn-primary waves-effect waves-light">Submit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>#}

                        <div class="product-tab-list tab-pane fade {% if pdType == 'discount' %}active in {% endif %}" id="discount">

                        </div>
                        <div class="product-tab-list tab-pane fade {% if pdType == 'images' %}active in {% endif %}" id="images">

                        </div>
                        <!--END OF CONTENT AREA-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--INCLUDE MODALS-->
<div id="WarningModalalert" class="modal modal-edu-general Customwidth-popup-WarningModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <span class="educate-icon educate-warning modal-check-pro information-icon-pro"></span>
                <h2>Alert!</h2>
                <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="modal-footer warning-md">
                <a data-dismiss="modal" href="#">Cancel</a>
                <a href="javascript:void(0)" id="confirmOk">Sure</a>
            </div>
        </div>
    </div>
</div>
<span id="printData" style="display:none">
       <style> 
       table
       {
           width:100%;
           border-collapse: collapse;
           font-family: 'Mary ann' !important;
       }
        td, th {
  border: 1px solid black;
  padding: 2px;
}
.border-0 , .border-0 td, .border-0  th
{
border:0px;
padding:5px 0px 5px 0px;
}
.logo-left {
  /*display: block;
  margin-left: 0px; 
  text-align:left;*/
  width: 50%; 
}
.text-right
{
   text-align:right; 
}
    </style>
    <table class="border-0" style="padding:0px 0px 25px 0px;">
    <td style="width:60%">
        <img src="{{ logo }}" class="logo-left"/>  
    </td>
    <td style="width:40% text-align:right; !important"> 
     <p class="text-right">Tax Invoice/Bill of Supply/Cash Memo<br>(Original for Recipient)</p> 
    </td>
    </table> 

    <table class="border-0" style="margin-top:30px;">
        <tbody>  
        <tr>
            <td>
              {# <p><b>PAN No :</b> AALCA0171E<br>
                   <b>GST Registration No:</b> 33AALCA0171E1Z6</p>#}
            </td>
            <td>
                <p class="text-right"><b>Billing Addrress :</b><br>
               {{content.paymentFirstname}} {{content.paymentLastname}}<br/>
                {#                                                                {{content.paymentCompany}}</br>#}
                {{content.paymentAddress1}}, {{content.paymentAddress2}}</br>
                {{content.paymentCity}}, {{content.paymentZone}}</br>
                {{content.paymentCountry}}</br>
            </td>
        </tr> 
        <tr>
            <td>
                
            </td>
            <td>
            <p class="text-right"><b>Shipping Addrress :</b><br>
                        {{content.shippingFirstname}} {{content.shippingLastname}}<br/>
                        {#{{content.shippingCompany}}</br>#}
                        {{content.shippingAddress1}}, {{content.shippingAddress2}}</br>
                        {{content.shippingCity}}, 
                        {#{{content.shippingPostcode}},#}
                        {{content.shippingZone}}</br> 
                        {{content.shipping_additional_direction}},</br> 
                        {{content.shippingCountry}} 
                </p>
            </td>
        </tr>    
        <tr>
            <td>
                <p><b>OrderID :</b> {{content.orderID}}</p>
            </td>
            <td>
               <p class="text-right"><b>Customer Name :</b> {{content.fName}} {{content.lName}}</p>
           </td>
        </tr>
        <tr>
            <td>
                <p><b>Invoice :</b> {{content.invoicePrefix}}{{content.invoiceNo}}</p>
            </td>
           <td>
                <p class="text-right"><b>Email :</b> {{content.email}}</p>
            </td>
        </tr>
         <tr>
            <td>
                <p><b>Total :</b> {{content.total}}</p>
            </td>
            <td>
                <p class="text-right"><b>Phone Number :</b> {{content.telephone}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Order Status :</b> {{content.orderStatus}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Order Date :</b> {{content.dateAdded|date('d-M-Y')}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Payment Method :</b> {%if content.paymentMethod == 3%}Online Payment{%elseif content.paymentMethod == 2%}Cash On Delivery {%elseif content.paymentMethod == 1%} Free Checkout {%endif%}</p>
            </td>
        </tr>
        
        <tr>
            <td>
                <p><b>Delivery Date :</b> {{content.deliveryDate|date('d-M-Y')}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Time Slote :</b> {{content.fromTime|date("h a")}} - {{content.toTime|date("h a")}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Delivery Type :</b> {{content.orderDeliveryType}}</p>
            </td>
        </tr>   
    </table>

    <table style="margin-top:20px;">
        <tbody>
        <tr>
            <th>Product</th>
            <th>Model</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total</th>
        </tr>
         {%for product in content.products %}
            <tr>
                <td>{{product.name}}
                    {% if content.option|length > 0 %}
                        {% for opt in content.option %}
                            {% if product.orderProductID == opt.productOrderID %} 
                                <span><br>{{opt.name}} : {{opt.value}}</span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{{product.model}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.price}}</td>
                <td>{{product.total}}</td>
            </tr>
                                                    
            {% if product.bundleProducts %}
                {%for bundleProduct in product.bundleProducts %}
                    <tr>
                        <td>{{bundleProduct.name}}</td>
                        <td>{{bundleProduct.model}}</td>
                        <td>{{bundleProduct.quantity}}</td>
                        <td>Bundle Product</td>
                        <td>Bundle Product</td>
                    </tr>
                {%endfor%}
            {%endif%}
        {%endfor%}
            {%for total in content.orderTotal %}
                <tr>
                    <td colspan="4">{{total.title}}</td>
                    <td><b>{{total.value}}</b></td></tr>
            {%endfor%}
    </table>
</span>
<script src="{{base_url()}}public/manage/js/datapicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}public/manage/js/datapicker/datepicker-active.js"></script>
<script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
<script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>
<script src="{{base_url()}}public/manage/js/input-mask/jasny-bootstrap.min.js"></script>

<script>
     function printData(id){
               {# $('#'+id).printElement();#}
                var divToPrint=document.getElementById('DivIdToPrint');
                var newWin=window.open('','Print-Window');
                newWin.document.open();
                newWin.document.write('<html><body onload="window.print()">'+document.getElementById(id).innerHTML+'</body></html>');
                newWin.document.close();
                setTimeout(function(){newWin.close();},10);
            }
    $('#pickDate').datepicker();

    $("#orderStatusUpdate").click(function (e) {
        e.preventDefault();
        opt = $('#orderStatus').val();
        orderID ={{content.orderID}} ;
                datas = {'orderID': orderID, 'orderStatusID': opt};
        $.ajax({
            url: "{{base_url('manage/ManageOrder/changeStatus')}}",
            type: "POST",
            dataType: "json",
            data: datas,
            success: function (response) {
                 $("#statusmessage").html(response.msg);
            }
        })
    });
    
    $("#driverUpdateForm").on("submit", function (e) {
        e.preventDefault();
        data = $(this).serializeArray();
                $.ajax({
                    url: "{{base_url('manage/ManageOrder/driverAssign')}}",
                    type: "POST",
                    dataType: "json",
                    data: data,
                    success: function (response) {
                        if(response.type === 'success'){
                            location.reload(true);
                        } else {
                            location.reload(true);
                        }
                    }
                });
            });
            
    $("#deliveryStatusUpdateForm").on("submit", function (e) {
        e.preventDefault();
        data = $(this).serializeArray();
                $.ajax({
                    url: "{{base_url('manage/ManageOrder/deliveryUpdate')}}",
                    type: "POST",
                    dataType: "json",
                    data: data,
                    success: function (response) {
                        if(response.type === 'success'){
                            location.reload(true);
                        } else {
                            location.reload(true);
                        }
                    }
                });
            });
            $('.update').change(function () {
                update = $('input[name="update"]:checked').val();
                if (update == 'order') {
                    $('#choose-product').css("display", "none");
                } else {
                    $('#choose-product').css("display", "block");
                }
            });
            
           
</script>
