<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                {#Add Category#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
                                                {% if message %} <div class="alert alert-success">{{ message }}</div> {% endif %}
                                                {% if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                                                <form method="post" enctype="multipart/form-data">
                                                    <!--Name-->
                                                    <div class="form-group-inner {% if form_error('exportPage')!='' %} error-form {% endif%}" >
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Page</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                               <select name="exportPage" id="exportPage"  class="chosen-select" tabindex="-1">
                                                                    <option value="">Select</option>
                                                                    <option value="category" {% if exportPage == 'category' %} selected {% endif %}>Category</option>
                                                                    <option value="product" {% if exportPage == 'product' %} selected {% endif %}>Product</option>
                                                                    <option value="brands" {% if exportPage == 'brands' %} selected {% endif %}>Brands</option>
                                                                    <option value="order" {% if exportPage == 'order' %} selected {% endif %}>Order</option>
                                                                    <option value="customers" {% if exportPage == 'customers' %} selected {% endif %}>Customers</option>
                                                                    <option value="filter" {% if exportPage == 'filter' %} selected {% endif %}>Filter</option>
                                                               </select>
                                                                {{form_error('exportPage', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group-inner {% if form_error('exportPage')!='' %} error-form {% endif%}" >
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Page</label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                               <input type="text" name="page" id="page" class="form-control">
                                                                {{form_error('exportPage', '<div class="error">', '</div>')}}
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Limit</label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                               <input type="text" name="limit" id="limit" class="form-control">
                                                                {{form_error('exportPage', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                            
                                                     <div class="form-group-inner {% if form_error('field[]')!='' %} error-form {% endif%}" >
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Fields</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Select All</label>

                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                     <input type="checkbox" id="checkAll" /> 
                                                                </div>
                                                                {% for key,value in exportField %}
                                                                    {% for innerKey,innerValue in exportField[key] %}
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">{{innerValue}}</label>
                                                                           
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                             <input type="checkbox" class="multyCheck" name="field[]" value="{{key}}.{{innerKey}}"/> 
                                                                        </div>
                                                                    {% endfor %}
                                                                {% endfor %}
                                                                {{form_error('field[]', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                           

                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        {#<a href="{{base_url()}}manage/Category/" class="btn btn-secondary" type="submit">Cancel</a>#}
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Download</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>
<!-- select2 JS============================================ -->
<link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
<link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
<script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
<script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>

<script>
    $('#exportPage').change(function(){
        var exportPage  =   $('#exportPage').val();
        if(exportPage){
             url = window.location.origin + window.location.pathname;

             window.location.replace(url+'?exportPage='+exportPage);
        }
    });
    
    $('#checkAll').click(function () {
        $('.multyCheck').not(this).prop('checked', this.checked);
    });
</script>