<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
    *{padding:0;margin:0}
    body{padding:0;margin:0;background:#F06C00;}
    .wrapper{position:fixed;width:100%;height:100%;display:flex;align-items: center;justify-content: center;text-align:center;}
    .wrapper h4{font-size: 18px;padding: 0 15px;line-height: 30px;color:#fff}
</style>
    </head>
<body style="background-color:#F06C00;">
<div class="wrapper" style="text-align:center;">
<img src= "../../public/assets/img/loader.gif" width="35%"/>
<h4 style="color:white;text-align:center;">Connecting to Merchant App</h4>
</div>
</body>
</html>