<div class="product-status mg-b-15">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    {#<h1>Add New Information</h1>#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner"> 

                                                {# % if success %} <div class="alert alert-success">{{ success }} </div> {% endif %#}
                                                {# % if failMessage %} <div class="alert alert-danger alert-mg-b">{{ failMessage }}</div>{% endif % #}
                                                <form id="informationAdd"  method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="informationID" id="informationID" value="{{ content.main.informationID }}"/>
                                                    <div class="form-group-inner{% if form_error('title')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Information Title *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="title" id="title" {% if set_value('title') %} value="{{set_value('title')}}" {% else %} value="{{content.detail.title}}" {% endif %}  class="form-control">
                                                                {{form_error('title', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                            
                                                    <div class="form-group-inner {% if form_error('pageKey')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Page Key</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="pageKey" id="pageKey" {% if set_value('pageKey') %} value="{{set_value('pageKey')}}" {% else %} value="{{content.main.pageKey}}" {% endif %}  class="form-control" placeholder="Page Key">
                                                                {{form_error('pageKey', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                            
                                                    <div class="form-group-inner{% if form_error('description')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Description *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                                <textarea name="description" id="description" class="form-control text-editor">{% if set_value('description') %}{{set_value('description')}}{% else %}{{content.detail.description}}{% endif %}</textarea>
                                                                {{form_error('description', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                  {#  <div class="form-group-inner{% if form_error('urlKey')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">URL Key</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="urlKey" id="urlKey" {% if set_value('urlKey') %} value="{{set_value('urlKey')}}" {% else %} value="{{content.main.urlKey}}" {% endif %}  class="form-control">
                                                                {{form_error('urlKey', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>#}
                                                    <div class="form-group-inner{% if form_error('metaTitle')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Meta Tag Title *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="metaTitle" id="metaTitle" {% if set_value('metaTitle') %} value="{{set_value('metaTitle')}}" {% else %} value="{{content.main.metaTitle}}" {% endif %}  class="form-control">
                                                                {{form_error('metaTitle', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('metaDescription')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Meta Tag Description *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <textarea name="metaDescription" id="metaDescription" class="form-control">{% if set_value('metaDescription') %}{{set_value('description')}}{% else %}{{content.main.metaDescription}}{% endif %}</textarea>
                                                                {{form_error('metaDescription', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('metaKeyword')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Meta Tag Keywords *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="metaKeyword" id="metaKeyword" {% if set_value('metaKeyword') %} value="{{set_value('metaKeyword')}}" {% else %} value="{{content.main.metaKeyword}}" {% endif %}  class="form-control">
                                                                {{form_error('metaKeyword', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Order Status-->     
                                                    <div class="form-group-inner{% if form_error('sortOrder')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Sort Order *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="sortOrder" id="sortOrder" {% if set_value('sortOrder') %} value="{{set_value('sortOrder')}}" {% else %} value="{{content.main.sortOrder}}" {% endif %}  class="form-control">
                                                                {{form_error('sortOrder', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--IMAGE-->
                                                    <div class="form-group-inner{% if form_error('images')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Page Banner </label><br>
                                                                <label class="login2 pull-right pull-right-pro">( width x height:{{imageSet}} , MaxSize : {{maxSize}}MB )</label>
                                                                <label class="login2 pull-right pull-right-pro">( Allowed Type : {{allowedType}} )</label>
                                                            </div>

                                                            <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6">
                                                                <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                    <div class="input append-small-btn">
                                                                        <div class="file-button">
                                                                            Browse
                                                                            <input type="file" name="image" id="image" {% if set_value('image') %} value="{{set_value('image')}}" {% else %} value="{{content.main.image}}" {% endif %} onchange="document.getElementById('append-small-btn').value = this.value;">
                                                                        </div>
                                                                        <input type="text" name="images" id="append-small-btn" {% if set_value('image') %} value="{{set_value('image')}}" {% else %} value="{{content.main.image}}" {% endif %} placeholder="no file selected">
                                                                        {{form_error('images', '<div class="error">', '</div>')}}
                                                                        {% if imgErr %} <div class="error imageError">{{ imgErr|raw  }}</div> {% endif %}
                                                                        <div class="error imageError" id="imgSizeErr"></div>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <img id="profile-img-tag" src="{{base_url()}}uploads/information/{{content.main.image}}" alt="" width="100px"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--status-->
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Status</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                                <div class="form-select-list">
                                                                    <select class="form-control custom-select-value" name="status" id="status">
                                                                        <option value="Active" {% if set_value('status') == 'Active' %} selected {% elseif content.main.status == 'Active' %} selected {% endif %}>Active</option>
                                                                        <option value="Inactive" {% if set_value('status') == 'Inactive' %} selected {% elseif content.main.status == 'Inactive' %} selected {% endif %}>Inactive</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">

                                                                        <a href="{{base_url()}}manage/Information/" class="btn btn-white" >Cancel</a>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
     var editID	= $("#informationID").val();
    if(editID!=''){
        $("#pageKey").prop("readonly", true);
    }else{
           $("#title").blur(function(){
            var keyVal	=   $("#title").val();
            keyVal          =   string_to_slug(keyVal);
            $('#pageKey').val(keyVal);
        });
    }
    
    $("#image").change(function (e) {
        var maxSize= {{maxImageSizeJs}};
        var imageWidth = {{imageDimension[0]}}
        var imageHeight = {{imageDimension[1]}}
        showImage(this,maxSize,imageWidth,imageHeight,'profile-img-tag','imgSizeErr');
    });
</script>                                                                                  



