@font-face {

    font-family: Mary ann;

    src: url(../fonts/Mary-Ann-Regular.otf);

}

@font-face {

    font-family: Arial;

    src: url(../fonts/Arial.ttf);

}



h1, h2, h3, h4, h5, h6, li, ul, .home-banner a, button, th, .buttons-carts, .checkout-top h5, .edit-btn, .confirm-btn, .order-details-total p, .list-filter a, .cancel-order a, .btn, .orange-btn, .white-btn

{

    font-family: 'Mary ann' !important;

}

h1, h2, h3, h4, h5, h6

{

    color: #000000 !important;

}

p, li span

{

    font-family: Arial  !important;

}





/*Buttons*/







.add_button button, .payment-section button, .orange-btn button

{

    border:none !important;

    border-radius: 5px;

    height: 45px;

    background-color: #F06C00;

    color: #ffffff;

    min-width: 180px;

}

.btn, .orange-btn, .white-btn, .white-btn a

{

    text-transform: uppercase !important;

    font-weight: 700 !important;

    cursor: pointer;

    border-radius: 5px;

}

.confirm-btn input.inline 

{

    width: 150px;

    text-transform: uppercase;

    font-weight: 700;

    margin-right: 30px;

    cursor: pointer;

    background: #F06C00;

    color: #fff;

    border: none;

    border-radius: 5px;

    margin-left: 15px;

}

.confirm-btn input.inline:hover

{

    background-color: #333333;

} 

.edit-btn

{

    border: 1px solid #f06c00;

    border-radius: 5px;

    margin: 0px 20px;

}

.edit-btn:hover

{

    background-color: #f06c00;

    color: #fff!important; 

    border: 1px solid #f06c00;

} 

.edit-btn a:hover

{ 

color: #fff!important;

} 

.edit-btn input.inline 

{

    width: 150px;

    text-transform: uppercase;

    font-weight: 700;

    margin-right: 30px;

    cursor: pointer;

    background: #ffffff;

    color: #000000;

    border: 1px solid #000000;

    border-radius: 5px;

    margin-left: 15px;

}

.edit-btn input.inline:hover

{

    background-color: #F06C00;

    color: #fff ;

    border: none;

}

.add_button button:hover, .payment-section button:hover, .orange-btn button:hover

{

    background: #333333;

}

.canceltbtn, .orange-btn, .orange-button a

{

    background: #F06C00;

    color: #fff !important;

    border: 1px solid #F06C00;

    width: 180px;

    margin: 5px;

    min-height: 45px;

    padding: 10px;

}

.submitbtn, .white-btn

{

    background: #ffffff;

    color: #000000;

    border: 1px solid #F06C00;

    width: 180px !important;

    margin: 5px;

    min-height: 45px;

    color: #F06C00;

    padding: 13px;

}

.canceltbtn:hover, .orange-btn:hover

{

    background: #333333;

    border: #333333;

}

.submitbtn:hover, .white-btn:hover

{

    background: #F06C00;

    color: #ffffff !important;  

}



/*button end*/



.lh40

{

    line-height: 40px

}



/* Header */

/* .mini__cart, .minicart_two

{

    margin-right:50px !important;

    margin-left:50px !important;

}

@media only screen and (min-width: 995px)

{

    .mobile-header

    {

        display: none;

    }

}

@media only screen and (max-width: 995px)

{

    .custom-header

    {

        display: none;

    }

} */

/* header end */



@media (min-width: 1200px)

{

    .container {

        max-width: 1250px !important;

    }

}

.mright-30

{

    margin-right: 30px;

}

.no-border-radius

{

    border-radius: 0px !important;

}

.card

{

    border-right: 1px solid #dedede;

    border-left: 1px solid #dedede;

    border-top: 1px solid #dedede;

    border-bottom:none !important;

}

.card-header

{

    border-bottom: 0.5px solid #dedede;

    background-color: #ffffff;

}

.card-padding 

{

    padding: 5px 35px 10px 35px!important;

}

.card-header:active

{

    background-color: #EBEBEB !important;

} 



.btn-link, .btn-link:hover 

{

    color: #000;

    font-weight: 700;

    text-decoration: none;

    cursor: pointer;

}

.collapse {

    background-color: #fff !important;

}

.cancel-order a

{

    border: 1px solid #F06C00;

    color: #F06C00 !important;

}  

.cancel-order a:hover

{

    background-color: #F06C00;

    color: #fff !important;

}  

/* Homepage styles */

.home-body

{

    background-color: #F4F4F4;

    min-height: 1000px;



}

.sticky-header

{

    box-shadow:  0px 7px 7px #eeeeee;

}

.middle-nav-right

{  

    display: flex;

    align-items: center;

}

.search_inner button

{

    width: 40px !important;

    color: #fff !important;

}





.home-left

{

    float: left;

    padding: 0px;

    margin-right: 20px;

}



.home-banner

{

    margin-top: 20px;

    margin-bottom: 10px;

}



.slider__content h2, .slider__content h4, .slider__content h5 

{

    font-weight: 700;

    color: #fff !important;

}

.slider__content 

{

    position: absolute;

    width: 100%;

    padding: 10% 5%;

    right: 0;



}

.slider_btn

{

    margin-top:5%;

}

.home-item-left

{

    padding: 5px 5px 5px 15px;

}

.home-item-right

{

    padding: 5px 15px 5px 5px;

}







.home-right

{

    float: right;

    padding: 0px;

}

.home-right h4{

    font-weight: 700;

}

.white-bg-box

{

    background-color: #ffffff;

    margin-top: 20px;

    margin-right: 20px;

    padding:30px 20px;

    text-align: left;

}

.white-bg-box button

{

    margin: 15px 0px;

}







/* .home-banner

{

position: absolute;

width: 100%;

border: 1px solid #DDDDDD;

box-sizing: border-box;

}

.home-banner h1

{

    position: absolute;

    font-size:3vw !important;

    font-weight: 700;

    padding: 10% 5%;

    color: #79112e !important;

}

.home-banner a

{

background-color: #ffffff;

color: #000000;

    display: inline-block;

    font-size: 12px;

    font-weight: 700;

padding: 10px 20px;

height: 40px;

text-transform: uppercase;

position: absolute;

float: left;

} */



.homepage-item 

{

    text-align: center;

    margin:0px !important;

    bottom: 10px !important;

    float: left;



}

.homepage-item h3

{

    color: #ffffff !important;

    padding: 0% 15%;

}

.homepage-item p

{

    color: #ffffff;

    /*    padding: 0% 12%;*/

    font-size: 14px;

}

.featured-slider

{

    padding-top: 50px;

    background-color: #ffffff;

}

.get-more

{

    padding: 50px 0px;

}

.get-more img

{

    padding-top: 20px;

}

/* homepage end */



.current_price span, .cart_totals

{

    font-family: 'Mary ann' !important;

}



.product_price > p

{

    font-family: 'Mary ann' !important;

}

.shop_sidebar h3 

{

    text-transform: none !important;

}



.list-filter a  

{

    padding-left: 10px;

    text-transform: capitalize !important;

}

.responsive-filter

{

    bottom:0;

    position: fixed;

    background-color: #ffffff;

    padding-bottom: 20px;

    border-top: #dddddd 1px;

    z-index: 2;

}

.filter-apply

{

    color: #ffffff;

    background-color: #F06C00;

    border:none;

    margin-top: 20px;

}

.filter-cancel

{

    color: #000000;

    background-color: #ffffff;

    border:1px solid #dddddd;

    margin-top: 20px;

}

.table-content.table-responsive table thead tr th

{

    background-color: #EBEBEB;

}

.table-content.table-responsive table thead tr th, .table-content.table-responsive table tbody tr td 

{

    border: none;

}

table

{

    border: 1px solid #dddddd;

    display: inline-table;

    width: 100%;    

}

.table-content.table-responsive table thead tr th, .table-content.table-responsive table tbody tr td 

{

    padding: 10px;

}  

.table-content.table-responsive table thead tr .product-name 

{

    width: 320px;

    text-align: left;

    padding-left: 4%;

}  

.table-content.table-responsive table tbody tr td.product-name a 

{

    font-weight: normal;

}

.product-name a

{

    color: #000000 !important;

}

.remove-item

{

    text-align: left;

    margin-left: 4%;

    font-size: small;

}





.buttons-carts input, a 

{

    border-radius: 5px !important;

}

.product__hover ul li a

{

    border-radius: 100% !important;

}

.product-thumbnail img

{

    max-height: 80px;

}

.order-view button

{

    border: none !important;

    border-radius: 5px;

    padding: 0px 20px;

    height: 45px;

    background-color: #ffffff;

    color: #F06C00;

    border:1px solid #F06C00 !important;

}

.order-view button:hover

{

    background-color: #F06C00;

    color: #ffffff;

    cursor: pointer;

}

.dashboard-content a

{

    color: #000000 ;

}

.dashboard-content a:hover

{

    color: #F06C00 ;

}



/* .dashboard-content span

{

    font-size: 80%;

} */





/* The Modal (background) */





/* Modal Content */

.modal-content {

    background-color: #fefefe;

    margin: auto;

    padding: 30px;

    border: 1px solid #888;

}

.modal

{

    padding-top: 100px; /* Location of the box */

    left: 0;

    top: 0;

    width: 100%; /* Full width */

    height: 100%; /* Full height */

} 

.modal-content 

{

    display: inherit;

}



input:focus 

{

    border: 1px solid #F06C00;

    color: #000000; 

}



.checkout-top h5, .checkout-form h4

{

    font-weight: 700;

}



.cformclick h4

{

    display: inline;

    padding: 15px;

}

.cformclick a h4:before

{

    color: #000000;

}

.cformclick a h4:visited, .cformclick a h4:focus, .cformclick a h4:hover, .cformclick a.active h4

{

    color: #F06C00 !important;

}

.checkoutform

{

    padding-top: 20px;

}

.login_page_form 

{

    padding: 20px;

}

.mobile-checkout

{

    padding-bottom: 80px;

}

.billing-address

{

    padding-right: 40px;

    border-right: 1px solid #dedede;

}

.order-details

{



    padding-left: 40px;

}

.whitebg

{

    background-color: #ffffff !important;

}

.p-qty

{

    width: 100px !important;

}

.no-border

{

    border: none !important;

}

.order-details-total

{

    border-top: 1px solid #dedede;

    margin: 15px 0px;

}

.order-details-total h3

{

    float: left;

}

.order-details-total p

{

    float: right;

    font-weight: 700;

}

.order-details-total

{

    text-align: right !important;

    padding: 20px !important;

}

.billing-address-dropdown

{

    padding-left: 0px !important; 

    margin-top: 15px !important;

}

.payment-section 

{

    margin-top:10%;

    margin-bottom:10%;

    text-align: center;



}

.payment-section h4

{

    font-weight: 700;

}

.search_all

{

    padding: 10px;

    border: 1px solid #dedede;

    margin-bottom: 20px;

}

.search_all button

{

    float: right;

    border:none !important;

    height: 45px;

    background-color: #F06C00;

    color: #ffffff;

}

.search_all button:hover

{

    background: #333333;

    border: none;

}

.search_all_icon

{

    width: 15%;

}





.autocomplete-items

{

    box-shadow: 0px 0px 12px 6px #dddddd;

    padding: 15px;

    text-align: left;

}

.product-id

{

    width: 320px;

    text-align: left !important;

    padding-left: 5% !important;

}





.order-view ul li a

{

    background-color: #ffffff;

    border-radius: 3px;

    border: 1px solid #F06C00;

    color: #F06C00 !important;

    max-width: 120px;

}

.order-view ul li a:hover

{

    background-color: #F06C00;

    border-radius: 3px;

    color: #ffffff !important;

}

.main-content-area

{

    border-bottom: 1px solid #dddddd;

}



.modal-content input

{

    max-width: 180px !important;

}

#address hr

{

    margin:20px 5px;

}

.header_middle_inner

{

    height: 80px;

    line-height: 80px;    

}

.main_menu_inner .menu.menu_two nav > ul > li 

{padding: 10px 0;

}

.error

{

    color:#FF0000 !important;

}

.error-form input

{

    border:1px solid #FF0000 !important;

    margin-bottom: 0px !important;

}

.error

{

    margin-bottom: 15px;

}

.homepage-item{

    position: relative;

    width: 100%;

    height: auto;

}

.homepage-item:after{

    position: absolute;

    content: '';

    height: 100%;

    background: rgba(0, 0, 0, 0.32);

    width: 100%;

    left: 0;

    top: 0;

    z-index: 1;

}

.overlay-content

{

    bottom: 20px;

    position: absolute;

    width:100%;

    z-index: 99;

}

/*.btn

{

    line-height: 40px;

}*/

.form-control:focus

{

    border-color: #F06C00;

    box-shadow: none;

}

.form-control

{

    background-color: #fff !important;

}

.cart-scroll

{

  max-height:250px;

  overflow-y: scroll;

}

::-webkit-scrollbar 

{

  width: 3px; 

}

/*::-webkit-scrollbar-track 

{

  background: #F4F4F4;

}*/

::-webkit-scrollbar-thumb {

  background: #F06C00; 

}

/* Responsive styles */

@media (min-width: 576px)

{

    .modal-dialog {

        max-width: 700px !important;

    }   

}



@media only screen and (max-width: 375px)

{

    .dropdown.dropdown-shop select {

        width: 110px;

    }

}



@media only screen and (min-width: 767px)

{

    .list-filter, .mobile-checkout, .search_all_icon

    {

        display: none ;

    }

    .homepage-item h3

    {

        font-size: 33px !important;

    }



}





@media only screen and (max-width: 1023px)

{



    .home-right

    {

        display: none;

    }

    .home-left

    {

        margin: 0px;

    }

    .slider_btn

    {

        margin-top:0px;

    }



}



@media only screen and (max-width: 767px)

{

    .logo.logo_two

    {

        text-align: left;

        padding:10px 0px;

        min-width: none;

    }

    .middle-nav-right ul

    {

        display: none;

    }

    .phone_item_total, .shop-list-filter, .web-checkout

    {

        display: none;

    }

    .shop_wrapper

    {

        padding-top: 0px !important;

    }

    .shop_sidebar

    {

        margin-bottom: 150px;

    }

    #scrollUp

    {

        bottom: 50px;

    }

    .filter-footer

    {

        display: none;

    }

    .modal-content

    {

        width: 100%;

    }

    .submitbtn

    {

        margin: 0px;

    }

    .modal

    {

        z-index: 99;

    }

    .product-price

    {

        display: none;

    }

    .table-content.table-responsive table thead tr .product-quantity

    {

        min-width: 80px !important;

    }

    .table-content.table-responsive table thead tr .product-subtotal 

    {

        min-width: 45px !important;

    }

    .table-responsive_bottom 

    {

        padding-top: 20px;

    }

    .buttons-carts.coupon h3 

    {

        padding-top: 30px;

    }

    .cart_totals.text-right 

    {

        margin-top: 50px;

    }



    .hidden{

        display: none;

    }

    .edit-btn input.inline

    {

        margin-right: 0px;

    }

    .order-details {

        padding-left: 15px;

        padding-top: 40px;

        padding-bottom: 40px;

    }

    .billing-address 

    {

        padding-right: 15px;

        border-right: none; 

    }

    .search_all_box

    {

        display: none;

    }

    .search_all input

    {

        width: 85%;

    }

    .home-item-right 

    {

    padding: 5px 15px;

    }

    .home-item-left 

    {

    padding: 5px 15px;

    }

}

.edit-btn a{

    height: 45px;

    line-height: 44px;

}

.jconfirm.jconfirm-modern .jconfirm-box .jconfirm-buttons button{

    min-height: 45px;

    margin-top: 2px;

}

.contact_title

{

padding: 0px 15px;

}
/* 7-1-2020 */
.chosen-container-active.chosen-with-drop .chosen-single, .chosen-container-active .chosen-single
{
border: 1px solid #F06C00 !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}
.chosen-container-single .chosen-single
{
background:none !important;
color:#000000 !important;
font-size: 0.8rem;
}
.form-control
{
font-size: 0.8rem;
color:#000000 !important;
}
.showListContainer
{
    max-height: 400px;
    overflow-y: scroll;
}