.custom-nav {
    height:100px ;
    background: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
}


/* LUNA DESING COLOR */
.orange{
  color: #F06C00;
}

 .dark-orange{
     color: #E55000;
 }
 