

<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="{{base_url()}}">{{ lang('home') }}</a> ></li>
                        <li>{{ lang('login') }}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->



<!--login section start-->
<div class="page_login_section bg-gradient">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
                 <h3>{{ lang('Forgot_Password') }}</h3>
                <div class="login_page_form">
                   
                    {% if message %}<div class="alert alert-success alert-mg-b">{{ message }}</div> {% endif %}
                     {% if errMessage %}<div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                    <form method="post">
                        <div class="row">
                            <div class="col-12">
                                <div class="input_text">
                                    <label for="name">{{ lang('Registered_Email_Address') }}<span>*</span></label>
                                    <input type="text" name="email" id="email">   
                                    {{form_error('email', '<div class="error">', '</div>')}}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="login_submit">
                                    <input class="inline" value="{{lang('Submit')}}" name="forgot" type="submit">
                                </div> 
                            </div>  
                           
                        </div>
                    </form>    
                </div>    
            </div>    
        </div>    
    </div>  
</div>