

<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="{{base_url()}}">{{ lang('home') }}</a> ></li>
                        <li>{{ lang('login') }}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->



<!--login section start-->
<div class="page_login_section bg-gradient">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
                 <h3>{{ lang('PLEASELOGIN') }}</h3>
                 <p>Fields marked <span style="color: #F06C00 !important;">*</span> are required</p>
                <div class="login_page_form">
                   
                    {% if message %}<div class="alert alert-danger alert-mg-b">{{ message }}</div> {% endif %}
                    <form method="post">
                        <div class="row">
                            {#<div class="col-12">
                                <div class="input_text">
                                    <label for="name">{{ lang('Usernameoremail') }}<span>*</span></label>
                                    <input type="text" name="email" id="email" value="{{loginId}}">   
                                    {{form_error('email', '<div class="error">', '</div>')}}
                                </div>
                            </div>#}
                            <div class="col-12">
                                <div class="input_text">
                                    <label for="name">{{ lang('Phone') }}<span>*</span></label>
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-4 col-md-3">
                                            <select name="countryCode" id="countryCode">
                                                           <option value="974" {% if set_value('countryCode')=='974' %} selected {% endif%}>+974</option>
                                                           <option value="91" {% if set_value('countryCode')=='91' %} selected {% endif%}>+91</option>
                                                       </select>
                                        </div>
                                        <div class="col-lg-9 col-sm-8 col-md-9">
                                            <input type="text" name="telephone" id="telephone" value="{{set_value('telephone')}}">
                                        </div>
                                    </div>  
                                    {{form_error('telephone', '<div class="error">', '</div>')}}
                                </div>
                            </div>
                           
                            <div class="col-12">
                                <div class="login_submit">
                                    <input class="inline" value="{{lang('login_button')}}" name="Login" type="submit"> 
                                    <a href="register" class="white-btn"><b>{{lang('register')}}</b></a>
                                    <label class="inline" for="rememberme">
                                        <input id="rememberme" type="checkbox" name="remember" {% if loginId %} checked="checked" {% endif %}>
                                        {{lang('remember')}}	
                                    </label>
                                    
                                </div> 
                            </div>  
                            {#<div class="col-12">
                                <a href="{{base_url('/Login/forgotPasswor')}}">
                                    <label class="inline" for="forgot"  style="margin-top: 15px;">
                                        {{lang('Forgot_Password')}}	
                                    </label>
                                </a>
                            </div>#}
                        </div>
                    </form>    
                </div>    
            </div>    
        </div>    
    </div>  
</div>