

<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="{{base_url()}}">{{ lang('home') }}</a> ></li>
                        <li>{{ lang('login') }}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->



<!--login section start-->
<div class="page_login_section bg-gradient">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
                 <p>Fields marked <span style="color: #F06C00 !important;">*</span> are required</p>
                <div class="login_page_form">
                   
                    {% if message %}<div class="alert alert-success alert-mg-b">{{ message }}</div> {% endif %}
                    {% if errMessage %}<div class="alert alert-danger alert-mg-b">{{ errMessage }}</div>{% else %}<div style="display:none;" class="alert alert-danger alert-mg-b"></div> {% endif %}
                    <form method="post">
                        <div class="row">
                            
                            <div class="col-12">
                                <div class="input_text">
                                    <label for="name">Enter OTP<span>*</span></label>
                                    <input type="text" name="otp" id="otp" value="{{loginId}}">   
                                    {{form_error('otp', '<div class="error">', '</div>')}}
                                </div>  
                            </div>
                            <div id="display" style="padding: 0px 15px 15px 15px;color:#b4b4b4 !important;font-weight: 100;font-size: 12px;"></div>
                            <div class="col-12" style="display:flex;">
                                <div class="login_submit">
                                    <input class="inline" value="{{lang('login_button')}}" name="Login" type="submit">                                     
                                </div> 
                            
                            <div class="resendDiv">
                                <a href="javascript:void(0)" onclick="resendotp();"">
                                    <label class="inline white-btn" for="forgot" style="width: auto !important;margin: 0px 5px;padding: 10px;">
                                        Resend OTP	
                                    </label>
                                </a>
                            </div></div>  
                        </div>
                    </form>    
                </div>    
            </div>    
        </div>    
    </div>  
</div>
<script>
function resendotp(){
    $.ajax({
            url: '{{base_url()}}Login/resendOtp',
            method:"POST",
            success: function (response) { 
                if (response == 1) {
                $('.alert-success').css('display','block');
                $('.alert-success').html('<span>OTP Send to Your Phone No.<span>');
                $('.resendDiv').css('display','none');
                CountDown(60,$('#display'));
                }
            }
        });
}
 function CountDown(duration, display) { 
            if (!isNaN(duration)) { 
                var timer = duration, minutes, seconds;
                
              var interVal=  setInterval(function () {
                    minutes = parseInt(timer / 60, 10);
                    seconds = parseInt(timer % 60, 10);

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    $(display).html("<b>OTP Expire in: " + minutes + "m : " + seconds + "s" + "</b>");
                    if (--timer < 0) {
                        timer = duration;
                       SubmitFunction();
                       $('#display').empty();
                       clearInterval(interVal)
                    }
                    },1000);
            }
        }
        function SubmitFunction(){
        return false;
        }
        CountDown(300,$('#display'));
 
</script>
