            <!--breadcrumb area start-->
            <div class="breadcrumb_container ">
                <div class="container">
                    <div class="row">
                        <div class="col-12">     
                            <nav>
                        <ul>
                            <li>
                                <a href="index.html">{{lang('home')}} ></a>
                            </li>
                            <li>{{lang('register')}}</li>
                        </ul>
                    </nav>
                        </div>
                    </div> 
                </div>        
            </div>
             <!--breadcrumb area end-->
           
            <!--login section start-->
            <div class="page_login_section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2 ">
                             <h3>{{ lang('REGISTER') }}</h3>
                             <p>Fields marked <span style="color: #F06C00 !important;">*</span> are required</p>
                            <div class="register_page_form">
                                {% if message %} <div class="alert alert-success">{{ message }}</div> {% endif %}
                                {% if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                                <form method="post">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <div class="input_text {% if form_error('firstname')!='' %} error-form {% endif%}">
                                                <label for="R_N">{{ lang('FirstName') }} <span>*</span></label>
                                                <input type="text" name="firstname" id="firstname" value="{{set_value('firstname')}}"> 
                                                {{form_error('firstname', '<div class="error">', '</div>')}}
                                            </div>   
                                        </div>
                                         <div class="col-lg-6 col-sm-6 col-md-6">
                                            <div class="input_text {% if form_error('lastname')!='' %} error-form {% endif%}">
                                                <label for="R_N2">{{ lang('LastName') }}  <span>*</span></label>
                                                <input type="text" name="lastname" id="lastname" value="{{set_value('lastname')}}">    
                                                {{form_error('lastname', '<div class="error">', '</div>')}}
                                            </div>
                                        </div>
                                       
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <div class="input_text {% if form_error('email')!='' %} error-form {% endif%}">
                                                <label for="R_N4">{{ lang('EmailAddress') }}  <span>*</span></label>
                                                <input type="text" name="email" id="email" value="{{set_value('email')}}"> 
                                                {{form_error('email', '<div class="error">', '</div>')}}
                                            </div>   
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <div class="input_text {% if form_error('telephone')!='' %} error-form {% endif%}">
                                                <label for="R_N5">{{ lang('Phone') }}<span>*</span></label>
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-4 col-md-3">
                                                       {# <input type="text" id="telephone" value="+974" readonly>#}
                                                       <select name="countryCode" id="countryCode">
                                                           <option value="974" {% if set_value('countryCode')=='974' %} selected {% endif%}>+974</option>
                                                           <option value="91" {% if set_value('countryCode')=='91' %} selected {% endif%}>+91</option>
                                                       </select>
                                                    </div>
                                                    <div class="col-lg-9 col-sm-8 col-md-9">
                                                        <input type="text" name="telephone" id="telephone" value="{{set_value('telephone')}}">
                                                    </div>
                                                </div>
                                                {{form_error('telephone', '<div class="error">', '</div>')}}
                                            </div>  
                                        </div>
                            
                                        <div class="col-12">
                                            <div class="input_text {% if form_error('password')!='' %} error-form {% endif%}">
                                                <label for="R_N11">{{ lang('Create_Password') }}<span>*</span></label>
                                                <input type="password" name="password" id="password">   
                                                 {{form_error('password', '<div class="error">', '</div>')}}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="input_text {% if form_error('cPassword')!='' %} error-form {% endif%}">
                                                <label for="R_N12">{{ lang('Confirmpassword') }}<span>*</span></label>
                                                <input type="password" name="cPassword" id="cPassword"> 
                                                {{form_error('cPassword', '<div class="error">', '</div>')}}
                                            </div>   
                                        </div>
                                     <div class="col-12">
                                            <div class="input_text" {% if form_error('condition')!='' %} error-form {% endif%}>
                                                <input type="checkbox" name="condition" id="condition" {% if set_value('condition') %} checked {% endif%}>
                                                <label for="rememberme"><a href="{{base_url('information/terms-conditions')}}" target="blank">{{ lang('termasAgree') }}</a></label> 

                                                {{form_error('condition', '<div class="error">', '</div>')}}
                                            </div>
                                        </div>  
                                        
                                        <div class="col-12">
                                            <div class="login_submit">
                                            	<input type="submit" value="{{ lang('Register') }}" name="submit">
                                                    
                                                <a href="login" class="white-btn"><b>{{ lang('Existing_user_login') }}<b></a>


                                            </div>
                                          
                                        </div>        
                                    </div>
                                </form>    
                            </div>    
                        </div>  
                    </div>    
                </div>  
            </div>
            
            <!--login section end-->
          