<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="#">{{lang('home')}}</a> ></li>
                        <li>{{lang('contact')}}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->

<!--contact area css satrt-->
<div class="contact_area main-content-area ptb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <div class="contact_map_wrapper">
                    <div class="contact_map mb-40">
                        <!-- Contact Map Start -->
                        <div id="contact-map" style="position: relative; overflow: hidden;">
                            <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
{#                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14433.636650712755!2d51.4374085!3d25.2568179!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc86fdf149730f7c8!2sHyatt%20Plaza!5e0!3m2!1sen!2sin!4v1581417538700!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>#}
                            </div>  
                        </div> 
                    </div>     
                </div>      
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="contact_info_wrapper">
                    <div class="contact_title">
                        <h4>{{lang('location_details')}}</h4>    
                    </div>
                    <div class="contact_info mb-15">
                        <div class="contact_info_icone">
                            <a href="#"><i class="icofont icofont-location-pin"></i></a>    
                        </div>
                        <div class="contact_info_text">
                            <p><span>{{lang('address')}}:</span>  {{addressValue.value | raw}}</p>    
                        </div>    
                    </div>
                    <div class="contact_info mb-15">
                        <div class="contact_info_icone">
                            <a href="#"><i class="icofont icofont-email"></i></a>    
                        </div>
                        <div class="contact_info_text">
                            <p><span>{{lang('email')}} : </span>   {{emailValue}} </p>    
                        </div>    
                    </div>
                    <div class="contact_info mb-15">
                        <div class="contact_info_icone">
                            <a href="#"><i class="icofont icofont-phone"></i></a>    
                        </div>
                        <div class="contact_info_text">
                            <p><span>{{lang('Phone')}}</span>  {{phoneValue}}</p> 
                        </div>    
                    </div>    
                </div>    
            </div>      
        </div>    
    </div>   
</div>
<!--contact area css end-->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>
<script type="text/javascript">
        var latVal= {{latitudeVal}};
        var longVal= {{longitudeVal}};
          var myCenter=new google.maps.LatLng(latVal,longVal);
    function initialize()
    {
        var mapProp = {
            center:myCenter,
            scrollwheel: false,
            zoom:11,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map=new google.maps.Map(document.getElementById("contact-map"),mapProp);
        var marker=new google.maps.Marker({
            position:myCenter,
            map: map,
        });
	
		var styles =  [
			{
				"stylers": [
					{
						"hue": "#baf4c4"
					},
					{
						"saturation": 10
					}
				]
			},
			{
				"featureType": "water",
				"stylers": [
					{
						"color": "#effefd"
					}
				]
			},
			{
				"featureType": "all",
				"elementType": "labels",
				"stylers": [
					{
						"visibility": "off"
					}
				]
			},
			{
				"featureType": "administrative",
				"elementType": "labels",
				"stylers": [
					{
						"visibility": "on"
					}
				]
			},
			{
				"featureType": "road",
				"elementType": "all",
				"stylers": [
					{
						"visibility": "off"
					}
				]
			},
			{
				"featureType": "transit",
				"elementType": "all",
				"stylers": [
					{
						"visibility": "off"
					}
				]
			}
		];

		
		
        map.setOptions({styles: styles});
        marker.setMap(map);
    }
google.maps.event.addDomListener(window, 'load', initialize);

	
    </script>

