<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="#">{{lang('home')}}</a> ></li>
                        <li>{{lang('contact')}}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->

<!--contact area css satrt-->
<div class="contact_area main-content-area ptb-90">
            <h3 class="text-center mb-40"><b>Got a question for the Mowneh team? Or would you like to work with us?</b></h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5"> 
                <div class="contact_info_wrapper">
                    <div class="contact_title">
                        <h4>Get in touch today</h4>    
                    </div>
                    
                    <div class="contact_info">
                        <div class="contact_info_icone">
                            <a href="#"><i class="icofont icofont-email"></i></a>    
                        </div>
                        <div class="contact_info_text">
                            <p><span>{{lang('email')}} : </span>   {{emailValue}} </p>    
                        </div>    
                    </div>
                    <div class="contact_info mb-40">
                        <div class="contact_info_icone">
                            <a href="#"><i class="icofont icofont-phone"></i></a>    
                        </div>
                        <div class="contact_info_text">
                            <p><span>{{lang('Phone')}} : </span>  {{phoneValue}}</p> 
                        </div>    
                    </div>    
                </div>   
                
                
                <div class="contact_info_wrapper">
                    <div class="contact_title">
                        <h4>{{lang('location_details')}}</h4>    
                    </div>
                    <div class="contact_info">
                        <div class="contact_info_icone">
                            <a href="#"><i class="icofont icofont-location-pin"></i></a>    
                        </div>
                        <div class="contact_info_text">
                            <p><span>{{lang('address')}}:</span>  {{addressValue.value | raw}}</p>    
                        </div>    
                    </div>
                     
                </div>    
            </div> 
            <div class="col-lg-8 col-md-7">
                <div class="contact_map_wrapper">
                    <div class="contact_map">
                        <!-- Contact Map Start -->
                        <div id="contact-map" style="position: relative; overflow: hidden;">
                            <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                            <iframe 
  frameborder="0" width=900; height=400; style="border:0;"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBeyQwRc4slu6gBDaR96yGzoBWu72kpFmw&center={{latitudeVal}},{{longitudeVal}}&q=Ariane Tower, Doha, Qatar">
</iframe>
                            </div>  
                        </div> 
                    </div>     
                </div>      
            </div>
                 
        </div>    
    </div>   
</div>
<!--contact area css end-->

