<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="{{base_url()}}">Home</a> ></li>
                        <li>404</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->
<!-- Start Maincontent  -->
<section class="main-content-area error_pages ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="error-wrapper text-center">
                    <div class="error-text">
                        <h2>404</h2>
                        <h5>{{lang('404_title')}}</h5>
                        <p>{{lang('404_msg')}}</p>
                    </div>
         			                    
                    <div class="back_home_page">
                        <a href="{{base_url()}}">{{lang('backtohome')}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>         	
</section>			
<!-- End Maincontent  -->