{%if incart|length > 0%}
    <div class="cart-scroll">
        {%for product in incart%}
            <div class="mini_cart_item">
                <div class="mini_cart_img">
                    <a href="#"><img src="{{product.image}}" alt=""><span class="cart_count">{{product.quantity}}x</span></a>
                </div>
                <div class="cart_info cart_info_two">
                    <h5><a href="#">{{product.name}}</a></h5><span class="cart_price">{{product.price}}</span></div>
                <div class="cart_remove"><a id="rmProduct" href="#" onclick="cart.remove({{product.cartID}},{{product.productID}} );"><i class="zmdi zmdi-delete"></i></a></div>
            </div>
        {%endfor%}
    </div>    
    <div class="price_content">
        <div class="cart_subtotals cart_subtotals_two">
            <div class="price_inline tow"><span class="label">{{lang('Subtotal')}} </span><span class="value">{{subtotal}}</span></div>
{#            <div class="price_inline price_inline_tow"><span class="label">{{lang('shipping')}}</span><span class="value">{{shipping}}</span></div>#}
        </div>
        <div class="cart-total-price cart-total-price_two"><span class="label">{{lang('Total')}} </span><span class="value">{{total}}</span></div>
    </div>
    <div class="min_cart_checkout checkoyt_two"><a href="{{base_url('cart')}}">{{lang('Checkout')}}</a></div>
{%else%}
    <div class="mini_cart_item">
        <div class="cart_info cart_info_two">
            <h5>{{lang('your_cart_empty')}}</h5><span class="cart_price">0.00</span>
        </div>
    </div>
{%endif%}