<div class="product-status mg-b-15">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    {#<h1>Add New Brand</h1>#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner"> 
                                                {% if success %} <div class="alert alert-success">{{ success }} </div> {% endif %}
                                                {% if failMessage %} <div class="alert alert-danger alert-mg-b">{{ failMessage }}</div>{% endif %}
                                                <form id="manufactureAdd"  method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="manufacturerID" id="manufacturerID" value="{{ content.main.premotionID }}"/>
                                                    <div class="form-group-inner{% if form_error('title')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Title *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="title" id="title" {% if set_value('title') %} value="{{set_value('title')}}" {% else %} value="{{content.detail.title}}" {% endif %}  class="form-control">
                                                                {{form_error('title', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                            
                                                    <!--Order Status-->     
                                                    <div class="form-group-inner{% if form_error('type')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Type *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="form-select-list">
                                                                    <select class="form-control custom-select-value" name="type" id="type">
                                                                        <option value="" >Select</option>
                                                                        <option value="brand" {% if set_value('type') == 'brand' %} selected {% elseif content.main.type == 'brand' %} selected {% endif %}>Brand</option>
                                                                        <option value="category" {% if set_value('type') == 'category' %} selected {% elseif content.main.type == 'category' %} selected {% endif %}>Category</option>
                                                                    </select>
                                                                    {{form_error('type', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                     <div class="form-group-inner{% if form_error('offer')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Offer (%) *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="offer" id="offer" {% if set_value('offer') %} value="{{set_value('offer')}}" {% else %} value="{{content.main.offer}}" {% endif %}  class="form-control">
                                                                {{form_error('offer', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                                    
                                                    <div class="form-group-inner{% if form_error('priority')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Priority *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="form-select-list">
                                                                    <select class="form-control custom-select-value" name="priority" id="priority">
                                                                        <option value="" >Select</option>
                                                                        <option value="0" {% if set_value('type') == '0' %} selected {% elseif content.main.priority == '0' %} selected {% endif %}>Low</option>
                                                                        <option value="1" {% if set_value('type') == '1' %} selected {% elseif content.main.priority == '1' %} selected {% endif %}>Medium</option>
                                                                        <option value="2" {% if set_value('type') == '2' %} selected {% elseif content.main.priority == '2' %} selected {% endif %}>High</option>
                                                                        <option value="3" {% if set_value('type') == '3' %} selected {% elseif content.main.priority == '3' %} selected {% endif %}>Very High</option>
                                                                    </select>
                                                                    {{form_error('priority', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group-inner {% if form_error('categoryID[]')!='' %} error-form {% endif%}" {% if content.main.type == 'category' %}  {% else %} style="display:none"  {% endif %}  id="categoryShow">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Category * </label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" >   
                                                                <select name="categoryID[]" id="categoryID"  class="chosen-select" multiple="" tabindex="-1">
                                                                    <option value="">Select</option>
                                                                    {% for category in mainCategory %}
                                                                        <option value="{{category.categoryID}}" {% if set_value('categoryID') == category.categoryID %} selected {% elseif category.categoryID in content.categoryData %} selected {% endif %}> {% if category.parentID %} {{category.parentName}} &#62; {% endif %} {{category.name}}  </option>

                                                                    {% endfor %}    
                                                                </select>
                                                                {{form_error('categoryID[]', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                            
                                                    <div class="form-group-inner {% if form_error('brandID[]')!='' %} error-form {% endif%}" {% if content.main.type == 'brand' %} {% else %} style="display:none" {% endif %} id="brandShow">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Brand *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" >   
                                                                <select name="brandID[]" id="brandID"  class="chosen-select" multiple="" tabindex="-1">
                                                                    <option value="">Select</option>
                                                                     {% for manufactures in manufacturesList %}
                                                                        <option value="{{manufactures.manufacturerID}}" {% if set_value('manufacturerID') == manufactures.manufacturerID %} selected {% elseif manufactures.manufacturerID in content.premoBrandData %} selected {% endif %}>{{manufactures.manufactureName}}</option>

                                                                    {% endfor %}    
                                                                </select>
                                                                {{form_error('brandID[]', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('dateStart')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Start Date *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                               <div class="input-group date"><input type="text" name="dateStart" placeholder="YYYY-MM-DD"  {% if set_value('dateStart') %} value="{{set_value('dateStart')}}" {% else %} value="{{content.main.dateStart}}" {% endif %}  data-date-format="YYYY-MM-DD" class="form-control datePicker"/><span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button></span></div>
                                                                {{form_error('dateStart', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('dateEnd')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">End Date *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                               <div class="input-group date">
                                                                   <input type="text" name="dateEnd" placeholder="YYYY-MM-DD" {% if set_value('dateEnd') %} value="{{set_value('dateEnd')}}" {% else %} value="{{content.main.dateEnd}}" {% endif %} data-date-format="YYYY-MM-DD" class="form-control datePicker"/><span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button></span>
                                                               </div>
                                                                 {{form_error('dateEnd', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--status-->
                                               {#     <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Status</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                                <div class="form-select-list">
                                                                    <select class="form-control custom-select-value" name="status" id="status">
                                                                        <option value="Active" {% if set_value('status') == 'Active' %} selected {% elseif content.main.status == 'Active' %} selected {% endif %}>Active</option>
                                                                        <option value="Inactive" {% if set_value('status') == 'Inactive' %} selected {% elseif content.main.status == 'Inactive' %} selected {% endif %}>Inactive</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>#}
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <a href="{{base_url()}}manage/Premotion/" class="btn btn-secondary" >Cancel</a>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
        <script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
        <script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>
        <script src="{{base_url()}}public/manage/js/datapicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $("#type").change(function (e) {
         var type   =   $("#type").val();
        if(type=='brand'){
            $("#brandShow").show();
            $("#categoryShow").hide();
        }else if(type=='category'){
            $("#categoryShow").show();
            $("#brandShow").hide();
        }
    });
    $('.datePicker').datepicker({
                                                                                    format: 'yyyy-mm-dd',
                                                                                    prevText: '<i class="fa fa-chevron-left"></i>',
                                                                                    nextText: '<i class="fa fa-chevron-right"></i>'
                                                                                });
</script>    
