<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                {#Add Category#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
                                                {% if errlog %}
                                                    <a class="btn btn-sm btn-primary login-submit-cs" href="{{base_url()}}manage/ImportPage/downloadErrorLog">Download error log</a>
                                                 {% endif %}
                                                {% if success %} <div class="alert alert-success">{{ success }} </div> {% endif %}
                                                {% if uploadErr %} 
                                                    {% for errMsg in uploadErr %}
                                                        <div class="alert alert-danger alert-mg-b">{{ errMsg }}</div>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if failMessage %} <div class="alert alert-danger alert-mg-b">{{ failMessage }}</div>{% endif %}
                                                <form method="post" enctype="multipart/form-data">
                                                    <!--Name-->
                                                    <div class="form-group-inner {% if form_error('exportPage')!='' %} error-form {% endif%}" >
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Page *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                               <select name="exportPage" id="exportPage"  class="chosen-select" tabindex="-1">
                                                                    <option value="">Select</option>
                                                                    <option value="category" {% if exportPage == 'category' %} selected {% endif %}>Category</option>
                                                                    <option value="product" {% if exportPage == 'product' %} selected {% endif %}>Product</option>
                                                                    <option value="brands" {% if exportPage == 'brands' %} selected {% endif %}>Brands</option>
                                                                    {#<option value="order" {% if exportPage == 'order' %} selected {% endif %}>Order</option>#}
                                                                    <option value="customers" {% if exportPage == 'customers' %} selected {% endif %}>Customers</option>
                                                                    <option value="filter" {% if exportPage == 'filter' %} selected {% endif %}>Filter</option>
                                                                    <option value="attribute" {% if exportPage == 'attribute' %} selected {% endif %}>Attribute</option>
                                                               </select>
                                                                {{form_error('exportPage', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {#{% if requiredField  is empty %}   #}  
                                                   {# {% if requiredField is not null and requiredField is not empty %}
                                                        <div class="form-group-inner {% if form_error('field[]')!='' %} error-form {% endif%}" >
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">Fields</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <div class="row" style="column-count: 3">
                                                                        {% for key,value in exportField %}
                                                                            {% if key in requiredField %}
                                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                    <label class="login2 pull-right pull-right-pro">{{value}}</label>
                                                                                    <input type="checkbox" name="field[]"  value="{{key}}" checked style="display:none"/> 
                                                                                </div>

                                                                           {% endif %}

                                                                        {% endfor %}
                                                                    </div>
                                                                    {{form_error('field[]', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                   
                                                    <div class="form-group-inner {% if form_error('field[]')!='' %} error-form {% endif%}" >
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"> {% if requiredField  is empty %} Fields {% else %} Additional Fields {% endif %}</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                    <label class="login2 pull-right pull-right-pro">Select All</label>

                                                                </div>
                                                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                                     <input type="checkbox" id="checkAll" /> 
                                                                </div>
                                                                </br></br></br>
                                                                <div class="row" style="column-count: 3">
                                                                   
                                                                    {% for key,value in exportField %}
                                                                       {% if key not in requiredField %}
                                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                                                                    <label class="login2 pull-right pull-right-pro">{{value}}</label>
                                                                                </div>
                                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                                     <input type="checkbox" name="field[]" class="multyCheck" value="{{key}}" {% if key in set_value('field') %} checked {% endif %}/> 
                                                                                </div>
                                                                            </div>
                                                                       {% endif %}
                                                                    {% endfor %}
                                                                   
                                                                    {{form_error('field[]', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> #}
                                                                
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <input class="btn btn-sm btn-primary login-submit-cs" type="submit" name="sampleCsv" value="Download Sample Csv">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                                        
                                                                        
                                                                        
                                                    <div class="form-group-inner {% if form_error('exportPage')!='' %} error-form {% endif%}" >
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Csv File *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                    <div class="input append-small-btn">
                                                                        <div class="file-button">
                                                                            Browse
                                                                            <input type="file" name="csvFile" id="csvFile" class="upImage" onchange="document.getElementById('append-small-btn-image').value = this.value;">
                                                                        </div>
                                                                        <input type="text" id="append-small-btn-image" placeholder="no file selected">
                                                                    </div>
                                                                    {{form_error('csvFile', '<div class="error">', '</div>')}}
                                                                    {% if csvErr %} <div class="error imageError">{{ csvErr|raw  }}</div> {% endif %}
                                                                    <div class="error imageError" id="pdimgSizeErr"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        {#<a href="{{base_url()}}manage/Category/" class="btn btn-secondary" type="submit">Cancel</a>#}
                                                                        <input class="btn btn-sm btn-primary login-submit-cs" type="submit" name="importFile" value="Upload">
                                                                        {{form_error('importFile', '<div class="error">', '</div>')}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                
                                                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>
<!-- select2 JS============================================ -->
<link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
<link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
<script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
<script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>

<script>
    $('#exportPage').change(function(){
        var exportPage  =   $('#exportPage').val();
        if(exportPage){
             url = window.location.origin + window.location.pathname;

             window.location.replace(url+'?exportPage='+exportPage);
        }
    });
    
    $('#checkAll').click(function () {
        $('.multyCheck').not(this).prop('checked', this.checked);
    });
</script>