.toggle-btn{
}
.toggle-btn .active{
    background-color: #F06C00;
    color:white;
}
table tbody th, table tbody td{
    #text-align: center!important;
}
.header-top-menu .navbar-nav>li>a{
        padding: 20px 10px!important;
}