<div class="footer-copyright-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <div class="footer-copy-right">
                    <p>Copyright &copy; 2019. All rights reserved. Designed by <a href="http://wildherbstechnologies.com/">Wildherbs Technologies</a></p>
                </div>
            </div>
        </div>
    </div>
</div>