<!--breadcrumb area start-->
<div class="breadcrumb_container ">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li>
                            <a href="{{base_url()}}">{{ lang('home') }} ></a>
                        </li>
                        <li>{{ lang('Checkout') }} </li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->

<!-- Tab panes -->


<!--Checkout page section-->
<div class="Checkout_page_section">
    <div class="container">
        <div class="checkout-form">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    {% if addressErr %}
                        <div class="alert alert-danger">
                            {{addressErr}}
                        </div>
                    {% endif %}
                    <div class="row">
                    <div class="col-lg-8 col-md-7">
                    <div class="tab-content dashboard-content"> 
                        <div class="tab-pane fade show active" id="address">
                            <h3>{{lang('ShippingAddress')}}</h3>

                            {#                                            <pre>{{dump(moonehDeliveryAddress)}}</pre>#}
                            {% if moonehDeliveryAddress %}
                                <div class="address-list" >
                                    <div class=""> 
                                        <p>{{moonehDeliveryAddress.firstname|e}} {{moonehDeliveryAddress.lastname|e}}<br>
                                            {{moonehDeliveryAddress.address1|e}}<br>
                                            {{moonehDeliveryAddress.address2|e}}<br>
                                            {{moonehDeliveryAddress.zone|e}}<br>
                                            {{moonehDeliveryAddress.city|e}}<br>
                                            {{moonehDeliveryAddress.additional_direction|e}}<br>
                                            {{lang('Phone')}} : {{moonehDeliveryAddress.phone|e}}</p>
                                    </div>
                                </div>
                                <hr>
                            {% else %}
                                {% for data in content  %}
                                    <div class="address-list" >
                                        <div class=""> 
                                            <p>{{data.firstname|e}} {{data.lastname|e}}<br>
                                                {{data.address1|e}}<br>
                                                {{data.city|e}}, {{lang('p_o_box')}} {{data.postcode|e}}<br>
                                                
                                                {{lang('Phone')}} : {{data.phone|e}}</p>
                                            {# <a class="orange-btn btn" href="{{base_url()}}Cart/sessionAddressKeep/{{data.addressID}}">Deliver Here</a> #}
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            {% endif %}
                        </div>
                        
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-5">
                    <div class="tab-content dashboard-content"> 
                        <div class="tab-pane fade show active" id="address">
                            <h3>{{lang('bill_addr')}}</h3>

                            {#                                            <pre>{{dump(moonehDeliveryAddress)}}</pre>#}
                            {% if moonehDeliveryAddress %}
                                <div class="address-list" >
                                    <div class=""> 
                                        <p>{{moonehDeliveryAddress.firstname|e}} {{moonehDeliveryAddress.lastname|e}}<br>
                                            {{moonehDeliveryAddress.address1|e}}<br>
                                            {{moonehDeliveryAddress.address2|e}}<br>
                                            {{moonehDeliveryAddress.zone|e}}<br>
                                            {{moonehDeliveryAddress.city|e}}, {{lang('p_o_box')}} {{moonehDeliveryAddress.postcode|e}}<br>
                                            {{lang('Phone')}} : {{moonehDeliveryAddress.phone|e}}</p>
                                    </div>
                                </div>
                                <hr>
                            {% else %}
                                {% for data in content  %}
                                    <div class="address-list" >
                                        <div class=""> 
                                            <p>{{data.firstname|e}} {{data.lastname|e}}<br>
                                                {{data.address1|e}}<br>
                                                {{data.city|e}}, {{lang('p_o_box')}} {{data.postcode|e}}<br>
                                                {{lang('Phone')}} : {{data.phone|e}}</p>
                                            {# <a class="orange-btn btn" href="{{base_url()}}Cart/sessionAddressKeep/{{data.addressID}}">Deliver Here</a> #}
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            {% endif %}
                        </div>
                        
                    </div>
                    </div></div>

                    
                    
                    <style>
                        .error{margin-bottom: 0;}
                    </style>
                    <form id="addressAddForm" method="post" enctype="multipart/form-data" action="{{base_url('cart/checkout')}}" style="display:none">  {#style="display:none"#}
                        <h3>{{ lang('ShippingAddress') }}</h3>
                        <div class="row">
                            <div class="col-lg-6 mb-30">
                                <label for="b_f_name">{{lang('FirstName')}} <span>*</span></label>
                                <input type="text" name="firstname" id="firstname" value="{{set_value('firstname')}}">
                                {{form_error('firstname', '<div class="error">', '</div>')}}
                            </div>
                            <div class="col-lg-6 mb-30">
                                <label for="b_name">{{lang('LastName')}}  <span>*</span></label>
                                <input type="text" name="lastname" id="lastname" value="{{set_value('lastname')}}">
                                {{form_error('lastname" ', '<div class="error">', '</div>')}}
                            </div>
                            <div class="col-12 mb-30">
                                <label>{{lang('address_1')}}<span>*</span></label>
                                <input type="text" name="address1" id="address2" value="{{set_value('address1')}}">
                                {{form_error('address1', '<div class="error">', '</div>')}}
                            </div>
                            <div class="col-12 mb-30">
                                <label>{{lang('address_2')}}<span>*</span></label>
                                <input type="text" name="address2" id="address2" value="{{set_value('address2')}}" >
                                {{form_error('address2', '<div class="error">', '</div>')}}
                            </div>
                            <div class="col-12 mb-30">
                                <label>{{lang('po_box')}} <span>*</span></label>
                                <input type="text" name="postcode" id="postcode" value="{{set_value('postcode')}}">
                                {{form_error('postcode', '<div class="error">', '</div>')}}
                            </div>
                            <div class="col-12 textdiv"> 
                                <label>{{ lang('Phone') }} <span>*</span></label>
                                <div class="row">
                                    <div class="col-lg-2 col-sm-4 col-md-3">
                                        <input type="text" id="phone" value="+974" readonly>
                                    </div>
                                    <div class="col-lg-10 col-sm-8 col-md-9 {% if form_error('phone')!='' %} error-form {% endif%}">
                                        <input type="text" name="phone" id="phone" {% if set_value('phone') %} value="{{set_value('phone')}}" {% else %} value="{{content.phone}}" {% endif %} class="form-control">
                                    </div>
                                </div>
                                {{form_error('phone', '<div class="error">', '</div>')}}
                            </div> 
                            <div class="col-12 mb-30">
                                <label class="col-6 billing-address-dropdown" for="city">{{lang('FirstName')}}City <span class="required">*</span></label>
                                <select  name="city" id="city" data-placeholder="Choose city" class="custom-select-value" >
                                    <option value="">{{lang('select')}}</option>
                                    {% set myArray = [] %}
                                    {% for wcity in warehouseCity%}
                                        {% set myArray = myArray|merge([wcity.cityID]) %}
                                        <option value="{{wcity.name}}" {% if set_value('name') == wcity.name %} selected {% elseif content.city == wcity.name %} selected {% endif %}>{{wcity.name}}</option>
                                    {% endfor %}
                                    {% for state in stateList %}
                                        {% if state.cityID not in myArray%}
                                            <option value="{{state.name}}" disabled>{{state.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {{form_error('city', '<div class="error">', '</div>')}}
                            </div>
                            <div class="col-12 mb-30">
                                <label class="col-6 billing-address-dropdown" for="c_country">{{lang('FirstName')}}Country <span class="required">*</span></label>
                                <select  name="countryID" id="countryID" data-placeholder="Choose filters" class="custom-select-value" tabindex="-1">
                                    <option value="">{{lang('select')}}</option>
                                    {% for country in countryList %}
                                        <option value="{{country.countryID}}" {% if set_value('countryID') == country.countryID %} selected  {% endif %}>{{country.name}}</option>
                                    {% endfor %}
                                </select>
                                {{form_error('countryID', '<div class="error">', '</div>')}} 
                            </div>
                            <div class="edit-btn">
                                <a href="{{base_url()}}Cart/" class="inline btn">{{ lang('cancel') }}</a>
                            </div> 
                            <div class="confirm-btn">
                                <input  type="submit" class="inline" value="{{lang('confirm')}}" name="confirm"> 
                            </div>    	    	    	    	    	    	    
                        </div>
                    </form>    
                </div>
                <div class="col-lg-12 col-md-12 p-0 order-details">
                    <div class="" style="border: 1px solid #ededed;">
                        <h3 style="padding: 25px 25px 0px 25px;">{{lang('ord_details')}}</h3>
                        {% if cartItems|length > 0 %}
                            <div class="table-content table-responsive">
                                <table class="no-border">
                                    <thead>
                                        <tr >
                                            <th class="img-thumbnail product-name whitebg" colspan="2">{{lang('Product')}}</th>
                                            <th class="product-quantity p-qty whitebg">{{lang('Quantity')}}</th>
                                            <th class="product-subtotal whitebg order-details-total">{{lang('Total')}}</th>
                                        </tr >
                                    </thead>
                                    {% for items in cartItems%}
                                        {% if items.cartID %}
                                            <tbody>
                                                <tr>
                                                    <td class="product-thumbnail"><img src="{{items.image}}" alt=""> </td>
                                                    <td class="product-name" style="text-align: left;"><a href="#">{{items.name}}</a>
                                                       <ul>
                                                {% for option in items.option%}
                                                <li>
                                                {{option}}
                                                </li>
                                                {% endfor %}
                                                </ul></td>
                                                    <td class="product-quantity">{{items.quantity}}</td>
                                                    <td class="product-subtotal order-details-total">{{items.total}}</td>
                                                </tr>
                                            </tbody>    
                                        {% endif %}   
                                    {% endfor %}

                                </table>
                                {%if subTotal%}
                                    {% for totValues in subTotal %}
                                        <div class="order-details-total">
                                            <h3>{{totValues.title}}</h3>
                                            <p>{{totValues.value}}</p>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="order-details-total">
                                   {# <a class="orange-btn btn" href="{{base_url()}}Cart/payment" >{{lang('continue')}}</a>#}
                                   {#<pre> {{dump(payForm)}} </pre>#}
                                   <form method="post" action="{{payFormAction}}">
                                       {% for key,formValue in payForm %}
                                           <input type="hidden" name="{{key}}" value="{{formValue}}"/>
                                       {% endfor %}
                                       <input type="submit" class="orange-btn btn" name="Pay" value="Pay Now"/>
                                   </form>
                                   <a class="orange-btn btn" id="simpleConfirm" href="{{base_url()}}Cart/codAction/{{orderID}}" >{{lang('Cash_On_Delivery')}}</a>
                                </div>
                            </div> 
                        {% else %}
                            <div class="table-content table-responsive"><h3>{{ lang('Cartempty') }}</h3></div>
                                {% endif %}
                    </div>   
                </div>
            </div> 
        </div>     
    </div>    
</div>
<!--Checkout page section end-->
<script>
    function addNewAddress(addrID) {
        $('#addressAddForm').show();
        $('#address').hide();
    }
</script>
