
<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="{{base_url()}}">{{ lang('home') }} ></a></li>
                        <li>{{ lang('cart') }}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->
<div class="cart_main_area" id="cartDisplay">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <form action="#">  
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="img-thumbnail product-name" colspan="2">{{ lang('Product') }}</th>
                                    <th class="product-price">{{ lang('Price') }}</th>
                                    <th class="product-quantity">{{ lang('Quantity') }}</th>
                                    <th class="product-subtotal">{{ lang('Total') }}</th>
                                </tr>
                            </thead>
                            {% if cartItems|length > 0 %}
                                {% for items in cartItems%}
                                    {% if items.cartID %}
                                        <tbody id="cartList{{items.cartID}}">
                                            <tr>
                                                <td class="product-thumbnail"><img src="{{items.image}}" alt="" > </td>
                                                <td  class="product-name" style="text-align: left;"><a href="#">{{items.name}}</a>
                                                {% for oProductId in items.optionProductId%}
                                                <input type="hidden" id="productOptionId{{items.cartID}}" value="{{oProductId}}">
                                                {% endfor %}
                                                
                                                <ul>
                                                {% for option in items.option%}
                                                <li>
                                                {{option}}
                                                </li>
                                                {% endfor %}
                                                </ul>
                                                <div class="optionError{{items.cartID}}" style="color:red;"></div>
                                                </td>
                                                <td class="product-price"><span class="amount">{{items.price}}</span></td>
                                                <td class="product-quantity">
                                                    <div class="quickview_plus_minus quick_cart">
                                                        <div class="quickview_plus_minus_inner">
                                                            <div class="cart-plus-minus cart_page">
                                                                <input id="{{items.cartID}}" type="text" value="{{items.quantity}}" name="qtybutton-{{items.cartID}}" data-productid="{{items.productID}}" class="cart-plus-minus-box quentity">
                                                            </div>
                                                        </div>    
                                                    </div> 
                                                </td>
                                                <td class="product-subtotal">{{items.total}}</td>
                                                
                                            </tr>
                                            <tr>
                                                <td colspan="5" style="background-color: #ebebeb; height: 40px;">
                                                    <div class="remove-item"> <a id="myBtn" onclick="cart.remove({{items.cartID}}, {{items.productID}})" href="javascript:void(0)"><img src="{{base_url()}}asset/img/remove-from-cart.png">{{lang('remove_item')}}</a></div>
                                                    <!-- The Modal -->
                                                    <div id="myModal" class="modal col-sm-12">
                                                        <!-- Modal content -->
                                                        <div class="modal-content">
                                                            <!-- <span class="close">&times;</span> -->
                                                            <p>{{ lang('Areyouremove') }}</p>
                                                            <input class="submitbtn" value="Yes" type="submit">
                                                            <span><input class="canceltbtn" value="No" type="submit"></span>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                        </tbody> 
                                    {% endif %}   
                                {% endfor %}
                            {% else %}
                                <tbody id="cartList{{items.cartID}}">
                                    <tr>
                                        <td><h3>{{ lang('Cartempty') }}</h3></td>
                                    </tr>

                                </tbody>
                            {% endif %}
                        </table>
                    </div>
                        </form>   
                    <div class="row table-responsive_bottom">
                        <div class="col-lg-7 col-sm-7 col-md-7">
                            <div class="buttons-carts">
                                <a href="{{base_url()}}Product"> {{ lang('ContinueShopping') }}</a>   
                            </div> 
                            
                        </div> 
                        <div class="col-lg-5 col-sm-5 col-md-5">
                            <div class="cart_totals  text-right">
                                {%if subTotal%}
                                    <h2><b>{{ lang('CartTotals') }} </b></h2>
                                    {% for totValues in subTotal %}
                                        <div class="cart-subtotal">
                                            <span>{{totValues.title}}</span>    
                                            <span>{{totValues.value}}</span>    
                                        </div>
                                    {% endfor %}
                                {% endif %}
                               
                                <div class="wc-proceed-to-checkout">
                                    <a href="{{base_url()}}Cart/checkOut">{{ lang('ProceedCheckout') }}</a>
                                </div>
                            </div>    
                        </div>    
                    </div>
                

            </div>    
        </div>    
        <script>
            var CartPlusMinus = $('.cart-plus-minus');
            CartPlusMinus.prepend('<div class="dec qtybutton">-</div>');
            CartPlusMinus.append('<div class="inc qtybutton">+</div>');
            $('.qtybutton').on('click', function () { 
            var $button = $(this);
              
            var oldValue = $button.parent().find('input').val();
            var id = $button.parent().find('input').attr('id');
            if ($button.text() === "+") {
                var newVal = parseFloat(oldValue) + 1;
                var productOptionId = $('#productOptionId'+id).val();
                if(productOptionId !== ''){
                    $flag=0;
                    $.ajax({
                        dataType: 'json',
                        type: "POST",
                        url: '{{base_url()}}Product/checkQunatity',
                        data: ({productOptionId: productOptionId}),
                        success: function (data) {  
                            if(data != 0){
                                if((newVal) > data){
                                    $flag=1;
                                }
                            }else{
                                $flag=1;
                            }
                            if($flag==0){
                                $('.optionError'+id).html('Out of stock!');
                            }else{
                                var productID = $button.parent().find('input').data("productid");
                                cart.update(productID, newVal);
                            }
                             if (newVal < 1){
                                newVal = 1;
                                }
                                
                                $button.parent().find('input').val(newVal);
                        }
                    });
                }else{
                    if (newVal < 1){
                            newVal = 1;
                            }
                            var productID = $button.parent().find('input').data("productid");
                            $button.parent().find('input').val(newVal);
                            cart.update(productID, newVal);
                }
            } else {
                $('.optionError'+id).html('');
                // Don't allow decrementing below zero
                if (oldValue > 0) {
                    var newVal = parseFloat(oldValue) - 1;
                } else {
                    newVal = 1;
                }
                if (newVal < 1){
                    newVal = 1;
                }
                var productID = $button.parent().find('input').data("productid");
                $button.parent().find('input').val(newVal);
                cart.update(productID, newVal);
            }
            
            });
        </script>      
    </div>            
</div>
