<style>
    #deleveryTypeForm
    {
      margin: 20px 0px;  
    }
    #deleveryTypeForm input, #deleveryTimeSlot input
    {
        height:auto !important;
        top: 5px !important;
    }
    #deleveryTypeForm label, #deleveryTimeSlot label
    {
        padding: 0px 10px;
    } 
    #deleveryTypeForm .custom-control,  #deleveryTimeSlot .custom-control
    { 
        /*width: 100%;*/
        padding:0.5rem 0rem  !important;
    }
    #deleveryTypeForm .custom-radio {
    margin: 0px;
    }
    #deleveryTimeSlot
    {
    padding-top: 15px;
    }
    #deleveryTimeSlot .custom-radio {
    margin: 0px 5px 0px 0px;
    }
    .modal-content input {
    max-width: 610px !important;
    }
</style>
<!--breadcrumb area start-->
<div class="breadcrumb_container ">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li>
                            <a href="{{base_url()}}">{{ lang('home') }} ></a>
                        </li>
                        <li>{{ lang('Checkout') }} </li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->

<!-- Tab panes -->


<!--Checkout page section-->
<div class="Checkout_page_section">
    <div class="container">
        <div class="checkout-form">
            <div class="row">
                <div class="col-lg-6 col-md-6 billing-address">
                    {% if addressErr %}
                        <div class="alert alert-danger">
                            {{addressErr}}
                        </div>
                    {% endif %}
                    <div class="tab-content dashboard-content"> 
                        <div class="tab-pane fade show active" id="address">
                            <h3>{{lang('manage_addr')}}</h3>

                            {#                                            <pre>{{dump(moonehDeliveryAddress)}}</pre>#}
                            {% if moonehDeliveryAddress %}
                                <div class="address-list" >
                                    <div class=""> 
                                        <p>{{moonehDeliveryAddress.firstname|e}} {{moonehDeliveryAddress.lastname|e}}<br>
                                            {{moonehDeliveryAddress.address1|e}}<br>
                                            {{moonehDeliveryAddress.address2|e}}<br>
                                            {{moonehDeliveryAddress.zone|e}} <br>
                                            {{moonehDeliveryAddress.city|e}} <br>
                                            {{moonehDeliveryAddress.additional_direction|e}}
{#                                            ,P.O.Box {{moonehDeliveryAddress.postcode|e}}#}
                                            <br>
                                            {{lang('Phone')}} : {{moonehDeliveryAddress.phone|e}}</p>
                                    </div>
                                </div>
                                <hr>
                            {% else %}
                                {% for data in content  %}
                                    <div class="address-list" >
                                        <div class=""> 
                                            <p>{{data.firstname|e}} {{data.lastname|e}}<br>
                                                {{data.address1|e}}<br>
                                                {{data.zone|e}}<br>
                                                {{data.city|e}}<br>
                                                {{data.additional_direction|e}}
{#                                                ,P.O.Box {{data.postcode|e}}#}
                                                <br>
                                                {{lang('Phone')}} : {{data.phone|e}}</p>
                                            <a class="orange-btn btn" href="{{base_url()}}Cart/sessionAddressKeep/{{data.addressID}}">Deliver Here</a>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if content|length < '2' %}
                            <a class="orange-btn btn" href="javascript:void(0)" onclick="addNewAddress();" id="newAddrBut">Add New Address</a>
                        {% endif %}
                        {% if moonehDeliveryAddress %}
                        <div class="buttons-carts coupon">
                                <h3><b>{{ lang('Coupon') }}</b></h3>
                                <p>{{ lang('Entercouponcode') }}</p>
                               
                                {% if succMsgCoupon %}<div class="alert alert-success alert-mg-b">{{ succMsgCoupon }}</div> {% endif %}
                                {% if errMsgCoupon %}<div class="alert alert-danger alert-mg-b">{{ errMsgCoupon }}</div> {% endif %}
                                <form method="post">
                                    <input type="text" name="couponCode" placeholder="{{ lang('Coupon_code') }}">
                                    {{form_error('couponCode', '<div class="error">', '</div>')}}
                                    <input type="submit" value="{{ lang('Apply_Coupon') }}" name="couponSubmit">  
                                </form>
                            </div>
                            {%endif%}
                    </div>
                    <style>
                        .error{margin-bottom: 0;}
                    </style>
                    {% if moonehDeliveryAddress %}
                    <form method="post" id="deleveryTypeForm" action="{{base_url('cart/checkout')}}">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="delivery" value="normal" class="delivery form-control" onclick="deliverySubmit()" {% if deleveryType=='normal' %} checked {% endif %}>  
                            <label class="custom-control-label">Normal Delivery </label>
                            </div>
                            <div class="custom-control custom-radio">
                            <input type="radio" name="delivery" value="express" class="delivery" onclick="deliverySubmit()" {% if deleveryType=='express' %} checked {% endif %}> 
                             <label class="custom-control-label">Express Delivery </label>
                            </div>     
                    </form>
                             <form method="post" id="deleveryTimeSlot" action="{{base_url('cart/checkout')}}">
                                 <span style="font-weight: 700;">{{expectedDelevery}} </span></br>
                    
                        {% if timeSloteData %}
                            

                            {% for slotdata in timeSloteData  %}
                                <div class="custom-control custom-radio">
{#                                <input type="radio" name="timeSlote" class="delivery" value="{{slotdata.slotID}}" {% if slotdata.slotID == timeSlote%} checked {% endif %} onchange="timeSloteSubmit({{slotdata.slotID}},'deliveryDate')"> #}
                                <input type="radio" name="timeSlote" class="delivery" value="{{slotdata.slotID}}" {% if loop.first %} checked {% endif %} onchange="timeSloteSubmit({{slotdata.slotID}},'deliveryDate')"> 
                                    <label class="custom-control-label">
                                {{slotdata.fromTime|date("h A")}} - {{slotdata.toTime|date("h A")}}   </label> 


                                </div>
                                {% endfor %}
                        {% endif %}  </br>
                        <span style="font-weight: 700;">{{nextDelevery}}</span> </br>
                        {% if nextSloteTime %}
                            

                            {% for nextslotdata in nextSloteTime  %}
                                <div class="custom-control custom-radio">
                                {#<input type="radio" name="timeSlote" class="delivery" value="{{nextslotdata.slotID}}" {% if nextslotdata.slotID == timeSlote%} checked {% endif %} onchange="timeSloteSubmit({{nextslotdata.slotID}},'nextDate')"> #}
                                <input type="radio" name="timeSlote" class="delivery" value="{{nextslotdata.slotID}}"  {% if timeSloteData is empty %} {% if loop.first %} checked {% endif %} {% endif %} onchange="timeSloteSubmit({{nextslotdata.slotID}},'nextDate')"> 
                                    <label class="custom-control-label">
                                {{nextslotdata.fromTime|date("h A")}} - {{nextslotdata.toTime|date("h A")}}   </label> 


                                </div>
                                {% endfor %}

                           
                        {% endif %}
                    {% endif %}
 

                    <form method="post" id="deleveryTimeSlot" action="{{base_url('cart/checkout')}}">
                        <input type="hidden" name="timeSlote" value="" id="timeSlote"/>
                        <input type="hidden" name="dateDtata" value="" id="dateDtata"/>
                    </form>
                    
                </div>
                <div class="col-lg-6 col-md-6 order-details">
                    <div class="" style="border: 1px solid #ededed;">
                        <h3 style="padding: 25px 20px 0px;">{{lang('ord_details')}}</h3>
                        {% if cartItems|length > 0 %}
                            <div class="table-content table-responsive">
                                <table class="no-border">
                                    <thead>
                                        <tr >
                                            <th class="img-thumbnail product-name whitebg" colspan="2">Product</th>
                                            <th class="product-quantity p-qty whitebg">{{lang('Quantity')}}</th>
                                            <th class="product-subtotal whitebg order-details-total">Total</th>
                                        </tr >
                                    </thead>
                                    {% for items in cartItems%}
                                        {% if items.cartID %}
                                            <tbody>
                                                <tr>
                                                    <td class="product-thumbnail"><img src="{{items.image}}" alt=""> </td>
                                                    <td class="product-name" style="text-align: left;"><a href="#">{{items.name}}</a>
                                                    <ul>
                                                {% for option in items.option%}
                                                <li>
                                                {{option}}
                                                </li>
                                                {% endfor %}
                                                </ul>
                                                </td>
                                                    <td class="product-quantity">{{items.quantity}}</td>
                                                    <td class="product-subtotal order-details-total">{{items.total}}</td>
                                                </tr>
                                            </tbody>    
                                        {% endif %}   
                                    {% endfor %}

                                </table>
                                {%if subTotal%}
                                    {% for totValues in subTotal %}
                                        <div class="order-details-total">
                                            <h3>{{totValues.title}}</h3>
                                            <p>{{totValues.value}}</p>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="order-details-total">
                                    <a class="orange-btn btn" href="{{base_url()}}Cart/payment" >{{lang('continue')}}</a>
                                </div>
                            </div> 
                        {% else %}
                            <div class="table-content table-responsive"><h3>{{ lang('Cartempty') }}</h3></div>
                                {% endif %}
                    </div>   
                </div>
            </div> 
        </div>     
    </div>    
</div>
 <!--INCLUDE MODALS-->
            <div id="WarningModalalert" class="modal modal-edu-general Customwidth-popup-WarningModal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        
                        <div class="modal-body">
                           <form id="addressAddForm" method="post" enctype="multipart/form-data"  style="display:none">  {#style="display:none" action="{{base_url('cart/checkout')}}"#}
                        <h3>{{ lang('ShippingAddress') }}</h3>
                        <div class="row">
                            <div class="col-lg-6 mb-30">
                                <label for="b_f_name">{{lang('FirstName')}} <span>*</span></label>
                                <input type="text" name="firstname" id="firstname" value="{{set_value('firstname')}}">
                                {{form_error('firstname', '<div class="error">', '</div>')}}<div class="ferror popError"></div>
                            </div>
                            <div class="col-lg-6 mb-30">
                                <label for="b_name">{{lang('LastName')}} <span>*</span></label>
                                <input type="text" name="lastname" id="lastname" value="{{set_value('lastname')}}">
                                {{form_error('lastname" ', '<div class="error">', '</div>')}}<div class="lerror popError"></div>
                            </div>
                            <div class="col-12 mb-30">
                                {#<label>{{lang('address_1')}} <span>*</span></label>#}
                                <label>{{ lang('Building_No') }} <span>*</span></label>
                                <input type="text" name="address1" id="address2" value="{{set_value('address1')}}">
                                {{form_error('address1', '<div class="error">', '</div>')}}<div class="berror popError"></div>
                            </div>
                            <div class="col-12 mb-30">
                                {#<label>{{lang('address_2')}} <span>*</span></label>#}
                                <label>{{ lang('Street_No') }} <span>*</span></label>
                                <input type="text" name="address2" id="address2" value="{{set_value('address2')}}" >
                                {{form_error('address2', '<div class="error">', '</div>')}}<div class="serror popError"></div>
                            </div>
                            
                            <div class="col-12 mb-30">
                                <label>{{ lang('Additional_Direction') }}</label>
                                <input type="text" name="additional_direction" id="additional_direction" value="{{set_value('additional_direction')}}" >
                                {{form_error('additional_direction', '<div class="error">', '</div>')}}<div class="serror popError"></div>
                            </div>
                             
                           {# <div class="col-12 mb-30">
                                <label>{{lang('po_bx')}} <span>*</span></label>
                                <input type="text" name="postcode" id="postcode" value="{{set_value('postcode')}}">
                                {{form_error('postcode', '<div class="error">', '</div>')}}<div class="perror popError"></div>
                            </div>#}
                            <div class="col-12 mb-30"> 
                                <label>{{ lang('Phone') }} <span>*</span></label>
                                <div class="row">
                                    <div class="col-lg-2 col-sm-4 col-md-3">
                                        <input type="text" id="phone" value="+974" readonly>
                                    </div>
                                    <div class="col-lg-10 col-sm-8 col-md-9 {% if form_error('phone')!='' %} error-form {% endif%}">
                                        <input type="text" name="phone" id="phone" {% if set_value('phone') %} value="{{set_value('phone')}}" {% else %} value="{{content.phone}}" {% endif %} class="form-control">
                                    </div>
                                </div>
                                {{form_error('phone', '<div class="error">', '</div>')}}<div class="pherror popError"></div>
                            </div> 
                            <div class="col-12 mb-30">
                                {#<label>{{lang('address_3')}} <span>*</span></label>#}
                                <label>{{ lang('city') }} <span>*</span></label>
                                <select  name="city" id="city" data-placeholder="Choose city" class="custom-select-value chosen-select" >
                                    <option value="">{{lang('select')}}</option>
                                                        {% for warehouseCityMunicipality in warehouseCity%}
                                                            <optgroup label="{{warehouseCityMunicipality.municipality}}">
                                                            {% for wcity in warehouseCityMunicipality.city%}
                                                                
                                                                <option value="{{wcity.name}}~{{wcity.cityID}}" {% if set_value('name') == wcity.name %} selected {% elseif content.city == wcity.name %} selected {% endif %}>{{wcity.name}}</option>
                                                            {% endfor %}
                                                             </optgroup>
                                                        {% endfor %}
                                    {#{% set myArray = [] %}
                                    {% for wcity in warehouseCity%}
                                        {% set myArray = myArray|merge([wcity.cityID]) %}
                                        <option value="{{wcity.name}}~{{wcity.cityID}}" {% if set_value('name') == wcity.name %} selected {% elseif content.city == wcity.name %} selected {% endif %}>{{wcity.name}}</option>
                                    {% endfor %}
                                    {% for state in stateList %}
                                        {% if state.cityID not in myArray%}
                                            <option value="{{state.name}}~{{state.cityID}}" disabled>{{state.name}}</option>
                                        {% endif %}
                                    {% endfor %}#}
                                </select>
                                {{form_error('city', '<div class="error">', '</div>')}}<div class="zerror popError"></div>
                            </div>
                            <div class="col-12 mb-30">
                                {#<label>{{lang('address_3')}} <span>*</span></label>#}
                                <label>{{ lang('Zone_No') }} <span>*</span></label>
                                <input type="text" name="address3" id="address3" value="{{set_value('address3')}}" >
                                {{form_error('address3', '<div class="error">', '</div>')}}<div class="zerror popError"></div>
                            </div>
                             <div class="col-12 mb-30">
                                {#<label>{{lang('address_3')}} <span>*</span></label>#}
                                <label class="col-6 billing-address-dropdown" for="c_country">Country <span class="required">*</span></label>
                                <select  name="countryID" id="countryID" data-placeholder="Choose filters" class="custom-select-value" tabindex="-1">
                                    <option value="">{{lang('select')}}</option>
                                    {% for country in countryList %}
                                        <option value="{{country.countryID}}" {% if set_value('countryID') == country.countryID %} selected  {% endif %}>{{country.name}}</option>
                                    {% endfor %}
                                </select>
                                {{form_error('countryID', '<div class="error">', '</div>')}} <div class="crerror popError"></div>
                            </div>
                            
                            <div class="edit-btn">
                                <a data-dismiss="modal" href="#" class="inline btn">{{ lang('cancel') }}</a>
                            </div> 
                            <div class="confirm-btn">
                            <input type="hidden" name="confirmFlag" id="confirmFlag" class="" value="">
                             <input type="button" name="confirm" id="confirm" class="inline confirm" value="Confirm">
                               
                            </div>    	    	    	    	    	    	    
                        </div>
                    </form>    
                        </div>
                        
                    </div>
                </div>
            </div>
                            <link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
        <script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
        <script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>
        <script>
             $('#city').change(function () { 
                 var cityID    =   $(this).val().split("~")
                {# alert(cityID[1]);#}
                        var zoneUrl = "{{base_url()}}Myaccount/loadZone";
                  $.ajax({
                    type: "POST",
                    url: zoneUrl,
                    data : {"cityID":cityID[1]},
                    dataType: "html",
                    success: function (data) {
                        $('#address3').val(data);
                    }
                });
            });
        </script>
<!--Checkout page section end-->
<style>
.closeM {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.popError p {
color : red;
}
</style>
<script>
    function addNewAddress(addrID) {
     $('#WarningModalalert').modal('show');
        $('#addressAddForm').show();
        $('#address').hide();
    }
    
    function deliverySubmit(){
       $("#deleveryTypeForm").submit();
    }
    function timeSloteSubmit(sloteID,dateDtata){
        //alert(dateDtata); 
        $("#timeSlote").val(sloteID);
        $("#dateDtata").val(dateDtata);
        $("#deleveryTimeSlot").submit();
    }
    $('.confirm').on('click', function(event){
    $('#confirmFlag').val(1);
  
  $.ajax({
   url:'{{base_url()}}Cart/checkout',
   method:"POST",
   data:$('#addressAddForm').serialize(),
   dataType:"json",
   
   success:function(data)
   {
  
    if(data.error)
    {
     if(data.firstname_error != '')
     {
      $('.ferror').html(data.firstname_error);
      
     }
    
     if(data.lastname_error != '')
     {
      $('.lerror').html(data.lastname_error);
     }
     
     if(data.phone_error != '')
     {
      $('.pherror').html(data.phone_error);
     }
    
     if(data.address1_error != '')
     {
      $('.berror').html(data.address1_error);
     }
     if(data.address2_error != '')
     {
      $('.serror').html(data.address2_error);
     }
    
     if(data.address3_error != '')
     {
      $('.zerror').html(data.address3_error);
     }
     if(data.city_error != '')
     {
      $('.cerror').html(data.city_error);
     }
     
     event.preventDefault();
    }else{
     
     window.location.reload();
   
    }
    
   }
  })
 });
</script>
