            <!--breadcrumb area start-->
            <div class="breadcrumb_container ">
                <div class="container">
                    <div class="row">
                        <div class="col-12">     
                            <nav>
                        <ul>
                            <li>
                                <a href="{{base_url()}}">{{ lang('home') }} ></a>
                            </li>
                            <li>{{ lang('Payment') }} </li>
                        </ul>
                    </nav>
                        </div>
                    </div> 
                </div>        
            </div>
             <!--breadcrumb area end-->
            
             <!-- Tab panes -->
          

            <!--Checkout page section-->
            <div class="Checkout_page_section">
                <div class="container">
                    <form method="post">
                        <select name="paymentMethod" id="paymentMethod">
                            <option value="">Select</option>
                            <option value="1">Free Checkout</option>
                            <option value="2">Cash On Delivery</option>
                        </select>
                         <br>
                        {{form_error('paymentMethod', '<div class="error">', '</div>')}}
                         <br>
                        <input type="submit" value="Proceed" name="proceed"/>
                    </form>
                </div>    
            </div>
            <!--Checkout page section end-->
          