
            <!--breadcrumb area start-->
            <div class="breadcrumb_container ">
                <div class="container">
                    <div class="row">
                        <div class="col-12">     
                            <nav>
                        <ul>
                            <li>
                                 <a href="{{base_url()}}">{{ lang('home') }} ></a>
                            </li>
                            <li>{{lang('Checkout')}}</li>
                        </ul>
                    </nav>
                        </div>
                    </div> 
                </div>        
            </div>
             <!--breadcrumb area end-->
            
             
            <!--payment page section-->
            <div class="payment-section">
                <h4>{{lang('order_success_msg_head')}}</h4>
                <p>{{lang('order_success_msg_body')}}<br>{{lang('order_id')}} : {{ orderID }}</p>
                <a href="{{base_url()}}Myaccount/ordersList"><button class="orange_button button">{{lang('ord_details')}}</button></a>
            </div>
            <!--payment page section end-->
            
           