/* Cart start */
.mini_cart_box, .cart_box_one
{
    left: 0 !important;
    right: auto;
} 
/* Cart end */

/* Product list page start */
.product_list
{
    text-align: right;
    direction: rtl;
}
.shop_sidebar
{
    text-align: right;
}  
.shop_sidebar .Compositions.widget ul li label, .size_clearfix ul li label 
{
    margin-right: 28px;
} 
.list-filter a  
{
    padding-right: 50px;
}
/* Product list page end */

/* Product details page start */
.product_details
{
    text-align: right;
    direction: rtl;
}
.features_product
{
    direction: ltr;
}
.product__hover
{
    direction: rtl;  
}
.quickview_plus_minus_inner .add_button 
{
    margin-right: 20px;
}
.qtybutton
{
    text-align: left;
}
.features_product h3
{
    float: right;
}
.new_badge
{
    float: left;
}
.produc_desc_info
{
    text-align: center;
}
/* Product details page end */

/* Cart list page start */
.cart-list
{
    direction: rtl; 
}
.table-content.table-responsive table tbody tr td a
{
    float: right !important;
}
.table-content.table-responsive table tbody tr td 
{
    padding: 0;
    text-align: center ;
}
.remove-item {
    text-align: right;
    margin-right: 4%;
}
.table-responsive_bottom
{
text-align: right;
}
.table-content.table-responsive table thead tr .product-name {
    width: 320px;
    text-align: right;
    padding-right: 5%;
}
.qtybutton
{
    margin-right: 5px;
}
.cart-plus-minus input 
{
    padding-right: 5px;
}
.table-content.table-responsive table thead tr .product-name 
{
    text-align: right;
    padding-right: 5%;
} 


/* checkout page */
.Checkout_page_section
{
    direction: rtl; 
    text-align: right;
}
.login_page_form form input.inline 
{
    margin-right:0px;
}
.login_page_form h4
{
text-align: right;
}
.mright-30 
{
margin-right: 30px !important;
}
.checkout-form input[type="checkbox"]
{
    right: 15px;
}
/* Billing Address */
.billing-address-page, .order-details-total
{
    direction: rtl; 
    text-align: right;
}
.edit-btn
{
    margin-right: -15px;
}
.order-details-total h3
{
  float: right;
}
.order-details-total p
{
  float: left;
}
.billing-address-dropdown
{
padding-right: 0px !important; 
float: right;
}
.order-details-total
{
    padding-right: 0px !important;
    text-align: left !important;
    padding: 20px !important;
}
.billing-address 
{
    border-left: 1px solid #dedede;
    border-right: 0px;
}
.billing-address input[type="checkbox"]  
{
    right: -30px;
}
.sameaddress 
{
margin-right: 30px;
}

/* Search page */
.search_all button
{
  float: left;
}
.autocomplete-items
{
    text-align: right;
}


.search_inner input[type="text"] 
{
    padding: 0 50px 0 10px;
}

@media only screen and (max-width: 767px)
{
    .buttons-carts, .coupon 
    {
        text-align:right !important;
        float: right;    
    }
    .wc-proceed-to-checkout
    {
        float:right;
    }
    .edit-btn input.inline
    {
        margin-right: 30px;
        margin-left:0px;
        float: right;
    }

}

/* info-pages */
.info-page 
{
    direction: rtl;
    text-align: right;
}
.main_menu_inner
{
    float: right;
}
.menu nav > ul > li > a
{
    padding-left: 40px;
    padding-right: 0px;
}
.footer_mastercard 
{
    text-align: left !important;
}
/* accounts  */
.accounts 
{
    direction: rtl;
    text-align: right;
}
td
{
    text-align: right !important;
}
/* blog-list */
.blog-list 
{
    direction: rtl;
    text-align: right;
}
.post__content ul li a::before
{
    right:auto;
    left: -24px !important;
}
.post__content {
    padding: 20px 0 20px 0px !important;
}

/* blog details */
.blog-details
{
    direction: rtl;
    text-align: right;
}
.recent_post_content 
{
    padding: 0 20px !important;
}
.blog_sidebar_categories ul li a span
{
    float: left !important;
}
.blog_meta ul li 
{
    border-left: 2px solid #ddd ;
    border-right: 0px !important;
    margin-left: 12px !important;
    margin-right: 0px !important;
    padding-left: 12px !important;
    padding-right: 0px !important;
}    

/* account edit */
.confirm-btn input.inline
{
    margin-right: 0px !important;
}