<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="#">{{lang('home')}}</a> ></li>
                        <li>{{lang('my_account')}}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->
<!-- Start Maincontent  -->
<section class="main-content-area my-account ptb-100">
    <div class="container">
        <div class="account-dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li><a href="{{base_url()}}myaccount" class="nav-link active">{{ lang('Account_Det') }}</a></li>
                        <li> <a href="{{base_url()}}myaccount/ordersList"  class="nav-link ">{{ lang('orders') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/wishlist" class="nav-link ">{{ lang('wishlist') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/manageAddress" class="nav-link ">{{ lang('manage_addres') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/changepassword" class="nav-link">{{ lang('change_password') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/logout" class="nav-link">{{ lang('logout') }}</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard-content">
                        <div class="tab-pane fade show active" id="account-details">
                            <h3>{{ lang('Account_Det') }}</h3>
                            <div class="login">
                                <div class="login-form-container">
                                    <div class="account-login-form">
                                        {% if success %} <div class="alert alert-success">{{ success }}</div> {% endif %}
                                        {% if failed %} <div class="alert alert-danger alert-mg-b">{{ failed }}</div> {% endif %}
                                        {{ form_open_multipart(action) }}
                                        <input type="hidden" name="customerID" value="{{ content.customerID }}"/>
                                        <label>{{ lang('FirstName') }} <span class="req">*</span></label>
                                        <input type="text" name="firstname" id="firstname" {% if set_value('firstname') %} value="{{set_value('firstname')}}" {% else %} value="{{content.firstname}}" {% endif %} class="form-control">
                                        {{form_error('firstname', '<div class="error">', '</div>')}}
                                        <label>{{ lang('LastName') }} <span class="req">*</span></label>
                                        <input type="text" name="lastname" id="lastname" {% if set_value('lastname') %} value="{{set_value('lastname')}}" {% else %} value="{{content.lastname}}" {% endif %} class="form-control">
                                        {{form_error('lastname', '<div class="error">', '</div>')}}
                                        <label>{{ lang('EmailAddress') }} <span class="req">*</span></label>
                                        <input type="text" name="email" id="email" {% if set_value('email') %} value="{{set_value('email')}}" {% else %} value="{{content.email}}" {% endif %}  class="form-control" readonly>
                                        {{form_error('email', '<div class="error">', '</div>')}}

                                        <label>{{ lang('Phone') }} <span class="req">*</span></label>
                                        <div class="row">
                                            <div class="col-lg-2 col-sm-4 col-md-3">
                                                <input type="text" id="telephone" value="+974" readonly>
                                            </div>
                                            <div class="col-lg-10 col-sm-8 col-md-9">
                                                <input type="text" name="telephone" id="telephone" {% if set_value('telephone') %} value="{{set_value('telephone')}}" {% else %} value="{{content.telephone}}" {% endif %} class="form-control" readonly>
                                            </div>
                                        </div>
                                        {{form_error('telephone', '<div class="error">', '</div>')}}
                                        {#<label>Address <span>*</span></label>
                                        <input placeholder="Street address" type="text">#}
                                        <div class="confirm-btn">
                                            <input class="inline" value="Update" name="Update" type="submit" style="margin-left: 0px !important;"> 
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>       	
</section>			
<!-- End Maincontent  -->


