

<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="#">{{lang('home')}}</a> ></li>
                        <li>{{lang('my_account')}}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->

<!-- Start Maincontent  -->
<section class="main-content-area my-account ptb-100">
    <div class="container">
        <div class="account-dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li><a href="{{base_url()}}myaccount" class="nav-link ">{{ lang('Account_Det') }}</a></li>
                        <li> <a href="{{base_url()}}myaccount/ordersList"  class="nav-link ">{{ lang('orders') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/wishlist" class="nav-link ">{{ lang('wishlist') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/manageAddress" class="nav-link active">{{ lang('manage_addres') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/changepassword" class="nav-link">{{ lang('change_password') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/logout" class="nav-link">{{ lang('logout') }}</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard-content"> 
                        <div class="tab-pane fade show active" id="address">
                            <h3>{{ lang('manage_addr') }}</h3>
                            <div class="login">
                                <div class="login-form-container">
                                    <div class="account-login-form">
                                        {% if message %} <div class="alert alert-success">{{ message }}</div> {% endif %}
                                        {% if failed %} <div class="alert alert-danger alert-mg-b">{{ failed }}</div> {% endif %}
                                        <style>
                                            .textdiv{
                                                margin-bottom: 20px;
                                            }
                                            .textdiv input{
                                                margin-bottom: 0!important;
                                            }
                                            .error-form input,.error-form select{
                                                border: 1px #FF0000 solid;
                                            }
                                        </style>
                                        <form id="addressAdd"  method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="addressID" value="{{ content.addressID }}"/>
                                            <div class="row">
                                                <div class="col-12 textdiv {% if form_error('firstname')!='' %} error-form {% endif%}">
                                                    <label>{{ lang('FirstName') }} <span class="req">*</span></label>
                                                    <input type="text" name="firstname" id="firstname" {% if set_value('firstname') %} value="{{set_value('firstname')}}" {% else %} value="{{content.firstname}}" {% endif %}  class="form-control">
                                                    {{form_error('firstname', '<div class="error">', '</div>')}}
                                                </div>
                                            </div>  
                                            <div class="row">
                                                <div class="col-12 textdiv {% if form_error('lastname')!='' %} error-form {% endif%}">    
                                                    <label>{{ lang('LastName') }} <span class="req">*</span></label>
                                                    <input type="text" name="lastname" id="lastname" {% if set_value('lastname') %} value="{{set_value('lastname')}}" {% else %} value="{{content.lastname}}" {% endif %}  class="form-control">
                                                    {{form_error('lastname', '<div class="error">', '</div>')}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 textdiv {% if form_error('address1')!='' %} error-form {% endif%}"> 
{#                                                    {{ lang('Address_line_1') }}#}
                                                    <label>{{ lang('Building_No') }} <span class="req">*</span></label>
                                                    <input type="text" name="address1" id="address1" {% if set_value('address1') %} value="{{set_value('address1')}}" {% else %} value="{{content.address1}}" {% endif %}  class="form-control">
                                                    {{form_error('address1', '<div class="error">', '</div>')}}
                                                </div>
                                            </div> 
                                            
                                            <div class="row">
                                                <div class="col-12 textdiv {% if form_error('address2')!='' %} error-form {% endif%}"> 
{#                                                    {{ lang('Address_line_2') }}#}
                                                    <label>{{ lang('Street_No') }}<span class="req">*</span></label>
                                                    <input type="text" name="address2" id="address2" {% if set_value('address2') %} value="{{set_value('address2')}}" {% else %} value="{{content.address2}}" {% endif %}  class="form-control">
                                                    {{form_error('address2', '<div class="error">', '</div>')}}
                                                </div>
                                            </div> 
                                                
                                            <div class="row">
                                                <div class="col-12 textdiv {% if form_error('additional_direction')!='' %} error-form {% endif%}"> 
                                                    <label>{{ lang('Additional_Direction') }} <span></span></label>
                                                    <input type="text" name="additional_direction" id="additional_direction" {% if set_value('additional_direction') %} value="{{set_value('additional_direction')}}" {% else %} value="{{content.additional_direction}}" {% endif %}  class="form-control">
                                                    {{form_error('additional_direction', '<div class="error">', '</div>')}}
                                                </div>
                                            </div>
                                           
                                            <div class="row">
                                                <div class="col-12 textdiv"> 
                                                    <label>{{ lang('Phone') }} <span class="req">*</span></label>
                                                    <div class="row">
                                                        <div class="col-lg-2 col-sm-4 col-md-3">
                                                            <input type="text" id="phone" value="+974" readonly>
                                                        </div>
                                                        <div class="col-lg-10 col-sm-8 col-md-9 {% if form_error('phone')!='' %} error-form {% endif%}">
                                                            <input type="text" name="phone" id="phone" {% if set_value('phone') %} value="{{set_value('phone')}}" {% else %} value="{{content.phone}}" {% endif %} class="form-control">
                                                        </div>
                                                    </div>
                                                    {{form_error('phone', '<div class="error">', '</div>')}}
                                                </div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-12 textdiv {% if form_error('city')!='' %} error-form {% endif%}"> 
                                                    <label>{{ lang('city') }} <span class="req">*</span></label>
                                                    <select  name="city" id="city" data-placeholder="Choose city" class="form-control chosen-select" >
                                                        <option value="">{{lang('select')}}</option>
                                                        {% for warehouseCityMunicipality in warehouseCity%}
                                                            <optgroup label="{{warehouseCityMunicipality.municipality}}">
                                                            {% for wcity in warehouseCityMunicipality.city%}
                                                                
                                                                <option value="{{wcity.name}}~{{wcity.cityID}}" {% if set_value('name') == wcity.name %} selected {% elseif content.city == wcity.name %} selected {% endif %}>{{wcity.name}}</option>
                                                            {% endfor %}
                                                             </optgroup>
                                                        {% endfor %}
                                                        {#{% set myArray = [] %}#}
                                                       {# {% for wcity in warehouseCity%}
                                                            {% set myArray = myArray|merge([wcity.cityID]) %}
                                                            <option value="{{wcity.name}}~{{wcity.cityID}}" {% if set_value('name') == wcity.name %} selected {% elseif content.city == wcity.name %} selected {% endif %}>{{wcity.name}}</option>
                                                        {% endfor %#}}
                                                       {# {% for state in stateList %}
                                                            {% if state.cityID not in myArray%}
                                                            <option value="{{state.name}}~{{state.cityID}}" disabled>{{state.name}}</option>
                                                            {% endif %}
                                                        {% endfor %}#}
                                                    </select>
                                                    {{form_error('city', '<div class="error">', '</div>')}}
                                                </div>
                                            </div> 
                                             <div class="row">
                                                <div class="col-12 textdiv {% if form_error('address3')!='' %} error-form {% endif%}"> 
{#                                                    {{ lang('Address_line_2') }}#}
                                                    <label>{{ lang('Zone_No') }}<span class="req">*</span></label>
                                                    <input type="text" name="address3" id="address3" {% if set_value('address3') %} value="{{set_value('address3')}}" {% else %} value="{{content.zone}}" {% endif %}  class="form-control">
                                                    {{form_error('address3', '<div class="error">', '</div>')}}
                                                </div>
                                            </div> 
                                            {#<div class="row">
                                                <div class="col-12 textdiv {% if form_error('postcode')!='' %} error-form {% endif%}"> 
                                                    <label>{{ lang('po_bx') }} <span></span></label>
                                                    <input type="text" name="postcode" id="postcode" {% if set_value('postcode') %} value="{{set_value('postcode')}}" {% else %} value="{{content.postcode}}" {% endif %}  class="form-control">
                                                    {{form_error('postcode', '<div class="error">', '</div>')}}
                                                </div>
                                            </div>#} 
                                            <div class="row">
                                                <div class="col-12 textdiv {% if form_error('countryID')!='' %} error-form {% endif%}"> 
                                                    <label>{{ lang('country') }} <span class="req">*</span></label>
                                                    <select  name="countryID" id="countryID" data-placeholder="Choose Country" class="form-control" readonly >
                                                        {% for country in countryList %}
                                                            <option value="{{country.countryID}}" {% if set_value('countryID') == country.countryID %} selected {% elseif content.countryID == country.countryID %} selected {% endif %}>{{country.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    {{form_error('countryID', '<div class="error">', '</div>')}}
                                                </div>
                                            </div> 
                                            <div class="confirm-btn" style="margin-top: 20px">
                                                <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                    <a href="{{base_url()}}myaccount/manageAddress/" class=" white-btn" >{{lang('cancel')}}</a>

                                                    {#                                                    <a class="orange-btn btn" value="Submit" name="Submit" type="submit">Save Change</a>#}
                                                    <button class="orange-btn btn" type="submit">{{lang('Save_Change')}}</button>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>       	
</section>
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
        <script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
        <script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>
        <script>
             $('#city').change(function () { 
                 var cityID    =   $(this).val().split("~")
                {# alert(cityID[1]);#}
                        var zoneUrl = "{{base_url()}}Myaccount/loadZone";
                  $.ajax({
                    type: "POST",
                    url: zoneUrl,
                    data : {"cityID":cityID[1]},
                    dataType: "html",
                    success: function (data) {
                        $('#address3').val(data);
                    }
                });
            });
        </script>
<!-- End Maincontent  -->
