<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="#">{{lang('home')}}</a> ></li>
                        <li>{{ lang('manage_addr') }}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->

<!-- Start Maincontent  -->
<section class="main-content-area my-account ptb-100">
    <div class="container">
        <div class="account-dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li><a href="{{base_url()}}myaccount" class="nav-link ">{{ lang('Account_Det') }}</a></li>
                        <li> <a href="{{base_url()}}myaccount/ordersList"  class="nav-link ">{{ lang('orders') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/wishlist" class="nav-link ">{{ lang('wishlist') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/manageAddress" class="nav-link active">{{ lang('manage_addres') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/changepassword" class="nav-link">{{ lang('change_password') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/logout" class="nav-link">{{ lang('logout') }}</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    
                    <!-- Tab panes -->
                    <div class="tab-content dashboard-content"> 
                        <div class="tab-pane fade show active" id="address">
                            <h3>{{ lang('manage_addr') }} </h3>
                            
                            {% set k = 1 %}
                            {% for data in content  %}
                                
                            <div class="address-list" >
                                <div class=""> 
{#                                    <h5> <b>Address 01</b></h5>#}
                                    <p>{{data.firstname|e}} {{data.lastname|e}}<br>
                                        {{data.address1|e}}<br>
                                        {{data.zone|e}}<br>
                                        
                                        {{data.city|e}}
{#                                        , {{ lang('po_box') }} :{{data.postcode|e}}#}
                                        <br>
                                         {{data.additional_direction|e}}<br>
                                        {{ lang('phone') }} : +974 - {{data.phone|e}}</p>
                                </div>

                                <a class="white-btn btn" href="{{base_url()}}myaccount/edit/{{data.addressID|e}}">{{ lang('edit_addr') }}</a>
                                
                                {#{{defaultAddrID.addressID}}-------------------------{{data.addressID}}#}
                                {% if defaultAddrID.addressID!=data.addressID %}
                                    <button type='button' title="Delete" class="white-btn btn deleteElement" data-addrid="{{data.addressID|e}}">
                                                   {{ lang('delete_addr') }}
                                                </button>
{#                                    <a class="white-btn btn" href="{{base_url()}}myaccount/delete/{{data.addressID|e}}">Delete</a>#}
                                <a class="white-btn btn" href="{{base_url()}}myaccount/setAsDefault/{{data.addressID|e}}">{{ lang('set_addr') }}</a>

                                
                                {% endif %}
                            </div>
                                <hr>
                                {% set k = k+1 %}
                             {% endfor %}
                           
                            {% if k<3 %}
                                <a href="{{base_url()}}myaccount/add"><button class="orange-btn btn" >{{ lang('add_new_addr') }}</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>       	
</section>

<script>
   
    $('.deleteElement').click(function () {
       
        var id = $(this).data("addrid");
        console.log(id);
                $.confirm({
    title: '{{ lang('del_msg_addr') }}',
    content: '{{ lang('confirm_addr') }}',
    theme: 'Modern',
    type: 'failure',
    buttons:{
        confirm:{
            btnClass:'orange-btn btn',
            action: function(){
                window.location = "{{base_url('myaccount/delete/')}}" + id;
            }
        },
        cancel:function (){
            
        }
        
    }
});
    });

</script>
