<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="#">{{lang('home')}}</a> ></li>
                        <li>{{lang('Password')}}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->

<!-- Start Maincontent  -->
<section class="main-content-area my-account ptb-100">
    <div class="container">
        <div class="account-dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li><a href="{{base_url()}}myaccount" class="nav-link ">{{ lang('Account_Det') }}</a></li>
                        <li> <a href="{{base_url()}}myaccount/ordersList"  class="nav-link ">{{ lang('orders') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/wishlist" class="nav-link ">{{ lang('wishlist') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/manageAddress" class="nav-link ">{{ lang('manage_addres') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/changepassword" class="nav-link active">{{ lang('change_password') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/logout" class="nav-link">{{ lang('logout') }}</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard-content"> 
                        <div class="tab-pane fade show active" id="address">
                            <h3>Password </h3>
                            <div class="login">
                                <div class="login-form-container">
                                    <div class="account-login-form">
                                        {% if success %} <div class="alert alert-success">{{ success }} </div> {% endif %}
                                        {% if failed %} <div class="alert alert-danger alert-mg-b">{{ failed }}</div>{% endif %}
                                        {{ form_open_multipart(action) }}
                                        <input type="hidden" name="customerID" value="{{ content.customerID }}"/>
                                        {#	                                                <form action="#">#} 
                                        <div class="row">
                                            <div class="col-12 textdiv {% if form_error('OldPassword')!='' %} error-form {% endif%}">
                                                <label>{{ lang('Old_Password') }} <span class="req">*</span></label>
                                                <input type="password" name="OldPassword" id="OldPassword" placeholder="Enter Old Password" class="form-control">
                                                {{form_error('OldPassword', '<div class="error">', '</div>')}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 textdiv {% if form_error('password')!='' %} error-form {% endif%}">
                                                <label>{{ lang('Newpassword') }} <span class="req">*</span></label>
                                                <input type="password" name="password" id="password" placeholder="Enter Password" class="form-control">
                                                {{form_error('password', '<div class="error">', '</div>')}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 textdiv {% if form_error('confirmPassword')!='' %} error-form {% endif%}">
                                                <label>{{ lang('Confirmpassword') }} <span class="req">*</span></label>
                                                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Enter confirm password" class="form-control">
                                                {{form_error('confirmPassword', '<div class="error">', '</div>')}}
                                            </div>
                                        </div>
                                        <div class="confirm-btn">
                                            <input class="inline" value="Submit" name="Submit" type="submit" style="margin-left: 0px !important;"> 
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>       	
</section>			
<!-- End Maincontent  -->
