

<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="#">{{lang('home')}}</a> ></li>
                        <li>{{ lang('orders') }}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->

<!-- Start Maincontent  -->
<section class="main-content-area my-account ptb-100">
    <div class="container">
        <div class="account-dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li><a href="{{base_url()}}myaccount" class="nav-link ">{{ lang('Account_Det') }}</a></li>
                        <li> <a href="{{base_url()}}myaccount/ordersList"  class="nav-link active">{{ lang('orders') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/wishlist" class="nav-link ">{{ lang('wishlist') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/manageAddress" class="nav-link ">{{ lang('manage_addres') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/changepassword" class="nav-link">{{ lang('change_password') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/logout" class="nav-link">{{ lang('logout') }}</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard-content">
                        <div class="tab-pane fade show active" id="orders">
                            <h3>{{ lang('orders') }}</h3>
                            <div class="table-content table-responsive">
                                <table>
                                    {% if orderList|length > 0 %}
                                    <thead>
                                        <tr>
                                            
                                            <th class="img-thumbnail product-id" colspan="4">
                                                
                                                
                                                {#<a style="float: right; padding: 0px 50px" href="{{base_url()}}orders/orderDetails">View details</a>#}
                                            </th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in orderList  %}
                                        <tr style="border-bottom: 1px solid #dedede;">
{#                                            <td class="product-thumbnail"><img src="{{base_url()}}uploads/product/{{data.image}}" alt=""> </td>#}
                                            <td class="product-name" style="text-align: left;"><a href="#">{{ lang('order_id') }}: {{data.orderID}} </a><span><br>{{data.model}} </span></td>
                                             <td class="product-subtotal">{{ lang('invoice_no') }}: {{data.invoiceNo}} </td>
                                            <td class="product-subtotal">{{data.total}} </td>

                                            <td class="order-view">
                                                <ul role="tablist" class="nav flex-column dashboard-list">
                                                    <li><a href="{{base_url()}}myaccount/ordersDetails/{{data.orderID}}" class=" btn white-btn">{{ lang('view_details') }}</a></li>
                                                </ul>

                                            </td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody> 
                                    {% else %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ lang('no_order_yet') }}
                                        </div>
                                    {% endif %}
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>       	
</section>			
<!-- End Maincontent  -->


