<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container">
        <div class="row">
            <div class="col-12">     
                <nav>
                    <ul>
                        <li><a href="#">{{lang('home')}}</a> ></li>
                        <li>{{ lang('ord_details') }}</li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>        
</div>
<!--breadcrumb area end-->

<!-- Start Maincontent  -->
<section class="main-content-area my-account ptb-100">
    <div class="container">
        <div class="account-dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li><a href="{{base_url()}}myaccount" class="nav-link ">{{ lang('Account_Det') }}</a></li>
                        <li> <a href="{{base_url()}}myaccount/ordersList"  class="nav-link active">{{ lang('orders') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/wishlist" class="nav-link ">{{ lang('wishlist') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/manageAddress" class="nav-link ">{{ lang('manage_addres') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/changepassword" class="nav-link">{{ lang('change_password') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/logout" class="nav-link">{{ lang('logout') }}</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard-content">
                        <div class="tab-pane fade show active" id="order-details-01">
                            <h3>{{ lang('ord_details') }}</h3>
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="img-thumbnail product-id" colspan="4" style="padding: 15px 0;">{{ lang('order_id') }}: {{orderDetails[0].orderID}}<br>
                                                <span style="font-family: Arial;font-weight: normal;">{{ lang('ordered_on') }} {{orderDetails[0].dateAdded}}</span><br>
                                                <span style="font-family: Arial;font-weight: normal;">{{ lang('Payment') }}: {%if orderDetails[0].paymentMethod == 3%} {{ lang('Online_Payment') }} {%elseif orderDetails[0].paymentMethod == 2%} {{ lang('Cash_On_Delivery') }} {%elseif orderDetails[0].paymentMethod == 1%} {{ lang('Free_Checkout') }} {%endif%}</span>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in orderDetails %} 
                                            <tr style="border-bottom: 1px solid #dedede;">
                                                <td class="product-thumbnail"><img src="{{data.image}}" alt=""> </td>

                                                <td class="product-name" style="text-align: left;"><a href="#">{{data.name}}</a>
                                                {% if data.orderOptions|length > 0 %}
                                                {% for option in data.orderOptions %}
                                                <span><br>{{option.name}} : {{option.value}}</span>
                                                {% endfor %}
                                                {% endif %}
                                                <span><br>{{ lang('quantity') }} : {{data.quantity}}<br>{{ lang('Model') }}: {{data.model}}</span></td>
                                                <td class="product-subtotal">{{data.sumProd}}</td>


                                            </tr>
                                               {% if data.bundleProducts %}
                                                        {%for bundleProduct in data.bundleProducts %}
                                                        <tr style="border-bottom: 1px solid #dedede;">
                                                <td class="product-thumbnail"><img src="{{data.image}}" alt=""> </td>

                                                <td class="product-name" style="text-align: left;"><a href="#">{{bundleProduct.name}}</a><span><br>{{ lang('quantity') }} : {{bundleProduct.quantity}}<br>{{ lang('Model') }}: {{bundleProduct.model}}</span></td>
                                                <td class="product-subtotal">Bundle Product</td>


                                            </tr>
                                                           
                                                        {%endfor%}
                                                    {%endif%}
                                        {% endfor %} 
                                    </tbody>      

                                    {#<tbody>
                                        <tr style="border-bottom: 1px solid #dedede;">
                                            <td class="product-thumbnail"><img src="{{base_url()}}public/assets/img/product/4.jpg" alt=""></td>
                                            <td class="product-name" style="text-align: left;"><a href="#">Vestibulum dictum magna</a><span><br>Qty : 02<br>ITEM012345</span></td>
                                            <td class="product-subtotal">QAR 65.00</td>
                                            <td class="cancel-order">
                                                <a class="white-btn btn" data-toggle="modal" data-target="#item2">Cancel</a>

                                                <!-- The Modal -->
                                                <div class="modal fade" id="item2" role="dialog">
                                                    <div class="modal-dialog" class="modal col-sm-12">

                                                        <!-- Modal content -->
                                                        <div class="modal-content text-left">
                                                            <!-- <span class="close">&times;</span> -->
                                                            <h4 >Cancel Order</h4>
                                                            <div class="">
                                                                <label>Reason for cancelling <span>*</span></label><br>
                                                                <select class="col-12" id="cancel-reason">
                                                                    <option>select reason</option>    
                                                                    <option value="Ordered by mistake">Ordered by mistake</option>    
                                                                    <option value="Expected delivery date has changed and the product is arriving at a later date.">Expected delivery date has changed and the product is arriving at a later date.</option>    
                                                                </select>
                                                                <label>Other comments </label><br>
                                                                <textarea></textarea>
                                                                <button class="submitbtn" type="submit">Yes</button>
                                                                <button class="canceltbtn" data-dismiss="modal" type="submit">No</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td></tr>
                                    </tbody>#}
                                </table>

                                <div class="accordion" id="accordionExample" style="margin-right: 1px;border-bottom: 1px solid #dedede;">

                                    <div class="card no-border-radius" style="border-top: none !important;">
                                        <div class="card-header card-padding" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">{{lang('bill_addr')}}</button>
                                            </h2>
                                        </div>

                                        <div id="collapseOne" class="collapse  " aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body" style=" padding: 15px 50px;"> 
                                                {{orderDetails[0].paymentFirstname}} {{orderDetails[0].paymentLastname}}<br>
                                                {{orderDetails[0].paymentAddress1}},{{orderDetails[0].paymentAddress2}} <br>
                                                {{orderDetails[0].paymentZone}} <br>
                                                {{orderDetails[0].paymentCity}} <br>
                                                {{orderDetails[0].paymentCountry}}<br>
                                                {#Phone : {{orderDetails[0].paymentCountry}}#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card no-border-radius">
                                        <div class="card-header card-padding" id="headingTwo">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">{{lang('ship_addr')}}</button>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body" style=" padding: 15px 50px;">
                                                {{orderDetails[0].shippingFirstname}} {{orderDetails[0].shippingLastname}}<br>
                                                {{orderDetails[0].shippingAddress1}},{{orderDetails[0].shippingAddress2}} <br>
                                                {{orderDetails[0].shippingZone}} <br>
                                                {{orderDetails[0].shippingCity}} <br>
                                                {{orderDetails[0].shipping_additional_direction}}<br>
                                                {{orderDetails[0].shippingCountry}} <br>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card no-border-radius">
                                        <div class="card-header card-padding" id="headingThree">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">{{lang('delivery_details')}}</button>
                                            </h2>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <table class="card-body">
                                                <tbody>
                                                        <tr>
                                                            <td style=" padding-left:50px;" class="text-left"> {{ lang('Expected_Delivery_Date') }} </td>
                                                            <td>{{orderDetails[0].deliveryDate|date('d-M-Y')}} </td>
                                                        </tr>
                                                        <tr>
                                                            <td style=" padding-left:50px;" class="text-left"> {{ lang('Time_Slot') }}</td>
                                                            <td>{{orderDetails[0].fromTime|date("h a")}} - {{orderDetails[0].toTime|date("h a")}} </td>
                                                        </tr>
                                                        <tr>
                                                            <td style=" padding-left:50px;" class="text-left">{{ lang('Delivery_Type') }} </td>
                                                            <td>
                                                                {%if orderDetails[0].orderDeliveryType == 'normal'%} 
                                                                    {{ lang('normal_delivery') }} 
                                                                {%elseif orderDetails[0].orderDeliveryType == 'express'%} 
                                                                    {{ lang('express_delivery') }}
                                                                
                                                                {%endif%}
                                                            </td>
                                                        </tr>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>  
                                    <div class="card no-border-radius">
                                        <div class="card-header card-padding" id="headingThree">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">{{lang('price_det')}}</button>
                                            </h2>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <table class="card-body">
                                                <tbody>
                                                    {%for total in totalData %}
                                                        <tr>
                                                            <td style=" padding-left:50px;" class="text-left">{{total.title}}</td>
                                                            <td>{{total.value}}</td>
                                                        </tr>
                                                    {%endfor%}
                                                    {#<tr>
                                                        <td style=" padding-left:50px;" class="text-left">{{ lang('sub_total') }}</td>
                                                        <td>{{orderDetails[0].totalSum}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style=" padding-left:50px;" class="text-left">{{ lang('coupon') }}</td>
                                                        <td>{{orderDetails[0].coupon}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style=" padding-left:50px;" class="text-left">{{ lang('offers') }}</td>
                                                        <td>{{orderDetails[0].offer}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style=" padding-left:50px;" class="text-left">{{ lang('shipping') }}</td>
                                                        <td>{{orderDetails[0].shipping}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style=" padding-left:50px;" class="text-left">{{ lang('tax') }}</td>
                                                        <td>{{orderDetails[0].tax}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style=" padding-left:50px;" class="text-left">{{ lang('total_amt') }}</td>

                                                        <td>{{orderDetails[0].totalSum}}</td>
                                                    </tr>#}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>  

                                </div> 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>          
</section>          
<!-- End Maincontent  -->
