<!--breadcrumb area start-->
            <div class="breadcrumb_container">
                <div class="container">
                    <div class="row">
                        <div class="col-12">     
                            <nav>
                        <ul>
                            <li><a href="#">{{lang('home')}}</a> ></li>
                            <li>{{ lang('wishlist') }}</li>
                        </ul>
                    </nav>
                        </div>
                    </div> 
                </div>        
            </div>
             <!--breadcrumb area end-->
            
			<!-- Start Maincontent  -->
            <section class="main-content-area my-account ptb-100">
				<div class="container">
	                <div class="account-dashboard">
	                    <div class="row">
	                        <div class="col-sm-12 col-md-3 col-lg-3">
	                            <!-- Nav tabs -->
                                    <ul role="tablist" class="nav flex-column dashboard-list">
                                       <li><a href="{{base_url()}}myaccount" class="nav-link ">{{ lang('Account_Det') }}</a></li>
                        <li> <a href="{{base_url()}}myaccount/ordersList"  class="nav-link ">{{ lang('orders') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/wishlist" class="nav-link active">{{ lang('wishlist') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/manageAddress" class="nav-link ">{{ lang('manage_addres') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/changepassword" class="nav-link">{{ lang('change_password') }}</a></li>
                        <li><a href="{{base_url()}}myaccount/logout" class="nav-link">{{ lang('logout') }}</a></li>
                                    </ul>
	                        </div>
	                        <div class="col-sm-12 col-md-9 col-lg-9">
	                            <!-- Tab panes -->
	                            <div class="tab-content dashboard-content">
	                                    <h3>{{ lang('wishlist') }}</h3>
	                                    <div class="table-content table-responsive">
                                            <table>
                                                {% if wishList|length > 0 %}
                                                {% for data in wishList  %}
                                                <tbody>
                                                    <tr style="border-bottom: 1px solid #dedede;">
                                                        <td class="product-thumbnail"><img src="{{base_url()}}uploads/product/{{data.image}}" alt=""> </td>
                                                        <td class="product-name" style="text-align: left;"><a href="{{base_url()}}Product/detail/{{data.productID}}">{{data.name}}</a><span><br>{{data.model}}</span></td>
                                                        <td class="product-subtotal">{{data.price}}</td>
                                                        <td>
                                                            <a class="orange-btn btn" style="padding: 0px !important;line-height: 40px;"  class="nav-link active" onclick="cart.add('{{ data.productID }}', '1');">{{ lang('add_to_cart') }}</a><br>
                                                            <a class="white-btn btn"  style="padding: 0px !important;line-height: 40px;"  {%if data.wishList=='YES' %} class="wishlist-item addtowishlist" {%else%} class="addtowishlist" {%endif%} data-addrid="{{data.productID|e}}" id="addtowishlist" href="javascript:void(0);" onclick="addWishList({{data.productID}},this)" class="nav-link active">{{ lang('remove') }}</a>
                                                        </td>
                                                    </tr>
                                                </tbody> 
                                                {% endfor %} 
                                                {% else %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ lang('no_wishlist_item') }} <a href="{{base_url()}}Home">{{ lang('click_here') }}</a>
                                        </div>
                                    {% endif %}
                                                
                                            </table>
                                        </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>       	
            </section>			
			<!-- End Maincontent  -->
           
     <script type="text/javascript">
        
            {#$('.wishlist-item').click(function{
                alert('sadasd');
            });#}
          function addWishList(proID,e) {
              var id = $(this).data("addrid");
        console.log(id);
                $.ajax({
                    dataType: 'json',
                    type: "POST",
                    url: '{{base_url()}}Product/addtowishlist',
                    data: ({productID: proID}),
                    success: function (data) {
                        console.log(data)
                        if(data['info'] === 'login'){
                            window.location.href = '{{base_url()}}login';
                        }
                        else if(data['info'] === "inserted"){
                            // SUCCESS MESSAGE FOR INSERTED
                            $(e).addClass('wishlist-item');
                            alert(data['msg']);
                            
                        } else {
                            // SUCCESS MESSAGE FOR REMOVED
                            $( e ).removeClass( 'wishlist-item' );
                            toastr.warning('Removed from your Wishlist','Wishlist Removed');
                            window.location.href = '{{base_url()}}Myaccount/wishlist';
                            $( e ).removeClass( 'wishlist-item' );
                    
                        }
                    }
                });
            }
    </script>   
