<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    {#<h1>Add New User</h1>#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            {% if success %} <div class="alert alert-success">{{ success }} </div> {% endif %}
                                            {% if failed %} <div class="alert alert-danger alert-mg-b">{{ failed }}</div>{% endif %}
                                            <div class="all-form-element-inner"> 
                                                {% if message %} <div class="alert alert-success">{{ message }}</div> {% endif %}
                                                {% if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                                                {{ form_open_multipart(action) }}
                                                {#<form id="userAdd"  method="post" enctype="multipart/form-data">#}
                                                    <input type="hidden" name="userID" value="{{ content.userID }}"/>                                                   
                                                    <div class="form-group-inner {% if form_error('password')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">New Password</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="password" name="password" id="password" placeholder="Enter Password" class="form-control">
                                                                {{form_error('password', '<div class="error">', '</div>')}}
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                                
                                                    <div class="form-group-inner {% if form_error('confirmPassword')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Confirm New Password</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Enter confirm password" class="form-control">
                                                                {{form_error('confirmPassword', '<div class="error">', '</div>')}}
                                                               
                                                            </div>
                                                        </div>
                                                    </div>            

                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <a href="{{base_url()}}manage/profile/" class="btn btn-white" >Cancel</a>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function readURL(input) {
        var maxSize = {{maxSize}};
        if (input.files && input.files[0]) {
            console.log(input.files[0]);
            if (input.files[0].type == "image/jpeg" || input.files[0].type == "image/jpg" || input.files[0].type == "image/png" || input.files[0].type == "image/svg+xml") {
                if (input.files[0].size <= maxSize*1024*1024) {
                    var reader = new FileReader();
                    $('#imgSizeErr').html("");
                    reader.onload = function (e) {
                        //console.log(input.files[0].size);
                        $('#profile-img-tag').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                } else {
                    $('#imgSizeErr').html("The file you are attempting to upload is larger than the permitted size {{maxSize}}MB.");
                }
            }else{
                $('#imgSizeErr').html("The filetype you are attempting to upload is not allowed. Allowed types are jpeg, jpg, png, svg");
            }
        }
    }
    $("#image").change(function () {
        readURL(this);
    });
</script>  