<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    {#<h1>Add New User</h1>#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner"> 
                                                {% if message %} <div class="alert alert-success">{{ message }}</div> {% endif %}
                                                {% if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                                                {{ form_open_multipart(action) }}
                                                {#<form id="userAdd"  method="post" enctype="multipart/form-data">#}
                                                    <input type="hidden" name="userID" value="{{ content.userID }}"/>
                                                    {#<div class="form-group-inner {% if form_error('userName')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Username</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="userName" id="userName" {% if set_value('userName') %} value="{{set_value('userName')}}" {% else %} value="{{content.userName}}" {% endif %} {% if content.userID %} readonly {% endif %} class="form-control">
                                                                {{form_error('userName', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>#}
                                                    {#<div class="form-group-inner {% if form_error('userGroupID')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">User Role</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="form-select-list">
                                                                    <select class="form-control custom-select-value" name="userGroupID" id="userGroupID">
                                                                        <option value="">Select</option> 
                                                                        <option value="2" {% if set_value('userGroupID') == '2' %} selected {% elseif content.userGroupID == '2' %} selected {% endif %}>Manager</option>
                                                                        <option value="3" {% if set_value('userGroupID') == '3' %} selected {% elseif content.userGroupID == '3' %} selected {% endif %}>Editor</option>
                                                                        <option value="4" {% if set_value('userGroupID') == '4' %} selected {% elseif content.userGroupID == '4' %} selected {% endif %}>Sales Representative</option>
                                                                    </select>
                                                                    {{form_error('userGroupID', '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>#}
                                                    <div class="form-group-inner {% if form_error('firstname')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">First Name</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="firstname" id="firstname" {% if set_value('firstname') %} value="{{set_value('firstname')}}" {% else %} value="{{content.firstname}}" {% endif %} class="form-control">
                                                                {{form_error('firstname', '<div class="error">', '</div>')}}
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner {% if form_error('lastname')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Last Name</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="lastname" id="lastname" {% if set_value('lastname') %} value="{{set_value('lastname')}}" {% else %} value="{{content.lastname}}" {% endif %} class="form-control">
                                                                {{form_error('lastname', '<div class="error">', '</div>')}}
                                                                 
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {#<div class="form-group-inner {% if form_error('lastname')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Email</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="email" id="email" {% if set_value('email') %} value="{{set_value('email')}}" {% else %} value="{{content.email}}" {% endif %} {% if content.userID %} readonly {% endif %} class="form-control">
                                                                {{form_error('email', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>#}
                                                    <!--IMAGE-->
                                                    <div class="form-group-inner {% if form_error('image')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Image</label>
                                                                <label class="login2 pull-right pull-right-pro">( width x height:{{imageSet}} , MaxSize : {{maxSize}}MB )</label>
                                                                <label class="login2 pull-right pull-right-pro">( Allowed Type : {{allowedType}} )</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                    <div class="input append-small-btn">
                                                                        <div class="file-button">
                                                                            Browse
                                                                            <input type="file" name="image" id="image" {% if set_value('image') %} value="{{set_value('image')}}" {% else %} value="{{content.image}}" {% endif %} onchange="document.getElementById('append-small-btn').value = this.value;">
                                                                        </div>

                                                                        <input type="text" id="append-small-btn" {% if set_value('image') %} value="{{set_value('image')}}" {% else %} value="{{content.image}}" {% endif %} placeholder="no file selected">
                                                                        {{form_error('image', '<div class="error">', '</div>')}}                                                    
                                                                       
                                                                    </div>
                                                                    {% if imgErr %} <div class="error imageError">{{ imgErr|raw }}</div> {% endif %}
                                                                    <div class="error imageError" id="imgSizeErr"></div>
                                                                </div>
                                                            </div>
                                                                        
                                                        </div>
                                                    </div>
                                                    <!--Image display-->
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <img id="profile-img-tag" src="{{base_url()}}uploads/adminUser/{{content.image}}" alt="" width="100" height="100" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <!--status-->
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Status</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                                <div class="form-select-list">
                                                                    <select class="form-control custom-select-value" name="status" id="status">
                                                                        <option value="Active" {% if set_value('status') == 'Active' %} selected {% elseif content.status == 'Active' %} selected {% endif %}>Active</option>
                                                                        <option value="Inactive" {% if set_value('status') == 'Inactive' %} selected {% elseif content.status == 'Inactive' %} selected {% endif %}>Inactive</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <a href="{{base_url()}}manage/" class="btn btn-white" >Cancel</a>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#image").change(function (e) {
        var maxSize= {{maxImageSizeJs}};
        var imageWidth = {{imageDimension[0]}}
        var imageHeight = {{imageDimension[1]}}
        showImage(this,maxSize,imageWidth,imageHeight,'profile-img-tag','imgSizeErr');
    });
</script>