<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    {#<h1>Add New Home Page Slider</h1>#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner"> 
                                                {# % if message %} <div class="alert alert-success">{{ message }}</div> {% endif % #}
                                                {# % if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif % #}
                                                <form id="bannerAdd"  method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="promotionID" value="{{ content.main.promotionID }}"/>
                                                    <div class="form-group-inner{% if form_error('title')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Title *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="title" id="title" {% if set_value('title') %} value="{{set_value('title')}}" {% else %} value="{{content.title}}" {% endif %}  class="form-control">
                                                                {{form_error('title', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner{% if form_error('message')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Message *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <textarea name="message" id="message" class="form-control"> {% if set_value('message') %}{{set_value('message')}}{% else %}{{content.message}}{% endif %}</textarea>
                                                                {{form_error('message', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                   {# <div class="form-group-inner{% if form_error('link')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Link</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="link" id="link" {% if set_value('link') %} value="{{set_value('link')}}" {% else %} value="{{content.link}}" {% endif %}  class="form-control">
                                                                {{form_error('link', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>#}
                                                    <div class="form-group-inner{% if form_error('type')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Type *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <select name="type" id="type" class="form-control">
                                                                    <option value="">Select</option>
                                                                    <option value="category" {% if content.type == 'category' %} selected {% endif %}>Category</option>
                                                                    <option value="product" {% if content.type == 'product' %} selected {% endif %}>Product</option>
                                                                    {#<option value="order" {% if content.type == 'order' %} selected {% endif %}>Order</option>
                                                                    <option value="coupon" {% if content.type == 'coupon' %} selected {% endif %}>Coupon</option>
                                                                    <option value="other" {% if content.type == 'other' %} selected {% endif %}>Other</option>#}
                                                                </select>
                                                                
                                                                {{form_error('type', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group-inner" id="productShow" style="display:none">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Product </label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <select name="productID" id="productID" data-placeholder="Choose Product" class="chosen-select" tabindex="-1">
                                                                    <option value="">Select</option>
                                                                    {% for products in productList %}
                                                                        <option value="{{products.productID}}" {% if set_value('productID') == products.productID %} selected {% elseif products.productID in content.reletedProData %} selected {% endif %}>{{products.productName}}</option>
                                                                    {% endfor %}    
                                                                </select>
                                                                {{form_error('productID', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner {% if form_error('categoryID')!='' %} error-form {% endif%}" id="categoryShow" style="display:none">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Category </label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" >   
                                                                <select name="categoryID" id="categoryID"  class="chosen-select" tabindex="-1">
                                                                    <option value="">Select</option>
                                                                    {% for category in mainCategory %}
                                                                        <option value="{{category.categoryID}}" {% if set_value('categoryID') == category.categoryID %} selected {% elseif category.categoryID in content.categoryData %} selected {% endif %}> {% if category.parentID %} {{category.parentName}} &#62; {% endif %} {{category.name}}  </option>

                                                                    {% endfor %}    
                                                                </select>
                                                                {{form_error('categoryID', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                   {# <div class="form-group-inner{% if form_error('parameter')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Parameter</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="parameter" id="parameter" {% if set_value('parameter') %} value="{{set_value('parameter')}}" {% else %} value="{{content.parameter}}" {% endif %}  class="form-control">
                                                                {{form_error('parameter', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>#}
                                                    <!--IMAGE-->
                                                    <div class="form-group-inner{% if form_error('image')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Image</label><br>
                                                                <label class="login2 pull-right pull-right-pro">( width x height:{{imageSet}} , MaxSize : {{maxSize}}MB )</label>
                                                                <label class="login2 pull-right pull-right-pro">( Allowed Type : {{allowedType}} )</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6">
                                                                <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                    <div class="input append-small-btn">
                                                                        <div class="file-button">
                                                                            Browse
                                                                            <input type="file" name="image" id="image" {% if set_value('image') %} value="{{set_value('image')}}" {% else %} value="{{content.main.image}}" {% endif %} onchange="document.getElementById('append-small-btn').value = this.value;">
                                                                        </div>
                                                                        <input type="text" id="append-small-btn" {% if set_value('image') %} value="{{set_value('image')}}" {% else %} value="{{content.main.image}}" {% endif %} placeholder="no file selected">
                                                                        {{form_error('image', '<div class="error">', '</div>')}}
                                                                        {% if imgErr %} <div class="error imageError">{{ imgErr|raw  }}</div> {% endif %}
                                                                        <div class="error imageError" id="imgSizeErr"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <img id="profile-img-tag" src="{{base_url()}}uploads/notification/{{content.image}}" alt="" width="100px"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <a href="{{base_url()}}manage/NotificationManage/" class="btn btn-white" >Cancel</a>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>
   <!-- dropzone CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/dropzone/dropzone.css">
        <!-- dropzone JS============================================ -->
        <script src="{{base_url()}}public/manage/js/dropzone/dropzone.js"></script>

        <link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
        <script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
        <script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>
<script type="text/javascript">
    $("#image").change(function (e) {
        var maxSize= {{maxImageSizeJs}};
        var imageWidth = {{imageDimension[0]}}
        var imageHeight = {{imageDimension[1]}}
        showImage(this,maxSize,imageWidth,imageHeight,'profile-img-tag','imgSizeErr');
    });
    
    $("#type").change(function(){
        var typeVal =   $("#type").val();
        if(typeVal=='category'){
            $('#categoryShow').show();
             $('#productShow').hide();
        }else if(typeVal=='product'){
              $('#categoryShow').hide();
             $('#productShow').show();
        }
});
</script>                                                                                  
