 <div class="product-status mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!--CONTENT AREA-->
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="sparkline12-list">
                                        <div class="sparkline12-hd">
                                            <div class="main-sparkline12-hd">
                                                {#<h1>Add New Warehouse</h1>#}
                                                {% if success %} <div class="alert alert-success">{{ success }} </div> {% endif %}
                                                {% if failMessage %} <div class="alert alert-danger alert-mg-b">{{ failMessage }}</div>{% endif %}
                                            </div>
                                        </div>
                                        <div class="sparkline12-graph">
                                            <div class="basic-login-form-ad">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="all-form-element-inner"> 
                                                            {% if message %} <div class="alert alert-success">{{ message }}</div> {% endif %}
                                                            {% if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                                                            <form id="warehouseAdd"  method="post" enctype="multipart/form-data">
                                                                <input type="hidden" name="warehouseID" value="{{ content.warehouseID }}"/>
                                                                <!--city-->     
                                                                <div class="form-group-inner{% if form_error('city')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">City *</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                            <div class="form-select-list"> 
                                                                                <select  name="cityID" id="cityID" data-placeholder="Choose filters" class="form-control custom-select-value" tabindex="-1">
                                                                                    <option {% if content.cityID %} disabled {% endif %} value="">Select</option>
                                                                                    {% for city in cityList %}
                                                                                        <option  value="{{city.cityID}}" {% if set_value('cityID') == city.cityID %} selected {% elseif content.cityID == city.cityID %} selected {% elseif content.cityID %} disabled {% endif %}>{{city.name}}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                                {{form_error('cityID', '<div class="error">', '</div>')}}

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>  
                                                                <div class="form-group-inner{% if form_error('expressDeliveryTime')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Express delivery time (hours) *</label> 
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" name="expressDeliveryTime" id="postCode" {% if set_value('expressDeliveryTime') %} value="{{set_value('expressDeliveryTime')}}" {% else %} value="{{content.expressDeliveryTime}}" {% endif %}  class="form-control">
                                                                           
                                                                            {{form_error('expressDeliveryTime', '<div class="error">', '</div>')}}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!--Express Delivery Charge-->     
                                                                <div class="form-group-inner{% if form_error('expressDeliveryCharge')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Express delivery charge</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" name="expressDeliveryCharge" id="expressDeliveryCharge" {% if set_value('expressDeliveryCharge') %} value="{{set_value('expressDeliveryCharge')}}" {% else %} value="{{content.expressDeliveryCharge*1}}" {% endif %}  class="form-control">
                                                                            {{form_error('expressDeliveryCharge', '<div class="error">', '</div>')}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--Express Delivery Charge-->     
                                                                
                                                                <div class="form-group-inner{% if form_error('removeExpDelPrice ')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Minimum amount to remove express delivery charge</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" name="removeExpDelPrice" id="removeExpDelPrice" {% if set_value('removeExpDelPrice') %} value="{{set_value('removeExpDelPrice')}}" {% else %} value="{{content.removeExpDelPrice*1}}" {% endif %}  class="form-control">
                                                                           
                                                                            {{form_error('removeExpDelPrice', '<div class="error">', '</div>')}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="form-group-inner{% if form_error('normalDeliveryTime')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Normal delivery time (hours) *</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" name="normalDeliveryTime" id="normalDeliveryTime" {% if set_value('normalDeliveryTime') %} value="{{set_value('normalDeliveryTime')}}" {% else %} value="{{content.normalDeliveryTime}}" {% endif %}  class="form-control">
                                                                         
                                                                            {{form_error('normalDeliveryTime', '<div class="error">', '</div>')}}
                                                                        </div>
                                                                    </div>
                                                                </div> 
                                                                        
                                                                <div class="form-group-inner{% if form_error('normalDeliveryCharge')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Normal delivery charge</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" name="normalDeliveryCharge" id="normalDeliveryCharge" {% if set_value('normalDeliveryCharge') %} value="{{set_value('normalDeliveryCharge')}}" {% else %} value="{{content.normalDeliveryCharge*1}}" {% endif %}  class="form-control">
                                                                         
                                                                            {{form_error('normalDeliveryCharge', '<div class="error">', '</div>')}}
                                                                        </div>
                                                                    </div>
                                                                </div> 
                                                                
                                                                 <div class="form-group-inner{% if form_error('removeNorDelPrice ')!='' %} error-form {% endif%}">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Minimum amount to remove normal delivery charge</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                            <input type="text" name="removeNorDelPrice" id="removeExpDelPrice" {% if set_value('removeNorDelPrice') %} value="{{set_value('removeNorDelPrice')}}" {% else %} value="{{content.removeNorDelPrice*1}}" {% endif %}  class="form-control">
                                                                           
                                                                            {{form_error('removeNorDelPrice', '<div class="error">', '</div>')}}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!--status-->
                                                                <div class="form-group-inner">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2 pull-right pull-right-pro">Status</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                                            <div class="form-select-list">
                                                                                <select class="form-control custom-select-value" name="status" id="status">
                                                                                    <option value="Active" {% if set_value('status') == 'Active' %} selected {% elseif content.status == 'Active' %} selected {% endif %}>Active</option>
                                                                                    <option value="Inactive" {% if set_value('status') == 'Inactive' %} selected {% elseif content.status == 'Inactive' %} selected {% endif %}>Inactive</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group-inner">
                                                                    <div class="login-btn-inner">
                                                                        <div class="row">
                                                                            <div class="col-lg-3"></div>
                                                                            <div class="col-lg-9">
                                                                                <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                                    <a href="{{base_url()}}manage/WarehouseCity/" class="btn btn-white" >Cancel</a>
                                                                                    <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--END OF CONTENT AREA-->
                        </div>
                    </div>
                </div>
            </div>
           
