@keyframes move-left-right {
    0% {
      transform: translateX(-15px);
    }
    50% {
      transform: translateX(15px);
    }
    100% {
      transform: translateX(-15px);
    }
  }

  @keyframes move-top-bottom {
    0% {
      transform: translateY(-55px);
    }
    50% {
      transform: translateY(55px);
    }
    100% {
      transform: translateY(-55px);
    }
  }


  .index-page .squares {
    animation: move-left-right 1s infinite;
    background: #f17d3a;
    /* background: #f17d3a;
    background: #f17d3a;
    background: #f17d3a;
    background: #f17d3a;
    background: #f17d3a;
    background: #f17d3a;
    background: #f17d3a; */

    background: -webkit-linear-gradient(0deg, #f17d3a 0%, #f17d3a 100%);
    background: -o-linear-gradient(0deg, #f17d3a 0%, #f17d3a 100%);
    background: -moz-linear-gradient(0deg, #f17d3a 0%, #f17d3a 100%);
    background: linear-gradient(0deg, #f17d3a 0%, #f17d3a 100%);
    box-shadow: -2px 0px 7px rgba(0, 0, 0, 0.178) !important;

    position: absolute;
    transition: 0.5s ease-out;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .index-page .squares.square1 {
    animation: move-left-right 4s infinite;
    height: 200px;
    width: 200px;
    /* opacity: 0.5; */
    left: 33%;
    top: -15%;
  }
  
  .index-page .squares.square2 {
    animation: move-left-right 8s infinite;
    /* -webkit-animation: move-top-bottom 9s infinite; */

    /* -webkit-animation:move-left-right 8s linear infinite; */
/* -webkit-animation:move-top-bottom 11s linear infinite; */

    height: 250px;
    width: 250px; 
    /* opacity: 0.4; */
    right: -13%;
    top: 7%;
  }
  
  .index-page .squares.square3 {
    animation: move-left-right 5s infinite;

    height: 200px;
    width: 200px;
    /* opacity: 0.1; */
    top: 35%;
    left: -9%;
    bottom: 0%;
  }
  
  .index-page .squares.square4 {
    animation: move-left-right 10s infinite;
    height: 70px;
    width: 70px;
    /* opacity: 0.9; */
    right: 53%;
     
    top: 70%;
  }
  
  .index-page .squares.square5 {
    animation: move-left-right 6s infinite;
    height: 33px;
    width: 33px;

    /* opacity: 0.1; */
    left: 32%;
    bottom: 29%;
  }
  
  .index-page .squares.square6 {
    animation: move-left-right 9s infinite;
    left: 14%;
    top: 14%;
    height: 60px;
    width: 60px;
    /* opacity: 0.8; */
  }
  
  .index-page .squares.square7 {
    animation: move-left-right 11s infinite;
    /* animation: move-top-bottom 1s infinite; */
    width: 200px;
    height: 300px;
    left: -7%;
    bottom: -33%;

    /* opacity: 0.1; */
    border-radius: 67% 33% 35% 65% / 55% 24% 76% 45% ;
  }

