@font-face {
    font-family: 'annregular';
    src: url('../font/MaryAnn-Regular.otf');

  }
  @font-face {
      font-family: 'annbold';
      src: url('../font/MaryAnn-Bold.otf')
  }

  @font-face {
    font-family: 'geflowbold';
    src: url('../font/GE_Flow_Bold.otf');
}
 
@font-face {
    font-family: 'geflowregular';
    src: url('../font/GE_Flow_Regular.otf')
}

.geflowregular {
    font-family:'geflowregular' !important; 
}
.geflowbold{
    font-family: 'geflowbold' !important;
}


/* BOUNCE ANIMATION */
@keyframes move-left-right {
    0% {
      transform: translateX(-15px);
    }
    50% {
      transform: translateX(15px);
    }
    100% {
      transform: translateX(-15px);
    }
  }

  @keyframes move-top-bottom {
    0% {
      transform: translateY(-55px);
    }
    50% {
      transform: translateY(55px);
    }
    100% {
      transform: translateY(-55px);
    }
  }


  .index-page .squares {
    animation: move-left-right 1s infinite;
    background: #f17d3a;
    /* background: #f17d3a;
    background: #f17d3a;
    background: #f17d3a;
    background: #f17d3a;
    background: #f17d3a;
    background: #f17d3a;
    background: #f17d3a; */

    background: -webkit-linear-gradient(0deg, #f17d3a 0%, #f17d3a 100%);
    background: -o-linear-gradient(0deg, #f17d3a 0%, #f17d3a 100%);
    background: -moz-linear-gradient(0deg, #f17d3a 0%, #f17d3a 100%);
    background: linear-gradient(0deg, #f17d3a 0%, #f17d3a 100%);
    /* box-shadow: -2px 0px 7px rgba(0, 0, 0, 0.178) !important; */
   box-shadow:   3px 7px 38px  rgba(0, 0, 0, 0.19) !important;
    position: absolute;
    transition: 0.5s ease-out;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .index-page .squares.square1 {
    animation: move-left-right 12s infinite;
    height: 122px;
    width: 122px;
    /* opacity: 0.5; */
    left: 8%;
    top: -9%;
  }
  
  .index-page .squares.square2 {
    animation: move-left-right 16s infinite;
    /* -webkit-animation: move-top-bottom 9s infinite; */

    /* -webkit-animation:move-left-right 8s linear infinite; */
/* -webkit-animation:move-top-bottom 11s linear infinite; */

height: 122px;
width: 122px;
    /* opacity: 0.4; */
    right: -17%;
    top: 15%;
  }
  
  .index-page .squares.square3 {
    animation: move-left-right 10s infinite;

    height: 111px;
    width: 111px;
    /* opacity: 0.1; */
    /* top: 60%; */
    left: -9%;
    bottom: 12%;
  }
  
  .index-page .squares.square4 {
    animation: move-left-right 20s infinite;
    height: 22px;
    width: 22px;
    /* opacity: 0.9; */
    right: 5%;
    bottom: 22%;
  }
  
  .index-page .squares.square5 {
    animation: move-left-right 12s infinite;
    height: 11px;
    width: 11px;
    /* opacity: 0.1; */
    right: 18%;
    bottom: 27%;
  }
  
  .index-page .squares.square6 {
    animation: move-left-right 18s infinite;
    left: 10%;
    top: 27%;
    height: 40px;
    width: 40px;
    /* opacity: 0.8; */
  }
  
  .index-page .squares.square7 {
    animation: move-left-right 22s infinite;
    /* animation: move-top-bottom 1s infinite; */
    width: 200px;
    height: 300px;
    left: -7%;
    bottom: -33%;

    /* opacity: 0.1; */
    border-radius: 67% 33% 35% 65% / 55% 24% 76% 45% ;
  }




/* END BOUNCE ANIMATION */




  /* #fullpage .section h1 {
    text-align: center;
    color: white;
    font-size: 3.5em;
    text-transform: uppercase;
}
#fullpage .section h2 {
    text-align: center;
    color: white;
    font-size: 2.5em;
} */
.fullpage-wrapper {
    width: 100% !important;
    transform: none !important;
}
.fullpage-wrapper .fp-section {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 0.7s ease-in-out;
}
.fullpage-wrapper .fp-section.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.fullpage-wrapper .fp-section .fp-slidesContainer {
    width: 100% !important;
    transform: none !important;
}
.fullpage-wrapper .fp-section .fp-slidesContainer .fp-slide {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 0.7s ease-in-out;
}
.fullpage-wrapper .fp-section .fp-slidesContainer .fp-slide.active {
    visibility: visible;
    transition: all 0.7s ease-in;

    /* opacity: 1; */
    z-index: 1;
}

.bounce-wrapper{
    /* position: absolute; */
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* height: auto; */
    background: #ef6c38;
    padding: 0;
    margin: 0;
}

/* END BOUNCE ANIMATION */

.logo-mob{
 
    position: fixed;
    /* background: url('../img/mobilebottom.png') no-repeat; */
    z-index: 999 !important;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 99px;
    display: flex;
    margin:auto;
justify-content: center;
background-size: contain;
width: 100%;

}
.logo-mob2{

}

.imageletter{
    margin: auto;
}
.letterimg{
    width: 100%;
    background-size: contain;
    margin-top:55%;
    margin-bottom: 2%;
    }

.letterimgar{
    width: 70%;
    background-size: contain;
    margin-top:55%;
    margin-bottom: 2%;
}

    .dwn{
        width: 55px !important;
    }

    @media screen and (min-height:777px){
        .letterimg{
           
            margin-top:77%;
            margin-bottom: 2%;
            }
    }

    @media screen and (max-height:777px){
        .scrollable-content{
            /* background: rgb(133, 82, 82); */
            padding: 22px;
            overflow: scroll;
            margin: 0 auto;
            width: 100%;
            height: 666px;
           }
           .responsive-form{
               height: 888px;
           }
    }


    a {
        cursor: pointer;
    }



  /* RESPONSIVE FORM */



  /* IMPORT FORM  */

.form-modal{
    position:relative;
    /* width:450px; */
    height:auto;
    /* margin-top:4em; */
    left:50%;
    transform:translateX(-50%);
    background:#fff;
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    /* box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.1) */
    box-shadow: -2px 0px 7px rgba(0, 0, 0, 0.11) !important;

}

.form-modal button{
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    font-size:1em;
    z-index: 2;
    outline: none;
    background:#fff;
    transition:0.2s;
}

.form-modal .btn{
    /* border-radius: 20px; */
    border:none;
    font-weight: bold;
    font-size:1.2em;
    padding:0.8em 1em 0.8em 1em!important;
    transition:0.5s;
    /* border:1px solid #ebebeb; */
    margin-bottom:0.5em;
    margin-top:0.5em;
}

.form-modal .login , .form-modal .signup{
    background:#ef6c38;
    color:#fff;
    text-transform: uppercase;
    font-weight: 400;
    font-family:  'annregular';
    height: 33px;
    width: 144px;
    line-height: 3px;
}

.form-modal .login:hover , .form-modal .signup:hover{
    background:#222;
}
.bold-label{
    /* font-weight: 900  !important; */
    color: #3b3b3b!important;
    font-family: 'annbold';
}


 

 

.form-modal form{
    position: relative;
    width:90%;
    height:auto;
    left:50%;
    transform:translateX(-50%);  
}

#login-form , #signup-form{
    position:relative;
    width:100%;
    height:auto;
    padding-bottom:1em;
}

 

#login-form button , #signup-form button{
    /* width:100%;
    margin-top:0.5em;
    padding:0.6em; */
    
}

.form-modal input{
    position: relative;
    width:85%;
    font-size:1em;
    /* padding:1.2em 1.7em 1.2em 1.7em; */
    padding: 0.6em 1.7em 0.6em 1.7em;
    margin-top:0.6em;
    margin-bottom:0.6em;
    /* border-radius: 20px; */
    border:none;
    background:#fff;
    border: 1px solid #f2f2f2;
    outline:none;
    font-weight: bold;
    transition:0.4s;
}

.form-modal input:focus , .form-modal input:active{
    transform:scaleX(1.02);
}

.form-modal input::-webkit-input-placeholder{
    color:#e7e7e7;
    font-family: 'annregular';
}


.form-modal p{
    font-size:16px;
    font-weight: bold;
}

.form-modal p a{
    color:#57b846;
    text-decoration: none;
    transition:0.2s;
}

.form-modal p a:hover{
    color:#222;
}


.form-modal i {
    position: absolute;
    left:10%;
    top:50%;
    transform:translateX(-10%) translateY(-50%); 
}

 
.-box-sd-effect:hover{
    /* box-shadow: 0 4px 8px hsla(210,2%,84%,.2); */
}

.form-container {
    color: #888888;
    font-weight: 100 ;
}

.cust-tit{
    color: #ef6c38;
}
.form-modal .signup:hover {
    color: #ef6c38 !important;
    background: #fff !important;
}
.annregular{
    font-family:   'annregular' !important;
  }
  .annbold{
      font-family: 'annbold' !important;
  }
  .bold-label{
    /* font-weight: 900  !important; */
    color: #3b3b3b!important;
    font-family: 'annbold';
}

.imageletter, .responsive-form{
    margin: auto;
  }
  
  /* END RESPONSIVE FORM */

  a {
      text-decoration: none !important;
  }

  .lettergrid{

    display: grid;
    grid-template-rows: repeat(3, auto);
    z-index: 999999 !important;
    color: #fff;
    position: absolute;
    width: 100%;
    justify-content: center;
    padding-bottom: 25px;
font-family: 'geflowbold' !important;
  }

  .firstletter{
      font-size: 44px;
  }
  .secletter {
      font-size: 66px;

  }
  .thrdletter{
      font-size: 44px;
  }