@font-face {
    font-family: 'annregular';
    src: url('../font/MaryAnn-Regular.otf');

  }
  @font-face {
      font-family: 'annbold';
      src: url('../font/MaryAnn-Bold.otf')
  }

 
  .grid {
      display: grid;
      /* grid-template-columns: repeat(2,  50% 50% ); */
      width: 100%;
      z-index: 99;
      position: relative;
      grid-gap: 33px;
      height: 100%;
  }
  h1{
      font-family: 'annbold' !important;
      color: #fff !important;
      font-size: 50px;
  }


  /* RESPONSIVE FORM */



  
.bold-label{
    /* font-weight: 900  !important; */
    color: #3b3b3b!important;
    font-family: 'annbold';
}


 

 
  
 
.-box-sd-effect:hover{
    /* box-shadow: 0 4px 8px hsla(210,2%,84%,.2); */
}

.form-container {
    color: #888888;
    font-weight: 100 ;
}

.cust-tit{
    color: #ef6c38;
}
.form-modal .signup:hover {
    color: #ef6c38 !important;
    background: #fff !important;
}
.annregular{
    font-family:   'annregular' !important;
  }
  .annbold{
      font-family: 'annbold' !important;
  }
  .bold-label{
    /* font-weight: 900  !important; */
    color: #3b3b3b!important;
    font-family: 'annbold';
}
  
  /* END RESPONSIVE FORM */

.imageletter, .responsive-form{
  margin: auto;
}
.imageletter img{
width: 100%;
background-size: contain;
}



body {
    padding: 0;
    margin: 0;
  }

  .bounce-wrapper {
      position: absolute;
      height: 100%;
      width: 100%;
      overflow: hidden;
      /* height: auto; */
      background: #ef6c38;
      padding: 0;
      margin: 0;
  }

  /* SCREEN WIDTH CUSTOMISE */

 
  @media screen and (max-width:800){
      .bounce-wrapper{
          height: 100vh;
      overflow: scroll;
      position: static;

      }

    .grid{
        grid-template-columns: repeat(1) !important;
        grid-column: 1;
    }

  }

  @media screen and (min-width:1400px){
      .lettergrid{
        margin-top: -55px !important;
    }
    
    .firstletter {
        font-size: 50px !important;
       
        }
        .secletter{
            font-size: 111px !important;
        }
        .thrdletter{
            font-size:50px !important;;
            padding-right: 55px !important;
        }
      
        .thrdletter-ar {
            font-size:55px !important ;
        }
}

@media sceen and (min-width:999px){
    .firstletter {
        font-size: 40px !important;
        }
        .secletter{
            font-size: 88px !important;
        }
        .thrdletter{
            font-size:40px !important;
            padding-right: 33px !important;
        }
        .thrdletter-ar {
            font-size:40px !important ;
        }
}



.lettergrid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    font-family: 'annbold';
    color: #fff;
}
.lettergridar{
    display: grid;
    grid-template-rows: repeat(3, auto);
    font-family: 'geflowbold';
    color: #fff;
}

.firstletter {
    font-size: 33px ;
    }
    .secletter{
        font-size: 66px ;
    }
    .thrdletter{
        font-size:33px ;
        padding-right: 33px ;
    }
.thrdletter-ar {
    font-size:33px ;
}

.geflowregular {
    font-family:'geflowregular' !important; 
}
.geflowbold{
    font-family: 'geflowbold' !important;
}