<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline12-list">
                        <div class="sparkline12-hd">
                            <div class="main-sparkline12-hd">
                                <h1>Option Group</h1>
                            </div>
                        </div>
                        <div class="sparkline12-graph">
                            <div class="basic-login-form-ad">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="all-form-element-inner">
                                            {% if message %} <div class="alert alert-success">{{ message }}</div> {% endif %}
                                            {% if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                                            <form id="optionAdd" method="post" enctype="multipart/form-data">
                                                <input type="hidden" id="optionID" name="optionID" value="{{ content.main.ID }}"/>
                                                <input type="hidden" name="languageID" value="{{ content.main.langID }}"/>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                            <label class="login2 pull-right pull-right-pro">Option group name *</label>
                                                        </div>
                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                            <input type="text" name="optionName" id="optionName" {% if set_value('optionName') %} value="{{set_value('optionName')}}" {% else %} value="{{content.main.name}}" {% endif %} class="form-control">
                                                            {{form_error('optionName', '<div class="error">', '</div>')}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                            <label class="login2 pull-right pull-right-pro">Option Type *</label>
                                                        </div>
                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                            <select name="optionType" id="optionType" class="form-control custom-select-value" >
                                                                <option value="">Select Type</option>
                                                                <option value="Radio" {% if set_value('type') == 'Radio' %} selected {% elseif content.main.type == 'Radio' %} selected {% endif %}>Radio</option>
                                                                {#<option value="Checkbox" {% if set_value('type') == 'Checkbox' %} selected {% elseif content.main.type == 'Checkbox' %} selected {% endif %}>Checkbox</option>#}
                                                                <option value="Select" {% if set_value('type') == 'Select' %} selected {% elseif content.main.type == 'Select' %} selected {% endif %}>Select</option>
                                                            </select>
                                                            {{form_error('optionType', '<div class="error">', '</div>')}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                            <label class="login2 pull-right pull-right-pro">Sort Order</label>
                                                        </div>
                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                            <input type="text" name="optionOrder" id="optionOrder" {% if set_value('optionOrder') %} value="{{set_value('optionOrder')}}" {% else %} value="{{content.main.sortOrder}}" {% endif %} class="form-control">
                                                            {{form_error('optionOrder', '<div class="error">', '</div>')}}
                                                        </div>
                                                    </div>
                                                </div>
                                                {#<div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                            <label class="login2 pull-right pull-right-pro">Show As</label>
                                                        </div>
                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                            <label class="btn btn-secondary">
                                                                <input type="radio" name="showAs" onchange="hideError();" class="showas" id="text" value="Text" value="" {% if content.main.showAs == 'Text' %} checked {% else %} checked {% endif %}> Text
                                                            </label>
                                                            <label class="btn btn-secondary">
                                                                <input class="showas" type="radio" onchange="hideError();" name="showAs" id="image" value="Image"  {% if content.main.showAs == 'Image' %} checked {% endif %}> Image
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>#}
                                                <hr/>
                                                <div class="sparkline12-hd">
                                                    <div class="main-sparkline12-hd">
                                                        <h1>Option Values</h1>
                                                    </div>
                                                </div>
                                                <table id="option" class="table table-striped table-bordered table-hover">
                                                <div class="error ImgErr" id="imgSizeErr">{% if imgErr %}{{imgErr}}{% endif %}</div>
                                                <input type="hidden" class="optionvalue" name="optionvalue" value="" />
                                                {{form_error('optionvalue', '<div class="error">', '</div>')}}
                                                    <thead>
                                                        <tr>
                                                            <td class="text-left required">Option Value Name</td>
                                                            {#<td class="text-left">Option Image
                                                            <b>( width x height:{{imageSet}} , MaxSize : {{maxSize}}MB )
                                                                ( Allowed Type : {{allowedType}} )</b></td>#}
                                                            <td class="text-left">Sort Order</td>
                                                            <td></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if content.sub|length > 0 %}
                                                            {#                                                                    DISPLAY TABLE HERE#}
                                                            {% set myVal = 0 %}
                                                            {% for row in content.sub %}
                                                            <input type="hidden" name="" id="" value = />
                                                            <tr id="option-row{{myVal}}">
                                                                <td class="text-left" style="width: 30%;"><input type="hidden" name="option[{{myVal}}][option_id]" value="{{row.ID}}" /><input type="hidden" name="option[{{myVal}}][language_id]" value="{{row.langID}}" />
                                                                    <div class="input-control">
                                                                        <input type="text" name="option[{{myVal}}][name]" onkeyup="removeError({{myVal}})" id="option[{{myVal}}][name]" {% if set_value('option[' ~ myVal ~ '][name]') %} value="{{set_value('option[' ~ myVal ~ '][name]') }}" {% else %} value="{{row.name}}" {% endif %} placeholder="Option Name" class="form-control optionName" />
                                                                        <div class="error oerror{{myVal}}"></div>
                                                                    </div>
                                                                </td>


                                                                {#<td class="text-left" style="width: 40%;">
                                                                <div class="file-upload-inner file-upload-inner-right ts-forms"><div class="input append-small-btn"><div class="file-button">Browse
                                                                <input type="file" name="image[]"  id="option[{{myVal}}][image]" onchange="add(this.value,{{myVal}});" value="">
                                                                </div><input type="text" name="option[{{myVal}}][image]" class="optionImage"  id="append-small-btn-image{{myVal}}" placeholder="no file selected" {% if set_value('option[' ~ myVal ~ '][image]') %} value="{{set_value('option[' ~ myVal ~ '][image]') }}" {% else %} value="{{row.image}}" {% endif %}>{{form_error('image', '<div class="error">', '</div>')}}{% if imgErr.image is defined %} <div class="error imageError">{{ imgErr.image|raw  }}</div> {% endif %}<div class="error imageError{{myVal}}" id="imgSizeErr"></div></div></div>
                                                                </td>#}

                                                                <td class="text-center"><input type="text" name="option[{{myVal}}][sort_order]" id="option[{{myVal}}][sort_order]" {% if set_value('option[' ~ myVal ~ '][sort_order]') %} value="{{set_value('option[' ~ myVal ~ '][sort_order]')}}" {% else %} value="{{row.sortOrder}}" {% endif %} placeholder="Sort Order" class="form-control" /></td>
                                                                <td class="text-center"><button type="button" {% if content.main.ID %}onclick="remove({{myVal}},{{row.ID}})"{% endif %} data-toggle="tooltip" title="Remove" class="btn btn-danger removeBtn"><i class="fa fa-minus-circle"></i></button></td>
                                                            </tr>
                                                            {% set myVal = myVal + 1 %}
                                                        {% endfor %}

                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="2"></td>
                                                            <td class="text-center"><button type="button" id="add_button" onclick="addOptionRow();" {% if myVal > 0 %} data-count = {{myVal}} {% else %} data-count=0 {% endif %} data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Add Option"><i class="fa fa-plus-circle"></i></button></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                <div class="form-group-inner">
                                                    <div class="login-btn-inner">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 text-center">
                                                                <a href="{{base_url()}}manage/options/" class="btn btn-secondary" >Cancel</a>
                                                                <button class="btn btn-sm subbtn btn-primary login-submit-cs" type="submit" >Save Change</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var option_row = $('#add_button').data('count');
    var maxSize = {{maxImageSizeJs}};
                                                                            var imageWidth ={{imageDimension[0]}}
                                                                                    var imageHeight ={{imageDimension[1]}}
                                                                                    var additionalCount = 1;
    function addOptionRow() {
    
        
        $('.optionvalue').val(1);
        html = '<tr id="option-row' + option_row + '">';
        html += '  <td class="text-left" style="width: 30%;"><input type="hidden" name="option[' + option_row + '][option_id]" value="" />';
        html += '  <div class="input-control">';
        html += '  <input type="text" name="option[' + option_row + '][name]" id="option[' + option_row + '][name]" onkeyup="removeError(' + option_row + ')" value="" oplaceholder="Option Name" class="form-control optionName" /><div class="error optionvalerror oerror' + option_row + '"></div>';
        html += '  </div>';
        html += '  </td>';
        //html += '  <td class="text-left" style="width: 40%;">';
        //html += '  <div class="file-upload-inner file-upload-inner-right ts-forms"><div class="input append-small-btn"><div class="file-button">Browse';
        //html += '  <input type="file" name="image[]" class="addImage"  id="option[' + option_row + '][image]" onchange="add(this.value,'+option_row+');" value="">';
        //html += '  </div><input type="text" name="option[' + option_row + '][image]"  id="append-small-btn-image'+option_row+'" placeholder="no file selected" class="optionImage"><div class="error imageError" id="addImgSizeErr' + additionalCount + '"><div class="error imgSizeErr imageError'+option_row+'" id="imgSizeErr"></div></siv></div>';
        //html += '  </td>';
        html += '  <td class="text-right"><input type="text" name="option[' + option_row + '][sort_order]" id="option[' + option_row + '][sort_order]" value="" placeholder="Sort Order" class="form-control sortOrder" /><div class="error optionvalerror oserror' + option_row + '"></div></td>';
        html += '  <td class="text-right"><button type="button" onclick="remove('+option_row+')" data-toggle="tooltip" title="Remove" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
        html += '</tr>';
        $('#option tbody').append(html);
        $(".addImage").change(function (e) {
            var countVal = option_row;
            showImage(this, maxSize, imageWidth, imageHeight, 'addImg' + countVal, 'addImgSizeErr' + countVal);
        });
        option_row++;
        additionalCount++;
    }

</script>
<script>
    function add(x,y){
       /* $('#append-small-btn-image'+y).val(x);
        var ext = x.split('.').pop().toLowerCase();
        if ($.inArray(ext, ['svg','png','jpg','jpeg']) == -1){
         $('.subbtn').prop('disabled', true);
         $('.imageError'+y).html('Allowed Type : jpeg|jpg|png|svg ');
         }else{
         $('.subbtn').prop('disabled', false);
         $('.imageError'+y).html('');
         }*/
    }
    function remove(x,y=''){ 
    if(y != ''){
       $.ajax({
            type:"GET",
            url: '{{base_url()}}manage/Options/removeOptionValue',
            data: { optionValueId:y},
            dataType:"json",
            success:function(data)
            {
                $('#option-row'+x).remove();
            }
        });
    }else{
    $('#option-row'+x).remove();
    }
    }
    $( ".subbtn" ).click(function(e) { 
        //var showas=$('input[name="showAs"]:checked').val();
        if($( ".optionName" ).length != 0){
            $('.optionvalue').val(1);
        }else{
            $('.optionvalue').val('');
        }
        $flag=0;$flags=0;
        if($('.optionvalue').val() == 1){
            //if(showas == 'Text'){
            $(".optionName").each(function(ev) {  
                if($(this).val() == ''){
                    $val=$(this).attr("name").replace(/[^0-9]/g,'');
                    alert($val);
                    $('.oerror'+$val).html('Option value name is required');
                    $flag=1;
                    return false;
                }
            });
            $(".sortOrder").each(function(ev) { 
                
                    $val=$(this).attr("name").replace(/[^0-9]/g,'');
                    
                    
                     var inputVal = $(this).val();
                    if($.isNumeric(inputVal)){
                      
                    }else{
                    $flags=1;
                        $('.oserror'+$val).html('The Option sort order field must contain only numbers.');
                        return false;
                    }
                    
                
            });
            //}
            /*if(showas == 'Image'){
            $(".optionImage").each(function(ev) {  
                if($(this).val() == ''){
                    if($('.showas:checked').val() == 'Image'){
                        $val=$(this).attr("name").replace(/[^0-9]/g,'');
                        $('.imageError'+$val).html('Option image is required');
                        $flags=1;
                        return false;
                    }if($('.showas:checked').val() == 'Text'){
                    $('.imageError'+$val).html('');
                        $flags=0;
                    }
                }
            });
            }*/
                    }
        if($flag==1 || $flags==1){
        e.preventDefault();
        }
         
    });
    function removeError(x){
        $('.oerror'+x).html('');
    }
    function hideError(){
        var showas=$('input[name="showAs"]:checked').val();
        if(showas == 'Text'){
            $('.imgSizeErr').html('');
        }
        else{
            $('.optionvalerror').html('');
        }
    }
    
</script>

