
<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    {# <h4>All Users</h4>#}
                    {% if success %} <div class="alert alert-success">{{ success }} </div> {% endif %}
                    {% if failMessage %} <div class="alert alert-danger alert-mg-b">{{ failMessage }}</div>{% endif %}
                    <form method="get" class="col-md-10">
                        Option: <input type="text" name="name">
                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Search</button>
                    </form>
                    <div class="add-product col-md-2">
                        <a href="{{base_url()}}manage/options/add">Add Option</a>
                    </div>
                    <div class="asset-inner">
                    
                        <form method='post' name='multiChange' id='multiChange'>
                            {% if result|length > 0 %}
                                <table>
                                    <tr>
                                        <th><input type="checkbox" id="checkAll"></th>
                                        <th>No</th>
                                        <th>Options</th>
                                        <th>Sort Order</th>
                                        <th>Action</th>
                                    </tr>
                                    {% set myVal = currentPage %}
                                    {% for data in result %}
                                        <tr>
                                            <th><input type="checkbox" name="multyCheck[]" class='multyCheck' value="{{data.ID|e}}"></th>
                                            <td>{{ myVal }}</td>
                                            <td>{{data.name|e}}</td>
                                            <td>{{data.sortOrder|e}}</td>
                                            <td>
                                                <a href="{{base_url()}}manage/options/edit/{{data.ID|e}}">
                                                    <button type='button' data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </button>
                                                </a>
                                                <button type='button' title="Trash" class="pd-setting-ed deleteElement" alt="{{data.ID|e}}">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </td>

                                        </tr>
                                        {% set myVal = myVal + 1 %}
                                    {% endfor %} 
                                </table>
                                {#<select name='action' id="action">
                                    <option value=''>Select</option>
                                    <option value='Active'>Active</option>
                                    <option value='Inactive'>Inactive</option>
                                    <option value='Deleted'>Deleted</option>
                                </select>#}
                                {#{{form_error('multyCheck', '<div class="error">', '</div>')}}#}
                            </form>

                        {% else %}
                            <div class="alert alert-danger" role="alert">
                                No data found!
                            </div>
                        {% endif %}
                    </div>

                    <div class="text-center">
                        {% if links %}<p class="pagination">{{links | raw }}</p> {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
                    <!--INCLUDE MODALS-->
<div id="WarningModalalert" class="modal modal-edu-general Customwidth-popup-WarningModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <span class="educate-icon educate-warning modal-check-pro information-icon-pro"></span>
                <h2>Alert!</h2>
                <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="modal-footer warning-md">
                <a data-dismiss="modal" href="#">Cancel</a>
                <a href="javascript:void(0)" id="confirmOk">Sure</a>
            </div>
        </div>
    </div>
</div>

<script>
    $('input[type=radio][name=status]').change(function () {
        window.location = "{{base_url()}}manage/Options/changeStatus/" + this.id + "/" + this.value;
    });

    $('.deleteElement').click(function () {
        $('#WarningModalalert').modal('show');
        var id = $(this).attr("alt");
        $('#confirmOk').click(function () {
            window.location = "{{base_url()}}manage/Options/changeStatus/" + id + "/Deleted"
        });
    });

    $('#checkAll').click(function () {
        $('.multyCheck').not(this).prop('checked', this.checked);
    });

    $("#action").change(function () {
        var action = $('#action').val();
        if (action == 'Deleted') {
            $('#WarningModalalert').modal('show');
            $('#confirmOk').click(function () {
                $("#multiChange").submit();
            });
        } else {
            $("#multiChange").submit();
        }
    });

</script>
