{% for row in relatedFieldList %}
    {% if row.fieldType == 'textbox' %}
        <div class="form-group-inner {% if form_error(row.fieldKey)!='' %} error-form {% endif%}" >
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="login2 pull-right pull-right-pro">{{row.fieldName}}</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <input type="{{row.fieldType}}" 
                           name="{{row.fieldKey}}" 
                           id="{{row.fieldKey}}" 
                           {%if set_value(row.fieldKey)%} 
                               value="{{set_value(row.fieldKey)}}" 
                           {% else %} 
                               value="{%if row.isLanguage == 'yes'%}{{row.languageValue}}{% else %}{{row.value}}{% endif %}"
                           {% endif %} 
                           class="form-control" 
                           placeholder="{{row.fieldPlaceholder}}">
                    {{form_error(row.fieldKey, '<div class="error">', '</div>')}}
                </div>
            </div>
        </div>
    {% endif %}
    {% if row.fieldType == 'textarea' %}
        <div class="form-group-inner {% if form_error(row.fieldKey)!='' %} error-form {% endif%}" >
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="login2 pull-right pull-right-pro">{{row.fieldName}}</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <{{row.fieldType}} rows="8" name="{{row.fieldKey}}" id="{{row.fieldKey}}"  class="form-control" placeholder="{{row.fieldPlaceholder}}" >{% if set_value(row.fieldKey) %}{{set_value(row.fieldKey)}}{% else %}{% if row.isLanguage == 'yes' %}{{row.languageValue}}{% else %}{{row.value}}{% endif %}{% endif %}</{{row.fieldType}}>
                    {{form_error(row.fieldKey, '<div class="error">', '</div>')}}
                </div>
            </div>
        </div>
    {% endif %}
    {% if row.fieldType == 'radio' %}
        <div class="form-group-inner {% if form_error('name')!='' %} error-form {% endif%}" >
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="login2 pull-right pull-right-pro">{{row.fieldName}}</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    {% set options = row.fieldOptions|split(',')%}

                    {% for opt in options %}
                        <label class="radio-inline">
                            <input type="radio" name="{{row.fieldKey}}" id="{{opt}}}" {% if selected %} checked {% elseif opt == row.value %} checked="checked" {% endif %} value="{{opt}}" {%if row.relation == 'yes'%}onclick="loadRelatedFields('{{row.fieldKey}}',{{row.id}} )"{%endif%} > {{opt | upper}}
                        </label>
                        {{form_error('name', '<div class="error">', '</div>')}}
                    {%endfor%}
                </div>
            </div>
        </div>
        {%if row.relation == 'yes' %}
            <div id="related_fields_{{row.fieldKey}}"></div>
        {% endif %}
    {% endif %}
    {% if row.fieldType == 'checkbox' %}
        {% set options = row.fieldOptions|split(',') %}
        <div class="form-group-inner">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label class="login2 pull-right pull-right-pro"><span class="basic-ds-n">{{row.fieldName}}</span></label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="bt-df-checkbox pull-left">
                        {% for opt in options %}
                            {% set valOptions = row.value|split(',')%}
                            <label class="checkbox-inline">
                                <input class = "pull-left radio-checked" name = "{{row.fieldKey}}[]" value="{{opt}}" 
                                       {%if selected %} checked="checked"{% elseif opt in valOptions %} checked="checked"{% endif %}type="checkbox" />
                                {{opt|upper}}
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if row.fieldType == 'select' %}
        <div class="form-group-inner {% if form_error(row.fieldKey)!='' %} error-form {% endif%}" >
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="login2 pull-right pull-right-pro">{{row.fieldName}}</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <select name="{{row.fieldKey}}" id="{{row.fieldKey}}" class="form-control">
                        <option value="">Select</option>
                        {% set options = row.fieldOptions|split(',')%}

                        {% for opt in options %}
                            <option {%if row.value == opt%} selected="selected" {% endif%} value="{{opt}}">{{opt|capitalize}}</option>
                        {%endfor%}
                    </select>
                    {{form_error(row.fieldKey, '<div class="error">', '</div>')}}
                </div>
            </div>
        </div>
    {% endif %}
    {% if row.fieldType == 'image' %}
        <div class="form-group-inner{% if form_error(row.fieldKey)!='' %} error-form {% endif%}">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <label class="login2 pull-right pull-right-pro">{{row.fieldName}}</label>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="file-upload-inner file-upload-inner-right ts-forms">
                        <div class="input append-small-btn">
                            <div class="file-button">
                                Browsename="{{row.fieldKey}}" id="{{row.fieldKey}}" {% if set_value(row.fieldKey) %} value="{{set_value(row.fieldKey)}}" {% else %} value="{{row.value}}" onchange="document.getElementById('append-small-btn{{myVal}}').value = this.value;" {% endif %}>
                            </div>
                            <input class="tri" data-count="{{myVal}}" type="file" name="{{row.fieldKey}}" id="{{row.fieldKey}}" {% if set_value(row.fieldKey) %} value="{{set_value(row.fieldKey)}}" {% else %} value="{{row.value}}" onchange="document.getElementById('append-small-btn{{myVal}}').value = this.value;" {% endif %}>
                        </div>
                        <input type="text" id="append-small-btn{{myVal}}" {% if set_value(row.fieldKey) %} value="{{row.value}}" {% else %} value="{{row.value}}" {% endif %} placeholder="no file selected">
                        {{form_error('image', '<div class="error">', '</div>')}}
                        {% if imgErr %} <div class="error">{{ imgErr|raw  }}</div> {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group-inner">
        <div class="login-btn-inner">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-9">
                    <img src="{{base_url()}}uploads/siteInfo/{{row.value}}" alt="" width="200px"/>
                    <img src="" id="profile-img-tag{{myVal}}" width="100px" />
                </div>
            </div>
        </div>
    </div>
    {% set myVal = myVal + 1 %}
{% endif %}

{% endfor %}