<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                {% for group in settingGroup%}
                    <a href="{{base_url()}}manage/Settings/{{group.settingsKey}}"><button type="button" class="btn btn-custon-rounded-three btn-default {%if group.settingsKey == settingsGroupKey %}active{%endif%}">{{group.name}}</button></a>
                    {% endfor %}
                    {#<a href="{{base_url()}}manage/Settings/image"><button type="button" class="btn btn-custon-rounded-three btn-default">Image Settings</button></a>
                    <a href="{{base_url()}}manage/Settings/security"><button type="button" class="btn btn-custon-rounded-three btn-default">Security Settings</button></a>#}
            </div>
        </div>
    </div>
</div>
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">

                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
                                                {% if success %} <div class="alert alert-success">{{ success }}</div> {% endif %}
                                                {% if failMessage %} <div class="alert alert-danger alert-mg-b">{{ failMessage }}</div> {% endif %}

                                                {{ form_open_multipart(action) }}
                                                {#                                                <form method="post" action="{{ base_url('manage/')}}settings/" enctype="multipart/form-data" name="myform">#}
                                                <!--Name-->
                                                {% set myVal = 0 %}
                                                {% for row in result %}
                                                    {% if row.fieldType == 'textbox' %}
                                                        <div class="form-group-inner {% if form_error(row.fieldKey)!='' %} error-form {% endif%}" >
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">{{row.fieldName}}</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input type="{{row.fieldType}}" 
                                                                           name="{{row.fieldKey}}" 
                                                                           id="{{row.fieldKey}}" 
                                                                           {%if set_value(row.fieldKey)%}value="{{set_value(row.fieldKey)}}"{% else %}value="{%if row.isLanguage == 'yes'%}{{row.languageValue}}{% else %}{{row.value}}{% endif %}"
                                                                           {% endif %}class="form-control" placeholder="{{row.fieldPlaceholder}}">
                                                                    {{form_error(row.fieldKey, '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if row.fieldType == 'textarea' %}
                                                        <div class="form-group-inner {% if form_error(row.fieldKey)!='' %} error-form {% endif%}" >
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">{{row.fieldName}}</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <{{row.fieldType}} rows="8" name="{{row.fieldKey}}" id="{{row.fieldKey}}"  class="form-control {% if row.fieldKey in editorFields %} text-editor {% endif %} " placeholder="{{row.fieldPlaceholder}}" >{% if set_value(row.fieldKey) %}{{set_value(row.fieldKey)}}{% else %}{% if row.isLanguage == 'yes' %}{{row.languageValue}}{% else %}{{row.value}}{% endif %}{% endif %}</{{row.fieldType}}>
                                                                    {{form_error(row.fieldKey, '<div class="error">', '</div>')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if row.fieldType == 'radio' %}
                                                        <div class="form-group-inner {% if form_error('name')!='' %} error-form {% endif%}" >
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">{{row.fieldName}}</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    {% set options = row.fieldOptions|split(',')%}

                                                                    {% for opt in options %}
                                                                        <label class="radio-inline">
                                                                            <input type="radio" name="{{row.fieldKey}}" id="{{opt}}" {% if selected %} checked {% elseif opt == row.value %} checked="checked" {% endif %} value="{{opt}}" {%if row.relation == 'yes'%}onclick="loadRelatedFields('{{row.fieldKey}}',{{row.id}},'{{row.value}}');"{%endif%} > {{opt | upper}}
                                                                        </label>
                                                                        {{form_error(row.fieldKey, '<div class="error">', '</div>')}}
                                                                    {%endfor%}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {%if row.relation == 'yes' %}
                                                            <div id="related_fields_{{row.fieldKey}}"></div>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if row.fieldType == 'checkbox' %}
                                                        {% set options = row.fieldOptions|split(',') %}
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                    <label class="login2 pull-right pull-right-pro"><span class="basic-ds-n">{{row.fieldName}}</span></label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                                                    <div class="bt-df-checkbox pull-left">
                                                                        {% for opt in options %}
                                                                            {% set valOptions = row.value|split(',')%}
                                                                            <label class="checkbox-inline">
                                                                                <input class = "pull-left radio-checked" name = "{{row.fieldKey}}[]" value="{{opt}}" 
                                                                                       {%if selected %} checked="checked"{% elseif opt in valOptions %} checked="checked"{% endif %}type="checkbox" />
                                                                                {{opt|upper}}
                                                                            </label>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if row.fieldType == 'select' %}
                                                       
                                                        {% if row.fieldKey == 'time_zone' %}
                                                            <div class="form-group-inner {% if form_error(row.fieldKey)!='' %} error-form {% endif%}" >
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <label class="login2 pull-right pull-right-pro">{{row.fieldName}}</label>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                        <select name="{{row.fieldKey}}" id="{{row.fieldKey}}" class="form-control chosen-select" tabindex="-1">
                                                                            <option value="">Select</option>
                                                                            timeZone
                                                                            {% if timeZone %}
                                                                                {% for opt in timeZone %}
                                                                                    <option {%if row.value == opt%} selected="selected" {% endif%} value="{{opt}}">{{opt|capitalize}}</option>
                                                                                {%endfor%}
                                                                            {% endif %}
                                                                            
                                                                        </select>
                                                                        {{form_error(row.fieldKey, '<div class="error">', '</div>')}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            <div class="form-group-inner {% if form_error(row.fieldKey)!='' %} error-form {% endif%}" >
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <label class="login2 pull-right pull-right-pro">{{row.fieldName}}</label>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                        <select name="{{row.fieldKey}}" id="{{row.fieldKey}}" class="form-control">
                                                                            <option value="">Select</option>
                                                                            {% set options = row.fieldOptions|split(',')%}

                                                                            {% for opt in options %}
                                                                                <option {%if row.value == opt%} selected="selected" {% endif%} value="{{opt}}">{{opt|capitalize}}</option>
                                                                            {%endfor%}
                                                                        </select>
                                                                        {{form_error(row.fieldKey, '<div class="error">', '</div>')}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                        
                                                    {% endif %}
                                                    {% if row.fieldType == 'image' %}
                                                        <div class="form-group-inner{% if form_error(row.fieldKey)!='' %} error-form {% endif%}">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro">{{row.fieldName}}</label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                        <div class="input append-small-btn">
                                                                            <div class="file-button">
                                                                                Browse
                                                                                <input class="tri" data-count="{{myVal}}" type="file" name="{{row.fieldKey}}" id="{{row.fieldKey}}" {% if set_value(row.fieldKey) %} value="{{set_value(row.fieldKey)}}" {% else %} value="{{row.value}}" onchange="document.getElementById('append-small-btn{{myVal}}').value = this.value;" {% endif %}>
                                                                            </div>
                                                                            <input type="text" id="append-small-btn{{myVal}}" {% if set_value(row.fieldKey) %} value="{{row.value}}" {% else %} value="{{row.value}}" {% endif %} placeholder="no file selected">
                                                                            {{form_error('image', '<div class="error">', '</div>')}}
                                                                            {% if imgErr %} <div class="error">{{ imgErr[row.fieldKey]|raw  }}</div> {% endif %}
                                                                            <div class="error" id="imgSizeErr{{myVal}}"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="login-btn-inner">
                                                                <div class="row">
                                                                    <div class="col-lg-3"></div>
                                                                    <div class="col-lg-9">
                                                                        <img src="{{base_url()}}uploads/siteInfo/{{row.value}}" alt="" width="200px"/>
                                                                        <img src="" id="profile-img-tag{{myVal}}" width="100px" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% set myVal = myVal + 1 %}
                                                    {% endif %}

                                                {% endfor %}
                                                <!--COde-->
                                                <div class="form-group-inner">
                                                    <div class="login-btn-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3"></div>
                                                            <div class="col-lg-9">
                                                                <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                    {#<a href="{{base_url()}}manage/" class="btn btn-white" type="submit">Cancel</a>#}
                                                                    <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{form_close}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>
                                            <!-- dropzone CSS============================================ -->
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/dropzone/dropzone.css">
        <!-- dropzone JS============================================ -->
        <script src="{{base_url()}}public/manage/js/dropzone/dropzone.js"></script>

        <link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
        <link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
        <script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
        <script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>
        <script src="{{base_url()}}public/manage/js/datapicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            console.log(input.files[0].type);
            if (input.files[0].type == "image/jpeg" || input.files[0].type == "image/jpg" || input.files[0].type == "image/png" || input.files[0].type == "image/svg+xml") {
                if (input.files[0].size <= 2097152) {
                    var reader = new FileReader();
                    $('#imgSizeErr' + counter).html("");
                    reader.onload = function (e) {
                        //console.log(input.files[0].size);
                        $('#profile-img-tag' + counter).attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                } else {
                    
                    
                    $('#imgSizeErr' + counter).html("The file you are attempting to upload is larger than the permitted size 2MB.");
                }
            } else {
                $('#imgSizeErr' + counter).html("The filetype you are attempting to upload is not allowed. Allowed types are jpeg, jpg, png, svg");
            }
        }
    }

    function loadRelatedFields(key, id, pvalue) {
        $.ajax({
            type: 'POST',
            url: '{{base_url()}}manage/settings/loadRelatedFields',
            data: 'id=' + id + '&pvalue' + pvalue,
            dataType: "html",
            success: function (msg) {
                console.log(msg);
                $('#related_fields_' + key).html(msg);
            }
        });
    }


    $('.tri').change(function () {
        
        counter = $(this).data('count');
            readURL(this, counter);
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
</script>