
<div class="all-content-wrapper">
    <div class="analytics-sparkle-area">
        <div class="container-fluid">
            <div class="row">
                <!--TOTAL ORDERS-->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="analytics-sparkle-line reso-mg-b-30">
                        <div class="analytics-content">
                            <h5>ORDERS</h5>

                            <h2><span class="counter">{{count.orders}}</span></h2>
                            <!--                                        <span class="text-success">80%</span>-->
                            <!--                                        <div class="progress m-b-0">
                                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:80%;"> <span class="sr-only">20% Complete</span> </div>
                                                                    </div>-->
                        </div>
                    </div>
                </div>
                <!--END OF ORDERS-->
                <!--TOTAL SALES-->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="analytics-sparkle-line reso-mg-b-30">
                        <div class="analytics-content">
                            <h5>SALES</h5>
                            <h2><span class="counter">{{count.sales}}</span></h2>
                            <!--                                        <span class="text-danger">30%</span>
                                                                    <div class="progress m-b-0">
                                                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:30%;"> <span class="sr-only">230% Complete</span> </div>
                                                                    </div>-->
                        </div>
                    </div>
                </div>
                <!--END OF SALES-->
                <!--TOTAL CUSTOMERS-->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30">
                        <div class="analytics-content">
                            <h5>CUSTOMERS</h5>
                            <h2><span class="counter">{{count.customers}}</span></h2>
                            <!--                                        <span class="text-info">60%</span>
                                                                    <div class="progress m-b-0">
                                                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%;"> <span class="sr-only">20% Complete</span> </div>
                                                                    </div>-->
                        </div>
                    </div>
                </div>
                <!--END OF CUSTOMERS-->
                <!--TOTAL PRODUCTS-->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="analytics-sparkle-line table-mg-t-pro dk-res-t-pro-30">
                        <div class="analytics-content">
                            <h5>PRODUCTS</h5>
                            <h2><span class="counter">{{count.products}}</span></h2>
                            <!--                                        <span class="text-inverse">80%</span>
                                                                    <div class="progress m-b-0">
                                                                        <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:80%;"> <span class="sr-only">230% Complete</span> </div>
                                                                    </div>-->
                        </div>
                    </div>
                </div>
                <!--END OF PRODUCTS-->
            </div>
        </div>
    </div>
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <!--LATEST ORDERS-->
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="m-t-xl sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>LATEST ORDERS</h1>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                {#<div id="toolbar1">
                                    <select class="form-control dt-tb">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                    </select>
                                </div>#}
                                <table class="table-responsive table-bordered" width="100%">
                                    <thead>
                                        <tr>

                                            <th data-field="id">OrderNo</th>
                                            <th data-field="name" data-editable="false">Customer</th>
                                            <th data-field="email" data-editable="false">Amount</th>
                                            <th data-field="date" data-editable="false">Date Added</th>
                                            <th data-field="price" data-editable="false">Status</th>
                                            <!--<th data-field="action">Action</th>-->
                                            <!--<th data-field="state" data-checkbox="true"></th>-->
                                            <!--<th data-field="phone" data-editable="true">Phone</th>-->
                                            <!--<th data-field="complete">Completed</th>-->
                                            <!--<th data-field="task" data-editable="true">Task</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%if count.orders > 0%}
                                        {%for row in orders %}
                                            <tr>
                                                <td>{{row.orderID|e}}</td>
                                                <td>{{row.firstname|e}} {{row.lastname|e}}</td>
                                                <td>{{row.total|e}}</td>
                                                <td>{{row.Added|e|date("d/M/Y")}}</td>
                                                <td>{{row.status|e}}</td>
                                            </tr>
                                        {%endfor%}
                                        {%else%}
                                            <tr><td colspan="5"><p><h5 class="text-center ">Sorry! No orders yet.</h5></p></td></tr>
                                        {%endif%}
                                            


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--RECENT ACTIVITY-->
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="m-t-xl sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>RECENT ACTIVITIES</h1>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                {#<div id="toolbar2">
                                    <select class="form-control dt-tb">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                    </select>
                                </div>#}
                                <table class="table-responsive table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th data-field="id">S.No</th>
                                            <th data-field="name" data-editable="false">User</th>
                                            <th data-field="task" data-editable="false">Activity</th>
                                            <th data-field="price" data-editable="false">Date</th>
                                            <th data-field="price" data-editable="false">Time</th>
                                            <!--<th data-field="action">Action</th>-->
                                            <!--<th data-field="state" data-checkbox="true"></th>-->
                                            <!--<th data-field="email" data-editable="false">Email</th>-->
                                            <!--<th data-field="phone" data-editable="false">Phone</th>-->
                                            <!--<th data-field="complete">Completed</th>-->
                                            <!--<th data-field="date" data-editable="false">Date</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%set k = 1%}
                                        {%for row in activities%}
                                            <tr>
                                                <td>{{k}}</td>
                                                <td>{{row.firstname}}</td>
                                                <td>{{row.activityTitle}}</td>
                                                <td>{{row.cdate}}</td>
                                                <td>{{row.ctime}}</td>
                                            </tr>
                                        {%set k = k + 1%}
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
