<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                {#Add Category#}
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
                                                {% if message %} <div class="alert alert-success">{{ message }}</div> {% endif %}
                                                {% if errMessage %} <div class="alert alert-danger alert-mg-b">{{ errMessage }}</div> {% endif %}
                                                <form method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="categoryID" id="categoryID" value="{{content.categoryID}}" class="form-control">
                                                    <!--Name-->
                                                    <div class="form-group-inner {% if form_error('name')!='' %} error-form {% endif%}" >
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Name *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="name" id="name" {% if set_value('name') %} value="{{set_value('name')}}" {% else %} value="{{content.name}}" {% endif %} class="form-control">
                                                                {{form_error('name', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                            
                                                    <div class="form-group-inner {% if form_error('pageKey')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Page Key *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="pageKey" id="pageKey" {% if set_value('pageKey') %} value="{{set_value('pageKey')}}" {% else %} value="{{content.pageKey}}" {% endif %}  class="form-control" placeholder="Page Key">
                                                                {{form_error('pageKey', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group-inner {% if form_error('description')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Description *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <textarea name="description" id="description" class="form-control text-editor" placeholder="description">{% if set_value('description') %} {{set_value('description')}} {% else %} {{content.description}} {% endif %}</textarea>
                                                                {{form_error('description', '<div class="error">', '</div>')}}
                                                                {# <div class="tinymce-single">

                                                                    <div id="summernote1">
                                                                    </div>
                                                                </div>#}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group-inner {% if form_error('metaTitle')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Meta Title</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="metaTitle" id="metaTitle" {% if set_value('metaTitle') %} value="{{set_value('metaTitle')}}" {% else %} value="{{content.metaTitle}}" {% endif %} class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group-inner {% if form_error('metaDescription')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Meta Description</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <textarea name="metaDescription" id="metaDescription" class="form-control" placeholder="meta description">{% if set_value('metaDescription') %}{{set_value('metaDescription')}}{% else %}{{content.metaDescription}}{% endif %}</textarea>
                                                            </div>


                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner {% if form_error('metaKeyword')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Meta Keyword</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="metaKeyword" id="metaKeyword" {% if set_value('metaKeyword') %} value="{{set_value('metaKeyword')}}" {% else %} value="{{content.metaKeyword}}" {% endif %} class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner {% if form_error('parentID')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Parent</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">   
                                                                <select name="parentID" id="parentID"  class="chosen-select" tabindex="-1">
                                                                    <option>Select</option>
                                                                    
                                                                    {% for category in parentCategory %}
                                                                    <option value="{{category.categoryID}}" {% if set_value('parentID') == category.categoryID %} selected {% elseif content.parentID == category.categoryID %} selected {% endif %}>{{category.name}}</option>
                                                                    {% endfor %}    
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner {% if form_error('filterID[]')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Filters *</label>
                                                            
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <select name="filterID[]" id="filterID" data-placeholder="Choose filters" class="chosen-select" multiple="" tabindex="-1">
                                                                    
                                                                    {% for filters in filterList %}
                                                                        <option value="{{filters.ID}}" {% if set_value('filterID') == filters.ID %} selected {% elseif filters.ID in content.filterData %} selected {% endif %}>{{filters.filterName}}</option>
                                                                    {% endfor %}    
                                                                </select>
                                                                {{form_error('filterID[]', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group-inner {% if form_error('banner')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Banner Image</label><br>
                                                                <label class="login2 pull-right pull-right-pro">( width x height:{{imageSetBann}} , MaxSize : {{maxSize}}MB )</label>
                                                                <label class="login2 pull-right pull-right-pro">( Allowed Type : {{allowedType}} )</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                                                <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                    <div class="input append-small-btn">
                                                                        <div class="file-button">
                                                                            Browse
                                                                            <input type="file" name="banner" id="banner" onchange="document.getElementById('append-small-btn').value = this.value;">
                                                                        </div>
                                                                        <input type="text" id="append-small-btn" placeholder="no file selected">
                                                                        {{form_error('banner', '<div class="error">', '</div>')}}
                                                                        {% if imgErr.banner is defined %} <div class="error">{{ imgErr.banner|raw  }}</div> {% endif %}
                                                                        <div class="error" id="imgSizeError"></div>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                            {% if content.banner %}
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                                    <img id="profile-img" src="{{base_url()}}uploads/category/banner/{{content.banner}}" width="150" height="150"/>
                                                                </div>
                                                           
                                                            {% endif %}
                                                            
                                                        </div>
                                                    </div>

                                                    <div class="form-group-inner {% if form_error('image')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Listing Image</label>
                                                                <label class="login2 pull-right pull-right-pro">( width x height:{{imageSet}} , MaxSize : {{maxSize}}MB )</label>
                                                                <label class="login2 pull-right pull-right-pro">( Allowed Type : {{allowedType}} )</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                                                <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                    <div class="input append-small-btn">
                                                                        <div class="file-button">
                                                                            Browse
                                                                            <input type="file" name="image" id="image" onchange="document.getElementById('append-small-btn-image').value = this.value;">
                                                                        </div>
                                                                        <input type="text" id="append-small-btn-image" placeholder="no file selected">
                                                                        {{form_error('image', '<div class="error">', '</div>')}}
                                                                        {% if imgErr.image is defined %} <div class="error imageError">{{ imgErr.image|raw  }}</div> {% endif %}
                                                                        <div class="error imageError" id="imgSizeErr"></div>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% if content.image %}
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                                    <img id="profile-img-tag" src="{{base_url()}}uploads/category/{{content.image}}" width="150" height="150"/>
                                                                </div>
                                                                
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    <!--COde-->

                                                    <!--Sort Order-->
                                                    <div class="form-group-inner {% if form_error('sortOrder')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Sort Order *</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" name="sortOrder" id="sortOrder" {% if set_value('sortOrder') %} value="{{set_value('sortOrder')}}" {% else %} value="{{content.sortOrder}}" {% endif %} class="form-control">
                                                                {{form_error('sortOrder', '<div class="error">', '</div>')}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Status-->
                                                    <div class="form-group-inner {% if form_error('status')!='' %} error-form {% endif%}">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Status</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="form-select-list">
                                                                    <select name="status" id="status" class="form-control custom-select-value" name="status">
                                                                        <option value="Active" {% if set_value('status') == 'Active' %} selected {% elseif content.status == 'Active' %} selected {% endif %}>Active</option>
                                                                        <option value="Inactive" {% if set_value('status') == 'Inactive' %} selected {% elseif content.status == 'Inactive' %} selected {% endif %}>Inactive</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <a href="{{base_url()}}manage/Category/" class="btn btn-secondary" type="submit">Cancel</a>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>
<!-- select2 JS============================================ -->
<link rel="stylesheet" href="{{base_url()}}public/manage/css/select2/select2.min.css">
<link rel="stylesheet" href="{{base_url()}}public/manage/css/chosen/bootstrap-chosen.css">
<script src="{{base_url()}}public/manage/js/chosen/chosen.jquery.js"></script>
<script src="{{base_url()}}public/manage/js/chosen/chosen-active.js"></script>
<script type="text/javascript">
            var editID	= $("#categoryID").val();
            if(editID!=''){
                $("#pageKey").prop("readonly", true);
            }else{
                $("#name").blur(function(){
                    var keyVal	=   $("#name").val();
                    keyVal          =   string_to_slug(keyVal);
                    $('#pageKey').val(keyVal);
                });
            }
            
            
    $("#image").change(function (e) {
        var maxSize= {{maxImageSizeJs}};
        var imageWidth = {{imageDimension[0]}}
        var imageHeight = {{imageDimension[1]}}
        showImage(this,maxSize,imageWidth,imageHeight,'profile-img-tag','imgSizeErr');
    });
</script>
<script type="text/javascript">
    $("#banner").change(function (e) {
        var maxSize= {{maxImageSizeJs}};
        var imageWidth = {{imageDimensionBann[0]}}
        var imageHeight = {{imageDimensionBann[1]}}
        showImage(this,maxSize,imageWidth,imageHeight,'profile-img','imgSizeError');
    });
</script>