<div class="home-body">
    <div class="container" style="padding-bottom: 50px;">
        <div class="row">
            <div class="col-md-12" style="display: inline-flex;">
                <div class="col-lg-9 col-md-12 col-sm-12 com-xs-12 home-left">
                    
                    {#BANNER SLIDER STARTS#}
                    <div class="slider_area" style="margin-top:20px;margin-bottom:15px;">

                        <div class="slider_list  owl-carousel">
                            {% for data in sliderList  %}
                                <div class="single_slide" style="background-image: url({{data.image}});background-size: cover;">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="slider__content" style="padding-left: 5%;position: relative; width: 60%">
                                                    <h2><span style="color:{{data.titleColor|e}}">{{data.title|e}}</span><br>{{data.description|raw}}</h2>
                                                    <button  class="orange-btn" onclick="window.location.replace('{{data.link}}');">{{data.linkOnButton|e}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %} 
                        </div>
                    </div>
                    {#!END BANNER SLIDER#}
                    
                    {#OFFER LIST#}
                    <div class="row" style="display: inline-flex;">
                        {% set ii = 1 %}
                        {% for data in promotionList  %}
                            <div class="col-md-6 col-sm-12 {% if (ii%2)==1 %}home-item-left{% else %}home-item-right style="right:0px;"{% endif %}">
                                <div class="homepage-item">
                                    <div class="overlay-content">
                                    {% if data.title %}<h3>{{data.title|e}}</h3>{% endif %}
                                    {% if data.description | raw %}<p>{{data.description | raw}}</p>{% endif %}
                                    <div class="">
                                        {% if data.link %}
                                            <a href="{{data.link}}">
                                                {% if data.linkOnButton %}<button  class="orange-btn">{{data.linkOnButton}}</button>{% endif %}
                                            </a>
                                        {% endif %}
                                    </div>
                                    </div>
                                    <img src="{{data.image}}"> 
                                </div>
                            </div>
                            {% set ii = ii + 1 %}
                        {% endfor %}
                    </div>
                    {#END OFFER LIST#}
                </div>
                
                <div class="col-3 home-right">
                    {% if customerID == 0 %}
                        <div class="white-bg-box">
                            <h4>{{ lang('already_customer') }}</h4>
                            <div class="">
                                <a href="{{base_url}}login">
                                    <button class="orange-btn">{{ lang('login_button') }}</button>
                                </a>
                            </div>
                            <p><a href="{{base_url}}register" style="color: #E55000;">{{ lang('or_register_here') }}</a></p>
                        </div>
                    {% endif %}
                    <div class="white-bg-box" id="deliveryStatus">
                        <h4>{{ lang('new_customer') }}</h4>
                        <div class="col-12 mb-30" style="padding: 0px;">
                            <label class="col-4 billing-address-dropdown" for="city">{{ lang('city') }}<span class="required">*</span></label>
                            <select class="col-8" id="city" style="background-color: #ffffff; border: 1px solid #dedede;">
                                <option value="0">{{ lang('select_location') }}</option>
                                {% for city in cities%}
                                <option value="{{city.cityID}}">{{city.name}}</option>
                                {% endfor %}
                            </select> 
                        </div>
                        <div class="clearfix"></div>
                        <style>
                            .msg-box{
                                width: 100%;
                                height: auto
                            }
                            .msg-box p{
                                margin-bottom: 0;
                                margin-top: 5px;
                            }
                            .msg-box p.errorMsg{
                                color: #ff0000;
                            }
                            .msg-box p.successMsg{
                                color: #F06C00;
                            }
                        </style>
                        <div class="msg-box" id="msg-box"></div>    
                            {#<a href="#">#}
                                <button  class="orange-btn" type="button" onclick="checkDeliveryStatus($('#city').val());">{{ lang('check_delivery') }}</button>
                            {#</a>#}
                    </div>
                    <div class="white-bg-box">
                        <h4>{{ lang('about_us') }}</h4>
                        <p style="margin-bottom: 0px;">{{aboutus|raw}}</p> 
                            <a href="#">
                                <button class="orange-btn" >{{ lang('about_us_button') }}</button>
                            </a> 
                    </div>
                    <div class="right-promo">
                        <div class="col-md-12" style="padding: 20px 20px 0px 0px">
                            {% if addBanner['image'] != '' %}
                            <div class="download-app text-center" style="background-image: url({{base_url}}uploads/addBanner/{{addBanner['image']}});padding: 60px 0px;height:400px">
                            
                            
                             
                            </div>
                            {% else %}
                            <div class="download-app text-center" style="background-color: #f06c00;padding: 60px 0px;">
                            <h2 style="color: #fff !important;padding: 20px;font-weight: 700;">{{ lang('Download_the_official_mowneh_app_now') }}</h2> 
                            <a href="https://apps.apple.com/us/app/id1536025333" target="_blank"><img style=" width: 80%;margin: 10px 0px;" src="https://www.whtestserver.com/mowneh/image/appstore.png" alt="Download from AppStore"></a>
                            <a href="https://play.google.com/store/apps/details?id=com.wildherbs.mowneh" target="_blank"><img style=" width: 80%;margin: 10px 0px;" src="https://www.whtestserver.com/mowneh/image/playstore.png" alt="Download from PlayStore"></a> 
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Featured items start -->
{% if widget is not null %}
    {% for widgetData in widget %}
        {% if widgetData.typeKey!='category'%}
            <div class="features_product featured-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section_title text-center" style="border: none;">
                                <h3> {{widgetData.widgetName}} </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="features_product_active owl-carousel">
                            {% if widgetData.widgetProduct is not null %}
                                {% for product in widgetData.widgetProduct %}
                                    <div class="col-lg-2">
                                        <div class="single__product">
                                            <div class="single_product__inner">
                                                {% if product.new %} <span class="new_badge">{{ lang('new') }}</span> {% endif %}
                                                {% if product.offPersentage %} <span class="discount_price">{{product.offPersentage|round(2, 'floor')}}%</span>   {% endif %}
                                                <div class="product_img">
                                                    <a href="{{base_url()}}Product/detail/{{product.pageKey}}">
                                                        <img src="{{product.image}}" alt="">
                                                    </a>
                                                </div>
                                                <div class="product__content text-center">
                                                    <div class="produc_desc_info">
                                                        <div class="product_title">
                                                            <h4><a href="{{base_url()}}Product/detail/{{product.pageKey}}">{{product.name}}</a></h4>
                                                        </div>
                                                        <div class="product_price">
                                                            {% if product.productDiscount|length > 0 %}
                                                                    <p><strike>{{product.price}}</strike>  {{product.discountPrice}}</p>   
                                                                    {% else %}
                                                                    <p>{{product.price}}</p>   
                                                                {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="product__hover">
                                                        <ul>
                                                            <li><a href="javascript:void(0);" onclick="cart.add('{{ product.productID }}', '1');"><i class="ion-android-cart"></i></a></li>
                                                            <li><a class="cart-fore" href="{{base_url()}}Product/detail/{{product.pageKey}}" title="Quick View" > <i class="ion-android-open"></i></a></li>
                                                            <li><a {%if product.wishList=='YES' %} class="wishlist-item addtowishlist" {%else%} class="addtowishlist" {%endif%} id="addtowishlist" href="javascript:void(0);" onclick="addWishList({{product.productID}}, this)"><i class="ion-heart"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                {% endfor %}
                            {% endif%}
                        </div>
                    </div>
                {% else %}
                    <!-- Get more items start -->
                    <div class=" get-more">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="section_title text-center" style="border: none;">
                                        <h3> {{widgetData.widgetName}} </h3>
                                    </div>
                                </div>

                                <div class="row">
                                    {% for category in widgetData.widgetCategory %}
                                        <div class="col-md-4">
                                            <a href="{{base_url()}}product/{{category.pageKey}}"><img src="{{category.image}}"></a>
                                            {#<a href="{{base_url()}}product/{{category.pageKey}}"><h4 style="text-align:center;">{{category.name}}</h4></a>#}
                                        </div> 
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif%}
            {% endfor %}

        {#    <div class="row"> 
                {% for category in widgetData.widgetCategory %}
                    <div class="col-md-4">
                        <a href="{{base_url()}}Product?category={{category.categoryID}}"><img src="{{category.image}}"></a>
                       <h2>{{category.name}} </h2>
                    </div> 
                {% endfor %}
            </div>#}
        </div>
    </div>
{% endif%}

{#<div class=" get-more">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title text-center" style="border: none;">
                        <h3> {{ lang('get_more_mooneh') }} </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#"><img src="{{base_url()}}public/assets/img/homepage/get-more-img-01.png"></a>
                </div>
                <div class="col-md-4">
                    <a href="#"><img src="{{base_url()}}public/assets/img/homepage/get-more-img-02.png"></a>
                </div>
                <div class="col-md-4">
                    <a href="#"><img src="{{base_url()}}public/assets/img/homepage/get-more-img-03.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>#}
</div>

<script type="text/javascript">

    {#$('.wishlist-item').click(function{
        alert('sadasd');
    });#}
        function addWishList(proID, e) {
            $.ajax({
                dataType: 'json',
                type: "POST",
                url: '{{base_url()}}Home/addtowishlist',
                data: ({productID: proID}),
                success: function (data) {
                    console.log(data)
                    if (data['info'] === 'login') {
                        window.location.href = 'login';
                    } else if (data['info'] === "inserted") {
                        // SUCCESS MESSAGE FOR INSERTED
                        $(e).addClass('wishlist-item');
                         toastr.success('Added to your Wishlist','Wishlist Added');

                    } else {
                        // SUCCESS MESSAGE FOR REMOVED
                        $(e).removeClass('wishlist-item');
                        toastr.warning('Removed from your Wishlist','Wishlist Removed');
                    }
                }
            });
        }
</script>




