<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--CONTENT AREA-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline12-list">
                        <div class="sparkline12-hd">
                            <div class="main-sparkline12-hd">
                                <h1>Filter Group</h1>
                            </div>
                        </div>
                        <div class="sparkline12-graph review-content-section">
                            <div class="basic-login-form-ad">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="all-form-element-inner">
                                            {% if success %} <div class="alert alert-success">{{ success }}</div> {% endif %}
                                            {% if failMessage %} <div class="alert alert-danger alert-mg-b">{{ failMessage }}</div> {% endif %}
                                            <form id="filterAdd" method="post" enctype="multipart/form-data">
                                                <input type="hidden" name="languageID" value="{{ formLanguage }}"/>
                                                <input type="hidden" class="filterGroupId" name="filterGroupId" value="{{content.main.ID}}">
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                            <label class="login2 pull-right pull-right-pro">Filter group name *</label>
                                                        </div>
                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                            <input type="text" name="filterGroupName" id="filterGroupName" {% if set_value('filterGroupName') %} value="{{set_value('filterGroupName')}}" {% else %} value="{{content.main.filterName}}" {% endif %} class="form-control filtername">
                                                            {{form_error('filterGroupName', '<div class="error">', '</div>')}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                            <label class="login2 pull-right pull-right-pro">Sort Order</label>
                                                        </div>
                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                            <input type="text" name="filterGroupOrder" id="filterGroupOrder" {% if set_value('filterGroupOrder') %} value="{{set_value('filterGroupOrder')}}" {% else %} value="{{content.main.sortOrder}}" {% endif %} class="form-control">
                                                            {{form_error('filterGroupOrder', '<div class="error">', '</div>')}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--status-->
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                            <label class="login2 pull-right pull-right-pro">Status</label>
                                                        </div>
                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                            <div class="form-select-list">
                                                                <select class="form-control custom-select-value" name="status" id="status">
                                                                    <option value="Active" {% if set_value('status') == 'Active' %} selected {% elseif content.main.status == 'Active' %} selected {% endif %}>Active</option>
                                                                    <option value="Inactive" {% if set_value('status') == 'Inactive' %} selected {% elseif content.main.status == 'Inactive' %} selected {% endif %}>Inactive</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="login-btn-inner">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 text-center">
                                                                <a href="{{base_url()}}manage/Filter/" class="btn btn-secondary" >Cancel</a>
                                                                <button class="btn btn-sm btn-primary subbtn login-submit-cs" type="submit">Save Change</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                                <div class="sparkline12-hd review-content-section">
                                                    <div class="main-sparkline12-hd">
                                                        <h1>Filter Values</h1>
                                                    </div>
                                                </div>
                                                                <input type="hidden" name="removeFilter" id="removeFilter" value=""/>
                                                <table id="filter" class="table table-striped table-bordered table-hover">
                                                <input type="hidden" class="filtervalue" name="filtervalue" value="" />
                                                {{form_error('filtervalue', '<div class="error">', '</div>')}}
                                                    <thead>
                                                        <tr>
                                                            <td class="text-left required">Filter Name</td>
                                                            <td class="text-right">Sort Order</td>
                                                            <td></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if content.sub|length > 0 %}
                                                            {#                                                                    DISPLAY TABLE HERE#}
                                                            {% set myVal = 0 %}
                                                            {% for row in content.sub %}
                                                                <tr id="filter-row{{myVal}}">
                                                                    <td class="text-left" style="width: 70%;">
                                                                        <input type="hidden" name="filter[{{myVal}}][filter_id]" value="{{row.ID}}" />
                                                                        <div class="input-control">
                                                                            <input type="text" name="filter[{{myVal}}][name]" id="filter[{{myVal}}][name]" {% if set_value('filter[' ~ myVal ~ '][name]') %} value="{{set_value('filter[' ~ myVal ~ '][name]') }}" {% else %} value="{{row.name}}" {% endif %} placeholder="Filter Name" class="form-control filternames filterName{{myVal}}" /><div class="error optionvalerror oerror{{myVal}}"></div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-right"><input type="text" name="filter[{{myVal}}][sort_order]" id="filter[{{myVal}}][sort_order]" {% if set_value('filter[' ~ myVal ~ '][sort_order]') %} value="{{set_value('filter[' ~ myVal ~ '][sort_order]')}}" {% else %} value="{{row.sortOrder}}" {% endif %} placeholder="Sort Order" class="form-control filterSort{{myVal}}" /></td>
                                                                    <td class="text-right"><input type="hidden" id="filterRemoveId{{myVal}}" value="{{row.ID}}"><button type="button" onclick="removeFilterData({{myVal}}); $('#filter-row{{myVal}}').remove();" data-toggle="tooltip" title="Remove" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button> <button type="button" onclick="updateFilterData({{row.ID}},{{row.filterGroupID}},{{myVal}});" data-toggle="tooltip"  class="btn btn-success">Update</button></td>
                                                                </tr>
                                                                {% set myVal = myVal + 1 %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="2"></td>
                                                            <td class="text-center"><button type="button" id="add_button" onclick="addFilterRow();" {% if myVal > 0 %} data-count = {{myVal}} {% else %} data-count=0 {% endif %} data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Add Filter"><i class="fa fa-plus-circle"></i></button></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CONTENT AREA-->
            </div>
        </div>
    </div>
</div>
<div id="WarningModalShow" class="modal modal-edu-general Customwidth-popup-WarningModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <span class="educate-icon educate-warning modal-check-pro information-icon-pro"></span>
                <h2>Success!</h2>
                <p class="content">Can't able to delete this category. Some Products are using this attribute.</p>
            </div>
            
        </div>
    </div>
</div>
<script type="text/javascript">
    var filter_row = $('#add_button').data('count');

    function addFilterRow() {
    $filterGroupId = $('.filterGroupId').val();
    $filterId=0;
    $('.filtervalue').val(1);
        html = '<tr id="filter-row' + filter_row + '">';
        html += '  <td class="text-left" style="width: 70%;"><input type="hidden" name="filter[' + filter_row + '][filter_id]" value="" />';
        html += '  <div class="input-control">';
        html += '  <input type="text" name="filter[' + filter_row + '][name]" id="filter[' + filter_row + '][name]" value="" placeholder="Filter Name" class="form-control filternames filterName' + filter_row + '" /><div class="error optionvalerror oerror' + filter_row + '"></div>';
        html += '  </div>';
        html += '  </td>';
        html += '  <td class="text-right"><input type="text" name="filter[' + filter_row + '][sort_order]" id="filter[' + filter_row + '][sort_order]" value="" placeholder="Sort Order" class="form-control filterSort' + filter_row + '" /></td>';
        html += '  <td class="text-right"><input type="hidden" id="filterRemoveId' + filter_row + '" value=""><button type="button" onclick="removeFilterData(' + filter_row + '); $(\'#filter-row' + filter_row + '\').remove();" data-toggle="tooltip" title="Remove" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button> <button type="button" id=""onclick="updateFilterData('+$filterId+','+$filterGroupId+',' + filter_row + ');" data-toggle="tooltip"  class="btn btn-success">Update</button></td>';
        html += '</tr>';
        $('#filter tbody').append(html);
        filter_row++;
    }
    
    function removeFilterData(filterID){
    $removeId = $("#filterRemoveId"+filterID).val();
        
         $.ajax({
                    
                type: "POST",
                            url: '{{base_url()}}manage/Filter/removeFilterData',
                            data: {id:$removeId},
                            dataType: "json",
                            success: function (data) {
                                $('#WarningModalShow').modal('show');
                                $('.content').html("Data deleted succesfully");
                            }
                    });
                    
    }
      $( ".subbtn" ).click(function(e) { 
        //var showas=$('input[name="showAs"]:checked').val();
        if($( ".filternames" ).length != 0){
            $('.filtervalue').val(1);
        }else{
            $('.filtervalue').val('');
        }
        $flag=0;$flags=0;
        if($('.filtervalue').val() == 1){
            //if(showas == 'Text'){
            $(".filternames").each(function(ev) {  
                if($(this).val() == ''){
                    $val=$(this).attr("name").replace(/[^0-9]/g,'');
                    
                    $('.oerror'+$val).html('Filter value name is required');
                    $flag=1;
                    return false;
                }
            });
            
            //}
           
                    }
                    
        if($flag==1){
        e.preventDefault();
        }
         
    });
    function updateFilterData(id,fid,row){
    $name = $(".filterName"+row).val();
    $sort = $(".filterSort"+row).val();
    $flag=0;
    if($name == ''){
        $('.oerror'+row).html('Filter value name is required');
                    $flag=1;
    }
    if($flag ==0){
            $.ajax({
                    
                type: "POST",
                            url: '{{base_url()}}manage/Filter/updateFilterData',
                            data: {filterid:id,groupid:fid,name:$name,sort:$sort},
                            dataType: "json",
                            success: function (data) {
                            $("#filterRemoveId"+row).val(data);
                            $('#WarningModalShow').modal('show');
                                $('.content').html("Data updated succesfully");
                            }
                    });
                    }
            }
</script>
